[2022-07-18 17:01] luxumbra commented on #1313
This is a great 1st issue! Hopefully a new octo will pick this up but if no-one does, I'll sort it when i get to #1296 in the next few days.

@hhh-gh - this is another issue that you could take on - a few css/chakra tweaks & a bit of javascript required. no worries if you don't have bandwidth or whatever. :)

[2022-07-19 00:56] HHH-GH commented on #1313
I think I could do most of it, but not totally clear on the new slide and getting the text moving around

[2022-07-19 04:46] alalonde commented on #997
Started digging into this today.  My plan:

1. On the /players page, fetch from our own tables (`dao_player` and `guild_player`).
2. For the existing `daohausMemberships` field, whenever that is queried, cache the results in the `dao_player` table. For now, we can still use this field / remote schema. Loading a specific player will still incur the performance penalty of hitting Daohaus.
3. It appe

[2022-07-20 02:32] HHH-GH commented on #1313
About the "made the problem section text narrower" one - I used a non-breaking space character to join the words "to navigate", so that "navigate" won't go down to a new line by itself. Doing it the lazy way (:P) meant that there wasn't a need to change the width of "the section above so it's not much wider"

lmk if you'd prefer me to do it the non-lazy way.

![1313-nbsp-and-rainbow](https://user-

[2022-07-20 02:34] HHH-GH commented on #1313
The new branch is landing-page-small-fixes-1313, if you want to take over @luxumbra

[2022-07-20 23:42] luxumbra commented on #1313
Thanks @HHH-GH, I'll take a look at the branch tomorrow hopefully. 🙏🏻

If you open a PR against `develop`, it'll deploy a preview for visual reviews.

[2022-07-21 01:02] HHH-GH commented on #1313
Got it - was uncertain if I should wait for more significant changes before I did that. But it's all good to just go ahead and do it straight away?

I would like to have a go at the headers and new slide, but if that would delay everything I'd also be fine to have a look through after you've done the work.

[2022-07-21 02:48] HHH-GH commented on #1313
Should I change that PR to a draft, as there's still work to do?

[2022-07-24 09:03] luxumbra commented on #1313
Yes. Sorry for the delay. :)

[2022-07-24 14:08] HHH-GH commented on #1313
I think I got 'em all. Check the deployment in the PR at https://github.com/MetaFam/TheGame/pull/1319

[2022-07-26 04:19] #1210 closed

[2022-07-27 04:06] alalonde commented on #1200
#1318 should resolve this

[2022-07-29 12:18] #1313 closed

[2022-08-03 15:04] alalonde opened #1322 "Guild form inputs get reset when switching tabs"
### What happened?

On the guild form, users tend to switch tabs to e.g. copy some text / data to input into a form field. When they switch back to the guild form page on MyMeta, the fields get reset, which is rather obnoxious.

### What did you expect to happen?

The form data remains regardless of focus

### How can we reproduce the problem (as minimally as possible)?

Go to the guild form (acce

[2022-08-04 08:47] HHH-GH commented on #1170
I'll take this one.

I won't get on to it immediately, but if I don't see any objections/suggestions by the time I do get on to it I will proceed as follows:

1. Go through all the files that mention 'xdai' as per https://github.com/MetaFam/TheGame/search?p=1&q=xdai
2. Text updates/icon updates for things that appear on the frontend as text or icons.
3. No updates for things involved in the backen

[2022-08-04 15:13] alalonde commented on #1322
Debugged this a bit yesterday, I believe the issue is in the `useSWR` hook

[2022-08-10 15:36] #997 closed

[2022-08-23 08:43] dysbulic commented on #1170
I would think it's safe to change this to `daoHausGnosisGraphqlURL` and the associated environment variable to `$DAOHAUS_GNOSIS_GRAPHQL_URL` since the name of the chain housing the DAOHaus DAOs is Gnosis.

[2022-08-23 08:49] dysbulic commented on #1170
Another option is to write the DAOHaus Graphs as a single indexed object:

[code]

Then, if the GraphQL structure is the same, they could be easily iterated over, and adding new ones is simpler as well.

[2022-08-23 14:58] dysbulic commented on #1237
@smitgol, SourceCred's XP is stored in it's ledger according to weeks. I've not delved into the file structure that deeply, but my understanding is the ledger primarily holds the raw data & everytime you want to do a distribution the whole thing is calculated.

We could cache XP values per week in Hasura and do the sorts of filtering @peth-yursick's describing, but it's tricky because past values

[2022-08-24 12:47] HHH-GH commented on #1170
I'll take a look to see how that all comes together, thanks. (Will probably do the easy frontend bits first)

[2022-08-24 14:53] alalonde commented on #1237
Yeah, at this point any calculation would need to be done on demand in-memory. After loading the graph, you'd have to look at the sourcecred API and see if there is some kind of temporal iteration functionality.

@dysbulic's proposed sync-to-neo4j project would make this pretty straightforward, amongst a whole new world of potential calculations.

[2022-08-27 11:24] luxumbra commented on #1296
I'm going to make a start on this this week once I've finished adding the Chievemint claim to the onboarding game. You can see progress on that in this PR 👉🏻  #1332 which is deploying to https://frontend-pr-1332-mjhnbmqqna-uk.a.run.app/#onboard

[2022-09-02 06:33] lunadic commented on #913
nice,leaning...

[2022-09-20 03:34] #1170 closed

[2022-09-22 07:16] HHH-GH commented on #1312
@peth-yursick   I'm looking at this one - some quick questions

**Currently it's like this:**
- Contribute > Raids goes to https://wiki.metagame.wtf/docs/enter-metagame/navigation-board

**It should be like this:**
- Contribute > Raids goes to https://metagame.wtf/raids
- And on that .wtf/raids page the Miro board is embedded

**Also**
What happens to the old page at https://wiki.metagame.wtf/docs

[2022-09-22 09:52] peth-yursick commented on #1312
Omg thank you, this is probably the highest difficulty to impact ratio issue, it pains me its been open for so long & hard to tell how many newbies were turned away by our seasons outdated raids page 😅

Sounds good!
I'll remove the old page along with a bunch of other pages next week when updating the wiki for the 1.0 launch.

[2022-09-22 10:55] HHH-GH commented on #1312
I had a quick browse of the code - shouldn't be tough to finish.

Is there going to be a new Miro board for Season 8?

Drop the link if yes, otherwise I'll use the [Season 7 board](https://miro.com/app/live-embed/o9J_l7FjYfU=/).

[2022-09-22 11:20] peth-yursick commented on #1312
Yeah sounds good, I'll just rename & update it when we enter Phase 8 so we dont have to replace this link every season..

[2022-09-23 14:04] peth-yursick opened #1340 "New guilds conversion/signup page"
Need someone to build the new guilds conversion/signup page so we can evolve from the [current one](https://my.metagame.wtf/join/guild) with an ugly block of text into a [new, prettier & more enticing version](https://www.figma.com/proto/n36ggiRBQEGzRUbGxWfkMX/Meta-Game-(Copy)?node-id=5853%3A4465&scaling=scale-down&page-id=5836%3A3265).

If anyone is interested in working on it, pls comment here &

[2022-09-23 14:07] peth-yursick opened #1341 "Build the Patrons conversion page"
Need someone to build the [Patrons conversion page](https://www.figma.com/proto/n36ggiRBQEGzRUbGxWfkMX/Meta-Game-(Copy)?node-id=5883%3A4038&scaling=scale-down&page-id=5836%3A3265).

Previously inexistent, the patrons page should help us funnel & convert new patrons.

Infographic exported as image to make it easier:
![Group 1004](https://user-images.githubusercontent.com/55857222/193263147-bb24176a

[2022-09-27 02:01] kon-rad commented on #1341
hey I'm interested in taking this on!

[2022-09-27 09:48] peth-yursick commented on #1341
Hey, great to hear! I have assigned you to this issue but lets also connect on discord. What's your handle there?

[2022-09-27 17:56] kon-rad commented on #1341
I messaged you on discord

[2022-09-29 05:39] HHH-GH commented on #1340
Taking this one ✌

(Although I might need some help if we need to get into some GraphQL)

[2022-09-29 08:57] dan13ram opened #1347 "[Dashboard] Persist dashboard layout changes to hasura"
### What would you like to be added?

We need to store the json object that represents the current user's dashboard in their player row on our database.

This can be implemented in a similar manner to how the player's profile layout is persisted in the database.

### Why is this needed?

Currently the dashboard layout is stored in the local storage, and is lost if user deletes local storage or tri

[2022-09-30 10:30] dan13ram opened #1351 "[MyMeta] Connect fails for new users on first try"
### What happened?

When you try to connect with a new ethereum address, the backend tries to create a new player row but this takes some time.

This raises two issues:
1. The user has to wait for a long time without any feedback on the UI
2. It sometimes fails when this takes too long and you've to refresh to connect properly.

### What did you expect to happen?

The connect shouldn't fail for ne

[2022-10-01 17:33] peth-yursick opened #1354 "[Dashboard] Make the newsletter newsfeed also pull in images"
### What would you like to be added?

Would be cool if somebody made it so the images from newsletters also appear on this content feed (currently its just titles, as shown below)

![image](https://user-images.githubusercontent.com/55857222/193421234-ca5db1a2-9a60-4d11-b2ac-32acde97f50e.png)

Bonus points for also styling the scrollbar like it is on the landing page, check code or ask Luxumbra how

[2022-10-01 17:33] peth-yursick opened #1355 "[MyMeta] Make MyMeta backgrounds fullscreen"
### What would you like to be added?

It would be great if the backgrounds on the profiles were fullscreen.
Currently, only top part of the profile is an image because images on 3box were meant to be only cover as on other social profiles:
![image](https://user-images.githubusercontent.com/55857222/193421214-d7f57cae-c34b-4012-a15b-8fe8a56c2ec4.png)

### Why is this needed?

It would allow people

[2022-10-01 17:33] peth-yursick opened #1356 "[MetaOS] Account dropdown styling"
Would be nice if the account dropdown menu was styled in the same way other menus.
Currently:
![image](https://user-images.githubusercontent.com/55857222/193421184-155fa825-8ce4-41b5-b4df-3b3773a85a6a.png)
Other menus:
![image](https://user-images.githubusercontent.com/55857222/193421196-83c00fb5-1026-41ec-9495-0a9407038db2.png)

[2022-10-03 10:41] peth-yursick commented on #1296
did anyone pick this up? @vidvidvid @dysbulic

[2022-10-03 10:45] luxumbra commented on #1296
I thought @vidvidvid was taking it?

lux

\---

Signed by luxumbra

Front-end developer, community manager & dweller of the Meta

email: ***@***.***[me_luxumbra.dev]

twitter: @bdgrdev

web: [metagame.wtf][]

Sent from Proton Mail mobile

\-------- Original Message --------
On 3 Oct 2022, 11:41, peth-yursick < ***@***.***> wrote:

[me_luxumbra.dev]: ***@***.***
[metagame.wtf]: https://metagame.wtf

[2022-10-03 11:28] vidvidvid commented on #1296
No, i just asked if you’re still working on it

[2022-10-03 11:32] #1309 closed

[2022-10-03 15:36] vidvidvid commented on #1296
npnp :D i see it looked like it, was actually thinking about it. but i don't have time unfortunately

[2022-10-04 09:15] peth-yursick opened #1361 "Calculate $ amounts & add to the patrons leaderboard"
### What would you like to be added?

Besides the total number of pSeeds, patron cards should also be displaying the $ value of those pSeeds.

The dollar value of a pSeed is derived by summing up total value of all tokens [inside the pool](https://app.balancer.fi/#/pool/0x0b09dea16768f0799065c475be02919503cb2a3500020000000000000000001a) & dividing it by the total number of [pSeeds](https://polygon

[2022-10-04 09:18] peth-yursick commented on #1237
Correct!
Some of this data also already exists on the [XP leaderboard](https://xp.metagame.wtf/#/) (this week, last week & last month), so would just need to be pulled in.

However, I would draw your attention in another direction if possible.
We are currently gearing up for the 1.0 release which is happening this week on the 8th 👀
This issue is not one of the issues for the release - but there ar

[2022-10-04 10:45] peth-yursick commented on #1296
So should I count on you for this one then @dysbulic or look for somebody else?

[2022-10-04 10:47] peth-yursick commented on #1361
@alalonde interested in taking this one (simplified version of #1201) while @kon-rad is building the patrons conversion page?

[2022-10-04 15:23] dysbulic commented on #1296
Yeah, this one looks interesting to me.

The goal is to remove the HTML fancy editor and replace it with Markdown. This will also require converting the existing entries to Markdown as well.

[2022-10-04 15:31] dan13ram commented on #1296
Hey @dysbulic I implemented something simple for Quest Chains, if you would want to reuse for rendering and inputting markdown.

https://github.com/quest-chains/dapp/tree/dev/components/MarkdownViewer
https://github.com/quest-chains/dapp/tree/dev/components/MarkdownEditor

[2022-10-04 16:47] alalonde commented on #1361
Looks like we can look up the relevant data from the [balancer polygon TheGraph](https://thegraph.com/hosted-service/subgraph/balancer-labs/balancer-polygon-v2).

[2022-10-05 05:28] #1355 closed

[2022-10-05 14:54] alalonde commented on #1341
@kon-rad pSeed price is now available through a graphql query https://github.com/MetaFam/TheGame/pull/1364

[2022-10-05 16:04] dan13ram commented on #1361
Reopening since this issue also requires the pSEED value in USD to be displayed on the frontend.

[2022-10-06 12:41] peth-yursick opened #1365 "Changing default layouts (MyMeta & the dashboard)"
This is an issue about changing the default block layout on MyMeta profiles & the dashboard.

Currently on MyMeta:
![image](https://user-images.githubusercontent.com/55857222/194313996-3d0f38d8-fe8c-475d-ac46-933a280e2b37.png)
I think this should be the default:
![image](https://user-images.githubusercontent.com/55857222/194314626-dc92c1b1-0d9b-44a9-b5e6-287d900e760c.png)

The reason is that it lo

[2022-10-06 14:22] dan13ram commented on #1365
@peth-yursick the dashboard default layout has already been changed to what you've suggested above. Can make the change for profile layout too in my next PR

[2022-10-06 14:27] dan13ram commented on #1347
@peth-yursick this is already in production. Is there anything missing or can we close this ?

[2022-10-06 19:43] alalonde commented on #1310
Not sure if the dashboard is the right spot for this. It is a pretty squished layout that needs to show a fair amount of data.

I am thinking of adding a separate page  `/quests/activity` with the following potential two blocks of content:

1. (if you have created at least one quest)
### Your quests
- <quest name> <proposal-by>

2. (if you have submitted at least one proposal
### Your quest propos

[2022-10-06 21:15] luxumbra commented on #1310
I agree it deserves a page to itself but can see the usefulness of having a block on the dashboard to give a summary of that info.  For some, i'd say it is more helpful to a user to see quests than the current leaderboard and prolly needs to be a block you can add if you want it.

@peth-yursick what are your thoughts?

[2022-10-07 03:52] alalonde commented on #1310
OK, turns out we already have a "Completed Quests" block that a player can add to their profile page.

Really, here we want two new types of Dashboard blocks:
- Created Quests
- Completed Quests

We could pretty easily repurpose the current "Completed Quests" block to go on the dashboard (without the current filtering for only accepted quests).

[2022-10-07 04:26] #1365 closed

[2022-10-07 07:16] dan13ram commented on #1287
Reopening since there is still the issue of Guild Logos, which is fixed in #1367

[2022-10-07 09:18] peth-yursick commented on #1287
Didn't get this last bit "its still the issue, which is fixed"? 😂
I planned on manually uploading all guild logos to hasura today along with adding more links & info to each guild page and create a few of the missing guild pages (Atlantis World, Ark, Safary, rnDAO, YapDAO, Liminal Village, DAOhaus, Ethernaut DAO)..
Would be awesome to not have to do each of these steps manually

[2022-10-07 12:14] peth-yursick opened #1369 "Changing the guilds sequence"
At some point we'll have to set a filtering system but for now it would be enough to just rearrange some of them..

- MetaCartel Ventures shouldn't be no.1 as they haven't invested nor contributed in any way
- CRE8R DAO should be first first, since they are the only ones who actually bought the epic metamanifesto
- MetaCartel (not ventures), as they gave us a grant
- then Panvala for giving us PAN

[2022-10-07 15:15] luxumbra commented on #1356
I can't connect on my local build rn but have applied the styles for this. Just need to get my build running to test it. @peth-yursick

[2022-10-07 15:26] luxumbra commented on #1354
That is already happening. :)

![image](https://user-images.githubusercontent.com/780350/194590929-0a3633a7-b584-41d6-897b-bcdc85bafe85.png)

[2022-10-07 22:49] #1287 closed

[2022-10-07 22:49] #1322 closed

[2022-10-08 00:17] #1356 closed

[2022-10-08 02:51] luxumbra commented on #1354
I've pushed a branch for this and made a PR #1372 (currently draft)

[2022-10-08 12:18] luxumbra commented on #1347
I don't know when it happened but the dashboard is broken on mobile to the point it is unusable. I have been trying to debug and fix all morning but no luck so far. The XP block is getting an infinitely growing height from somewhere.

![image](https://user-images.githubusercontent.com/780350/194707165-e4e856b7-f7c2-45ad-afb2-56640194e0c9.png)

![image](https://user-images.githubusercontent.com/780

[2022-10-08 13:49] #1347 closed

[2022-10-08 13:51] #1340 closed

[2022-10-08 14:16] #1369 closed

[2022-10-08 14:17] #1354 closed

[2022-10-08 15:00] #1312 closed

[2022-10-08 18:05] #1182 closed

[2022-10-08 18:53] peth-yursick commented on #1296
Def not closed, most visual bugs haven't been addressed at all & specifically this one that makes the full quest description appear on card display where it should be truncated - no matter how long the quest description is...
![image](https://user-images.githubusercontent.com/55857222/194723103-d5dbfd90-3ba9-4f87-9b86-06023584fa6d.png)

[2022-10-08 19:07] peth-yursick opened #1376 "The 1.0 Breaking Issues"
As everyone was in charge of their own bits, we forgot about the most important bits, the connecting bits 🥲

To make the onboarding flow actually flow, people need to go:
- Landing page > onboarding game > mymeta profile creation > engaged octo path > path selection > etc

But!
- We forgot to update the damn links, lol
- Onboarding game is sending people to discord instead of "profile creation sta

[2022-10-08 19:23] luxumbra commented on #1376
I am currently working on a fix for these. I've added the updated links and copy to the relevant places but am not able to test becaue my build is not working.

[2022-10-09 14:18] #1258 closed

[2022-10-10 10:47] orishim opened #1390 "[Quests] description not loading"
### What happened?

Description failing to load on quest page. This happens whether you go to the link directly or click from the quest explorer.

<img width="983" alt="Screen Shot 2022-10-10 at 11 44 15 AM" src="https://user-images.githubusercontent.com/10736693/194848972-af1d8e93-1c96-4ab6-85a2-d3993ca109b3.png">

Here's the error
<img width="836" alt="Screen Shot 2022-10-10 at 11 42 15 AM" src=

[2022-10-11 09:19] #1341 closed

[2022-10-11 10:50] luxumbra commented on #1376
These should be fixed now. Was merged into develop this morning https://github.com/MetaFam/TheGame/pull/1391

[2022-10-11 11:32] manboy-eth opened #1403 "Connect multiple addresses to a profile"
### What would you like to be added?

Make it possible for a user to connect multiple addresses to their profile.

### Why is this needed?

Users might use different addresses for different things. This could, for instance, be useful for populating the DAO Memberships block.

[2022-10-12 08:32] #1376 closed

[2022-10-12 08:50] #1201 closed

[2022-10-12 08:54] peth-yursick commented on #1253
an issue for https://github.com/MetaFam/metagame-wiki/ but fixed! Thank you

[2022-10-12 08:54] #1253 closed

[2022-10-12 08:59] peth-yursick commented on #1177
Looks like it was an extra issue (or just an issue & the other one was PR?), which was also closed

[2022-10-12 08:59] #1177 closed

[2022-10-12 09:02] #1047 closed

[2022-10-12 09:06] #554 closed

[2022-10-12 09:06] #455 closed

[2022-10-12 09:07] peth-yursick commented on #627
Done!

[2022-10-12 09:07] #627 closed

[2022-10-12 09:09] #317 closed

[2022-10-12 09:09] peth-yursick commented on #443
Done by @dan13ram as a part of the 1.0 push

[2022-10-12 09:09] #443 closed

[2022-10-12 09:10] #444 closed

[2022-10-12 09:14] #977 closed

[2022-10-12 09:14] #947 closed

[2022-10-12 09:15] #988 closed

[2022-10-12 09:15] #938 closed

[2022-10-12 09:16] #898 closed

[2022-10-12 09:20] #838 closed

[2022-10-12 09:22] #757 closed

[2022-10-12 09:23] peth-yursick commented on #1239
And guessing its the same for admins? Making it impossible for admins to actually edit the guild pages?

[2022-10-12 09:24] peth-yursick commented on #1188
Is still still an issue? Not able to replicate..

[2022-10-12 09:26] #1162 closed

[2022-10-12 09:29] #1015 closed

[2022-10-12 09:29] #1165 closed

[2022-10-12 09:31] peth-yursick commented on #870
looks like this was fixed without adding buttons

[2022-10-12 09:31] #870 closed

[2022-10-12 09:35] #363 closed

[2022-10-12 09:42] peth-yursick commented on #1296
Mostly closed by Lux's latest PR, opening a new issue with the remaining issues

[2022-10-12 09:42] #1296 closed

[2022-10-12 09:48] peth-yursick commented on #707
Looks like we're now displaying both location & timezone so closing this

[2022-10-12 09:48] #707 closed

[2022-10-12 09:49] peth-yursick commented on #381
You mentioned changing the amount needed for creating quests in the recent PR @dysbulic
Was this also changed?

[2022-10-12 14:35] peth-yursick opened #1405 "MyMeta updating broken - 3ID deprecated, upgradint to did pkh"

[2022-10-13 00:50] luxumbra opened #1407 "'Pool info' link in the dashboard goes to the mainnet pool"
### What happened?

I clicked the pool info link and was taken to the old pool on mainet that we are winding down.

### What did you expect to happen?

I expected to go to the pool on polygon.
https://polygon.balancer.fi/#/pool/0x8a8fcd351ed553fc75aecbc566a32f94471f302e000100000000000000000081

### How can we reproduce the problem (as minimally as possible)?

Got to the [dashboard](https://metagam

[2022-10-13 07:47] peth-yursick opened #1408 "[Guilds] Making links more prominent"
As I was going through all twitter profiles of guilds so I can manually create guild pages & update existing ones before the launch, I've noticed a lot of them are using Linktree - some even as their default link..

Thinking:
If we make the link buttons bigger/more prominent, we could try to get these guilds to replace their Linktrees with their guild profiles in their bios. As a bonus, it would m

[2022-10-13 10:33] peth-yursick opened #1409 "[MetaOS] Members-only features"
### What would you like to be added?

Thought it would make sense to start discussing the gating & members-only features now that we are starting to have some that could be defined as such.

Here's two we could start with:
- Limiting the player list to top 56, indicate total number of players (#871) & total number of profiles. Gate the use of search & filtering. Afaik no freelancing or social medi

[2022-10-14 09:50] peth-yursick opened #1411 "[MetaOS] Adding join links to players, patrons & guilds pages"
Right now, the only way to get to the "join" pages is if you go down the landing page & go through the onboarding game.
I think it would make sense to have additional places pointing there & I think it makes most sense to have the players, patrons & guilds leaderboard loop back there.
Here's what I mean.
Currently:
![image](https://user-images.githubusercontent.com/55857222/195817071-344f0ca7-13c2

[2022-10-14 09:58] peth-yursick opened #1412 "Finishing the Patrons signup page"
As these changes were only requested after @kon-rad was already mid-way through, there wasn't enough time to implement them before the launch.

The remaining 2 things:
- Automating ranked league $ requirements
   - With the help of #1361
- Updating the tiles to the new design
   - Old & new design side by side:
   - ![image](https://user-images.githubusercontent.com/55857222/195819380-81165b6e-67d

[2022-10-14 11:21] peth-yursick opened #1413 "Updating the Seeds page"
It was built a while ago, there's a bunch of it out of date by now..

Things to change:
- [x] Add the new illustration & maybe put it below the intro paragraph instead of side-by-side?
- [x] These two blocks should be completely removed. First one because the Seed Fund time has passed & the second one because there is no easy way for keeping the FAQ up to date, add more questions etc; + makes it s

[2022-10-14 15:45] luxumbra opened #1414 "Add error tracking and ability to capture user feedback"
### What would you like to be added?

I would like error & exception tracking added to the MetaOS application. Coupled with this, I would also like to see a feedback widget added to the frontend to capture feedback from any users who are having issues without them needing to find Discord or another comms channel.

I would also like to see MS Clarity working again on the app to gather usability dat

[2022-10-14 16:02] kon-rad commented on #1412
I will take this one on, will be starting Monday, if that's alright.

[2022-10-15 05:53] alalonde commented on #1267
Yes, the solution to this is to update the URL when filters are applied; essentially storing the filter state in the the URL. This way back/forward functionality works as expected

[2022-10-15 09:47] peth-yursick opened #1417 "[MyMeta] Patrons leaderboard only loading top 48 patrons"
When you scroll down to the bottom of the patrons leaderboard, its not loading any more than the first 48.
There's a person holding 8pSeeds who reported that issue.

Also, same issue as in quests - patron cards go all the way to the edge of the screen instead of there being a margin..

[2022-10-15 09:47] HHH-GH opened #1418 "Tidy and extend the colour theming for the website and MyMeta"
### What would you like to be added?

After a tidy up to remove any hex colours from the `web` codebase, we would like to add a way to make UI elements themeable. (Mainly the colour parts but also maybe the fonts and their colours)

**The general plan**:
1. Find all the hex codes and replace with `colors.ts` equivalents
2. Make a list of elements that can have themed colours
3. Think of sensible n

[2022-10-15 09:48] HHH-GH commented on #1418
I'd like to collect opinions on which elements should be themed, and which parts of them should be themeable.

Post here or in the Discord and I'll collect them.

[2022-10-15 11:08] peth-yursick commented on #1418
Hey! Love this idea but there are also #1160, #1157 & #1229 already about seemingly the same thing..
We should probably consolidate these somehow @dysbulic, not sure which should be the one kept?

[2022-10-15 18:56] alalonde commented on #1414
I 100% agree with the need for professional tooling to help with quality control. All of these things (with the exception of Clarity) I would say are mandatory.  Before implementing a tool, though, can we do some basic research around privacy and data harvesting?  I have used hotjar in the past but was never really comfortable with it TBH. It's basically pseudonymous spyware.  If we claim to be bu

[2022-10-15 19:01] alalonde commented on #1239
No, actually. All of that data (besides the selected Discord roles) are only saved in our DB.  This is always a moving target though and should be re-tested.

[2022-10-15 19:02] alalonde commented on #792
React, yes, Next, no.

[2022-10-15 19:05] alalonde commented on #249
nope

[2022-10-15 19:45] peth-yursick commented on #249
should it be?

[2022-10-15 19:46] peth-yursick commented on #792
looks like rich changed his mind lol
so the issue should remain open?
if so, should it be put on the priorities list on dework or kept here for now?

[2022-10-15 19:47] peth-yursick commented on #1239
Gotcha. So the guilds that connected their discords should already be able to edit their profiles themselves?

[2022-10-16 18:30] luxumbra commented on #1414
Totally agree with the privacy aspect and holding higher standards than our web2 counterparts and will do some digging on the data harvesting aspect.

I've pushed a branch which has Honeybadger and UserBack added and I've removed HotJar & Clarity. Userback is  is on a free trial but isn't too pricey and lets you customise the feedback forms and info gathered as you like.

[2022-10-17 01:29] HHH-GH commented on #1418
This one could be cut down to just #1 then?

[2022-10-17 02:50] alalonde commented on #249
If we start seeing an influx of new builders, yes, otherwise meh

[2022-10-17 02:52] alalonde commented on #792
I'll leave that answer to @dysbulic, not sure what has changed since he created this. Probably no to dework though

[2022-10-17 03:01] alalonde commented on #1239
Yes, that’s right

[2022-10-18 01:37] dysbulic commented on #792
I'm upgrading to React 18 and Next 12 as part of #1405.

[2022-10-18 02:02] dysbulic commented on #1418
#1160 is something that comes after the display characteristics have been simplified. It would take the work from #1157 and allow specification of a user-defined style overriding the extracted display properties.

#1229 and this one, #1418, seem like duplicates of a combination of #1160 & #1157, and could likely be folded into #1157.

@HHH-GH, one wrinkle in how these styles are defined is styles

[2022-10-18 02:28] HHH-GH commented on #1418
Agreed.

I'm looking at the theme settings in the [design-system](https://github.com/MetaFam/TheGame/tree/develop/packages/design-system/src/theme)

...

There are a couple of class names in [theme/index.ts](https://github.com/MetaFam/TheGame/blob/5efb2b9cf21605d6afa106c1181c90038d7eac76/packages/design-system/src/theme/index.ts)

What if I do "1. Find all the hex codes and replace with `colors.ts

[2022-10-18 06:03] peth-yursick commented on #792
Nice nice, closing this then

[2022-10-18 06:03] #792 closed, assigned to dysbulic

[2022-10-18 06:19] peth-yursick opened #1420 "Temporarily Circumventing MyMeta Profiles"
Given MyMeta broke & people won't be able to create new profiles until #1405 is merged - while we just had a launch & new people wanting to get in - it would probably be wise to temporarily set the "for players" link in the onboarding game direct people to the [Engaged Octo's Path](https://metagame.wtf/play/paths/engaged-octos-path) instead of MyMeta.

Same goes for the "join as a player first" in

[2022-10-18 08:13] peth-yursick commented on #1418
Is there info that should be copy pasted & description updated in #1157 or is it good to just mention #1229 & #1418 inside #1157 to close them?

Since you mention the design system, reminds me of this open issue about implementing a design system #1108.. Meaning, I'm not sure the design system you linked was ever finished

[2022-10-18 09:03] peth-yursick opened #1421 "Quest Chains integration glitching on mobile"
As reported by a few users, looks like the scrolling down the paths glitches on mobile, making it impossible to use.
Trying to scroll down skips the quests & its not possible to swipe or scroll them back..

[2022-10-18 09:13] peth-yursick opened #1422 "[Quests] Improving Quests"
On the quests list view:
- [x] Make whole cards clickable, like on /players & /patrons
- [x] Fix bottom row card height (currently appears higher for some reason)
- [x] "Skills" & "Roles" should be at the bottom of the card, regardless of the size of the description. Either that or the description should be a fixed number of rows but @luxumbra mentioned a problem with that I can't recall.
- [x] Ch

[2022-10-18 09:52] krzysu commented on #1420
Something like here? https://github.com/MetaFam/TheGame/pull/1423

[2022-10-18 13:08] #1420 closed

[2022-10-19 00:24] dysbulic commented on #1157
Closed in favor of a similar task in #1418.

[2022-10-19 00:24] #1157 closed

[2022-10-19 00:25] dysbulic commented on #1229
The work of extracting the theme information is underway in #1418.

[2022-10-19 00:25] #1229 closed

[2022-10-19 00:26] dysbulic commented on #1418
I closed #1157 and #1229 in favor of this issue.

It exists. We pulled out Storybook a couple months ago because no one was updating it, but there's still a bunch of components.

[2022-10-19 00:41] dysbulic commented on #249
A bunch of assets for the recently developed pages are obviously rasterized vector images and that irks me.

Part of this @peth-yursick is your sources. What software did you use to design your [flowcharts](https://github.com/MetaFam/TheGame/blob/develop/packages/web/assets/patron/seed-diagram.png). It'd be great if they were SVGs, both for SEO purposes & if the developer needs to tweak positionin

[2022-10-19 01:29] HHH-GH commented on #1413
Hey peth,

Is the new illustration for Seeds the same one as on the Patrons Join page?

https://metagame.wtf/join/patron

[2022-10-19 01:33] HHH-GH commented on #1413
How about this as an idea for the top part of the page?

Main title: Seeds
Subtitle: What are Seeds?
Box: Big version of Seed icon 🌱 at top, then the existing text below that.
Seeds illustration
...

Basically it will look just like the top of the Guild Join/Patron Join page, with a Seed icon instead of a Patron/Guild cloaked person.

[2022-10-19 14:54] #1158 closed

[2022-10-19 14:58] #771 closed

[2022-10-19 18:22] davort commented on #1408
1. I'd suggest combining the two. These icons represent brands and as such are instantly recognizable. The brain "gets" them faster than words.
2. The styling is too strong. The CTA—primary button—should be reserved for that one main action we'd prefer the user to do here (JOIN). A secondary or tertiary button style could work well in this context. Even though I'd suggest not styling these as butt

[2022-10-19 22:23] alalonde commented on #1408
I like them both, with a slight preference to the former as being more "linky"

[2022-10-20 06:24] davort commented on #1408
Same for me. Here's a variant with links and filled icons (instead of outlined)
![image](https://user-images.githubusercontent.com/1573304/196871780-f858e749-6ecb-453a-954e-83ac3848a002.png)

What other social links or networks might we need icons for, so that I can prepare them?

[2022-10-20 07:53] peth-yursick commented on #1408
Great point, we should def keep the icons..

Actually I was even going to suggest we remove the "join" button, or at least disable for guilds that don't have any information on the onboarding or a questchain. Sometimes its not at all clear where the join button should lead, some projects send people to their website, some to discord etc..

Doesnt matter imo, the goal is not to keep the user on the

[2022-10-20 08:06] peth-yursick commented on #647
Hey man! Any chance you're interested in picking this back up now, a year+ later @mattcan? 😂
It seems to be a much needed thing now that we're minting achievements as well as Quest Chains NFTs on Polygon..
Couldn't find you on discord unfortunately

[2022-10-20 08:07] #1361 closed

[2022-10-20 08:09] peth-yursick commented on #1411
Got this pretty high on the priorities list as rn theres no way to navigate to these joining pages anywhere once you're inside MetaGame..
Is this good enough to get implemented or did you want to make it look nicer @davort?

[2022-10-20 08:35] davort commented on #1408
This is great added context—e.g. I had no idea that Linktree was an actual website/service :). Makes sense to try offering the same functionality in guild profiles, for the reasons you described.

Re: outbound icon - if all links will have them, then better go without IMHO. Perhaps just on hover?
![image](https://user-images.githubusercontent.com/1573304/196898418-448e876b-6c94-4036-9add-28103cdf3

[2022-10-20 08:49] peth-yursick commented on #1408
Yeah, on hover sounds like a good idea. Doesn't look bad with them displayed the whole time as it looks more symmetrical but yeah.. 🤷‍♂️

Much better! Might just be worth making them stand out a bit more? Not a punch in the face like in my mockup but maybe a thin border, or have them turn full color like the ones on MyMeta or something
![image](https://user-images.githubusercontent.com/55857222/19

[2022-10-20 09:39] davort commented on #1411
@peth-yursick Where would the button "SURE!" take you for each of these 3 examples?

[2022-10-20 09:41] peth-yursick commented on #1411
For patrons, it would take them to https://metagame.wtf/community/join/patrons
For guilds, to https://metagame.wtf/join/guild
And for players the page doesn't exist yet, so it would only take them directly to https://metagame.wtf/play/paths/engaged-octos-path

[2022-10-20 09:54] davort commented on #1411
Starting with the presumption that people read/scan the page from top to bottom, positioning this CTA text at the very top should ensure that users notice it, without being overbearing. A text link instead of a button makes more sense here, and thanks to the styling, jumps out nicely IMHO.

This would require us to move the search bar into the "sort& filter" container, in order to keep it truly cl

[2022-10-20 10:00] peth-yursick opened #1424 "[Quest Chains] Pressing back arrow in the text box moves to the previous quests & loses the text"
### What happened?

A user reported the interface switching the whole quest upon pressing back arrow instead of just going back a single letter in the input box - the text also disappears as the quest is changed.

### What did you expect to happen?

Move back a letter.

### How can we reproduce the problem (as minimally as possible)?

Probably by going to any of the paths on the website https://te

[2022-10-20 10:37] peth-yursick commented on #1411
Simple beats it, thank you!
It looked good with a box on the patrons page but you're right - it would just be too much on players page with filters & everything + patron & guild pages will also have filtering... 🤷‍♂️
Maybe the only thing would be to use these gradients like on the landing page instead of just pink?
![image](https://user-images.githubusercontent.com/55857222/196926357-17ec2400-5d12

[2022-10-20 11:44] peth-yursick commented on #1408
Yep!
Also wanted to share this https://techcrunch.com/2022/03/16/linktree-link-in-bio-series-c-valuation/
Pretty interesting, eh? They basically made hundreds of millions based off the fact Twitter & Instagram only allow you to embed 1 link into your profile 😂

[2022-10-20 12:40] davort commented on #1411
But... the colored text on the landing page, those aren't links or anything, but instead just emphasized parts, no? Now it feels like we're entering the area of over-optimization. Let's just keep it simple and clear - links can be uniquely distinguishable by this "light magenta" color _and the underline_ → recommended for good accessibility.

[2022-10-21 03:49] alalonde opened #1425 "Fix duplicate players when updating an Eth Address through the Discord bot"
### What happened?

Currently, we provide an option to switch the ethereum address tied to your sourcecred account (via your discord ID). This works fine, and causes XP to flow to the new address as well, but results in two separate accounts in MyMeta. This is because we use the most recent ethereum address in the SC ledger to match a player in MyMeta.

The old account stops accruing XP, and the n

[2022-10-21 04:16] alalonde commented on #1425
@dysbulic How has this manifested for you? It appears that your most recent eth address in the ledger has a player account with 0 xp

[2022-10-21 04:49] alalonde commented on #1425
Unfortunately, some database surgery is necessary because of this issue. Replicating this locally, I had to delete two different duplicate player rows + linked player_account records, THEN manually update dys' main player row eth address.

I believe that if we just updated our database at the same time as the ledger, we wouldn't end up with this cruft, and where the proper account no longer gets u

[2022-10-21 12:50] davort commented on #1411
The final designs are here: https://www.figma.com/file/hAmFBkfNhI7D4HMZ0jOVRV/Upgrade-callout?node-id=0%3A1
Guess we need to find a builder now? 😊

[2022-10-21 21:32] cmaxwe11 commented on #1314
Had a chat with Alec, looks like the metagame bot got removed or lost permissions on the TEC server. When someone picks this up, I'm happy to help coordinate on the TEC side to get someone with the right permissions to help troubleshoot.

[2022-10-22 09:17] peth-yursick commented on #1425
Would be awesome to get rid of #-set-eth-address & the whole process of manually connecting accounts through there altogether..
I think the main issue was that Ceramic doesnt offer Discord verification by default so maybe #1231 would need to be done first.
So yeah, idk if possible yet at all but worth considering whether we can just get rid of it 🤷‍♂️

[2022-10-22 09:31] peth-yursick opened #1427 "[MetaOS] Seed market"
### What would you like to be added?

A page where players & guilds can post their offerings.

It would be great if players & guilds were able to display their "offers & needs" on their profiles.
It would be even better if there was a page that aggregates these.

We already kind of sort of have a page for aggregating needs - Quests & Roles
But we dont have a page for aggregating offers!

## Seed m

[2022-10-22 10:12] peth-yursick commented on #1413
Hey, sorry again I forgot to include it..
Here you go, the SVG:
![svg join as a player](https://user-images.githubusercontent.com/55857222/197333727-2448308f-34d3-4231-8bfd-0aaabbb35fe7.svg)
And other 2 if you want to replace:
![svg join as a patron](https://user-images.githubusercontent.com/55857222/197333740-8682238e-e0fc-4524-b8cc-2602876b5d91.svg)
![svg join as a guild](https://user-images.git

[2022-10-22 12:43] dnh33 commented on #1411
Builder here, taking a look

[2022-10-26 18:43] dysbulic opened #1432 "Procure SVGs for image assets where possible"
### What would you like to be added?

I'd like it if more of our assets were SVGs. The resizability is better and, more importantly, the ability to edit and update assets is orders of magnitude better.

This was sparked in part by the [SEED flow graph](https://github.com/MetaFam/TheGame/issues/1413#issuecomment-1287727707). The [export from Figma](https://www.figma.com/file/n36ggiRBQEGzRUbGxWfkMX/

[2022-10-28 12:06] #1414 closed

[2022-10-29 16:06] luxumbra commented on #249
I'd like to see a section to remind developers who work on the frontend to make sure they test their work on all devices or at the bare minimum on mobile. According to Google Analytics we get around 34% users on mobile and there's quite a few places where this has clearly not been done. This is particularly noticeable with the new Quest Chains integration - it is really not an enjoyable UX on mobi

[2022-10-29 16:14] luxumbra commented on #1424
I’ve upped the priority on this in Dework to medium but I’d argue it should be high due to the frustration this leads to when completing QC. Keyboard nav is great but we lose all the accessibility benefits if it hijacks the arrow keys when focus is on an input.

[2022-10-29 17:38] luxumbra commented on #1408
imho the links look better with the outbound icon on hover.

[2022-10-29 18:24] davort commented on #1408
That's a great idea @luxumbra 👍

[2022-10-30 16:57] luxumbra commented on #1421
@vidvidvid or @dan13ram I'm looking into how the UX can be improved for the quest chains on mobile. While it is kinda usable on mobile, after trying to scroll the page up or down I want to abandon the process and throw my phone out the window. 😅 There's a lot going on with the carousel and I am not sure of how to tackle it. I disabled the onClick for mobile and added  prev/next buttons but I'm sti

[2022-11-02 13:22] vidvidvid commented on #1421
Hey o/ yeah, i tried using it on mobile as well, was not nice. Probably we need to disable any other interaction when trying to scroll vertically. Maybe we could disable horizontal scrolling, I'm not sure how to best approach this.

[2022-11-03 02:09] HHH-GH commented on #1417
**Two parts**

**1. only 48 patrons shown**
I could do a quick fix for this. In `graphql/getPatrons.ts` there's a default limit of 50 patrons returned.
[code]
On the patrons page the limit could be changed to show more than 50 patrons, like ... 100? 200?
e.g. `const patrons = await getPatrons( 100 );`

That's a quick fix, the proper fix would be to do a infinite scroll/load like on the players pag

[2022-11-03 08:29] vidvidvid commented on #1424
looks like pressing either of the keys up, down, left or right while not having the text input focused will shift the current quest. i'll try disabling the keys when the quest modal is opened.

[2022-11-03 10:33] dework-integration[bot] opened #1435 "Re-deploy the forums"
Our discourse forums have been wildly out of date:

 ![](https://storage.googleapis.com/assets.dework.xyz/uploads/8f056816-d8bc-4b94-9973-a4f68bc43806/image.png)

Unfortunately, the version is so old it doesn’t allow the simple “click to upgrade”. Instead, gives you this:

 ![](https://storage.googleapis.com/assets.dework.xyz/uploads/db69a66b-0ca2-4606-b4b0-6e02c3753616/image.png)Unfortunately #2,

[2022-11-03 13:02] #1424 closed

[2022-11-05 08:53] peth-yursick commented on #1417
Should be 150 since there shouldn't be more than 150 patrons anyway 🤷‍♂️

Sounds good!

[2022-11-07 09:41] #1412 closed

[2022-11-07 10:33] HHH-GH commented on #1417
Preview deployment here: https://frontend-pr-1439-mjhnbmqqna-uk.a.run.app/community/patrons

[2022-11-09 05:01] dysbulic opened #1440 "Switch description culling from character count to CSS `line-clamp`"
### What would you like to be added?

A players description is displayed as Markdown on their details page, and as a block of text on the leaderboard truncated to a certain number of characters.

Displaying as a block of text makes profile descriptions that use newlines uglier and harder to read. Additionally limiting by the number of characters makes for uneven final breaks partway through the li

[2022-11-09 09:54] HHH-GH commented on #1407
So I thought this was going to be an easy URL update 😂

Here's where the link comes from: [components/Dashboard/Seed.tsx](https://github.com/MetaFam/TheGame/blob/ae0102b3ade3cd5c94b378bdfac4a7e8a87c5522/packages/web/components/Dashboard/Seed.tsx#L171)
[code]
`token_info_url` comes from an [API call to Coingecko](https://api.coingecko.com/api/v3/coins/metagame/?localization=false&tickers=true&marke

[2022-11-09 11:20] peth-yursick opened #1442 "Further fixes to the patrons signup page"
There's still a bunch of fixes to be made to make the [patrons signup page](https://metagame.wtf/join/patron) look great.
Some of these may seem like details but this is one of the most important, if not the most important page currently so we really need to get it right to proceed with converting new patrons & move on with the fundraise.

Here's everything in a list:
- [x] Box content font looks

[2022-11-09 11:28] peth-yursick opened #1443 "[MetaOS] Updating the cards design"
This issue is about updating the cards design to make MetaGame as a whole look nicer & feel a bit more like a game.

Some of you who have been here for a long time may remember the original card mockup from 2019...
![image](https://user-images.githubusercontent.com/55857222/200819270-cde125f9-2423-4152-b9a5-f7604486371c.png)

Unfortunately, the production turned out nothing like it for a bunch of

[2022-11-09 11:44] peth-yursick opened #1444 "The onboarding guidance screen"
### What would you like to be added?

I would love there to be an onboarding guidance screen to give people a view of how onboarding into MetaGame works before they start going through the whole process of completing the Engaged Octo path etc.

Wrote this for the newsletter then designed it into a page:
![image](https://user-images.githubusercontent.com/55857222/200820526-120a975b-c6d2-4ba7-b2d5-1

[2022-11-09 11:46] dework-integration[bot] opened #1445 "README"
The issues are prioritized on this list top to bottom.

In case you’re new & you’re wondering why none of these have attached bounties, its because MetaGame is running on an XP system, using Sourcecred & Coordinape.

* Yes, there are rewards even though they aren’t displayed here.

If you’d like to learn more about MetaGame before taking anything on, pls go [through here](https://metagame.wtf).

[

[2022-11-09 11:49] peth-yursick commented on #1444
Wouldn't exactly call this a finished design tho - it was made by a non-designer.
@davort are you interested in doing some final touches, giving feedback or your stamp of approval as "good enough for now"? 😂

[2022-11-09 12:19] luxumbra commented on #1443
Looking at the cards in situ in the deploy preview for #1438, I feel the backgrounds of the cards need to be darker or something to improve readability - the player cards are pretty hard to read when there's a lighter bg / profile image.

[2022-11-09 12:51] #1421 closed

[2022-11-09 13:53] vidvidvid opened #1446 "Add pictures to quests"
### What would you like to be added?

- [ ] In the quest creation screen, please add a field for adding a picture to the quest.
- [ ] It would be great if editing of quests would include editing of their respective picture.

### Why is this needed?

It is needed in #1443 & consequently in the #1438 PR .

[2022-11-09 15:23] davort commented on #1444
Love it! This is definitely ready to be shipped as is 🙌

[2022-11-11 00:30] dysbulic commented on #1446
You were right with the `ipfs://` URL. You have to feed it to [`httpLink`](https://github.com/MetaFam/TheGame/blob/ec8182d7da906b702edecb116ebec75b728a509d/packages/utils/src/linkHelpers.ts#L7-L35) when displaying.

[2022-11-11 00:39] thebeyondr commented on #1446
@dysbulic ok thanks, so you said displaying, but I'm storing... I think it would be useful to use `httpLink` before storing so retrievers just get the link when displaying.

Is that what you were implying or is there any reason thats not a good idea?

[2022-11-11 01:35] dysbulic commented on #1446
@thebeyondr, that would lock us into a particular gateway for delivering the IPFS content.

I actually want to switch the gateway from [`ipfs.io`](//ipfs.io) to [`w3s.link`](//w3s.link), which should be more performant, but it currently has a [mimetype issue](https://github.com/web3-storage/freeway/issues/19) with SVGs that causes them to be Cross-Origin Resource Blocked by Chrome.

Once that's re

[2022-11-11 01:44] thebeyondr commented on #1446
Ah I see ... I'm wary of the lock in as well.. So where does that leave this issue?

Do I just save the CID as `image` or is it on hold till those fixes happen?

[2022-11-11 07:42] peth-yursick commented on #1446
Have you tested how fast it loads? Also, where are you uploading them @vidvidvid?

[2022-11-11 08:40] vidvidvid commented on #1446
@peth-yursick you mean in quest chains? we're using web3 storage & uploading through IPFS

[2022-11-11 11:16] olizilla commented on #1446
We've got a fix for https://github.com/web3-storage/freeway/issues/19 which I'll get released today.

[2022-11-11 17:09] dysbulic commented on #1446
@thebeyondr, save as `ipfs://`, use `httpLink` when displaying.

[2022-11-11 18:38] thebeyondr commented on #1446
@dysbulic gotcha, thanks!

[2022-11-11 22:21] thebeyondr commented on #1443
Strong agree here. Flipping the card color to a dark purple + opacity should do the trick. The design should be fun but still accessible I assume. @peth-yursick

[2022-11-15 11:52] nitegeist commented on #1444
Hey, I'm going to be tackling this issue. Keep me posted on any updates regarding it.

[2022-11-15 22:53] #1413 closed

[2022-11-15 22:55] #1310 closed

[2022-11-16 10:09] peth-yursick opened #1450 "Change the default sharing embed image"
Right now, sharing the links in telegram displays this extremely cringe old logo I made 3 years ago that got replaced over a year ago:
![image](https://user-images.githubusercontent.com/55857222/201974043-5c5a56de-9b65-4ed9-831a-eb8ba63f2227.png)

It should be replaced with this image:
![image](https://user-images.githubusercontent.com/55857222/202152031-7d367347-7394-40a9-ac3f-b35987472e3f.png)

[2022-11-16 11:33] peth-yursick opened #1451 "Updating the raids page & integrating actual dework boards"
Right now the raids page only has text & none of the text leads to actual raid boards which are in Dework.

This issue is about simplifying the raids page, make it display a bit of the bigger picture & actually link to Dework boards for their respective raids.

Current page:
![image](https://user-images.githubusercontent.com/55857222/202170822-e9a42143-38ee-4967-9dee-bc0190bf84c4.png)

New page:
!

[2022-11-16 11:40] peth-yursick commented on #1451
Thoughts on the design @davort?
Anything that should be improved or, interested in doing some final touches before it can be put into production?

[2022-11-16 11:44] peth-yursick commented on #1451
Or if you think the whole progress bar card should be redesigned?
As usual, I thought it would be a 5 minute thing where I just turn raids into cards & have one card to display the goals but then it turned out to require much more time & design skills which I don't have 😂
Totally dont mind if you think its crap & should be scrapped.

[2022-11-16 12:06] dysbulic opened #1452 "Ceramic's Gone Wonky Post-ESM Update"
### What happened?

With the merging of #1429 and concomitant update of the Ceramic libraries, a couple of niggles have emerged in the behavior.

New accounts are saving the streams correctly, but no CAIP-10 documents seem to be created, so it isn't possible to look up a user's DID:3 given their ETH address.

Existing accounts are asked to relink their accounts when they connect.

### What did you

[2022-11-16 18:52] davort commented on #1451
@peth-yursick I think it looks fantastic!
The progress bar card is solid, and IMHO perfectly clear. I can tell what are the phases, in which order they come, and where MetaGame currently is on this path (near the end of Phase 1). The phase cards also look very effective. Really nice work!

Just one thing - it isn't obvious that the cards are clickable. There is no clear "call to action". Nothing t

[2022-11-18 14:04] peth-yursick commented on #1451
I think its fine, just the fact that there's literally nothing else on the page, the new animation effect that Vid added & the cursor changing from pointer to hand should make it obvious enough, hopefully

[2022-11-18 15:35] davort commented on #1451
If you say so :)

[2022-11-18 16:50] dysbulic opened #1455 "Move pull request template out of the root"
### What would you like to be added?

Currently, the root of the repo has a file [pull_request_template.md](https://github.com/MetaFam/TheGame/blob/develop/pull_request_template.md) that seems like it should be in the [.github/PULL_REQUEST_TEMPLATE/](https://github.com/MetaFam/TheGame/tree/develop/.github/) directory.

### Why is this needed?

The file is out of place in the root.

[2022-11-18 17:32] #1455 closed

[2022-11-21 14:06] ipatka opened #1459 "Broken link in onboarding game"
### What happened?

https://wiki.metagame.wtf/docs/wtf-is-metagame/metafam-way

![Screen Shot 2022-11-21 at 9 04 37 AM](https://user-images.githubusercontent.com/4401444/203074708-306bcc75-0775-4376-a7b4-dde7d618ac2d.png)

This link is broken. It should probably be https://wiki.metagame.wtf/

### What did you expect to happen?

Go to the link

### How can we reproduce the problem (as minimally as

[2022-11-21 15:37] luxumbra commented on #1459
hey @ipatka thanks for reporting this. Can I ask what URL you were accessing the Onboarding Game on? The 'MetaManifesto' link was fixed and updated on the production site a little while back.

[2022-11-21 15:38] ipatka commented on #1459
i was using one from the newsletter. perhaps it is an outdated one https://frontend-pr-1332-mjhnbmqqna-uk.a.run.app/onboarding

[2022-11-21 15:40] luxumbra commented on #1459
Ah yes, that is the original URL we posted and is now out of date.

[2022-11-21 15:47] #1459 closed

[2022-11-21 15:47] ipatka commented on #1459
ok will close the issue then thanks!

[2022-11-21 16:30] luxumbra commented on #1459
No worries. If you're wanting to contribute, we have plenty of other issues and bug fixes that would love some attention. Have you taken a look at [our DeWork issues](https://app.dework.xyz/metagame-1/metafest-2022)?

[2022-11-22 00:12] HHH-GH commented on #1407
Options for this one
1. Hard code the pool link instead of getting it from the Coingecko API (fairly easy)
2. Ask Coingecko to update their info (send them the new data, wait for them to update? not sure how that works)

Is there a preference? @peth-yursick    @luxumbra

[2022-11-22 14:04] luxumbra commented on #1407
Yes, I believe it is all coming from the mainnet pool. I *think* I contacted CoinGecko a few weeks ago to ask them to change to our Polygon pool but not 100% if i did in the end. Will check & chase or send a request if I only imagined doing it before.

I think for now, this is the best option - gets it fixed pronto and we can re-visit once CG have updated things their side.

[2022-11-25 14:06] peth-yursick opened #1462 "Migrating Great Houses into MetaOS"
Right now, all the great houses are just posts on the wiki.
As we speak, they are being turned into Quest Chains.
Because:
- This will make them more engaging as they won't be just posts but actual questlines that give an NFT.
- This will add feedback loops for upgrading the houses. Previously they stayed out of date for 2 years in some cases, now each house asks people questions where they give f

[2022-11-26 09:11] HHH-GH commented on #1407
I've just done some investigating.
1. The current price for all versions of Seed seems to be 1 Seed to 3.8 USD. (See below. I also have screenshots.)
2. So I can't tell if the Coingecko API is returning info for the Mainnet pool or the Polygon pool.
3. But also the [Coingecko API](https://api.coingecko.com/api/v3/coins/metagame/?localization=false&tickers=true&market_data=true) is not (currently?)

[2022-11-27 03:56] tommycomma commented on #1422
It would also be helpful to have a share icon on each card and/or if the URLs are the names of the quests

[2022-11-27 09:45] #1407 closed

[2022-11-28 10:26] dysbulic opened #1465 "Hydration error for the landing page"
### What happened?

When the landing page as stored in `develop` loads, there is a hydration error from Next.js if the user has logged in previously.

### What did you expect to happen?

The page to load without issue.

### How can we reproduce the problem (as minimally as possible)?

1. Connect to [test.metagame.wtf](//test.metagame.wtf)
2. Log in
3. Reload the page

You should see [minified Reac

[2022-11-28 10:35] dysbulic opened #1466 "`NODE_ENV` for pull request test instances is "`production`""
### What happened?

`NODE_ENV` for the frontend pull request test instances is supposed to be "`test`". It is, instead, "`production`".

### What did you expect to happen?

When printing `process.env.NODE_ENV` to see "`test`" rather than "`production`".

### How can we reproduce the problem (as minimally as possible)?

1. Go to [frontend-pr-1461-mjhnbmqqna-uk.a.run.app/quests](//frontend-pr-1461-m

[2022-11-28 10:42] #1451 closed

[2022-11-28 13:37] dysbulic opened #1467 "Pull request test instance build failing on `/players`"
### What happened?

During the build of the frontend Docker image, the process is failing with the error:

[code]

### What did you expect to happen?

The frontend to build correctly.

### How can we reproduce the problem (as minimally as possible)?

Push changes to a pull request.

### Is there anything else we need to know?

Note that the returned size is 0. This means that the error is likely b

[2022-11-28 13:54] dysbulic commented on #1467
I'm uncertain about the theory that Hasura hasn't started completely yet because this step is after the seeding step which is writing the same basic data & succeeds.

In any case, adding `error.response?.size === 0` causes the request to retry. One the first retry it fails again with "`Invalid response from authorization hook`", then it succeeds.

[2022-11-29 02:44] dysbulic opened #1468 "The filters for quest selection are not visible"
### What happened?

The filter bar for selecting quests appears to have `overflow: hidden` set so the dropdowns don't display:

![Screenshot from 2022-11-28 16-26-03](https://user-images.githubusercontent.com/181523/204385125-c47a54a0-f3ac-4476-9460-f6d4ccd2bb2f.png)

When `overflow: hidden` is disabled, on the `div` near the options, it becomes apparent that `overflow: hidden` is also set on anot

[2022-11-29 18:29] #1417 closed

[2022-11-29 23:13] #1452 closed

[2022-11-30 16:23] #1435 closed

[2022-11-30 16:24] peth-yursick commented on #1411
Hey, any luck?