[2021-08-27 14:18] dysbulic opened #792 "[MyMeta] Upgrade to Next 11 & React 17"
@Cali93 & I would like to [web3.storage](//web3.storage) to house the [profile, header](https://github.com/MetaFam/TheGame/issues/27), and [background](https://github.com/MetaFam/TheGame/issues/443) images being added by users of the in-house front end to IDX.

We are having difficulty getting it to work and all signs point to it would likely work with the latest versions of Next and React.

React

[2021-08-27 14:32] dysbulic opened #793 "Potentially replace react-timezone-select"
We are in the process of [integrating IDX](https://github.com/MetaFam/TheGame/issues/769) more deeply into MyMeta and there's the possibility we will [upgrade Next](https://github.com/MetaFam/TheGame/issues/792) as part of the process.

The timezone select component [requires transpiling](https://github.com/ndom91/react-timezone-select#-nextjs-users) to work with Next 10. There's a question if it

[2021-08-29 19:02] alalonde commented on #363
The issue is not that the skills don't save, it's that they don't _appear_ to save if you e.g. change your skills, click save, and then click the left arrow on the progress bar to go back to skills.

[2021-08-29 22:20] leewardbound commented on #363
@alalonde thank you for clarifying! I didn't understand I had to click the back button, I thought original ticket meant "and then go back [to the players page]" -- I have reproduced this on my local, I will try to look into it this week!

[2021-08-31 00:38] dysbulic commented on #443
@CastilloLuis, I was wrong about using [web3.storage](//web3.storage). It relies on an API key for authentication, and to use it in MyMeta we would need to include the key in the application (or hack together some way to keep it private).

Anyone with the key has the ability to remove all the files from an account, so until they add an alternative authentication mechanism or add scoping to keys so

[2021-09-01 18:14] leewardbound commented on #363
Worked on this today with @mquellhorst -- we tracked down the bug for an hour, identified the exact source of the problem (the "getMeQuery" is re-running on every form submission, except for this page, and we don't know why), and were unable to deduce a proper solution --

However, as this whole flow is going to be replaced by the new Edit Profile flow -- See #278  -- it seems it's not worth the e

[2021-09-01 18:31] leewardbound commented on #278
Hi, I spent some time with @mquellhorst working on #363 today, which ultimately we closed [in frustration] because the bug seems very nuanced with the way `getMeQuery` currently works, and it'll be fixed by the larger IDX migration, and this new Edit Profile page.

Michiel told me it would be a good-first-issue for me to work on building the frontend for this page, and he said to assign this ticke

[2021-09-01 20:30] vidvidvid opened #802 "Rerouting bug in user editing"
### What

When navigating to or refreshing one of the profile editing slides, the user gets thrown to the /players route.

### Where

The beaviour was observed first locally and also in production, while in production only refreshing triggered that behaviour - navigating through steps worked fine.

### Resources

Refreshing on production:
![local_next_step](https://user-images.githubusercontent.co

[2021-09-02 15:54] vidvidvid commented on #802
This bug was observed and will be solved with rebuilding the user edit workflow.

[2021-09-02 15:54] #802 closed

[2021-09-02 16:05] leewardbound commented on #278
Today we met with @davort @mquellhorst to discuss the UI/UX side of this and iterate on the flow - also accompanied by the new builders @tommymaher15 and @vidvidvid (the 3 of us new builders will likely pair up on these tickets for implementation)

Notes:
+ @davort will finish the Hi-fidelity design for both Desktop and Mobile for the Edit Profile Page

+ We confirmed that the Edit Profile page is

[2021-09-03 01:20] alalonde commented on #311
Let's do this! Just caught up with all the requirements.  Here is my plan of attack:

1. Write a hasura migration to populate a `discordVisibleRoles` array within the `discord_metadata` table.
2. Add a custom action that fetches the roles from discord (since the `discord_metadata` table is private)
3. Add a player_roles table. This will include a `rank` int column to specify primary vs secondary.

[2021-09-03 01:49] alalonde commented on #311
A few outstanding questions / comments:

1. Which step will this be in the setup profile flow? Currently it is username / personality type / player type / skills / availability / time zone / memberships
2. When importing existing roles from discord, how we will determine the "primary" role? I suppose we can just pick the highest-ranked one, but if a primary role is required, it seems we need to ch

[2021-09-03 12:25] davort commented on #311
Hey @alalonde - great to see you as the designated builder for this one! 🙌
And right off the bat, you asked great questions. I'll answer the best I can.

IMHO it might be best placed between "skills" and "availability", since the role(s) will probably be chosen based on skills a player possesses. This way, it feels as if the _flow_ would be uninterrupted. Let me know what you think.

It's a great

[2021-09-03 15:33] davort commented on #278
Thank you @leewardbound for a great writeup.
I have put some more thought into the whole thing. I will need a bit more time to design the whole thing properly. I can already say that the mobile version of the "Edit profile" view will look close to this:

<img width="200" alt="EPmob" src="https://user-images.githubusercontent.com/1573304/132028868-7fbb85ab-3b1f-4b2d-b35f-b01fe0884c0c.png">

This is

[2021-09-05 00:24] dysbulic commented on #443
Ok, so there's been another change of course. @Cali93 & I implemented a [web3.storage](//web3.storage) uploader Hasura action. You send it a file & it returns you a CID.

Or at least it will when it's done in the next day or so. The action handler exists, but Hasura actions don't have `File`s as accepted types, so the files will have to be base64 (en|de)coded.

All of the pinning services I examin

[2021-09-05 01:12] dysbulic commented on #278
@Cali93 & I have been pairing on the IDX integration. We've recreated about 85% of the functionality to save the data in the [IDX basicProfile](//github.com/ceramicnetwork/CIP/blob/main/CIPs/CIP-19/CIP-19.md#record-schema) and it is visible [on Vercel](//the-game-lz7aixbx4-metafam.vercel.app/profile/info).

The service that uploads the images to [web3.storage](//web3.storage) is part of a system t

[2021-09-05 05:41] davort commented on #278
Thank you @dysbulic for this detailed account of editable profile elements.

I haven't seen a mention of **player roles** which are being worked on in #311. Just an oversight, I believe. Did you plan on keeping them in as part of player profile?

[2021-09-05 08:13] dysbulic commented on #278
Yeah. I just forgot about them b/c they're coming from Discord rather than IDX. I added them to the list.

[2021-09-05 08:17] dysbulic commented on #278
If you're interested in seeing another player in this space, you can create a profile at [dns.xyz](https://dns.xyz/login). [This tweet](https://twitter.com/dns/status/1430629581967429635?s=20) has examples for some of their more complex instances.

[2021-09-08 18:37] mquellhorst commented on #641
Closed by #758

[2021-09-08 18:37] #641 closed

[2021-09-08 19:56] mquellhorst opened #812 "Replace Menu icons with SVG's"
The icons in the menu are currently PNG's
For proper scaling on different devices SVG is preferred

[2021-09-10 03:05] alalonde opened #814 "Some Megamenu internal links don't work"
If you're on a guild page e.g. https://test.metagame.wtf/guild/metacartel

The players and patrons links are prefixed with /guild which will result in 404s

[2021-09-10 10:11] #814 closed

[2021-09-11 12:30] davort opened #818 "[MetaOS] Megamenu - Add User menu with links"
Let's add a menu that opens when the user's avatar is clicked.

The menu should contain two links from the start:

1. View profile
2. Disconnect

More options may be added later on, but these two will suffice for the time being.

I would suggest using Chakra UI's [Menu component](https://chakra-ui.com/docs/overlay/menu) for this.

Let me know if you're good to add this in without a visual spec, or

[2021-09-11 12:37] davort opened #819 "[MetaOS] - Change font for Megamenu to Exo 2"
The original design in Figma used Exo, which was the first and only variant of that typeface at the time. It has been updated and improved with its second release - [Exo 2](https://fonts.google.com/specimen/Exo+2)

This is already visible in Figma: [Mega Menu](https://www.figma.com/file/A6Nh2tyBbRCpglAnm7JQDm/Mega-Menu?node-id=684%3A281)

We'll need these variants of the font:

- Regular 400
- Reg

[2021-09-11 16:58] phys3 commented on #818
Added in this pr https://github.com/MetaFam/TheGame/pull/817

[2021-09-11 16:58] phys3 commented on #812
fixed in this pr https://github.com/MetaFam/TheGame/pull/817 not yet merged

[2021-09-11 16:59] phys3 commented on #819
switched in this pr https://github.com/MetaFam/TheGame/pull/817 not yet merged

[2021-09-11 20:27] tommymaher15 commented on #793
Apparently there has been an update on react-timezone-select which was as follows:

"Update: Next.js 11.1.0 now supports ESM packages natively! Until 12.0.0 you need to include esmExternals: true in your next.js.config though."

is this worthwhile to look at or would it make more sense to continue and replace with a generic search as mentioned above?

[2021-09-12 16:21] davort commented on #819
Great, thanks @phys3.

Any chance you could change the font on the "CONNECT" button to Exo 2, too? Or is that something that falls out of the scope for MegaMenu adjustments?

![CleanShot 2021-09-12 at 18.19.29.png](https://images.zenhubusercontent.com/603d32d6edb5330e5cd0dd54/0373e2f5-0654-4dec-b45c-22541baaff38)###

[2021-09-13 15:16] mquellhorst commented on #740
For now the M1 architecture problem is fixed by #803

[2021-09-13 15:16] #740 closed

[2021-09-15 14:02] mquellhorst commented on #819
Closed by #817

[2021-09-15 14:02] #819 closed

[2021-09-15 14:03] mquellhorst commented on #812
Closed by #817

[2021-09-15 14:03] #812 closed

[2021-09-15 18:54] dysbulic opened #823 "[MyMeta]: Create instances of the backend services for individual pull requests"
Currently, the only way to test changes to the backend are to merge them into `develop` and use [test.metagame.wtf](//test.metagame.wtf). For frontend changes, an individual instance is created in Vercel for each pull request. We would like that functionality optionally for the backend.

The backend is currently deployed to [render.com](//render.com) where production and staging instances are runn

[2021-09-16 12:28] peth-yursick commented on #264
Any update on this?

[2021-09-16 14:15] #738 closed

[2021-09-16 17:08] dysbulic opened #824 "[MyMeta]: Make the staging and production sites use a single Postgres instance"
@polimyl pointed out that we don't have to be running two separate Postgres instances on [Render](//render.com). We could be running staging and production as separate databases in a single instance. Removing one of the Postgres instances will save us $7 / month.

[2021-09-16 18:19] davort opened #825 "Megamenu - fix positioning and add the missing top triangle"
![MegaMenu-fixes.png](https://images.zenhubusercontent.com/603d32d6edb5330e5cd0dd54/facee534-1032-434a-94af-c04736e070d0)

1. Can we please have the menu positioned so that the leftmost column's icons (in case of 2 columns) or the single column's icons (in case of just 1 column) are left-aligned with the "trigger" link?
2. The small triangle from the original Figma design is missing. It would be g

[2021-09-17 10:43] mquellhorst commented on #818
Closed by #817

[2021-09-17 10:43] #818 closed

[2021-09-17 10:47] mquellhorst commented on #793
Yeah is a good one to take a look at.
Currently the timezone package is being transpiled in `next.config.js`
Seems likely this solved the roadblock to upgrade of Next.js

[2021-09-17 10:47] davort opened #830 "[MyMeta] Add "Edit profile" button to player's own profile page"
![editProfileBtn.png](https://images.zenhubusercontent.com/603d32d6edb5330e5cd0dd54/74662a76-01a9-48fe-9574-5fad316f00d9)

Could we please add an edit button to player's own profile page, as displayed in this mockup?

For specs for the button, please check out the Figma file: https://www.figma.com/file/zDHqledo5H2aKR3KDvbur8/Meta-Game?node-id=7852%3A8725

As for the placement, it would be great if

[2021-09-17 21:31] #830 closed

[2021-09-19 19:23] mquellhorst opened #832 "Incorrect roles detection"
So I recently became Platinum and received the role in Discord.
This is nice for me but this means someone goes from Platinum to Gold.
The person that was on the bottom of platinum was tommy (tomi in SC).
However Gnomeski has been moved to Gold instead of tommy.

Both of them do not have their MyMeta account properly set up.
So their profiles don't appear on the site.

So the system detected Gnome

[2021-09-20 07:30] richteri commented on #793
Hi Guys, I'm working on the [Next 11 & React 17 upgrade ticket](https://github.com/MetaFam/TheGame/issues/792) and tried to use the `esmExternals` option with & without transpiling modules.

The first issue was that `next` does not allow [global CSS imports](https://github.com/vercel/next.js/issues/19936) but seems to be fixed by using [next-global-css](https://github.com/bem/next-global-css).

Cu

[2021-09-20 10:19] #695 closed

[2021-09-20 23:36] Udit-takkar opened #835 "Edit Profile Guide is Glitchy"
https://user-images.githubusercontent.com/53316345/134089698-5188c5fc-52ce-4a75-9d68-5cfdba785d22.mov

Description :- When Trying to forward/backwards the forward, backward buttons and Meta Game icon seem to be glitchy.
Just after clicking forward button they change their state . Something  like below for just a moment.

<img width="1440" alt="Screenshot 2021-09-21 at 5 02 49 AM" src="https://user

[2021-09-21 04:57] Udit-takkar commented on #835
The page re-renders everytime button is clicked. The image has to load everytime. in the file `components/setup/SetupHeader`. The image tag is used from chakra-ui instead of `next/image`.
Image tag from `next/image` also gives an attribute priority which enables pre loading of image.

[2021-09-21 05:00] Udit-takkar commented on #835
It seem to work with the usage of `next/image`.

https://user-images.githubusercontent.com/53316345/134113864-ba3ccc24-4e32-470f-8659-0e57c01c4561.mov

[2021-09-21 16:01] peth-yursick commented on #775
What was the purpose of these @Baconaetor?

[2021-09-21 16:02] peth-yursick commented on #707
Connecting this #718 thing as it seems more likely to fit the original purpose of having timezones

[2021-09-21 21:23] alalonde commented on #311
@davort I think the only thing missing from [this] (https://www.figma.com/proto/zDHqledo5H2aKR3KDvbur8/Meta-Game?page-id=7109%3A1&node-id=7763%3A7905&viewport=324%2C48%2C0.49&scaling=min-zoom&starting-point-node-id=7763%3A7765&show-proto-sidebar=1) is a way to re-order your secondary roles. I believe we wanted to support multiple ones, no?

[2021-09-21 21:25] alalonde commented on #311
^ This may just be an implementation detail, but in the Database there's no concept of a "type" of role, just a role with a rank. So #1, #2, etc, which makes us able to easily order them when displaying.

[2021-09-21 21:34] dysbulic commented on #776
This event is completed.

[2021-09-21 21:34] #776 closed

[2021-09-22 07:28] davort commented on #311
I am not 100% at this point in time, but we'll find out 😉 In case it is as you say, we will re-use the "Edit order" UX pattern that we're right now solving for #441 — it will most likely work similar to this _(note: action begins 5 seconds into the video)_

https://user-images.githubusercontent.com/1573304/134300738-2828f18b-7500-4918-9d79-03f8267fa477.mp4

I believe we can pull it off with no iss

[2021-09-23 12:04] peth-yursick opened #837 "Ranked league notifications"
Have the bot that is updating people's ranked roles based on their position on the leaderboard also tag these people in a message when they move up or down.
"Congrats XYZ for reaching the Silver league, knocking ZYX out of it"
Maybe without the "this player lost their position" for the first version?
In #tavern?

[2021-09-23 12:16] peth-yursick opened #838 "[MyMeta] xDAI & Polygon DAO names"
Right now all the xDAI & Polygon DAOs are displayed as "unnamed".
We need to figure out a way to put their names up..
Could be done through the DAOHaus API maybe? Or DeepDAO if not?

[2021-09-23 12:19] peth-yursick opened #839 "[MyMeta] Pull member names regardless of whether they have MyMeta profiles"
I think it would be great if the guild profiles displayed all their discord members under "members" regardless of whether they have MyMeta profiles otherwise it will be pretty empty.
We'll be working on getting all the guilds that onboard to also have their members create MyMeta profiles, but it still kind of sucks to not have their members list displayed under memberships even as non-clickable.
S

[2021-09-23 12:48] dysbulic commented on #838
DAOHaus used to have the DAO name on-chain which is why older DAOs don't show up as nameless.

The name has since moved to a metadata file that is downloadable from a DAOHaus server.

Currently we are querying The Graph each time we load the player's profile. The process of downloading a file and extracting the name for each DAO is too resource intensive to do on each query, so we will need to add

[2021-09-23 12:52] dysbulic commented on #775
They are used to block out time spans in the [ZenHub Roadmap](https://github.com/MetaFam/TheGame/issues/775#workspaces/metaos-6012e782d1bec10015d7f4e5/roadmap?repos=255885896).

[2021-09-23 12:56] dysbulic commented on #839
Not having looked at the code, I suspect this arises from the same reason that players don't show up on the leaderboard.

Apparently, as noted in #739, the solution is to dynamically build the GraphQL query used to load players.

[2021-09-23 13:33] peth-yursick opened #840 "[MetaOS] Fixing MetaMenu Links"
The new menu looks great but some of the links are wrong & some are missing.

To replace
- On the community tab
  - Under the community tab, there is an "alliance" button & the alliances page doesn't exist yet. I think this should be replaced with a link & an icon for the community Calendar & renamed to "Events"
  - Discord link has expired - should be replaced with https://discord.gg/metagame
- O

[2021-09-23 13:33] peth-yursick commented on #840
@blake-hunsicker or @phys3 might be interested in this one

[2021-09-23 22:47] peth-yursick commented on #825
Was there any specific reason why the boxes are left aligned & not centered? I thought that was a bug & wanted to open an issue for it 😂

[2021-09-24 07:03] davort commented on #825
@peth-yursick Actually there are two reasons:

1. **Less eye movement** | When aligned well—and we're still tweaking it to get to that point—it allows for easier reading. When a user clicks a top menu link, a left-aligned menu allows for their eyes to simply _move down_ and scan/read through the panel that opened. It's a tiny thing, but when you constantly have to "chase" after the beginning of th

[2021-09-24 10:32] peth-yursick commented on #838
Is this a hassle to do? I can reach out to DeepDAO & ask for their API, they already offered it before.

[2021-09-24 10:33] peth-yursick commented on #775
Why & can I close them now since we got 78 open issues?

[2021-09-24 15:02] Baconaetor commented on #775
I was experimenting to try and help create a good roadmap for us. You can close them yes, or. . .I guess I will while I'm here.

[2021-09-24 15:02] #775 closed

[2021-09-26 11:12] phys3 commented on #825
fixed in this pr https://github.com/MetaFam/TheGame/pull/842

[2021-09-26 11:14] phys3 commented on #840
Waiting for:
- Events icon
- Metaradio icon
- Youtube icon
- Become a patron icon
@davort

Fixed in this pr https://github.com/MetaFam/TheGame/pull/842

[2021-09-27 16:02] davort commented on #840
@peth-yursick & @phys3 – sure thing, but we'll have to order these icons from Trolleo. They weren't included in the original package, since these links weren't there in the [early wireframes](https://www.figma.com/file/A6Nh2tyBbRCpglAnm7JQDm/?node-id=0%3A1), when we had done the original planning.

In the meantime, I'll make some placeholder icon we can use, even if it ends up being ugly as hell.

[2021-09-27 16:38] davort commented on #840
Pinged Trolleo and in the meantime created the 4 requested icons. Here's a preview:
![CleanShot 2021-09-27 at 18 37 10](https://user-images.githubusercontent.com/1573304/134949930-af2b24ad-6b4e-4f60-9721-719a47460323.png)

@phys3 please find them here: https://www.figma.com/file/A6Nh2tyBbRCpglAnm7JQDm/Mega-Menu?node-id=980%3A707

[2021-09-29 04:04] alalonde commented on #363
Tracked this one down while working on #311, it's due to the `getMe` query being cached and re-used rather than fetched every time (https://formidable.com/open-source/urql/docs/basics/document-caching/). Will be fixed shortly

[2021-09-29 14:32] #504 closed

[2021-09-29 15:49] dysbulic opened #848 "[MyMeta] Migrate the web3.storage proxy from Express to Next.js"
[web3.storage](//web3.storage) authenticates using an API key. That key can't be inserted into the React app or users would be able to delete each other's files.

To protect the key, a proxy is used where the user sends to the proxy and the proxy uploads to web3.storage returning the CIDs of where the files are stored.

@Cali93 & I put the [proxy code in the Express server](https://github.com/Meta

[2021-10-02 07:20] phys3 opened #849 "Search for players from navbar"
WIP https://github.com/MetaFam/TheGame/pull/813

[2021-10-04 06:06] #835 closed

[2021-10-04 11:47] davort opened #851 "[MetaMenu] MetaGame logo should act as a hyperlink to "home""
There is currently no easy way to go "home", which today equals to https://my.metagame.wtf/players

Please make it so that the MetaGame logo in the header acts as a hyperlink to "home".

[2021-10-05 09:06] jb0gie opened #852 "Library 📚 Button 🤔 you good bro❓❓"
https://wiki.metagame.wtf/docs/home#here
does this button work yet? all i see it doing is making the floating sidebar thingy twinkle only noticed that after spam clicking (hehe)

maybeh like add some SFX or make it a touch more `apparent` when a user clicks on something hehe look at b0gie raising issues weeeeeeeee
![image](https://user-images.githubusercontent.com/6885227/135994026-34fda91d-ff5b-4

[2021-10-05 09:15] vidvidvid opened #853 "Remove leftover PageHeader, MobileFooter and all affected components"
`PageHeader` and `MobileFooter` seem to have been replaced by `MegaMenu` and `PlayerStatsbar`, but were not removed from the codebase: https://github.com/MetaFam/TheGame/pull/758/files#diff-a7f07482cae20cd0b5bfe4979c414ba5f2e01733078f358bc244eeeb45352346

It would be nice if we delete the components that get replaced or add a comment somewhere if there is a reason they still exist. :)

[2021-10-05 11:16] peth-yursick commented on #852
The library button used to be "👈" to indicate that the library is the sidebar, but someone thought it made no sense & changed it to 📚 & in a weird way, now it makes even less sense.
The sidebar highlights when you click the button to show that is it, that its already open.
Anyway, this is an issue for the wiki, not TheGame, if you still want it: https://github.com/MetaFam/metagame-wiki/issues

[2021-10-05 11:16] #852 closed

[2021-10-06 14:17] mquellhorst commented on #792
Involves #793

[2021-10-06 14:17] mquellhorst commented on #793
Pls continue conversation in #792

[2021-10-06 14:19] dysbulic commented on #792
[IDX](//idx.xyz) is being deprecated in favor of [Glaze](https://developers.ceramic.network/tools/glaze/overview/) which also requires Webpack 5 and motivates us to do this update.

[2021-10-06 19:10] #853 closed

[2021-10-07 02:44] #823 closed

[2021-10-08 20:05] polimyl opened #855 "Optimize Frontend and Backend Dockerfiles"
Both the Frontend and Backend Dockerfiles are pretty unoptimized at the moment. The built containers have a size of nearly 1GB, which is huge (the Hasura container has a size of less than 70MB for reference). The sizes could probably be drastically reduced and maybe even the build time could be lowered.

[2021-10-08 20:12] polimyl opened #856 "Pull Request Preview Redeployment"
Right now the new pull request preview system only deploys preview when a pull request is opened or reopened. Since nobody wants to close and reopen a pull request when they create new commits in a pull request, there needs to be some way to redeploy the previews without closing and reopening. Either "redeploy on commit" or "redeploy on comment command" would probably be a good solution.

[2021-10-09 10:56] polimyl opened #857 "Fill Pull Request Previews with Player Data"
When a pull request preview gets deployed, there currently isnt actually any data in it (zero players). For better testing it should be filled with data by doing `yarn hasura:seed-local-db`.

[2021-10-15 20:57] davort commented on #441
The first batch of mockups is now complete: https://www.figma.com/file/zDHqledo5H2aKR3KDvbur8/Meta-Game?node-id=7987%3A9104

At the top you will find a "happy path" flow for mobile UI.
Below are all key views from the above workflow, designed to work for all breakpoints we are using in our work.

Notice that for the "big screen" breakpoint of the Reorder view I added "grip bars" which should hint

[2021-10-16 04:14] alalonde commented on #824
Ha, yeah, duh 😁 🤪

[2021-10-16 04:18] alalonde opened #863 "Non-mainnet DAO memberships don't render properly on the setup / memberships page"
<img width="1315" alt="image" src="https://user-images.githubusercontent.com/1402582/137573467-341d6549-f4e3-499e-91a2-4f575f96645d.png">

[2021-10-16 05:31] dysbulic commented on #848
A Next.js API endpoint fronting web3.storage is part of Ceramic's NFT Example: https://github.com/ceramicstudio/dynamic-nft-example/blob/main/pages/api/persist.ts

[2021-10-16 20:41] vidvidvid commented on #337
After I'm done with the user profile / edit update, I would like to work on this.

[2021-10-17 16:48] vidvidvid opened #865 "Pressing backspace in the availability input is bugged"
See the attached gif:

![availability press backspace](https://user-images.githubusercontent.com/35112939/137637011-b924ddc9-b30e-414d-b8a4-438455df69be.gif)

[2021-10-18 13:20] Udit-takkar commented on #865
yeah If I double press it then the last digit appear again

[2021-10-20 12:22] tenfinney opened #870 "Next and Previous Buttons needed when scrolling through Players"
When i wanted to review every player's profile in succession I needed to click back to all the players, then scroll down and then click the next one.  Each time it required a re-querying of all the players.  As you go deeper in the list it becomes more time intensive and a little frustrating.

An efficiency would be to add "Next" and "Previous" buttons when people are in  in a profile to see the n

[2021-10-20 12:26] tenfinney opened #871 "Indicate number of active players"
In our documents we talk about 150 player limit but it looks like a lot more than that are queried.
Solution? I'm not sure. Set the max amount queried to 150?
![309-players](https://user-images.githubusercontent.com/32429716/138092191-759cd7a3-98a5-497a-9cef-8cbae4d7c8ad.png)
?

[2021-10-20 12:47] luxumbra commented on #871
We are limited to 150 players and currently have about 89 players in discord. MyMeta acts as a hall of fame, so I don't think having a hard limit on players queried makes sense. That said, having a filter for 'current' and 'past' and default to just showing the 150 most active would perhaps be a nice addition.

[2021-10-20 12:47] tenfinney opened #872 "Edit Profile Button Not Working in Player Profile Page"
Although the Edit Profile Button can be accessed by clicking the Avatar in the upper right corner of the page next to the pSeed count, it does not work in the areas circle in red.
Brave, Firefox and Chrome
![edit-profile-button-not-working](https://user-images.githubusercontent.com/32429716/138095508-33d6671c-631a-4922-816f-f814f0a2a993.png)
.

[2021-10-20 13:03] luxumbra commented on #872
The issue here is that the Chakra Button component used has an `href` prop which ChakraUI doesn't have on their Button - I am surprised this passed typechecks/linting. As it is 'linking' to another page, it should be a Chakra Link component with a button variant to style it as desired.

[2021-10-20 13:36] #872 closed, assigned to nobody

[2021-10-20 23:39] alalonde commented on #863
Ah, yes, he would need to be a member of at least one non-mainnet DAO to reproduce the problem.

[2021-10-22 13:46] tenfinney opened #877 "Github username not appearing in MyMeta Profile"
## Issue
**github username not showing in profile.**

## Facts
I did not include my Github username when using the profile set-up wizard at https://my.metagame.wtf/players. I did however include my twitter profile and that shows up as expected (see image).

I now want to add my Github username to my profile. I added it to my self.id account where MyMeta properly queries and shows my profile text a

[2021-10-28 01:35] #857 closed, assigned to polimyl

[2021-10-29 01:18] Pronoia42 opened #883 "Overlapping Div"
### What happened?

Spotted on a tablet - overlapping column:
div class="col col --3"  **blocking**  <aside class="docSidebarContainer
![image](https://user-images.githubusercontent.com/77310999/139357396-f5ca1791-134d-4505-a927-ec565ad26875.png)

### What did you expect to happen?

Tried to select menu items but was covered by div containing table of contents

### How can we reproduce the problem

[2021-10-30 09:16] Udit-takkar commented on #851
closing this issue as it has been resolved

[2021-10-30 09:16] #851 closed

[2021-10-30 17:31] vidvidvid opened #887 "Optimistic updates for profile editing"
### What would you like to be added?

It would be nice if instead of waiting for a couple of seconds, the users would get the impression that their data was updated immediately after pressing the save button. In a vast majority of the cases there would be no errors, but if they occur, we would later on have to patch the data and display an error message. Eventually we also might want to think abou

[2021-10-30 17:37] vidvidvid opened #888 "Navigating back and forth between players doesn't update profile data"
### What happened?

Navigating back and forth between players doesn't update profile data.
If the user clicks on another player's profile and navigates to their own profile from the menu by clicking View Profile and then uses browser navigation to navigate back to the previously viewed profile, the sections of the profile don't get updated.
(e.g. player/luxumbra -> player/vid -> player/luxumbra...

[2021-10-30 17:46] vidvidvid opened #889 " Figure out what to do on name change"
### What would you like to be added?

When user changes their username on their profile page `player/username`, the url stays the same, although it should change according to the username change and if the player for example refreshes the page, we'll get a 404. It's technically not a bug, but we could improve the behaviour of this process.
We could navigate the user after the username change to a

[2021-10-30 17:50] vidvidvid opened #890 "Animate player hero data changes"
### What would you like to be added?

Let's animate the player hero changes the same way other profile section changes are animated.
Preferably we'd animate only the fields that were actually updated instead of animating all of the player hero section.

Example:
![animation](https://user-images.githubusercontent.com/35112939/139543736-f2d33f5e-329f-4c74-ae32-5a531873b1b4.gif)

Player hero section:

[2021-10-30 17:55] vidvidvid opened #891 "Mobile view adjustment for profile hero data fields"
### What happened?

Bad alignment in mobile view.

### What did you expect to happen?

Good alignment in mobile view.

### How can we reproduce the problem (as minimally as possible)?

Check profile hero dialog for editing profile hero data.

### Is there anything else we need to know?

It would be great if you could check and potentially adjust also the other dialogs for editing profile data.

##

[2021-10-31 03:21] dysbulic commented on #889
¿You are discussing refreshing copies of the profile page open in other browser windows?

The only way to prevent a 404 in that case is to save the username history and redirect.

That has the advantage of avoiding someone spoofing a user identity by claiming an abandoned name. It has the disadvantage of allowing someone to claim many usernames by simply repeatedly changing their name.

For privac

[2021-10-31 03:34] dysbulic commented on #877
This is likely because the system is currently using the legacy 3Box attestations of account ownership. They need to be migrated to [Glaze's
Also Known As definitions](//github.com/ceramicnetwork/CIP/blob/main/CIPs/CIP-23/CIP-23.md) eventually.

Currently, only the GitHub attestations are working on [self.id](//self.id). Twitter is present, but not functioning.

The ultimate goal is for [IdentityL

[2021-10-31 07:53] vidvidvid commented on #889
I didn't think about the case with other browser windows (or tabs), but i see the problem now, yes.

Keeping a history seems like it could lead to some unwanted behaviour.

Your solution with adding explanation to 404 would make the most sense, imo. @Udit-takkar suggested to just change the route once the username change was confirmed. We could implement both?

[2021-10-31 15:31] Udit-takkar commented on #888
yeah even when i open any profile from home . there is an edit profile button

[2021-10-31 15:57] Udit-takkar commented on #888
sometime the sections are not even updating
<img width="1440" alt="Screenshot 2021-10-31 at 9 26 51 PM" src="https://user-images.githubusercontent.com/53316345/139591875-f033c333-b2a9-45ea-985e-2a699ca0a5f9.png">

[2021-10-31 16:04] vidvidvid commented on #888
that's the point of this issue. as the title suggests - navigating back and forth doesn't update the profile data (which is displayed in sections). i also noticed that the edit button remains. not good.

[2021-10-31 19:14] Udit-takkar commented on #863
Not a frontend bug because the response is returning title as null
`{"data":{"getDaoHausMemberships":[{"id":"0x775424aa01a1f4af57a53312f2599a8404024328-member-0x759bace429553bca40645da3283de1a105531b11","moloch":{"id":"0x775424aa01a1f4af57a53312f2599a8404024328","title":null,"version":"2.1","chain":"xdai","__typename":"Moloch"},"__typename":"Member"}]}}`

[2021-10-31 21:09] Udit-takkar commented on #863
Or we can do the same here what we are doing in `player/[username]` to display membership like  {title || `Unknown ${chain} DAO`} if not available.

[2021-11-01 04:16] alalonde commented on #863
Yeah, let’s just do that so at least they are consistent. The real fix is getting the proper metadata from Daohaus. I believe there’s a ticket for that

[2021-11-01 16:59] HBesso31 commented on #264
Very nice demo, @luxumbra. When is this going to be live?

[2021-11-01 17:06] HBesso31 commented on #715
It could come handy to review this issue with the www.DeepSkills.io team.

[2021-11-01 17:44] Udit-takkar commented on #863
<img width="1440" alt="Screenshot 2021-11-01 at 11 09 51 PM" src="https://user-images.githubusercontent.com/53316345/139715538-07f8292e-5019-4988-81b3-a86f5e3b8aba.png">

It would look this this . should i also add image and link to the dao ?

[2021-11-02 16:50] luxumbra commented on #264
I hit blockers on this and passed it to @mquellhorst some time back in July. I am not sure what the current status is. I reckon one of the newer builders would like to take it on.

[2021-11-02 17:49] dysbulic commented on #309
This particular ticket is done. The current work replacing the IDX integration with Glaze is captured in #769.

[2021-11-02 17:49] #309 closed

[2021-11-02 17:51] alalonde commented on #863
That’s definitely an improvement. If you can get an image and link that’d be even better, just add it to both places

[2021-11-02 18:06] #865 closed

[2021-11-02 18:27] davort commented on #311
Hey @alalonde – was just wondering what's the status of this issue? Actually, want to make sure that design isn't a blocker, before anything else. Please let me know if it is, or if I can help in some other way.

[2021-11-02 19:08] alalonde commented on #311
No, I've just been away from MG building for a while... jumping back in now

[2021-11-02 19:27] alalonde commented on #863
See https://github.com/MetaFam/TheGame/issues/646

[2021-11-02 19:28] alalonde commented on #554
Can you provide some more detail for this?

[2021-11-02 19:36] alalonde opened #893 "Clean up guild page"
### What would you like to be added?

Player page:
![image](https://user-images.githubusercontent.com/1402582/139940141-13c458cc-3299-4dad-99e0-7b247b7c8517.png)

Current guild page:
![image](https://user-images.githubusercontent.com/1402582/139940163-749ea387-430c-4558-ac33-6c934478cbc5.png)

- Adjust guild page column sizes to match the player page
- Get rid of sections that don't have any data:

[2021-11-02 19:45] alalonde opened #894 "On guild page, pull in announcements from Discord channel"
### What would you like to be added?

We currently have an empty "announcements" section on a guild's page:
![image](https://user-images.githubusercontent.com/1402582/139941124-78a7da4a-1fa5-4d2f-a0c9-912768faddb6.png)

For guilds that have a [connected discord server](https://my.metagame.wtf/join/guild), we could pull in the "announcements" discord channel automatically.

This should probably hap

[2021-11-02 19:51] alalonde opened #896 "Standardize guild onboarding copy"
### What would you like to be added?

We currently have [this Notion page](https://meta-game.notion.site/Guild-Onboarding-Why-How-e3d7383d86de4f7f8240a20cd92b8efb) discussing Guild Onboarding. A lot of this content should probably be in our _actual_ guild onboarding page in [MyMeta](https://my.metagame.wtf/join/guild). This will require some design work and copy work.

### Why is this needed?

Bec

[2021-11-02 19:59] alalonde opened #897 "Guild memberships aren't kept up to date"
### What would you like to be added?

We need a scheduled Cron Trigger in Hasura to run the `syncDiscordGuildMembers` action for all guilds that have `membership_through_discord` set.

That action may need additional error handling as well.

### Why is this needed?

So changes in discord membership are reflected in MyMeta

[2021-11-02 20:05] alalonde opened #898 "Add DAO addresses for existing guilds"
### What would you like to be added?

We (presumably) have a bunch of existing [guilds](https://my.metagame.wtf/guilds) with DAOs whose DAO addresses haven't yet been entered into MyMeta. Add a hasura data migration to populate as many of these as possible, ideally with approval by someone in the guild.

### Why is this needed?

Players that are members of these DAOs will have their membership aut

[2021-11-03 05:28] davort commented on #896
@alalonde - I can take on the design part of this quest!

Just a few quick questions:

1. Are we thinking a "one-page" design, where all the information from Notion is laid out in a readable fashion? Or something else?
2. Any good examples to draw inspiration from?
3. Is this the page which will open when "For Guilds" is selected from https://wiki.metagame.wtf/?

[2021-11-03 10:16] peth-yursick commented on #691
#878 on it

[2021-11-03 12:59] Gnomeski commented on #896
How would you lke copy adjstments/suggestions made?
I would maybe break it down into:

- **Technical Alignment,** Ethereum and Web3 already covered.
-  **Social Alignment** ie talking about hierarchies only existent for organisational reasons, not about power-over, authority etc, Importance of diversity, inclusiveness, accessibility, ID some of major issues we are looking to tackle here.
- **Polit

[2021-11-03 19:36] junkmail-taken commented on #896
I'd like to echo this -
I think if we evaluate workflows and designated roles below would be useful as roles can change / evolve.

Also, structuring PR "tools" used as a stand alone for revision and case evaluation relative to a version.

Template for PR can be created developed once a definition of workflow is structured.

[2021-11-04 22:23] alalonde commented on #752
At Peth's request, I'm attempting to lay out a path towards an MVP for adding playbooks to the existing codebase (commonly known as MyMeta).

This seems to include, at the least:

Backend:
- Defining new schema / tables to be added to Hasura / Postgres (Can be mostly inferred from here)
  - This can include additional metadata not necessarily in scope for the MVP as it's easiest to define as much

[2021-11-05 04:59] #331 closed

[2021-11-05 05:04] alalonde commented on #896
Yes, I think it should probably a more concise version of the wiki page.

... no 😁

No, I think there will just be a CTA in that existing wiki page directing them to this new (well, improved) MyMeta page

[2021-11-05 05:06] alalonde commented on #896
These are all good questions, and probably worth discussion with the greater community.  To keep this moving, I'd say just take what is already in that wiki page and condense it a bit

[2021-11-06 20:34] peth-yursick commented on #487
What's the status on this @mquellhorst?
The last thing I remember was "its done but I need to test it" & that was months ago..
And once its completed, will it be completed for Playbooks as well?
Or if someone makes it for Playbooks, does that close this issue?

[2021-11-07 15:41] alalonde commented on #487
There is a PR that was abandoned

[2021-11-08 12:39] Udit-takkar commented on #870
Do you think a previous and next button would fix this ?
I think retaining the scroll position would be better

[2021-11-08 14:26] dysbulic commented on #514
I recently saw [a video which was using the slash commands](https://youtu.be/fpRB_eAjUHE?t=55). It looks pretty cool with argument identification and completion. I'd like to bump this ticket if I can…

[2021-11-08 15:26] Udit-takkar commented on #870
the fetching of the  players is also very slow. How can we optimize this?

[2021-11-10 15:44] luxumbra commented on #487
@Udit-takkar if you're going to take a look at #760, this will be relevant for you. 😄

[2021-11-10 17:01] luxumbra commented on #264
@vidvidvid @Udit-takkar @polimyl @tommymaher15 this is another one that needs some attention to get it finished. Another one I started and ran out of talent. Will be great to have someone look at it when other pressing issues have been crossed off the list.

[2021-11-10 18:01] Udit-takkar commented on #487
Ok thanks

[2021-11-11 08:24] davort opened #911 "Enhance the styling of the MegaMenu"
### What would you like to be added?

New styles for the panes that open up when a top-level navigation item is clicked.

Here is a demo in Figma that shows it in action: https://www.figma.com/proto/A6Nh2tyBbRCpglAnm7JQDm/MetaMenu?page-id=86%3A107&node-id=684%3A281&viewport=322%2C48%2C0.15&scaling=min-zoom&starting-point-node-id=684%3A281

Please contact me about any details re: implementing this

[2021-11-11 12:33] marswong opened #912 "Dirty data of player 2221444218"
### What happened?

the player `2221444218` has no `pronouns` field and it break the `/players` page :(

### What did you expect to happen?

the player `2221444218` should have complete required fileds as others

### How can we reproduce the problem (as minimally as possible)?

clone the repo and run `yarn web:dev` with remote server https://api.metagame.wtf/v1/graphql

### Is there anything else

[2021-11-11 12:41] polimyl commented on #912
the `develop` branch of the repo includes the new pronous feature, while the deployed production backend does not include it yet. you need to use a more up-to-date backend that includes the new pronouns feature (either run it yourself or use one of the pr preview ones)

[2021-11-11 14:16] marswong commented on #912
shouldn't we follow the [C4](https://github.com/MetaFam/TheGame/blob/develop/guides/C4.md#25-branches-and-releases)? now the main branch (`develop`) cannot be built.

[2021-11-11 14:21] polimyl commented on #912
the `develop` branch does indeed work. what you are trying to do is use the frontend from the `develop` branch together with the backend from the `master` branch, which doesn't work because the `develop` frontend is expecting some functionality that is in the `devleop` backend but not in the `master` backend. using either both backend and frontend from `develop` or from `master` works without any

[2021-11-11 14:28] polimyl commented on #912
try using https://api-staging.metagame.wtf/v1/graphql instead, i think that deploys from develop (didn't test it though)

[2021-11-11 18:57] peth-yursick opened #913 "MetaOS Full Roadmap"

[2021-11-12 01:00] marswong commented on #912
@polimyl it works. shall we make https://api-staging.metagame.wtf/v1/graphql as the stable synchronized environment of `develop` branch?

[2021-11-12 03:55] marswong commented on #893
@alalonde what if re-order the whole layout: fix the profile section on top, then arrange the rest at bottom. just like this:

![Screen Shot 2021-11-12 at 11 30 34](https://user-images.githubusercontent.com/10388933/141406412-165f3baa-5f59-4a2c-ad27-326e82644e68.png)

ps: the information of profile could be more compact

[2021-11-12 08:13] dysbulic opened #915 "Upgrade to Webpack 5"
### What would you like to be added?

In order to use [Ceramic](//ceramic.nework)'s [Glaze](//developers.ceramic.network/tools/glaze/overview/) library, we need to be running Webpack 5. This was the motivation behind the creation of #792 & #793.

It is not necessary to upgrade Next.js to switch to Webpack 5. All that is needed is the addition of a `future.webpack5`: `true` value to `packages/web/n

[2021-11-12 10:13] dysbulic opened #917 "Migrate existing IDX-based profile lookup to Glaze"
### What would you like to be added?

Currently, [the Hasura action](//github.com/MetaFam/TheGame/blob/3d8a56dafcaff5a466989babe648a5f315693241/packages/backend/src/handlers/actions/idxCache/updateSingle.ts) which is caching the user's profile from [Ceramic](//ceramic.network) is using [IDX](//idx.xyz) to make the query.

This should be transitioned to use [Glaze](//developers.ceramic.network/tool

[2021-11-12 10:53] dysbulic opened #918 "Create a Ceramic Mainnet Node"
### What would you like to be added?

In order to participate in the Ceramic network, we need to establish a mainnet node (along with an associated IPFS node) at a static IP address, and submit a pull request to [Ceramic’s peerlist](//github.com/ceramicnetwork/peerlist).

Ceramic relies on [DAG-JOSE in IPFS](//github.com/ceramicnetwork/js-dag-jose) which currently only has a JavaScript implementat

[2021-11-12 11:58] polimyl commented on #918
i have done some terraform stuff recently, so i could try to translate the aws terraform scripts to google. what's the priority of this?

[2021-11-12 12:37] dysbulic opened #919 "Add additional Glaze schema to hold supplementary profile information"
### What would you like to be added?

Ceramic's DID DataStore has a predefined schema for a [basic profile](//github.com/ceramicstudio/datamodels/tree/main/packages/identity-profile-basic). MyMeta includes some additional fields which will be stored in a separate document. *(The basic profile allows additional fields to be defined within its structure, but it seems cleaner to use a separate docume

[2021-11-12 12:50] dysbulic opened #920 "Save profile information to the Ceramic network"
### What would you like to be added?

When a user edits their profile, changes should be saved to their profile in the Ceramic network, either basic or extended (#919).

The Glaze [DID DataStore](//developers.ceramic.network/tools/glaze/did-datastore/) should be used to access the appropriate documents.

### Why is this needed?

Storing the profile information in Ceramic and using it as a source o

[2021-11-12 12:56] dysbulic opened #921 "Dirty cache on update of profile information in Ceramic"
### What would you like to be added?

The Hasura [`updateSingle` action](//github.com/MetaFam/TheGame/blob/develop/packages/backend/src/handlers/actions/idxCache/updateSingle.ts) should be triggered when profile information is updated in Ceramic (#920).

There are two separate documents used to store the profile information. Both could be retrieved when the cache is invalidated, but it would be mo

[2021-11-12 13:07] dysbulic commented on #918
It will need to be done before we can launch Ceramic-backed profiles.

We can point the development instances to the testnet, so it wouldn't be until the changes are ready to be merged into `master` that we'd have to have it.

I'm guessing two weeks from now assuming no one but me picks up any of the Ceramic migration tickets.

[2021-11-12 23:49] polimyl commented on #918
after having a look at the terraform module and the ceramic docs i think i'll go with just deploying the docker images since the terraform module isn't doing much more. do we need to run ipfs separately or can we use ceramic's in-process ipfs?

[2021-11-13 17:26] #912 closed

[2021-11-13 17:29] #855 closed

[2021-11-13 20:29] dysbulic commented on #918
I run a Ceramic daemon locally, and my instance falls over with a "`cb is not a function`" error every couple days. If we had an out-of-process IPFS node it would be better for data availability.

I'd really like to be running the Go version of the daemon. Supposedly DAG-JOSE is implemented in Go, but they're waiting on IPFS to merge changes to make it possible to deploy it.

[2021-11-15 03:00] #877 closed

[2021-11-15 03:00] tenfinney commented on #877
Cured
![fixed](https://user-images.githubusercontent.com/32429716/141715383-be12d91c-ec05-431b-8ca6-24a2f747d489.png)
.

[2021-11-15 06:31] Udit-takkar commented on #918
is the data stored on the ceramic node persistent ?

[2021-11-17 12:17] peth-yursick opened #925 "Seeds Page"
### What would you like to be added?

We need a page with all the info regarding Seeds:

- [What they are](https://wiki.metagame.wtf/docs/how-does-it-work/xp/)
- [Where you can claim them](https://claim.metagame.wtf/)
- [Where you can buy them](https://balancer.exchange/#/swap/ether/0x30cf203b48edaa42c3b4918e955fed26cd012a3f)
  - Along with the [Patron's path](https://meta-game.notion.site/Patron-

[2021-11-17 14:00] peth-yursick opened #926 "Update the Guild Onboarding page with new copy"
### What would you like to be added?

The start of the [onboarding screen](https://my.metagame.wtf/join/guild) for guilds is fairly empty & we have a whole doc about why guilds should join etc.
I just updated the copy of the post & made it ready to get added onto this screen.
https://www.figma.com/file/n36ggiRBQEGzRUbGxWfkMX/Meta-Game-(Copy)?node-id=4723%3A2188

On a related note, maybe the join p

[2021-11-17 14:03] peth-yursick commented on #926
Marked as good-first-issue but some things (comments if nothing else) require input @alalonde & @davort

[2021-11-17 17:31] peth-yursick commented on #896
Here's the updated version of the copy, still too long but about 10% shorter & now with 70% less cringe!
https://www.figma.com/file/n36ggiRBQEGzRUbGxWfkMX/Meta-Game-(Copy)?node-id=4723%3A2188

[2021-11-17 17:33] #926 closed

[2021-11-17 18:35] perbruno commented on #911
I'm working on it

[2021-11-20 12:15] Udit-takkar commented on #911
@perbruno  should i assign you? If you are currently working on this one?

[2021-11-21 15:36] vidvidvid commented on #925
good idea, that would definitely be useful to have - especially the integrated ability to interact with seeds. i'm ready to work on this after we're done with building the dashboard! @davort wanna team up on that? :3

[2021-11-21 15:55] vidvidvid opened #932 "Fetch google calendar data and rework the dashboard calendar design"
### What would you like to be added?

The dashboard includes a calendar section, which uses the default embeddable google calendar, that looks terrible to say the least.
In order to implement our own design, we would need to fetch the data either with some sort of api or by getting and parsing the ics format of our calendar.

### Option 1: Service account

Google services require to send authentic

[2021-11-21 20:07] davort commented on #925
Yes, this is a great idea, and I'd like to team up with you on this quest @vidvidvid 🤝
Also, this might be a nice quest to take on after we have done the redesign of the new Landing page, which is currently underway.

[2021-11-21 20:32] Udit-takkar commented on #925
Yeah this is very useful page

[2021-11-23 23:27] #20 closed

[2021-11-24 15:11] dysbulic commented on #915
This has been completed by #916.

[2021-11-24 15:11] #915 closed

[2021-11-25 00:51] dysbulic opened #936 "Create A DNS Name for the Ceramic Entry"
There is now a Ceramic instance running in Kubernetes at 34.145.136.199. We would like to be able to address it as `ceramic.metagame.wtf`.

One of the possibilities this opens up in pitching ourselves to other organizations is offering to share and maintain necessary infrastructure, namely Ceramic & [IdentityLink](https://github.com/MetaFam/TheGame/issues/689).

¿Who has access to the DNS registra

[2021-11-25 00:53] META-DREAMER commented on #936
Yea I can setup the DNS records. Let me know how you want it set exactly and I'll get it done.

How will we permission access to using our ceramic node? Will it be public?

[2021-11-25 01:14] dysbulic commented on #936
An A record for `ceramic` resolving to `34.145.136.199`.

The current implementation is the client writes to Ceramic & triggers a Hasura action to dirty the cache entry, so it can't be restricted by IP.

I know that we gave hostnames to 3Box for whitelisting as part of the ELP, so maybe we can limit it that way.

I say we start out public & harden as necessary in response to circumstances. The onl

[2021-11-25 01:19] polimyl commented on #936
should probably also create a record for the ipfs instance ceramic is using (`34.86.126.175`)
something like `ipfs.metagame.wtf` or `ceramic-ipfs.metagame.wtf` if we ever want to have a dedicated ipfs node

[2021-11-25 01:21] dysbulic commented on #936
I vote `ipfs.metagame.wtf` both for conciseness & accuracy. It's just an IPFS daemon.

[2021-11-25 02:36] META-DREAMER commented on #936
Both those records are now setup

[2021-11-25 02:36] #936 closed

[2021-11-25 12:39] perbruno commented on #911
@Udit-takkar , yes, if it's ok

[2021-11-26 08:29] davort opened #938 "Landing Page"
MetaGame is getting a better—some would even say "proper"—landing page!

This will be the new default destination for anyone who visits www.metagame.wtf and isn't logged into MyMeta. (This applies both to non-players as well as to players who just haven't connected their wallet to the website. Once signed in, they will see the new Dashboard instead.)

**Why?**
The new MyMeta Landing page will repl

[2021-11-26 08:41] vidvidvid commented on #938
Hello, I am interested in helping to build this! I'd really like to try my hands on building an interactive scrollable site and I think we could make something pretty great. If any other builder is interested in contributing to this task, I'm sure we can find a way to split work.

[2021-11-26 11:18] Udit-takkar commented on #938
Yeah I am also in

[2021-11-26 12:49] peth-yursick commented on #269
There's this as well #227

[2021-11-26 20:50] #863 closed

[2021-11-27 11:23] vidvidvid commented on #938
An idea for navigation through the landing page: we could make it navigatable with arrow keys, so for → and ↓ would navigate the user to the next slide and ← and ↑ to the previous.

[2021-11-29 15:07] perbruno commented on #911
@davort, I've opened a PR to get some help if the details are ok. I also have some doubts about the colors and the Avatar's background on hover.

[2021-11-29 16:36] tommymaher15 commented on #938
I'd love to help put on this too!

[2021-11-29 20:52] vidvidvid commented on #893
The profile page was re-designed recently, please [see figma](https://www.figma.com/file/M3BpWO13WJVp7YivScL6K9/Dashboard?node-id=1401%3A7911) for reference or run the develop branch of the repository.

[2021-11-29 22:41] dysbulic commented on #918
Yeah. The node's data is saved to an IPFS node associated with the Ceramic instance. It is responsible for persisting the data.

[2021-11-30 18:56] alalonde commented on #824
Just looked into this. Render actually does charge by the database, not database instance. Attempting to create a new database within an existing instance resulted in a "Permission denied" error

[2021-11-30 18:56] #824 closed

[2021-11-30 19:42] peth-yursick commented on #825
Just dug this up while cleaning my tabs & realized I never responded 😂

Makes sense!

Wouldn't they also change position if the panels were mid aligned to their parent links?

Idk, to me it looks weird & made me think its a bug. Good to hear its not & hopefully I'm the only one

[2021-11-30 20:06] davort commented on #825
Hey @peth-yursick, what you're saying definitely makes sense 👍 We'll fix that ASAP!

[2021-11-30 20:09] davort commented on #911
@perbruno – please, do tell about the doubts you mentioned. Do you think something won't work well?

[2021-12-01 15:40] firattale commented on #890
Hi @vidvidvid , I am going to start with that.

[2021-12-01 16:07] perbruno commented on #911
I have this done till now
![image](https://user-images.githubusercontent.com/7690429/144268121-5f9ce4ad-5299-4f5b-8ea4-29689c87261d.png)

but I'm not sure if the tiles colors must be the design system ones and which colors must be used on the avatar background on hover.

Also, I'm working with black on background while on demo it's looks like a light charcoal to make the drop shadow noticeable. Sh

[2021-12-01 20:00] davort commented on #911
Hey @perbruno — great progress so far!

**Re: colors**
You are right, the colors aren't a perfect match to our current design system, which is unfortunate.
Thing is, we simply don't have the capacity to work on both MyMeta and our Design System at this time. MyMeta is an absolute priority, so we're "winging it" for now, but trying to keep the look & feel as coherent as possible.

Not sure if you h

[2021-12-01 21:40] FiyinOdebunmi commented on #925
Awesome! I'd also like to team up with @vidvidvid to jump on the design!!

[2021-12-01 21:51] FiyinOdebunmi commented on #938
Nice! I'd love to jump on this

[2021-12-01 21:57] FiyinOdebunmi commented on #925
Is there a figma link for this project already? if yes, pls add me to it so I can start designing!

[2021-12-02 08:17] vidvidvid commented on #925
Cool stuff. After the landing page is done, we can follow the same pattern that has lately been established by making a thread and talking about all of the technicalities. Excited to work on that!

[2021-12-02 16:29] luxumbra opened #945 "Login fails on MyMeta with Rabby wallet."
### What happened?

Clicked 'Connect' as usual, the Web3 modal appears, I select Metamask (Rabby is the only wallet installed and works well normally), Rabby pops up asking to connect to the site. Click OK and instead of the usual signature request, there's a console message `code: -32602, message: 'from should be same as current address'` and I am not logged in.

https://user-images.githubusercon

[2021-12-03 16:41] #739 closed

[2021-12-03 16:41] #839 closed

[2021-12-04 16:58] peth-yursick opened #947 "[MetaOS] Disable things when wallet not connected"
### What would you like to be added?

I think it would be good to have an option for some things to be unaccessible if the wallet is not connected & the person doesn't have at least 10xp or something.
The first thing that should become private are the forums.
The link to the forum should still remain on the menu but it should be greyed out with "log in first" pop over.

### Why is this needed?

It

[2021-12-05 16:59] tommymaher15 opened #948 "Fetch metagame substack to backend to potentially bypass CORS error on frontend"
### What would you like to be added?

to fetch data from (https://metagame.substack.com/feed) to the backend so it can be pulled into the frontend to avoid restrictive CORS errors.

### Why is this needed?

Currently I'm working on the Dashboard and fetching data from [metagame substack rss  feed](https://metagame.substack.com/feed) To display on the frontend but right now I'm getting cors errors.

[2021-12-05 21:56] polimyl commented on #918
https://github.com/ceramicnetwork/peerlist/pull/58

[2021-12-07 07:38] Udit-takkar commented on #948
I think i found a workaround for this

[2021-12-07 09:00] vidvidvid commented on #925
We have some nice info that could be included in the side here: https://meta-game.notion.site/Gnomeski-Understanding-SourceCred-937cb56b83da4e36a01c21b30aefe063

[2021-12-08 18:47] vidvidvid commented on #269
I implemented iframes for most of the items from the megamenu, check out the PR: https://github.com/MetaFam/TheGame/pull/960

[2021-12-08 19:03] peth-yursick commented on #269
omg omg omg omg

[2021-12-08 19:15] peth-yursick commented on #269
lmk when merged, I can't wait to test & finally close this issue

[2021-12-09 09:32] firattale opened #962 "Several UI and Developer Experience improvements"
### What would you like to be added?

1-) Add a Custom 404 Page #1013
2-) Scrolling in the Homepage creates a white blank at top and at bottom. We need to prevent that or change the color to have better color consistency. https://my.metagame.wtf/players #1104
3-) It is good to have path aliases in the import of other components. That would save time to to copy other component's imports or changing

[2021-12-09 09:44] vidvidvid commented on #962
Nice suggestions. May I ask what is the url of the 'home page' you're referring to?

[2021-12-09 09:45] firattale commented on #962
hi @vidvidvid , it is happening here https://my.metagame.wtf/players

[2021-12-09 09:55] vidvidvid commented on #962
ohh, but this is just standard website design, i believe. it's happening on pretty much every website on mac/chrome. we could look into how to change that, but i don't think it needs fixing. just check github, for example, same thing happens here:
![white](https://user-images.githubusercontent.com/35112939/145374357-c4c49030-f577-42fb-a328-558d657eac54.gif)

[2021-12-09 10:02] firattale commented on #962
Yes @vidvidvid , that's true, but it is white because in light mode, when you switch to dark mode, that area becomes dark and consistent with theme UI. So we can change it to Metagame purple color.

[2021-12-09 11:43] vidvidvid commented on #962
ahhh, true!

[2021-12-09 11:44] vidvidvid commented on #962
the file for setting the theme can be found in `packages/design-system/src/theme/index.ts`

[2021-12-09 17:26] #948 closed

[2021-12-11 16:00] Udit-takkar commented on #947
You Mean this https://my.metagame.wtf/players . But What do you mean by link would still remain on menu but greyed out?
<img width="1014" alt="Screenshot 2021-12-11 at 9 29 52 PM" src="https://user-images.githubusercontent.com/53316345/145683131-e7387ba4-51e2-4a67-bc28-a3b6829b6b32.png">

[2021-12-11 16:04] Udit-takkar commented on #327
okay so the price of seed in form of graph and numbers has been added to the dashboard page and I'll take this issue if you tell me what things that you have mentioned above should be implemented.

[2021-12-11 20:02] vidvidvid commented on #327
Maybe all of that could be instead implemented in the upcoming [seeds page](https://github.com/MetaFam/TheGame/issues/925)?

[2021-12-11 20:21] peth-yursick opened #967 "[MetaOS] Changing newsfeed from read/listen/watch to core/ecosystem/meta"
### What would you like to be added?

Instead of filtering the newsfeed into read/listen/watch, a more meaningful way to split it would be into something like core/ecosystem/meta or inside/around/outside.

Core:
This feed would be about what's going on inside the core of MetaGame, currently inside MetaFam.
- Core would be the ValueFeed, a feed of all the (above ? to not make it spam, eventually us

[2021-12-11 20:24] peth-yursick commented on #947
Not just greyed out but not-clickable & the link not visible at the bottom of the page on hover.

[2021-12-11 20:47] peth-yursick commented on #327
Its also visible on the dashboard but I still think the ticker is a good idea.
That way it would be following you around, but the motivation for the ticker line is far beyond the price of Seeds, your XP or even things like "community wellbeing"..
The idea is to have it ever present for displaying any urgent announcement & most important info, things like in-game tips & calls to action but also act

[2021-12-11 21:01] peth-yursick commented on #642
Oh man, I wish... 😂
What are your thoughts on this map vs the new one?
![image](https://user-images.githubusercontent.com/55857222/145691423-007784f3-5770-42a1-bd95-e3ee6898b84f.png)

The main differences:
- The old one had the green ring that was indicating whether the project is upcoming, progressing optimally or struggling.
- The new one maps domains/internal guilds & roles (still has 🚨 for wha

[2021-12-12 09:01] vidvidvid commented on #932
Update: after successfully pulling the data into the app with the same principle as https://github.com/MetaFam/TheGame/pull/959, I spent another unsuccessful day of trying to figure out the clustefuck of ical data format. It's beyond confusing and I will never do any work with calendars, dates or any kind of stuff that is remotely related to it until people unify under the flag of the universal ti

[2021-12-12 09:03] vidvidvid commented on #932
If anyone is willing to continue my legacy i uploaded the stuff I was trying out here: https://github.com/MetaFam/TheGame/tree/feature/ical-mayhem

[2021-12-12 20:40] peth-yursick commented on #911
Any progress on this @perbruno?

[2021-12-13 07:09] vidvidvid commented on #896
Heyo, I'll implement this - I need to take a break from calendars and timezones. 😅

[2021-12-13 08:18] firattale commented on #891
can you please assign this to me @vidvidvid ?

[2021-12-13 09:39] vidvidvid commented on #891
You also might wanna align with @dysbulic on this, since I think he's also working on data that's related to this particular dialog.

[2021-12-13 12:50] peth-yursick opened #972 "[GuildBot] Allow admins to create quests through the bot"
### What would you like to be added?

This is feature request for the bot that is being used to create guild pages based on discord servers by @alalonde

The feature I'd want added:
- Allow guild admins & moderators to create quests through their discords

There would essentially need to be a command, the bot would check if the user has the required role, then bridge the request they have into [Qu

[2021-12-13 13:49] firattale commented on #547
hi @peth-yursick and @dan13ram , is there any progress here, maybe I could help?

[2021-12-13 21:46] peth-yursick commented on #896
One one hand, I'd leave this to newcomers because it's a good first issue & we've received feedback from newcomers that there aren't enough meaningful good first issues.
On the other hand, its been ready to implement for almost a month now 😅

[2021-12-13 21:47] peth-yursick commented on #896
Its not urgent until @alalonde fixes the onboarding bot but its fairly high impact

[2021-12-13 21:51] vidvidvid commented on #896
Good point, I agree. I can leave it for now and if it becomes urgent (or whenever you think it's been enough of waiting), just ping me and i'll jump on it, provided the design is rdy.

[2021-12-14 08:38] davort commented on #967
I see the value in bringing in a richer set of content into this section.

At the same time, I would advise against rushed judgements on "what is more meaningful" in terms of the UI design itself. That we can't possibly know before we have designed and tested with actual users.

Displaying content can be handled in many ways. We could allow for filtering the feed by content type, but then also by

[2021-12-14 18:12] mquellhorst commented on #972
I've been looking into this but for now I don't really see a way to add a complete description when adding quests with the bot. I was actually leaning onto adding through the site and completion through discord.

Maybe someone has an idea about adding descriptions through the bot

[2021-12-14 18:15] mquellhorst commented on #962
Could you also look into the flickering effect the animations have in the profiles in this PR?

https://user-images.githubusercontent.com/25387592/146056177-6e5cf2b4-d0ed-4394-ba46-b79d25c5ff4a.mov

[2021-12-14 20:47] polimyl commented on #918
mainnet peerlist pr has been merged
our ceramic node is now reachable on ceramic.metagame.wtf:7007

[2021-12-14 20:47] #918 closed

[2021-12-14 22:33] firattale commented on #962
@mquellhorst this might happen because of my recent PR, but haven't seen anything like that in my profile, I will check that.

[2021-12-15 10:11] peth-yursick commented on #972
Yeah I think this is more long term..
First, we'd need to make it possible to complete the quests & then either close #642 or implement filtering like on MyMeta so we can start migrating quests from Notion. Otherwise, allowing people to create quests through discord will be of no use..
![image](https://user-images.githubusercontent.com/55857222/146167161-600ec5db-938f-49e2-808f-14ea6af939f4.png)

[2021-12-15 10:32] firattale commented on #962
@mquellhorst I check both on my local and live and it seems fine, where did this happen like browser etc? is it possible to reproduce it?

[2021-12-15 14:56] mquellhorst opened #977 "Dashboard layout reset"
When changing the layout you can also reset the layout.
Resetting this layout resolves in the boxes becoming very small and in one column.

I'm currently on Windows using Firefox

[2021-12-15 20:36] firattale commented on #977
Hi @mquellhorst, I have checked that page on my Macbook with Safari, Chrome, Edge, Firefox, Brave browsers, but couldn't reproduce it :(
I don't know if it is Windows-related or not, does it happen all the time or rarely? does anyone face the same issue? Is your Firefox updated to the latest?

[2021-12-19 22:36] #311 closed

[2021-12-20 14:31] #269 closed

[2021-12-20 19:00] vidvidvid commented on #977
True, it's happening for me as well. All of the profile hero items are flashing and availability is not even displayed. Happens both locally and in production. Probably the fields are constantly being rerendered for some reason.

[2021-12-20 19:03] vidvidvid opened #984 "Profile hero fields are flashing"
### What happened?

All of the profile hero items are flashing and availability is not even displayed. Happens both locally and in production. Probably the fields are constantly being rerendered for some reason.

### What did you expect to happen?

The profile hero data should not be flashing :P

### How can we reproduce the problem (as minimally as possible)?

go to http://localhost:3000/player/v

[2021-12-20 19:03] vidvidvid commented on #984
@firattale maybe you could look into it?

[2021-12-20 19:30] vidvidvid commented on #984
Yup, did a little bit of logging and it seems like the component is rerendering like there's no tomorrow. Some vicious loop is going on.

[2021-12-20 20:18] vidvidvid commented on #984
Sorry @firattale  😅 I went ahead and fixed the `useAnimation` hook that you made and implemented it in other profile sections. I just compared the old and new values and didn't retrigger the animation if they were the same. Somehow the `depends` value from useEffect was always different. Probably because
1. the `depends` variable was set
2. it triggered the `useAnimation`
3. the animation triggere

[2021-12-20 20:23] vidvidvid commented on #269
@peth-yursick _merged_

[2021-12-20 20:24] vidvidvid commented on #269
just to develop branch, though

[2021-12-21 05:58] davort opened #986 "Redesign the 404 page"
### What would you like to be added?

Currently, the 404 page leaves a lot to be desired.
<img width="1440" alt="404pageToday" src="https://user-images.githubusercontent.com/1573304/146878777-d5fff5df-6f5b-43bc-ae21-4078d9dcf910.png">

Design a better, more informative 404 error page, which will give visitors options for moving forward from this "dead-end." And all that in a way—visually and verba

[2021-12-21 08:35] vidvidvid commented on #890
was fixed!

[2021-12-21 08:35] #890 closed

[2021-12-22 15:38] dysbulic opened #988 "Dashboard should only be visible when authenticated"
### What would you like to be added?

When a user accesses `/dashboard` and is not logged in, they should be forwarded to `/players`.

### Why is this needed?

The dashboard is full of personalized content, so if there is no one to personalize to the page doesn't make sense.

[2021-12-22 15:43] dysbulic opened #989 "Check if packages/codegen can be removed"
### What would you like to be added?

When `yarn generate` runs it creates a directory at `packages/codegen/`. I'm pretty sure this is superfluous and can be removed.

### Why is this needed?

It's cruft.

[2021-12-24 17:59] #911 closed

[2021-12-24 21:24] #984 closed

[2021-12-26 17:53] Udit-takkar opened #990 "Add Fuzzy search functionality"
### What would you like to be added?

We currently use simple where clause with _ILIKE. But the performance could be improved drastically using GIN or GIST index. More info here https://hasura.io/docs/latest/graphql/core/databases/postgres/schema/custom-functions.html#example-fuzzy-match-search-functions

### Why is this needed?

To improve the speed and quality of search results.

[2021-12-26 18:07] Udit-takkar opened #991 "Players Profile Loading is very slow"
### What happened?

The lazy loading of player profile cards on https://my.metagame.wtf/players is very very slow. As you can see time ~40s for some graphQL requests. What could be the reason for this?

<img width="678" alt="Screenshot 2021-12-26 at 11 20 23 PM" src="https://user-images.githubusercontent.com/53316345/147416403-fe1b1913-a2e5-409e-b185-eea1ccb34207.png">

### What did you expect to

[2021-12-27 04:43] dysbulic commented on #921
Currently when the cache reloads, it loads the contents of three streams: the basic profile, the extended profile, & the account attestations. Theoretically, when the cache is dirtied, the specific keys affected could be passed to the caching system & only the needed streams could be loaded.

This complexity is left to some future developer and for the time being we'll simply load all three.

[2021-12-27 04:53] dysbulic opened #993 "Store player skills in Ceramic"
Skills were initially slated to be part of the extended profile (#919), but it would be significantly more flexible if they occupy a stream of their own.

Skills should be objects with a `title`, `description`, and `category`. When presented to the user, they are grouped by `category`.

Skills should be stored as a sorted list representing the priority of the skill to the user.

When the player is

[2021-12-27 05:15] dysbulic opened #994 "Update player profile display after editing"
### What would you like to be added?

When a player edits their profile, the system makes a call which dirties the Hasura cache for that user. The caching process [downloads the streams](https://github.com/MetaFam/TheGame/issues/921#issuecomment-1001332960) and updates the cache.

This introduces a delay between when a user hits "`Save`" on the form and when their profile page updates.

Next.js ca

[2021-12-27 05:37] dysbulic opened #997 "Cache correctly-sourced DAOHaus membership information"
### What would you like to be added?

Currently, DAOHaus memberships are associated with the player record by way of a remote schema.

This means that every time a player record is loaded, [The Graph](//thegraph.com) is queried three times for the Polygon, xDAI, and mainnet DAO memberships.

This is not only time consuming, as of a release several months ago, DAOHaus is no longer putting the name

[2021-12-27 05:39] dysbulic commented on #991
I'm pretty sure the DAOHaus memberships are looked up each time the player description is access. Adding a cache would likely be useful. I created an issue at #997.

[2021-12-27 05:40] dysbulic commented on #991
The pSEED lookup is similarly from The Graph each time a player record is retrieved.

[2021-12-27 11:06] davort commented on #986
@firattale I sent you an invite to the Figma file which contains the final design, with variants for all supported breakpoints. You should be able to resize the responsive artboard at the bottom of the file, and see it behave like in this video demo:

https://user-images.githubusercontent.com/1573304/147465780-148d418c-ef32-4aea-afd9-265095e4a794.mp4

Parts of this design that should hopefully fin

[2021-12-27 11:09] firattale commented on #986
thankd @davort , I will check that!

[2021-12-27 19:35] dysbulic opened #998 "Running the database seeding program kills the Ceramic node"
### What happened?

Running `yarn docker:clean && docker-compose up --build && yarn hasura:seed-local-db` inserts a couple hundred users into the database. When a user is inserted it triggers pulling their profile from Ceramic to update the cache.

Requests are rate-limited to ten concurrently by [`bottleneck`](https://github.com/SGrondin/bottleneck#readme).

About 50% of the way through the profi

[2021-12-27 19:39] dysbulic opened #999 "Replace the JS-IPFS node for Ceramic with Go-IPFS"
### What would you like to be added?

We need to migrate from the JavaScript IPFS node implementation supporting our Ceramic node to the Go version, both for performance reasons and to mitigate a memory leak (#998).

### Why is this needed?

The JS version is crashing.

[2021-12-27 19:40] polimyl commented on #998
the nodes are currently getting quite little resources because of cost concerns. this should have been enough for our current usage but bombarding it for a while wasnt considerer in this. could be easily solved by just giving it more ressources

[2021-12-27 19:41] polimyl commented on #999
waiting for docker images of the go version to be released

[2021-12-27 19:43] dysbulic commented on #998
I'm going to ratchet down the rate limiting and see what effect that has.

I've not dug into the logs yet to get a sense of why it's dying. I was just going off the fact that whenever someone complains of their server dying on the Ceramic Discord, they talk about that leak.

[2021-12-27 19:50] dysbulic commented on #998
¿Are we able to configure it to ramp up when the load increases and then ramp back down?

¿Is it operating under significant limits currently?

[2021-12-28 18:38] dysbulic opened #1000 "Add ENS Support to MyMeta"
### What would you like to be added?

Currently we display an ethereum address as part of a user's MyMeta profile. It would be nice to support ENS addresses as well since many of the prominent DAO participants have them.

We could set up a system for verification of ownership and whatnot, but the only side-effect of putting someone else's ENS address as your own is transfers intended for you go to

[2021-12-28 18:44] davort commented on #986
@firattale - when do you think you might be able to start building the design?

[2021-12-29 09:11] firattale commented on #986
Hi @davort , I was busy this week, I believe I can start after 31st.

[2021-12-29 12:04] Udit-takkar commented on #991
@dysbulic  ok so should I close this issue then ?

[2021-12-29 15:15] #310 closed

[2021-12-29 15:26] mquellhorst commented on #555
This is part of SourceCred.
Currently people can update their ETH address with the bot.
Closing this one

[2021-12-29 15:26] #555 closed

[2021-12-29 15:27] mquellhorst commented on #516
Bot can update the eth address, closing this

[2021-12-29 15:27] #516 closed

[2021-12-29 15:29] mquellhorst commented on #27
See PR #943

[2021-12-29 15:29] #27 closed

[2021-12-29 15:29] #337 closed

[2021-12-29 15:29] #691 closed

[2021-12-29 15:31] mquellhorst commented on #894
@Udit-takkar could you report the status on this issue?

[2021-12-29 15:31] #920 closed

[2021-12-29 15:34] #848 closed

[2021-12-29 15:36] #917 closed

[2021-12-29 15:40] mquellhorst commented on #443
Currently there is being worked on storing a potential background image in Ceramic.
Where and how the background is being displayed etc is still up for discussion?

[2021-12-29 15:41] #386 closed

[2021-12-29 15:42] mquellhorst commented on #977
Will look further, if fixed I'll close it

[2021-12-29 15:46] dysbulic opened #1001 "Allow updating the ETH address in MyMeta"
### What would you like to be added?

Currently the ethereum address associated with a MyMeta account is set when the account is initially created. Additional ETH addresses can be added through the Dicord bot to SourceCred, but they don't affect what is displayed in MyMeta.

There should be a mechanism for updating the MyMeta ETH address.

### Why is this needed?

People change their ETH addresses

[2021-12-29 15:58] alalonde commented on #997
@dysbulic Should I work on this based off of the glaze PR branch?

[2021-12-29 16:04] alalonde commented on #897
See #772 For the original PR that this relates to

[2021-12-29 16:06] alalonde commented on #771
Keeping this open for now as a placeholder for these items, documented in the #772 PR:

TODO still:

-  Do we also want to populate / sync guild_player with DAO memberships? This would make it easier to abstract away the nature of the membership (discord server vs DAO) and just dynamically fetch the relevant metadata on-demand
- Add a data migration to link known DAO addresses with their correspon

[2021-12-29 16:48] Udit-takkar commented on #894
@mquellhorst  I mentioned the permissions that have to be updated if the discord bot and he told me that he would have to make some changes on the discord bot code.

[2021-12-30 16:31] Udit-takkar opened #1002 "Adding Global Search Functionality"
### What would you like to be added?

Listing Everything that has to be done here and also discussing the implementation.

Design :- https://www.figma.com/file/M3BpWO13WJVp7YivScL6K9/Dashboard?node-id=86%3A107
Search bar would be present on the navbar.

1)  **Auto Completion Search Results** :- Whenever User types in the search bar he would be shown possible search results from tables players, pat

[2021-12-30 18:01] #991 closed

[2021-12-31 09:48] davort opened #1003 "MegaMenu - Styling enhancements"
After a few iterations, the MetaMenu is almost there when it comes to its look & feel 🙌

Just a few more smaller changes, and it will be perfect!

Please use the below image for visual reference:
![megamenu-finetune.png](https://images.zenhubusercontent.com/603d32d6edb5330e5cd0dd54/16a6138f-ae14-42d5-b415-4e224aae90c3)

To do:

1. Make the logo vertically centered (relative to the header).
2. Set

[2022-01-01 20:03] peth-yursick commented on #264
Need any help with this @dan13ram?

[2022-01-01 21:12] LarrySimiyu commented on #1003
@davort I can take a look at this :)

[2022-01-03 06:21] davort commented on #1003
Hi @LarrySimiyu - that's great! Let me know if you'd need anything else re: design before you begin 😊

[2022-01-04 00:48] dan13ram commented on #264
@peth-yursick Thanks for following up. I did have some trouble getting into this issue, but finally I've made some progress.
Do checkout the latest at #1012

This is still very much a WIP. But I think I've laid down the foundations to slowly start adding embedding new types of sections to users' profiles.

[2022-01-04 13:45] peth-yursick opened #1015 "Analytics on wiki don't work through iframes"
### What happened?

As noted by @vidvidvid, analytics on the wiki don't work in the iframe embedded version accessed through [MetaOS](https://my.metagame.wtf/)
Don't have a clue how to fix, just thought we should not forget about it.
Maybe @manolingam knows?

### What did you expect to happen?

The majority of traffic to the wiki will be through the website so it would be great to get it to work.

[2022-01-04 19:00] Udit-takkar commented on #1002
Update: Now trying AsyncSelect component from react-select

[2022-01-05 08:43] dysbulic opened #1019 "Enable HTTPS on ceramic.metagame.wtf"
### What would you like to be added?

To be able to connect to the MetaGame Ceramic endpoint via HTTPS.

The HTTPS version could be served on the 443, the standard HTTPS port.

### Why is this needed?

When attempting to connect from a page that was served via HTTPS, the browser will refuse to connect to our Ceramic endpoint with the error: `Mixed Content: The page at … was loaded over HTTPS, but

[2022-01-05 11:59] Udit-takkar commented on #1002
Update

https://user-images.githubusercontent.com/53316345/148214203-0e90d2f6-ef39-4c04-9eea-aedf4765be46.mov

:

[2022-01-05 12:24] firattale opened #1020 "View profile button on mobile redirects to wrong url."
### What happened?

I realized that clicking view profile button redirects to shortened version of the wallet address, which has couple of dots and it redirects to 404 page.

### What did you expect to happen?

It should redirect to my profile page with correct address.

### How can we reproduce the problem (as minimally as possible)?

Open Metagame in your mobile device or mobile mode on your des

[2022-01-05 13:33] dysbulic commented on #1020
This should be fixed in the `feat/glaze-lookup` branch which adds a `getURLFor(player)` function to generate the player URL.

[2022-01-05 13:34] dysbulic commented on #997
I just saw this comment. Yes. We rebased yesterday and it would be nice not to have to do it again.

[2022-01-05 13:43] dan13ram commented on #264
@luxumbra

Do you have the code for this awesome demo ? If so, could you share it with me ?

[2022-01-05 14:27] firattale commented on #1020
I think this is for users like me who doesnt have any username. it was occuring because of this code snippet.
`export const formatAddress = (address = ''): string =>
  `${address.slice(0, 6)}...${address.slice(-4)}`;
`
@dysbulic

[2022-01-05 14:56] dan13ram commented on #547
Hey @firattale please join the discussions on discord and we can see where you can help. Currently though I'm working on the contracfs :)

[2022-01-05 15:07] mquellhorst commented on #792
React has been updated.
NextJS can be updated to version 12 but needs testing.

[2022-01-05 15:15] dan13ram commented on #381
`packages/backend/src/handlers/actions/quests/createQuest/permissions.ts`

[2022-01-05 15:17] dan13ram opened #1021 "Move pSEED balances from Mainnet to Polygon + Cache"
### What would you like to be added?

Update the subgraph to use polygon network.

### Why is this needed?

We have migrated from mainnet balancer pool to polygon, so we need this.

[2022-01-05 15:18] dan13ram commented on #381
Added a new issue for Polygon pSEED https://github.com/MetaFam/TheGame/issues/1021

[2022-01-05 15:22] mquellhorst commented on #997
Following issue is part of this #646

[2022-01-05 15:22] #687 closed

[2022-01-05 15:26] #227 closed

[2022-01-05 15:34] #705 closed

[2022-01-05 15:34] #378 closed

[2022-01-05 15:40] #356 closed

[2022-01-05 15:43] dysbulic opened #1022 "Disconnect user on wallet account change"
### What would you like to be added?

When a user changes their account in their web3 wallet, they should be disconnected from the site.

### Why is this needed?

People change their connected account in MetaMask they remain connected to the site with their old address. Web3Modal caches the connection information so the address will persist even across page reloads.

When a user changes the connec

[2022-01-05 15:49] #464 closed

[2022-01-05 15:50] #465 closed

[2022-01-05 15:56] #505 closed

[2022-01-05 15:57] #551 closed

[2022-01-05 15:57] peth-yursick commented on #501
Merged to MetaOS Full Roadmap #913

[2022-01-05 15:57] #501 closed

[2022-01-05 15:57] peth-yursick commented on #505
Merged to MetaOS Full Roadmap #913

[2022-01-05 15:57] peth-yursick commented on #507
Merged to MetaOS Full Roadmap #913

[2022-01-05 15:57] #507 closed

[2022-01-05 15:58] #506 closed

[2022-01-05 16:00] mquellhorst commented on #635
This could help prioritizing quests

[2022-01-05 16:13] #725 closed

[2022-01-05 17:07] peth-yursick commented on #896
Looks like nobody else is jumping on it & its kiiind of urgent (I want to continue onboarding guilds but feels lame to send them the notion page first & then this out of date page second when it could be 1 link with all info).
The copy is finished & I think we can put it on as a text page. We should have a properly design landing for guilds at some point but I think this is enough for now 🤷‍♂️

[2022-01-05 19:57] vidvidvid opened #1023 "[Quests] Completions via discord props channel"
### What would you like to be added?

Some quests are completed simply by doing them but others need to be accounted for through #did-a-thing or by adding initiatives. We need to figure out what this looks like. For smaller quests, the creator of the quest could click "complete quest" & there could be a bot @player who completed the quest in a hidden #give-props channel where XP Fairies then verif

[2022-01-05 20:00] vidvidvid opened #1024 "[Quests] Improved filtering + Roles"
### What would you like to be added?

**Quest filtering by roles/domains**
In order to do this, we need to add another field to quests that contains [all of the possible roles](https://forum.metagame.wtf/t/the-4-domains-of-metagame-an-organizational-structure-v0-2/687).
For now I think we could add just some basic ones that cover most areas:
- Innkeeping
- Writing
- Designing
- Building
- Headhunt

[2022-01-05 20:04] vidvidvid opened #1025 "[Quests] Add completed quests to MyMeta profile"
### What would you like to be added?

MyMeta profile should have a section which displays a list of all accepted quests.
A particular quest list item should include:
- title that links to the quest UI
- link to the proof of completion

### Todo

- [ ] make whole quest cards clickable (or just their headers)
- [x] figure out populating the `quest_completions` results with quest data
- [x] link the

[2022-01-06 10:52] peth-yursick commented on #988
Not really full of personalized info, only number of Seeds & XP are personal.
I think at least the newsfeed & calendar should remain public as they were so far.
I'd say the whole thing should remain public so the newcomers see it & it entices them to join.

"Become a player to get personalized info & be able to customize the dashboard" 🤷‍♂️

[2022-01-06 11:04] vidvidvid commented on #988
I agree with @peth-yursick - every section that holds personal info could just have a banner saying 'log in to display data' or we could simply hide it until the user logs in. @firattale what do you think, could you make some kind of banners or hide the personal sections instead of redirecting the person if they aren't logged in?

[2022-01-06 11:10] peth-yursick commented on #967
I don't think its a rushed judgement, it came after thinking about it for a long time, it came from 2 people independently (PVF came up with pretty much the exact same idea for MetaNews) & confirmed by everyone asked that it would be a great way to have visibility on what's happening at all levels - inside, around & outside MG rather than just inside MG.

I also don't think these 3 categories shou

[2022-01-06 12:27] firattale commented on #988
Yes, it can be done. Instead of the Seeds and XP, we can just put the connect wallet button over there. @peth-yursick and @vidvidvid but how can a user reach the dashboard instead of writing it to the browser manually? Right now we don't have any button afaik or anything to redirect users to the dashboard. @davort could you please share your thoughts design-wise on where to put the dashboard butto

[2022-01-06 16:37] luxumbra commented on #264
It was in a feature branch when i handed the issue over to @mquellhorst. Here you go ser [feature/264-embed-url-section](https://github.com/MetaFam/TheGame/blob/feature/264-embed-url-section/packages/web/components/EmbeddedUrl.tsx). To make finding stuff easier, I tend to use the issue number as the first part of a branch name and as it was never merged, it didn't get deleted. 🙌🏻

[2022-01-06 17:10] luxumbra commented on #871
I think it should be limited to current players & anyone who reached a rank. if you're ranked but dont have the player role anymore, you should drop off the leaderboard when you drop out of the ranked roles.

[2022-01-06 20:55] alalonde opened #1026 "Show selected role in profile"
### What would you like to be added?

We have added role selection to the setup profile flow, but it's currently not shown anywhere.

### Why is this needed?

So folks have a visual of their own profile details

[2022-01-06 20:56] alalonde commented on #1026
@davort Any recommendations on where we should show this?

[2022-01-06 22:12] alalonde opened #1027 "Existing guilds are not found during the Discord OAuth callback"
### What happened?

Screensharing with Magenta of Bloom Network, I saw a server error after she clicked "Join Guild" and went through the discord OAuth flow.

[code]

Existing guilds should be found and updated by their Discord ID.

### What did you expect to happen?

Guild should have been found

[2022-01-06 22:15] alalonde commented on #1027
Also, during the call we agreed to make the help text for the role selection fields clearer, as well as not showing the "@everyone" role in the guild membership component.

[2022-01-07 08:19] dan13ram commented on #264
Thank you @luxumbra 🙏🏽

[2022-01-07 10:27] peth-yursick commented on #988
Connecting wallet still won't do much if they aren't a player. Though they may have Seeds without being a player, so in the end the only part that doesn't work is XP..
Instead of just "connect wallet", the XP part should maybe say something like "connect wallet or become a player". Or just "connect wallet" but if the XP count is 0, then display "you need to join MetaGame to start earning XP"? What

[2022-01-07 13:06] davort commented on #988
Hey guys!
There have been some great ideas suggested here already. I love the thought about keeping the Dashboard accessible to non-players, and even retaining all elements there, as a way of getting newcomers interested in MetaGame!

IMHO, this is a great opportunity to turn the Dashboard into a discovery quest, a learning experience!
Imagine that we had a "banner" at the top of the Dash for non-

[2022-01-07 13:10] davort commented on #988
@peth-yursick

Actually, clicking the logo would take you to "home", which to a connected user is the Dashboard. As for non-connected, this might be the Landing page, instead. I'd suggest keeping the nav bar clean, and instead add a link to the Dashboard somewhere on the Landing page, should they want to explore it.

Finally, let's not forget that we still don't have a footer, at all! And the foot

[2022-01-07 13:39] davort commented on #1026
@alalonde Can we do something like this, for now? On player's own profile, stack it on top of the "Verify with BrightID" button
![PlayerRole-tinified](https://user-images.githubusercontent.com/1573304/148551968-e9085d38-147d-4411-995d-d8a3edaca974.png).

[2022-01-07 13:44] davort commented on #967
Makes sense, @peth-yursick.
Seems like you and PVF have done at least _some_ research, unlike myself, so it makes sense that we do as you propose 👍Would you need some designs for that, or can we do the "switcheroo" immediately?

[2022-01-07 21:46] peth-yursick commented on #988
Love the tour idea, been thinking the same after things started coming together on the website. Would love to have something like Clippy except a cute little octo, to show you around & give you tips.
![image](https://user-images.githubusercontent.com/55857222/148611553-0c7fee4b-faf8-4551-bf0d-b0edd7eca24c.png)

Just realized this for the first time a few days ago lol.
First I thought it might be a

[2022-01-07 22:12] peth-yursick commented on #967
I think we can "just" do the switcheroo, @vidvidvid liked the idea & wanted to do it
He was also saying it might be a good idea to keep the current filters as well in some way. I'd personally get rid of them as they kind of complicate things + some things include text & videos. Also, for example, we publish the podcast both as a podcast which would go under listen, but we also publish it on youtub

[2022-01-07 22:50] vidvidvid commented on #967
I think the duplicates of video and podcasts can be fixed if all podcasts that get uploaded to youtube are added on a specific playlist and then all the videos from this playlist are not displayed in the video section.

[2022-01-08 06:54] dan13ram opened #1030 "Redirect to 404 when player doesn't exist"
Working upon #1013
We should updating wherever we display 404 errors with a redirect to this page.
For example, when a player is not found in `/player/<username>`
https://test.metagame.wtf/player/thisplayerdoesnotexist

[2022-01-08 06:54] #986 closed

[2022-01-08 15:34] firattale commented on #1030
I can take this since it is related to 404 page.

[2022-01-09 21:48] #893 closed

[2022-01-09 21:51] #1027 closed

[2022-01-10 11:31] firattale commented on #1030
@dan13ram this PR https://github.com/MetaFam/TheGame/pull/1033 closes this issue, I also realized we had same problem for guild page and quest completed page too.

[2022-01-11 06:35] davort commented on #967
Sounds like a reasonably simple workaround until we get it sorted on our end (with aforementioned tagging system).

[2022-01-11 06:40] davort commented on #988
@peth-yursick

Can you explain—or make a sketch of—how would these "little square shortcuts" look and work?
Re: footer → let's get that thing going! I'll start a separate thread for that.

[2022-01-11 06:44] davort commented on #1002
Great work so far @Udit-takkar 🙌
Just to ask/confirm - will it be possible to search Players by their ETH address, too?
Otherwise, is there anything blocking you from moving forward with this? Please, let me know!

[2022-01-11 11:35] peth-yursick commented on #988
Something like this
![image](https://user-images.githubusercontent.com/55857222/148935635-68fd23be-7ce5-4e71-a3b2-3b93f8a9f4e7.png)
Could either be a single line with all the most important apps or a bigger multi-line section split into those "community", "learn", "contribute" & "invest" sections where each has a small shortcut to everything that's in that section.

[2022-01-11 14:09] dan13ram opened #1035 "Add button to reset profile layout to default"
### What would you like to be added?

Improve upon the profile layout introduced in #1012 and allow players to reset their layout to default with a button click.

### Why is this needed?

Quote from @vidvidvid

[2022-01-11 14:12] dan13ram opened #1036 "Implement dynamic resizing for profile layout sections"
### What would you like to be added?

Dynamically measure the size of profile sections and update the `layouts` of `react-grid-layouts`
Improves upon #1012

### Why is this needed?

`react-grid-layouts` by default only supports fixed widths and heights for sections, and consequently default profiles of many players has a lot of empty spaces.

How it is atm:
<img width="1792" alt="Screenshot 2022-0

[2022-01-11 17:16] dysbulic opened #1037 "/dashboard is broken in develop"
### What happened?

If you load, [test.metagame.wtf/dashboard](//test.metagame.wtf/dashboard) currently, it dies with a 500 server error.

### What did you expect to happen?

The page to load correctly.

### How can we reproduce the problem (as minimally as possible)?

Visit [test.metagame.wtf/dashboard](//test.metagame.wtf/dashboard).

### Is there anything else we need to know?

I did some traci

[2022-01-11 17:37] dysbulic commented on #1037
The issue was `react-dom` was still v16 in `design-system`. This is fixed in #943.

[2022-01-12 08:03] dysbulic opened #1038 "Convert the Discord bot to ESM using discordx"
### What would you like to be added?

The library currently used as the basis for the Discord bot, [`@typeit/discord`](https://github.com/OwenCalvin/discord.ts), has been abandoned and is no longer maintained.

The recommended alternative is [`discordx`](https://discord-ts.js.org).

### Why is this needed?

`node-fetch` can no longer be imported using a `require` function as of v3. It is solely su

[2022-01-12 08:22] vidvidvid commented on #1038
related #953

[2022-01-12 15:28] mquellhorst commented on #898
Guilds can (theoratically) edit  there information but the form is not links so we need an edit button for the guilds :)

[2022-01-12 15:32] #891 closed

[2022-01-12 15:32] mquellhorst commented on #891
Fixed by #943

[2022-01-12 15:36] mquellhorst commented on #889
Take into consideration that in the future we want users to have multiple addresses

[2022-01-12 15:44] mquellhorst commented on #871
Behind the total number of players we can add the nr of active players in brackets for example

[2022-01-12 15:47] mquellhorst commented on #870
The slow load is refered here: #997

[2022-01-12 15:48] #856 closed

[2022-01-12 15:51] #849 closed

[2022-01-12 15:53] #840 closed

[2022-01-12 15:56] mquellhorst commented on #838
Connected to #646 & #997

[2022-01-12 15:58] #832 closed

[2022-01-12 15:59] #793 closed

[2022-01-12 15:59] #768 closed

[2022-01-12 15:59] #767 closed

[2022-01-13 18:49] alalonde opened #1041 "Embedded-URL blocks don't render"
### What happened?

I tried adding a block on test.metagame.wtf. It seems that it is trying to pre-render the typed URL in the little window but it doesn't load. In the console I see e.g.

[code]

https://user-images.githubusercontent.com/1402582/149390659-81f36ea7-9e44-45fa-b97a-181cffd6b9f6.mov

### What did you expect to happen?

I didn't expect any preview, but when the little window showed, I

[2022-01-13 20:14] LouieRichardson99 commented on #1035
I will start work on this.

[2022-01-14 09:30] vidvidvid opened #1043 "Remove storybook from design system"
### What would you like to be added?

Actually I'd like storybook to be removed 🔥

### Why is this needed?

We are maintaining certain dependabot updates, which pertain only to the storybook which is not being used. In case we ever decide to make use of it, we need to set it up in such a way that we can get value out of it and consistently keep on updating it.

[2022-01-14 14:15] firattale commented on #1043
this PR https://github.com/MetaFam/TheGame/pull/1044 closes this issue.

[2022-01-15 18:24] vidvidvid opened #1047 "Next iteration of landing page + missing links"
### What would you like to be added?

Let's gather ideas for the next iteration for the landing page here. I'm opening the issue mainly because I noticed that the links are missing or wrong.

### Add missing links to various parts of the landing page:

`The wiki` link:
<img width="434" alt="Screenshot 2022-01-15 at 19 04 23" src="https://user-images.githubusercontent.com/35112939/149632823-9a2ba64

[2022-01-15 18:28] peth-yursick commented on #925
for those who missed the thread on discord, I'm prototyping this in Notion https://meta-game.notion.site/Seeds-3a301b30f9394751b77b2450f7ae2329
all feedback welcome

[2022-01-15 19:22] peth-yursick commented on #871
What's the difference between an "active player" & a "non-active player"? "Active" in the sourcecred sense or in general?
Usually, non active players are not players at all. They either need to be active or move over to the patron side.

[2022-01-16 20:09] vidvidvid commented on #1024
@peth-yursick

[2022-01-17 08:29] dysbulic opened #1050 "Display boxes are cropped on player profile page"
### What happened?

Currently the player's profile display page looks something like:

![screencapture-localhost-3000-player-dysb-2022-01-17-01_51_26](https://user-images.githubusercontent.com/181523/149721420-ca51b1ca-c8d6-407b-9985-75253977d008.png)

Several of the boxes (the primary profile info, player type, & top NFTs) are cropped at a height that doesn't allow the display of all the box's co

[2022-01-17 08:45] vidvidvid commented on #1050
Duplicate of #1036

The screenshots in #1036 are not up to date, but the problem is the same.

[2022-01-17 08:45] #1050 closed

[2022-01-17 10:10] #896 closed

[2022-01-17 11:34] peth-yursick commented on #896
are you sure this is closed @mquellhorst ?
opening https://my.metagame.wtf/join/guild still gives the old page..

[2022-01-17 12:41] vidvidvid commented on #896
@peth-yursick once it's merged to `develop` branch it doesn't go live yet - `develop` has to be merged into `master` in order for it to go live.

[2022-01-17 15:29] #1043 closed

[2022-01-18 08:57] tommymaher15 commented on #1047
I was exploring the idea a while back but maybe a 3d animation for the first slide: Like a metagame Logo that was 3d? would love to hear others thoughts on this if its a good idea :)

[2022-01-18 15:54] dysbulic opened #1060 "Publish the Kubernetes configuration for MetaGame's Ceramic node"
### What would you like to be added?

Our Ceramic mainnet node, `ceramic.metagame.wtf`, is hosted on Google's cloud infrastructure using Kubernetes.

The deployment configuration is file-based, and those files are currently held by @polimyl who developed them.

They should be published on GitHub, most likely in their own repository since they're independent of MyMeta and interested parties will li

[2022-01-18 15:56] #1019 closed

[2022-01-18 16:03] dysbulic commented on #998
It turns out that querying Ceramic for profile information for a newly created user wasn't rate limited & that's the main reason the seeding script was killing the daemon.

That is fixed in #943.

[2022-01-18 16:03] #998 closed

[2022-01-18 17:28] dysbulic opened #1061 "Ceramic request rate limiting failover doesn't work"
### What happened?

The Ceramic caching in Hasura uses [Bottleneck](//github.com/SGrondin/bottleneck#readme) to limit the rate requests are made to the daemon.

There is a memory leak in the JavaScript IPFS daemon that causes it to fail under a sufficient load (#998). Kubernetes will automatically restart the pod, but it causes the Ceramic daemon to go offline for a couple minutes as it restarts.

[2022-01-19 00:45] dysbulic commented on #1036
Bear in mind that the height of the player hero is variable once the page is loaded dependent on the status of the "show more" toggle.

#943 adds `white-space: pre-wrap` to the description text, so it can span several lines.

[2022-01-19 02:04] dysbulic opened #1062 "Split the Google Cloud Run GitHub Action into separate jobs"
### What would you like to be added?

Currently the cloud deployment GitHub action is a single [job](//docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobs) broken into about a dozen steps. The steps in a job execute serially whereas multiple jobs will run in parallel.

The [`needs`](//docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsj

[2022-01-19 11:53] peth-yursick commented on #1024
I'd only add these 3:
- Bridgebuilding
  - All about fostering connections and enabling the flow of people & resources between different organizations.
- Rainmaking
  - Making sure value is recognized & project tokens get bought or liquidity added by long term holders.
- Videomaking
  - As the name suggest - it's about production of videos no matter the kind; educational, entertaining or both.

[2022-01-19 13:07] vidvidvid commented on #1024
@peth-yursick thanks, will be added! by the way, could we perhaps also add these to the setup wizard?

[2022-01-19 14:39] luxumbra commented on #1047
Pretty much what I was thinking for the first section. I was asking if any of the 3d artists have created a 3d mg logo and Misanth had started one but never got to finishing it due to GPU burnout.

[2022-01-19 14:48] luxumbra commented on #1047
I have been thinking about it and I quite like peths idea to have a kind of Neo/Rabbit hole scene (wake up Neo) that the user scrolls through, reading text like it's on a old skool monitor. Screen glitches and a hand beckons for the user to jump in. I also thought about (& bought) an Octopus  that would feature in the flow but not sure. We definitely want a logo with a field of stars behind it or

[2022-01-19 15:05] alalonde opened #1063 "Require login before going through the Guild Join process"
### What would you like to be added?

In the Join Guild page, require logging in before going through the process.

Also give more information about the DAO address as some guilds have multiple candidates.

### Why is this needed?

If you don't log in, it appears like the process still works, but fails when fetching your guild's roles.

[2022-01-19 15:48] #487 closed

[2022-01-19 16:34] peth-yursick commented on #1024
👌
we could but they were intentionally left out so that people need to join through one of the basic roles before they can take on these higher level ones

[2022-01-20 00:12] Rexben001 opened #1064 "Point people to look into the env file"
### What would you like to be added?

Point people to look into the env file so that they can create and set GITHUB_API_TOKEN value

### Why is this needed?

Running `yarn hasura:seed-local-db` without setting the GITHUB_API_TOKEN value will result to this error

[code]

[2022-01-20 09:01] #1064 closed

[2022-01-20 15:04] dan13ram opened #1068 "BrightId not working"
App shows that BrightId is linked, but the UI still shows unverified.

[2022-01-21 12:10] dan13ram commented on #1035
@alalonde There should be a "Reset" button right ? Didn't that reset your change?

[2022-01-21 12:19] vidvidvid commented on #1035
Maybe cancelling should reset and exit the editing mode?

[2022-01-22 10:58] tommymaher15 commented on #1047
That would be awesome. I was looking at some tv glitch effects using three.js too this could be useful:

https://codesandbox.io/s/y3j31r13zz

Thats a general idea but there are tonnes of different examples out there that could work better.

What about the flow of the page? Will we be going down the route of slide transitions or scrolling through?

[2022-01-22 12:38] vidvidvid commented on #1047
We could make support for both, but most pages that I looked at are mainly done by scrolling.

[2022-01-22 12:43] tommymaher15 commented on #1047
Awesome. I wasn't sure which was happening. Exciting nonetheless!

[2022-01-23 12:08] Rexben001 commented on #1062
I can work on this @dysbulic

[2022-01-24 03:36] dysbulic commented on #1062
@Rexben001, the GitHub deployment action has undergone significant revision in the [`feat/glaze-lookup` branch](//github.com/MetaFam/TheGame/blob/feat/glaze-lookup/.github/workflows/gcp-deploy.yaml), and that is hopefully going to get merged in the next couple days.

In any case, you should work from that Action rather than the one that's in `develop`.

So far as ordering, the important thing to r

[2022-01-24 14:44] peth-yursick opened #1074 "[MetaMenu] - Disclaimer in the Invest section"
### What would you like to be added?

The "Invest" section of the metamenu should feature a disclaimer saying something like "We offer no prospects of financial return, invest for good feels only."

### Why is this needed?

To avoid any legal ramifications of MetaGame offering investments or Seeds being labeled a security.

[2022-01-25 15:01] dysbulic opened #1076 "Investigate using Cloud Native Buildpacks for container generation"
### What would you like to be added?

I've been [watching](//www.youtube.com/embed/j9Ak5YLrihU) about [Cloud Native Buildpacks](//buildpacks.io) which apparently use a more logical system for the generation of container layers that allows for more effective caching than Docker.

Supposedly it makes for pretty significant changes in rebuild time.

There is a [GitHub Action to add the `pack` command

[2022-01-25 21:51] #769 closed

[2022-01-25 21:51] #919 closed

[2022-01-25 21:51] #921 closed

[2022-01-25 21:51] #1037 closed

[2022-01-25 22:02] alalonde commented on #1023
Seems like this needs a bit more precise definition. Can you or @peth-yursick give a step-by-step example of the desired questing workflow, including this Discord integration?

[2022-01-26 05:26] #1030 closed

[2022-01-26 05:30] dysbulic commented on #278
This issue was mostly wrapped up in #943.

[2022-01-26 05:30] #278 closed

[2022-01-26 13:50] dysbulic opened #1080 "Have the Cloud Run Action create deployments"
### What would you like to be added?

There is [a GitHub Action](//github.com/MetaFam/TheGame/blob/develop/.github/workflows/gcp-deploy.yaml) which builds and deploys the system for any open pull requests.

Currently, it notifies the user that the deployment is available by commenting on the associated PR.

There is [a deployment Action](//github.com/bobheadxi/deployments) that will:
* Display tha

[2022-01-26 14:49] dysbulic opened #1081 "Set appropriate (and normal) page titles"
### What would you like to be added?

Using the [`HeadComponment`](//github.com/MetaFam/TheGame/blob/f5295c324244f2973ea419c588e784c142a8091b/packages/web/components/Seo.tsx#L11) it is possible to customize the metadata associated with a page.

While testing this out, I set one of the titles to “Ⲙⲉⲧⲁ𝓖ⲁⲙⲉ” which I thought looked cool, but it went over decidedly poorly with a designer.

So, the vari

[2022-01-26 17:55] dysbulic opened #1083 "For the test deployments, seed the database before generating the frontend"
### What would you like to be added?

Currently, when a Cloud Run test instance is generated, at the point the frontend is built Hasura is empty. Because of this, the players list page initially displays as empty.

If the database seeding step was moved before the frontend generation in [the deployment Action](//github.com/MetaFam/TheGame/blob/develop/.github/workflows/gcp-deploy.yaml) it should f

[2022-01-26 17:57] dysbulic commented on #1083
This is a pretty low effort task. An interested party might tackle #1080 or #1062 in the same PR to warrant the XP.

[2022-01-26 20:43] #837 closed

[2022-01-27 07:31] Udit-takkar commented on #1002
@davort  sorry  i was currently busy with my exams. Yeah it would support searching by address.
Currently one can search through guild and player table and i am building the rest

[2022-01-27 14:15] Udit-takkar commented on #1002
Update :
<img width="1440" alt="Screenshot 2022-01-27 at 7 44 48 PM" src="https://user-images.githubusercontent.com/53316345/151376286-999580e6-35db-483a-92fc-93d7b1b88429.png">

[2022-01-27 15:12] #1036 closed

[2022-01-28 17:33] dysbulic opened #1086 "Switch users to the mainnet before saving their profile"
### What would you like to be added?

Ceramic can have different DIDs associated with different chains for the same ETH address. MyMeta is basing its cache from the profile saved to the mainnet. So, if someone saves their profile while connected to another network they won't see it in MyMeta.

When a user clicks to save their profile they should receive a warning that they are not connected to the

[2022-01-30 15:49] #1081 closed

[2022-01-31 02:57] jb0gie commented on #1047
ooooooo

[2022-01-31 03:00] jb0gie commented on #1047
the landing page:
how about a medium sized area...[land, plane, floor] the ( easter eggs )
big old MG🐙 vaporwave text in the sky with an OCTO to boot
and the super dope model being shown in the [cord server](https://cdn.discordapp.com/attachments/914108129455775755/937077489312870460/metagame_logo__scene.png)

[2022-02-01 04:47] dysbulic commented on #1062
@Rexben001, I went ahead and did this in #1078 because I needed to move the seeding step & the decomposition into jobs was relatively straightforward.

[2022-02-01 14:56] firattale commented on #1068
I saw the same issue, but as I see from their website, you need to verify via their zoom meeting.

https://brightid.gitbook.io/brightid/getting-verified

https://meet.brightid.org/#/

[2022-02-01 16:51] dysbulic opened #1096 "The /me page is broken in develop"
### What happened?

[test.metagame.wtf/me](//test.metagame.wtf/me) should display the profile of the current user, but instead it is returning a 500 server error.

Initial investigation suggests that it has something to do with the `PersonalityInfo` object not being correctly passed to the color disposition component.

### What did you expect to happen?

The page not to error out.

### How can we

[2022-02-01 17:05] dysbulic opened #1097 "Users connecting for the first time should be directed to the profile setup wizard"
### What happened?

When a user connects for the first time an account should be created for them in Hasura & they should be directed to the profile setup wizard.

Currently that does not happen.

### What did you expect to happen?

New users should be directed to the profile wizard, they aren't.

### How can we reproduce the problem (as minimally as possible)?

Sign in to the site with an ETH acc

[2022-02-01 17:12] dysbulic opened #1098 "Connect button doesn't change to profile icon when a new user connects"
### What happened?

Generally when a user hits the Connect button and authenticates, the Connect button is replaced by their profile icon.

When a user that isn't in the system connects for the first time, the Connect button disappears but then comes back.

If the page is reloaded the profile icon appears.

### What did you expect to happen?

The Connect button to change to the profile picture.

#

[2022-02-01 17:29] dysbulic commented on #1068
@firattale, even if you're verified, once you connect the site in BrightId the verify button doesn't change to verified.

[2022-02-01 18:49] #184 closed

[2022-02-01 20:35] alalonde commented on #1097
This is broken on prod as well.

[2022-02-01 21:42] vidvidvid opened #1101 "Unwanted border when hovering items in MegaMenu"
### What happened?

When hovering a megamenu item this unwanted grey border appears:

<img width="1030" alt="Screenshot 2022-02-01 at 22 39 53" src="https://user-images.githubusercontent.com/35112939/152055946-88cc109b-8b4b-4fc9-aff5-0602eaaccab4.png">

### What did you expect to happen?

No border when hovering:

<img width="1075" alt="Screenshot 2022-02-01 at 22 41 20" src="https://user-images.g

[2022-02-02 11:39] vidvidvid commented on #925
I'll de-assign myself since i'm pretty busy with implementing quests.

[2022-02-02 15:59] mquellhorst commented on #1074
The word Invest makes it tricky.
Lets change it now to contribute or patron for now

[2022-02-02 16:22] dysbulic opened #1102 "NFTs aren't loading in MyMeta"
### What happened?

The requests to OpenSea to load a user's NFTs are being rejected with a HTTP 403 forbidden.

I don't know if it is an issue of the access token being canceled, or it could be something deeper.

One potential issue is the environment variable used to provide the token is [`NEXT_OPENSEA_API_KEY`](//github.com/MetaFam/TheGame/blob/f5295c324244f2973ea419c588e784c142a8091b/packages/

[2022-02-02 17:49] #1024 closed

[2022-02-03 09:02] #1025 closed

[2022-02-03 10:52] vidvidvid commented on #1101
solving this in #1104

[2022-02-03 10:55] vidvidvid commented on #1035
since there has been no reported progress on this, i'll be fixing this in #1104
since there is already a cancel button, do we agree we add a button to revert to the default layout or should we just close the issue?
@dan13ram @alalonde ?

[2022-02-03 10:56] vidvidvid commented on #962
I'll fix 2) in #1104

[2022-02-03 10:56] vidvidvid commented on #1003
@davort some of the stuff is already fixed, but i'll make sure to check what else is missing and include the solutions in #1104

[2022-02-03 10:57] vidvidvid commented on #1003
@LarrySimiyu unless you plan to deliver this anytime soon? :)

[2022-02-03 10:57] vidvidvid commented on #1035
@LouieRichardson99 i assume you've abandoned the issue?

[2022-02-03 19:55] vidvidvid commented on #977
@mquellhorst any update on that one?

[2022-02-03 19:56] vidvidvid commented on #1020
@dysbulic @firattale any update on that?

[2022-02-04 13:08] dan13ram commented on #1102
I think we should move away from opensea and use subgraphs to fetch nfts on various networks.

[2022-02-04 17:21] firattale commented on #1020
I guess @dysbulic merged this branch recently, did it happening still @vidvidvid ?

[2022-02-05 04:32] alalonde commented on #1035
Ah, to me, "reset" means to reset your saved configuration to the default. But "cancel" should revert any unsaved changes.

[2022-02-05 20:47] #1063 closed

[2022-02-06 05:14] LarrySimiyu commented on #1003
@vidvidvid @davort so sorry I got caught up with some major family stuff past month and job applications. I apologize for my lack of communication since picking this ticket up. Won't happen again. @vidvidvid Thank you for picking this up.

[2022-02-06 08:10] vidvidvid commented on #1003
@LarrySimiyu np, life happens - if possible just let us know you about it next time :)

[2022-02-06 12:52] #1062 closed

[2022-02-06 12:52] #1080 closed

[2022-02-06 12:52] #1083 closed

[2022-02-06 18:54] davort opened #1108 "Establish a Design System (Storybook or similar)"
More and more fragmentation is being introduced as we keep building new parts of MyMeta and MetaOS.
There are cases where within a single view, same components—e.g. primary and secondary buttons—look slightly different. This makes us look bad, whereas it deteriorates the experience for users, and makes it more difficult for them to use MetaOS.

In order to keep growing the MetaOS in a sustainable

[2022-02-06 21:16] peth-yursick commented on #1074
We talked about this on the champions ring a few weeks ago, the problem with "contribute" is that "contribute" already exists. We also talked about turning it into something like "give", but then its like "contribute, "give"... "Give" would work if we stuck with "learn" & "earn". The reason it shouldn't be MetaGame specific is because the section is supposed to also include things like Giveth gran

[2022-02-07 11:12] firattale commented on #1020
Yeah it seems like it is working, I am closing this issue.

[2022-02-07 11:12] #1020 closed

[2022-02-07 12:15] dan13ram commented on #1102
@firattale Are you working on this or Can I take a look ?

[2022-02-07 12:35] firattale commented on #1102
hi @dan13ram , I am checking it today, but any help would be appreciated

[2022-02-07 14:58] #1026 closed

[2022-02-07 14:58] #1041 closed

[2022-02-07 15:48] #962 closed

[2022-02-07 15:50] #1101 closed

[2022-02-07 15:51] vidvidvid commented on #1035
Solved in #1104

[2022-02-07 15:51] #1035 closed

[2022-02-07 15:51] vidvidvid commented on #1003
Solved in #1104

[2022-02-07 15:51] #1003 closed

[2022-02-07 16:02] dysbulic opened #1114 "Players without a row in the profile table can't log in"
### What happened?

@vidvidvid was trying to log in, and the connect button would switch to a spinner for a second, then back to the button.

Further investigation revealed the result of the `getMe` query was returning `null`. This is because a player's username is now located in the profile table, the `me` table is a join between the player & profile tables, and @vidvidvid didn't have a row for t

[2022-02-07 16:08] dysbulic commented on #1098
I did some investigating on this & it turns out the problem is there are several calls to `//backend/auth-webhook` where the new user is created. They happen quickly enough in succession that multiple ones enter into `createAccount` function, but all of them fail except for the fastest because of the uniqueness constraint on the Ethereum address.

Those failing calls return a `null` user which cau

[2022-02-08 10:34] vidvidvid opened #1117 "Borked edit skills selection"
### What happened?

![skills_bug](https://user-images.githubusercontent.com/35112939/152969866-7e53b235-5997-4815-a0e7-ecc0050f0db3.gif)

### What did you expect to happen?

Larger height of the skills dropdown

### How can we reproduce the problem (as minimally as possible)?

go to https://test.metagame.wtf/, your profile, edit skills

### Is there anything else we need to know?

the dropdown is

[2022-02-08 10:36] vidvidvid commented on #1117
looks like it's a problem of `overflow: auto` on the parent element:
<img width="1460" alt="Screenshot 2022-02-08 at 11 35 58" src="https://user-images.githubusercontent.com/35112939/152970400-5ea91c72-f2d7-44fc-9564-71f980cea922.png">

[2022-02-08 10:37] dysbulic commented on #1117
@vidvidvid, I'm in the process of significantly revamping all the profile editing panes as part of the addition of Jotai. I can make sure this is fixed in those changes.

[2022-02-08 10:47] vidvidvid commented on #1117
@dysbulic great! i'll assign you the issue then, pls make sure to close it in the upcoming pr

[2022-02-08 11:01] #1098 closed

[2022-02-08 12:58] mquellhorst commented on #977
The issue seems to be the screen size.
It occurs on larger screens. When resizing to a smaller window boxes act normal.
Somehow the sizes aren't correct after the last breakpoint

[2022-02-08 13:12] mquellhorst commented on #1074
I'ld say if nobody is sure but some people feel it's risky we either seek legal advice or take the safe route

[2022-02-08 15:44] firattale commented on #977
unfortunately I dont have a bigger screen :/ @vidvidvid do you have one ?

[2022-02-08 16:00] vidvidvid commented on #977
nope

[2022-02-08 19:03] Misanth420 opened #1126 "Add "Tips & Tricks" to the loading states"
### What would you like to be added?

It would be cool to add some rotation of one liners like "tips n' tricks" to the loading state(s) such as general advice, dApp navigation tips, etc.

For example, while loading the MyMeta Leaderboard
![image](https://user-images.githubusercontent.com/77243213/153055971-27f34360-112a-46a5-babf-a7a55436880f.png)

In case it's considered a viable idea, I could ga

[2022-02-09 16:17] vidvidvid opened #1128 "Landing page is borked"
### What happened?

Huge backgrounds: https://test.metagame.wtf/landing

### What did you expect to happen?

Normal sizes of slides.

### How can we reproduce the problem (as minimally as possible)?

https://test.metagame.wtf/landing

### Is there anything else we need to know?

Looks like removing `min-height: 100%;` from parent components of slides solves the problem.

[2022-02-09 20:00] peth-yursick commented on #1074
Tenfinney pretty much is legal advice & he said the disclaimer solves the problem..
But.. Simply merging the category into "contribute" by adding "Seed" under "Quests" might also be a good solution 🤷‍♂️
![image](https://user-images.githubusercontent.com/55857222/153280589-dbb48998-ffac-474c-9298-f271f0b799b7.png)

[2022-02-09 20:59] davort commented on #1074
IMHO should be fairly easy to add in design—somebody please correct me if I'm wrong and it's a bitch to add in code. If that shields us from legal ramifications, I'd say it's super simple and let's go for it!

[2022-02-09 21:06] davort commented on #1074
@peth-yursick Just so I'm sure I understood the idea—did you think merge "Contribute" and "Invest", so that all 4 sections from "Invest" get added to "Contribute", and "Contribute" then contains seven (7) sections in total?

**Before**
[code]
**After**
[code]

[2022-02-10 07:52] vidvidvid commented on #1074
I'll take this, it's an ez fix :)

[2022-02-10 08:03] vidvidvid commented on #1074
@davort @peth-yursick is that ok? (the icon colors and positioning seems a bit odd)
<img width="1168" alt="Screenshot 2022-02-10 at 09 03 29" src="https://user-images.githubusercontent.com/35112939/153363557-9fc3edc1-d496-4bf6-9832-ab4ede8da0c4.png">

[2022-02-10 11:07] peth-yursick commented on #1074
I meant merge but so that we only end up with "Roles", "Quests", "Raids", & "Seed" - everything under "Invest" is getting merged into a single page with #925 except for "support grants" which we don't have. The idea with "support grants" was to integrate Giveth directly, but we can do that later.

[2022-02-10 11:21] vidvidvid commented on #1074
ahhh ok, i'll contact cris for this.

[2022-02-10 11:36] peth-yursick commented on #1074
Since all the links in the invest section are currently broken, I'd say feel free to just merge & link to this https://meta-game.notion.site/Seeds-3a301b30f9394751b77b2450f7ae2329

[2022-02-10 23:24] alalonde commented on #646
Making progress on this..

[2022-02-13 11:54] Anosh21 commented on #1128
Hey, @vidvidvid I would like to work on this issue.

[2022-02-14 20:17] dysbulic opened #1132 "First-time users may accidentally overwrite their existing Ceramic profile"
### What happened?

When a user logs in for the first time, rows are created for them in the `player` and `profile` tables, and their id is queued for retrieval of their Ceramic profile.

If, as #1097 suggests, we were to forward these users to the profile setup wizard, any values they enter will overwrite existing Ceramic profile settings that they made elsewhere (like [self.id](//self.id) or the

[2022-02-15 08:18] dysbulic commented on #1102
Yeah, I checked the blame & the OpenSea token was added over a year ago & has not changed.

The browser is making the request, so there's not much choice. We could proxy the request like I'm doing to protect the [web3.storage](//web3.storage) API key, but it adds overhead & complexity.

`opensea-js` went from `1.2.1` to `1.2.7` last month. That seems to correlate to when it broke. @firattale, you

[2022-02-15 08:39] dysbulic commented on #977
@firattale, you should be able to zoom out on the page (`ctrl`+`-`) and get the same effect as being on a larger screen.

[2022-02-15 08:51] dysbulic opened #1133 "Allow for categorization of NFTs"
### What would you like to be added?

Currently NFTs are *(barring #1102)* presented in a list sorted according to the order we get them back from OpenSea in.

There are different classes of NFTs (POAPs, art, achievements, etc.), and the player should be able to create groupings of NFTs, with a given NFT possibly appearing in multiple groups, and choose which of those groups in what order are pres

[2022-02-15 09:31] dysbulic commented on #1097
@alalonde, did this ever work?

I'm leaning toward pulling down the Ceramic profile in the browser for new MyMeta users so that I only request they make a profile if they haven't elsewhere. Also new users won't be cached yet, so we run the risk of overwriting an existing profile (#1132) if we don't check.

What I don't know how to do is how to tell when a user is new to MyMeta. I switched up `/aut

[2022-02-15 11:05] peth-yursick opened #1134 "[MyMeta] Add "contact" to profiles"

[2022-02-15 11:11] peth-yursick opened #1135 "[MyMeta] Revisit color-determining UI"

[2022-02-15 11:17] peth-yursick opened #1136 "[MyMeta] Add # number to player & patron card on the leaderboard"

[2022-02-15 11:20] peth-yursick opened #1137 "[MyMeta] List view"

[2022-02-15 11:24] peth-yursick opened #1138 "[MyMeta] Capacity instead of time availability"
Worth discussing but I think it would be better if people's availability was expressed in % rather than hours.
It should be easier for people to put in an estimate & be realistic about how much they can commit.

Instead of:
- Availability: 4 hours
It would display:
- Capacity: 90%, maybe marked in red to signal the person is stretched thin.

Other than that single place to display it, it would be

[2022-02-15 11:30] peth-yursick opened #1139 "[MyMeta] Unverified guilds"
Another one worth discussing is allowing people to display guilds that aren't a part of MetaGame or DAOHaus.
Right now, player profiles only display membership if the project they're a part of is also a guild in MetaGame or a DAO on DAOHaus.
I think it would be good if we also allowed people to type in whatever guild name they want, except there should be a mark UNVERIFIED. This could also loop th

[2022-02-15 11:34] peth-yursick opened #1140 "[MyMeta] Weekly leaderboard & player of the week"

[2022-02-15 11:44] peth-yursick opened #1141 "[MyMeta] Removing pioneers/settlers/town planners"
Up for discussion but I think its a block of text that doesn't look good & lives past its usefulness. I think we should just remove it.

We had it since before we had the personality colors, but not it seems completely unnecessary as the colors pretty much map onto them. Pioneer - red, town planner - white 🤷‍♂️

Should be removed from:
- The profile creation flow
- Profiles themselves

[2022-02-15 11:56] peth-yursick opened #1142 "[MyMeta] Add DAO info to guild pages"
Right now, there are no links to guild's DAO even if they have one.

I think we should add a fiield for a link to "your DAO", "your multisig" &/or "your treasury" to the guild application form.
Every guild that has a DAO on DAOHaus or a multisig, should also have a link on their profile connected to it.

[2022-02-15 12:02] peth-yursick opened #1143 "[MetaOS] Add shortcuts to the dashboard"
Up for discussion but I think it would be cool to have quick launcher in the dashboard to allow people to go straight into different parts of metagame without searching for them in the megamenu above.
It could be just a row of small squares with icons, linking to everything that's in the menu.

Step forward from this would be allowing people to add their own shortcuts or embed big blocks in iframe

[2022-02-15 13:08] dysbulic commented on #1135
You had me host it outside of the MetaFam organization for fear of reprisals from Wizards of the Coast for having commercial interests.

Honestly, I think we were overcautious, & I could both incorporate it into MyMeta & use the Magic: The Gathering iconography *(the icons are currently blurred out with "© Wizards" written over them)*.

Worst case scenario is we get a cease & desist & I have to sw

[2022-02-15 13:30] dysbulic opened #1144 "Enable upgrades to the extended Ceramic profile schema"
### What would you like to be added?

There is a script [`packages/utils/bin/create-model.mjs`](//github.com/MetaFam/TheGame/blob/develop/packages/utils/bin/create-model.mjs) which reads a [JSON5 JSON Schema](//github.com/MetaFam/TheGame/blob/develop/packages/utils/schema/extended-profile.json5) and generates a Ceramic stream using that schema to determine valid updates.

Currently this program is

[2022-02-15 14:43] vidvidvid commented on #1135
@dysbulic could we ask our artists to make icons based on the MTG iconography and adapt it to MG?

[2022-02-15 18:51] dysbulic commented on #1135
We could ask. The issue is there are 32 different combinations where each has a specific attitude associated with it. Wizards of the Coast has developed a mythological world where various tribes & guilds embody these different ethoses in complex ways.

I used different names within MetaGame to avoid stepping on any legal toes, but I think the clarity of description suffers for it.

To do iconograp

[2022-02-15 19:02] dysbulic commented on #1140
The interface I would like to see is an interactive cumulative XP over time graph:

![cumulative xp over time](https://user-images.githubusercontent.com/181523/154129817-8cda3b73-778e-4899-a134-6e544829954e.png)

You would be able to drag a line perpendicular to the time axis around & at each point populate a table showing the relative rankings at that moment.

You could allow the selection of a b

[2022-02-15 19:47] alalonde commented on #1097
Yes, I believe this is called by Hasura.

Something like this seems like the better way of doing it, as it is not so transitory. If a user has connected an account but not created a username (since that is required and I believe the first step) and not explicitly exited out of the setup wizard, we will always redirect them to the setup wizard.

[2022-02-16 08:01] dysbulic opened #1146 "Merge `develop` to `master` on 2022/3/1"
To make our plethora of new features available to the deserving public, we need to merge the `develop` branch into `master`. There are a few outstanding issues to complete before that is a responsible thing to do.

* [x] #1114 will prevent some users from being able to log into the site & needs to be fixed.
* [x] #1096: When linking new users to the site, the `/me` path drops them directly into th

[2022-02-16 08:22] #887 closed

[2022-02-16 08:30] dysbulic commented on #1146
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/MetaOS-6012e782d1bec10015d7f4e5/issues/MetaFam/TheGame/1146?planning-poker) with ZenHub @alalonde @mquellhorst @vidvidvid @dan13ram

[2022-02-17 06:19] #1102 closed

[2022-02-17 10:17] dan13ram commented on #1132
@dysbulic Please check the Note in https://hasura.io/docs/latest/graphql/core/auth/authentication/webhook.html#failure

We must only return `200` or `401`. The 201 was causing problems, which was why new users couldn't login.

Would it be possible to retrieve Ceramic profiles (for new users alone) in the backend during the auth-webhook itself without adding it to the queue?

I believe the auth web

[2022-02-17 16:43] #412 closed

[2022-02-17 19:04] alalonde commented on #1142
Yeah, already there have been questions during guild onboarding about e.g. "which DAO"?

1. Would it make sense to specify the network alongside the current DAO contract address? Or is mainnet a reasonable default
2. Seems like there is a large enough diversity of org structures between DAOs that having specific fields for "multisig" and "treasury" may not suffice? What if we just added the abilit

[2022-02-17 19:04] githubdoramon commented on #1134
I am in the middle of implementing the integration with Meet with wallet. Idea is that people can turn the integration "on" on their profiles, and automatically get a "Meet me" button on the Profile page.

We could expand this later with a field that accept some regex of urls, but, I would be glad if we could start with the meet with wallet one :)

Figma files for reference: https://www.figma.com/

[2022-02-18 10:07] #1022 closed

[2022-02-18 10:07] #1096 closed

[2022-02-18 10:07] #1128 closed

[2022-02-18 17:39] Baconaetor opened #1152 "BrightID Verification not working"
### What happened?

I've never been able to verify my MyMeta profile with BrightID. The QR code doesn't scan, and opening the link in the app doesn't scan. A new member in Discord also had an issue where they received an error message.
https://discordapp.com/channels/629411177947987986/713513935789097102/916324350637002792

### What did you expect to happen?

Not sure what the expected behavior is

[2022-02-18 20:35] alalonde commented on #1152
This is a dupe of #1068

[2022-02-18 20:35] #1152 closed

[2022-02-18 20:45] Baconaetor commented on #1152
Ugh, the GitHub search sucks apparently.

[2022-02-19 18:23] #646 closed

[2022-02-19 18:28] alalonde commented on #997
Did some research into this, I see a few approaches:

1. Implement a one-off caching mechanism for this particular remote fetch. This would involve adding additional tables, e.g. `dao` and `dao_player`, to populate as a cache when fetching from daohaus. We would then return this cache for most player graphql fetches, and only update the cache from daohaus when a player's page is explicitly fetched

[2022-02-19 20:16] peth-yursick commented on #1142
Probably yes, there is a decent number of DAOs on xDAI & other networks, with more & more coming up as mainnet is increasingly unfeasible for most..

Yeah, I was thinking just have an "address" field & the explanation could be "put in an address to your DAO, multisig or whatever" but having multiple fields works even better.

[2022-02-21 12:11] dysbulic commented on #997
@alalonde, what would adding additional systems buy us?

At a glance, I'd say stick to Postgres. What columns would you be planning to define in the `dao` table?

[2022-02-21 17:20] dysbulic commented on #1114
@dan13ram, that's a good catch, but that isn't the basis for this ticket. For one, I made the change to `auth-webhook` after seeing this bug, but, more importantly, this fix is about new users, my problem is with users that already have an entry in the 'player' table.

if you connect to [api.metagame.wtf](//api.metagame.wtf), you'll note there are 887 entries in the `player` and `me` tables, but o

[2022-02-21 17:32] dysbulic commented on #1132
That's an idea. [Bottleneck has priorities](//github.com/SGrondin/bottleneck#job-options), so I should be able to wait for the new user's profile to cache in `auth-webhook` without affecting performance too adversely.

I also reopened #1114 for [reasons explained there](//github.com/MetaFam/TheGame/issues/1114#issuecomment-1047094020).

[2022-02-21 17:54] dysbulic opened #1157 "Remove hard-coded appearance characteristics in favor of themable ones"
### What would you like to be added?

Currently, many components have hard-coded visual attribute specifications like `color="white"` as opposed to a sematic description like `textStyle="foreground"` or simply setting `{ components: { Text: { color: 'white' } } }` in [the theme](//chakra-ui.com/docs/theming/theme).

The hard-coding prevents the values from being easily overwritten by a custom them

[2022-02-21 18:44] dysbulic commented on #443
So the profiles now have a page background image. There is no interface, however, for including it in the page.

To accomplish the custom background, I would like to enable profile theming (#1158) which would let me specify not only the image, but also how it is positioned and a background color and other properties.

[2022-02-21 23:23] dysbulic opened #1158 "Update ceramic.metagame.wtf to Ceramic v2"
### What would you like to be added?

From the Ceramic Discord:

I'm going to query and see if I can get more details on what exactly is going to break…

… Early reports are that this centers around the release of DAG-JOSE support in the Go IPFS daemon, and the subsequent switch to it from the JS-IPFS daemon currently in use.

### Why is this needed?

This will be the working version of Ceramic fo

[2022-02-21 23:29] dysbulic commented on #1158
@polimyl, it would be nice to have #1060 addressed before we go through this. I'm very curious to have a deeper understanding of this setup.

[2022-02-22 05:07] alalonde commented on #1142
So, shall we add a new block to the guild page? "DAO Information" ? Which is only visible if they have at least one address added?

Then something like

<label>: <contractAddress> <network-label>

for each DAO which would render e.g.

DAO: [0xasdf23asdf23h32h43h43h434](https://app.daohaus.club/dao/0x1/0x0372f3696fa7dc99801f435fd6737e57818239f2) mainnet

and if a "URL" is provided it would link to

[2022-02-22 05:08] dysbulic opened #1159 "Use Docker's buildx to generate the container images"
### What would you like to be added?

#1076 suggests using Cloud Native Buildpacks to generate our container images for Hasura development and Cloud Run test instances. Buildpacks is of unknown complexity and it may take some time before a developer can take the time to figure out how to leverage it.

Docker's [`buildx` command](//github.com/docker/buildx#readme) is a successor to the `build` comm

[2022-02-22 07:41] dysbulic opened #1160 "Allow creation of custom themes for the display of a player's profile"
### What would you like to be added?

I'd like to be able to specify a [Chakra theme](//chakra-ui.com/docs/theming/customize-theme) for the display of the player's profile details.

This requires both the storage of said theme, likely in Ceramic, and the revision of the components to make them more themable (#1157).

### Why is this needed?

This would allow us to provide [custom backgrounds](//gi

[2022-02-22 20:26] peth-yursick commented on #1142
My first thought was that it could just be added to the "links" section but yeah, might be better to have a whole block for it.
Could specify whether they have a DAO or a multisig instead of just have a link (esp. if they have both) & later could be pulling in data such as "treasury size"

[2022-02-22 20:30] peth-yursick opened #1162 "[MyMeta] Joining info on guild pages"
### What would you like to be added?

A block of quick info on how to join the DAO, maybe with requirements & difficulty included.
Not sure if it should be a custom block or a part of the guild profile creation but could be super useful to have.

### Why is this needed?

Because people see guilds but have no idea how to actually join them before digging through each specifically. It would be great

[2022-02-22 20:53] peth-yursick commented on #443
Right on, great to hear!
I think this feature could be a great case for a Seed sink / a way to start making MyMeta & MetaGame more sustainable.
The profiles are completely free to use, but if you want a custom background - 1 Seed.
What do you think?

[2022-02-22 21:07] peth-yursick commented on #1135
The designer would probably be down to make 27 more over a period of time but I'm not sure its necessary - especially so since the profiles aren't even showing those combinations but the color composition itself.

Going back to the poll, we voted on descriptive words over the coloring system which might not have been the best idea but also the legality not the only reason it was chosen I think but

[2022-02-22 23:45] polimyl commented on #1060
files have been published in [MetaFam/infrastructure](https://github.com/MetaFam/infrastructure)

[2022-02-23 01:51] luxumbra commented on #443
Maybe it could be token gated by an NFT that one buys and must be in your wallet to access extended features?

[2022-02-23 05:11] #925 closed

[2022-02-23 05:11] #1074 closed

[2022-02-23 16:47] vidvidvid commented on #1146
@dysbulic @alalonde can you run `npm run release -- --release-as 0.2.0` to create a changelog of the updates since the `0.1.0` it was run once you merge to master?

[2022-02-23 19:27] peth-yursick opened #1164 "Fixing the onboarding flow 1/3"
### What would you like to be added?

The "join metagame" button on the new landing page should lead directly into MyMeta profile creation flow & into discord.

##Currently
Right now, there isn't a "create profile" anywhere inside MetaGame. The first screen when connecting the wallet is the players list & opening your (inexistent) profile gives you module editing only.
Clicking "join" on the landi

[2022-02-23 21:30] peth-yursick opened #1165 "[MetaOS] Displaying only mainnet Seeds"
### What happened?

When I switched network to Polygon, it still says 0 Seeds

### What did you expect to happen?

Didn't really expect it but was hoping the number would switch

### How can we reproduce the problem (as minimally as possible)?

![image](https://user-images.githubusercontent.com/55857222/155411917-1dfef677-8c5d-4c8a-a820-827350ed81bf.png)

[2022-02-24 20:34] peth-yursick commented on #264
Was there any followup on this after #1029 was merged?

[2022-02-26 06:29] dan13ram commented on #264
No progress since. What do you think is a good next custom section that we can implement @peth-yursick ?

Past work? Custom Questions? We also require design to go ahead with these custom sections.

@davort do you have time to provide input for this?

[2022-02-26 07:18] davort commented on #264
@dan13ram Easiest IMHO would be to go with "custom questions", both for input and later for displaying in profiles.

For input, it would boil down to:

1. input field for `Question` → with reasonable lower and upper limits for number of characters (e.g. min=5, max=80)
2. textarea for `Answer` → min=1, max=2000 (should be enough, or?)

On the "front" we can then show full `Questions` with their res

[2022-02-26 11:31] dan13ram commented on #1164
This is related to #1097

[2022-02-26 12:14] davort commented on #264
@dan13ram I imagined it as a "custom text box" where only the profile owner can post what they think is relevant and/or special to them.
In that regard, using the 'questions' and 'answers' terminology perhaps isn't the best fit ☺️

Would anybody want to contact a player, they ought to use other channels for that IMHO - Discord, email... We don't want to open that can of worms — think abuse and mis

[2022-02-26 17:07] dan13ram commented on #264
Interesting @davort. So both the "question" and the "answer" are something written by the user. Again though,
1 question and 1 answer per block or multiple ?

Totally agree!

[2022-02-26 18:10] davort commented on #264
@dan13ram It's likely I am overthinking this. Perhaps better we'd referred back to the [opening description](https://github.com/MetaFam/TheGame/issues/264#issue-782473256) by @peth-yursick

Of all the options listed there, I suggest we add these next:

If we were to go with the above options, what can we offer in the way of formatting text? Markup or a WYSIWYG editor of some sort? I remember us ru

[2022-02-26 21:19] peth-yursick commented on #264
Wait, "next" section? You're saying the "embed links" was done? 😱

I like the idea of having a blank block, doesn't even need to be a question necessarily. It can just be "block title" & "block body" 🤷‍♂️

The way it could work: you click "new block", by default you start typing but there's also a dropdown or something with the suggested questions/titles:

Eventually, these could be sorted based o

[2022-02-27 06:21] dan13ram commented on #264
Yes @peth-yursick That PR  was merged a while back to `develop` along with the "Edit Layout" changes. You can test it out at https://test.metagame.wtf but we still are yet to do the merge to `master`.

I'll take a crack at this. Should be relatively simple to accomplish :D

[2022-02-27 12:33] peth-yursick opened #1168 "[MetaOS] Seeds page smol fixes"
### What happened?

I fucked up & left the old contract address on the explanation on how to find Seeds on Polygon 😬

Every 0x30cf203b48edaa42c3b4918e955fed26cd012a3f should be replaced with 0xeaecc18198a475c921b24b8a6c1c1f0f5f3f7ea0

Other than that, there's a few minor issues..
In the XP page, there are 2 sentences missing bullet points.
![image](https://user-images.githubusercontent.com/5585722

[2022-02-27 12:35] peth-yursick commented on #1168
@vidvidvid

[2022-02-28 05:45] dysbulic commented on #1146
I'm collecting issues as I wrap up the final hours before the third deadline passes. This one I think I'll make…

*(In my defense, I've been working on the profile editing stuff for almost two months, but I'd only been using the editing forms on the details page. Adapting the interfaces to support the profile editing wizard took up a large chunk of my time & is what I misestimated the worst.)*

Th

[2022-02-28 09:19] vidvidvid commented on #1146
need to fix this as well:

- [ ] #1168

[2022-02-28 10:48] dysbulic commented on #1146
@vidvidvid, my goal is to hit a code freeze at noon. I've got the stuff above & a couple other issues & I don't know that I'll have time.

You're more than welcome to commit to this branch directly though. I'm 98% working on profile stuff, so we shouldn't step on each other's toes.

[2022-02-28 11:13] vidvidvid commented on #1146
@dysbulic awesome, will add to it then.

[2022-02-28 12:12] dan13ram opened #1170 "[MetaOS] Rename xdai chain to gnosis chain"
### What would you like to be added?

Replace ALL occurrences of names/logos/images/icons of "xdai chain" with "gnosis chain".

### Why is this needed?

xDai chain was recently renamed to Gnosis Chain.
Read more: https://www.xdaichain.com/about-gc/news-and-information/xdai-gnosis-merger-ama

[2022-02-28 19:06] #1114 closed

[2022-02-28 21:22] tenfinney commented on #1164
@dysbulic and I added a "Roster" button linking to [my.metagame.wtf/players](//my.metagame.wtf/players) which we are endeavoring to rename to players.metagame.wtf.

[my.metagame.wtf/me](//my.metagame.wtf/me) will take the user to the site root at [my.metagame.wtf](//my.metagame.wtf)

We also added the MegaMenu to the **Game On!** page

![Screenshot_2022-02-28_13-13-11](https://user-images.githubus

[2022-02-28 22:13] tenfinney commented on #1164
This is [test.metagame.wtf/join](//test.metagame.wtf/join).

[Discord](//discord.gg/metagame) is "Play", [dashboard](//my.metagame.wtf/dashboard) is "Explore", the [Player's leaderboard](//my.metagame.wtf/players) is "Roster", & [Substack](//metagame.substack.com/?utm_source=discover_search) is "Substack" .

This is handled by the addition of the MegaMenu to the page.

[2022-03-01 11:13] vvvvvv1vvvvvv commented on #945
Since MyMeta set a wrong param order of personal_sign, as https://web3js.readthedocs.io/en/v1.2.11/web3-eth-personal.html#sign said, the second param of personal_sign should be address but MyMeta set it as the first param, switch them then should be works

[2022-03-01 16:12] peth-yursick opened #1176 "[MyMeta] ENS usernames"
### What would you like to be added?

The ability for people to set their ENS address as their username.

### Why is this needed?

Given its popularity in the space, its kind of embarrassing not to allow people to set their username as so.
The problem seems to be at the ceramic level? You're simply not allows to have . in your username? @dys

[2022-03-01 19:52] vidvidvid opened #1177 "Questing system overview"
### What would you like to be added?

### Dashboard

Overview of the categories of quests.
- [ ] #1150
  - [ ] Borders/Portals
  - [ ] Completion/progress indicator
  - [x] Category descriptions
  - [x] #1182

### Initiation Quests

- [ ] UI
- [x] Move quests to MetaOS
- [x] Quest descriptions
- [ ] Quest completions
  - [x] tick boxes
  - [ ] upload proof
  - [ ] save progress to the db

### Onbo

[2022-03-02 11:49] vidvidvid opened #1179 "Almost invisible message"
### What happened?

<img width="1481" alt="Screenshot 2022-03-02 at 12 48 08" src="https://user-images.githubusercontent.com/35112939/156356360-8ca587ba-3263-4e29-ba3d-a13155fb72e7.png">

<img width="830" alt="Screenshot 2022-03-02 at 12 48 12" src="https://user-images.githubusercontent.com/35112939/156356197-b26cc7f3-930f-4e2f-b3fb-5bb115835f0b.png">

### What did you expect to happen?

Visible m

[2022-03-02 15:15] #994 closed

[2022-03-02 15:29] alalonde opened #1180 "Move vercel deployments over to google cloud on test and prod"
### What would you like to be added?

We already have a Dockerfile for building frontend containers, as well as a working staging instance deployed in Google Cloud. We just have to spin up another instance linked to the `master` branch and point the DNS.

### Why is this needed?

Vercel isn't providing much value for us atm, and is actually blocking some functionality due to not supporting node.js

[2022-03-06 13:32] vidvidvid opened #1182 "Coming soon overlay for quest categories"
### What would you like to be added?

Coming soon overlay for quest categories, which are not implemented yet.

### Why is this needed?

Some categories are not implemented yet. But we wanna tease ppl on what's to come.

[2022-03-06 17:23] dysbulic opened #1183 "Store usernames as an Also Known As entry rather than on the profile"
### What would you like to be added?

Currently, a player's username *(the slug used to identify them in `/player/<username>`)* is stored as a string in the extended profile.

While it is a part of a player's profile, it is possible that they will have different usernames on different sites, so a more flexible location to store it is in the [`Also Known As` stream](//github.com/ceramicnetwork/CIP/

[2022-03-06 23:08] luxumbra commented on #945
Thanks. 🙏🏻  Feel free to submit a PR and maybe hop into [our Discord](https://discord.gg/metagame) and say Hi. (If you're not already there) :)

[2022-03-07 03:14] vvvvvv1vvvvvv commented on #945
https://github.com/MetaFam/TheGame/pull/1185

[2022-03-07 15:20] #1097 closed

[2022-03-07 15:20] #1132 closed

[2022-03-07 15:20] #1164 closed

[2022-03-07 15:20] #1168 closed

[2022-03-07 15:20] #1179 closed

[2022-03-07 19:12] peth-yursick opened #1187 "[MyMeta] DAO memberships formatting "broken""
### What happened?

With the latest change to the DAO membership section, it looks like its no longer aligned left & looks weird.
Continuing from discord:
![image](https://user-images.githubusercontent.com/55857222/157112395-53ad3311-eebf-4a22-9a18-cb8c07b69fe6.png)

### What did you expect to happen?

For it to stay the same

### How can we reproduce the problem (as minimally as possible)?

By go

[2022-03-08 07:06] dysbulic opened #1188 "The leaderboard's infinite scroll doesn't push the page down"
### What happened?

If you scroll to the bottom of the leaderboard it will load new entries, but they don't scroll the screen down, so you don't see them. The placeholder images are tall enough that it just looks like one set is loading.

If you watch the scrollbar in this video you can see the handle shrinking as players load above what's visible:

https://user-images.githubusercontent.com/181523

[2022-03-08 07:21] #945 closed

[2022-03-08 07:29] dysbulic commented on #1187
Fixed by #1181.

[2022-03-08 07:29] #1187 closed

[2022-03-08 14:56] #1142 closed

[2022-03-09 04:50] dysbulic commented on #1060
Gud'n'dun.

[2022-03-09 04:50] dysbulic commented on #1060
Gud'n'dun.

[2022-03-09 04:50] #1060 closed

[2022-03-09 04:55] dysbulic commented on #1158
From [the Ceramic Discord](https://discord.com/channels/682786569857662976/801538364423274516/950930206330351647):

[2022-03-09 06:06] dysbulic commented on #1165
They get chastised when they switch chains because if they save to anything other than the mainnet they're profile entry won't appear in MyMeta.

A preferable alternative might be to put a chain icon next to the SEED icon in the MegaMenu, and allow them to click on it to change it.

[2022-03-09 06:33] dysbulic commented on #1180
From [Discord](//discord.com/channels/629411177947987986/950436965461950555/950546228238774332):

[2022-03-09 06:36] dysbulic commented on #1146
So, this, apparently, didn't go correctly and a newly created PR from `develop` to `master` (#1189) reports 400+ files changed with commits dating back months…

[2022-03-09 06:36] #1146 closed

[2022-03-12 12:32] peth-yursick opened #1191 "Onboarding Flow Improvements Part II"
### What would you like to be added?

To prepare for the public MyMeta launch, I think we should make some more improvements to the flow.
I'm mainly suggesting upgrades to the opening & closing screen but there are a few others.

Here are my suggestions:
1. On the landing page, I think we should rename the "join us here" button to "enter" because its not going to take everyone to the same place (n

[2022-03-12 14:22] davort commented on #1191
Hi @peth-yursick  →  here are a few quick mockups that I thought represent your idea, as described above.
Figma link: https://www.figma.com/file/zDHqledo5H2aKR3KDvbur8/?node-id=8761%3A24471

"Exit v1" and "Exit v2" show more and less verbose variants of the ending page.

Hope these will be useful and help us streamline this whole flow, to everybody's satisfaction 🤘

[2022-03-15 11:05] peth-yursick opened #1196 "[MyMeta] Profile Creation Flow Fixes & Updates"
I was showcasing MyMeta to the Seed Fund people yesterday & noticed some things off...
This issue includes things that should obviously be fixed but also some changes that are my personal suggestions which can be disregarded.

As usual, actually writing these things down turned out a lot more small issues than expected.
Should this issue be split into multiple?

Either way, I'm marking with "🚨" th

[2022-03-15 16:56] pvblick-vniversal-friend commented on #1196
Some issues that I have experienced by testing MyMeta:

- [ ] **Cannot change profile information:** I cannot change my display name and other basic profile info. Whenever I do and save the changes, each time I refresh the page the information revert back to a state before the changes. For example my display name is Test and I cannot change it. I wne and redid the new profile wizard but it still s

[2022-03-16 13:59] vidvidvid commented on #1196
@peth-yursick

It hasn't been replaced, it's just hidden by default. But i removed the step 👍

[2022-03-16 14:12] luxumbra commented on #1196
@vidvidvid what branch are you guys using?

[2022-03-16 14:20] vidvidvid commented on #1196
ohhh damn sorry @luxumbra i forgot to send it to you. it's this one: https://github.com/MetaFam/TheGame/tree/fix/ui-content-improvements

[2022-03-16 14:23] luxumbra commented on #1196
thank you

[2022-03-16 19:19] peth-yursick commented on #1196
Embed URL works for me but confirming changing the name doesn't work for me either..
Same seems to be true for rearranging blocks in the layout. Seems to work after you click save, back to default after refresh @dan13ram

Up to @davort I guess. The role select screen will need to be designed for desktop as afaik the current desktop version was made according to the mobile version design.

[2022-03-17 12:14] peth-yursick commented on #1196
I don't get this bit. Isn't the root domain supposed to point to the new landing page?

But it reminds me that pasting the link into social apps always brings up this old logo & default description no matter what page is shared..
![image](https://user-images.githubusercontent.com/55857222/158806230-dbbb0b6a-9f74-46a3-a3b6-66392ba96e7e.png)

[2022-03-17 12:53] luxumbra commented on #1196
Yes it should but it was still going to the wiki until yesterday and www wasn't going anywhere. Both are fixed now and going to the new landing page.

And that is what i was on about with the Open Graph tags. We need to get them updated. I have asked @vidvidvid to direct me to where they live.

[2022-03-18 14:06] peth-yursick opened #1200 "[MyMeta] Maek MyMeta faster pls"
Right now, changing filters on MyMeta takes about 10 seconds to load 9 profiles.
You scroll down, then need to wait another 10 seconds for another 9 profiles.
And so on...

Afaik we have caching on hasura so ceramic shouldn't be what's slowing it down?
Or do we not? If we do, might it be Sourcecred that's slowing it down?

Idk but when demoing MyMeta, those 10 seconds feel like the longest 10 seco

[2022-03-18 14:17] peth-yursick opened #1201 "[MyMeta] "Fixing" the Patrons leaderboard"
I put in quotation marks because its not really broken, just not reflecting Polygon pSeeds, which is where majority of holders currently are...

@polimyl made [this dynamic patrons ranked league sheet](https://docs.google.com/spreadsheets/d/1AYYidq8CRV7EbuimTCFMvz75XSsaFPq05gaqfSeozTU/edit?usp=sharing), which got me thinking we should do the same for [the patrons leaderboard](https://my.metagame.w

[2022-03-19 08:51] davort commented on #1196
Apologies for the wait. Here are my thoughts on matters where I was asked to chime in;

I would agree that the shadow doesn't make the design any better, and therefore should be removed 👍

. . .

Not quite from everywhere. We agreed—albeit only "verbally"—to retain it in the onboarding screens. If there are good reasons to remove it altogether, we can do that. Perhaps with the new logo and landing

[2022-03-19 11:15] peth-yursick commented on #1196
It actually already looks like that already.. Maybe just less bold? Also love it without shadows.
![image](https://user-images.githubusercontent.com/55857222/159118807-ba181b3b-16fd-490d-9bde-22a07b76359c.png)
As far as I've seen, its not currently in any of the profile setup screen except for these "primary role" & "secondary roles" bits
![image](https://user-images.githubusercontent.com/55857222

[2022-03-19 11:52] davort commented on #1196
### Re: buttons

I have styled the "Secondary button" component and all its variants (sizes, states, with/without icons).
Please find these styles here: https://www.figma.com/file/PQALIZcBBJHqEmisXSJIbu/MetaGame-UI-Pattern-Library?node-id=304%3A41

I will style the Primary button in the same file, linked above, ASAP.

[2022-03-19 16:53] dysbulic commented on #1200
This is almost certainly because of multiple requests needed to get DAO memberships.

@alalonde was working on caching, I believe. Uncertain of the status.

[2022-03-19 17:18] davort commented on #1196
Let's have the headings as I suggested in https://github.com/MetaFam/TheGame/issues/1196#issuecomment-1072971208 and icons without shadows.

. . .

Perhaps we can just retain the mobile layout and do something like this?
![selected roles](https://user-images.githubusercontent.com/1573304/159131377-5e52e3bb-eeac-45d4-b14e-1ae0206f10ef.png)

The whole array of layouts for different breakpoints is av

[2022-03-19 17:27] davort commented on #1196
In the interest of keeping onboarding simple, I'd suggest having this as a **Profile page feature** instead. So, after the onboarding is over, and thus outside of scope for this push. If you agree with that, let's turn this into a separate ticket, and have approach solving it in a bit more structured manner.

Agreed on this one!

[2022-03-19 18:12] peth-yursick commented on #1196
Great, thank you!

I liked it much better with descriptions & big emojis we could later replace with cool illustrations.
But guess there's simple way to not require users to scroll down for "next" but still retain bigger graphics & descriptions? Maybe only allow 1 primary & 2 secondary?
Either way probably good enough for now 🤷‍♂️

[2022-03-19 18:40] davort commented on #1196
Sure there is – put it in a "sticky"—a.k.a. "fixed"—footer, so that it's always in view, while the content scrolls underneath it 😊 Same way we do it for mobile!

But please, in that case let's also make those cards look like they do in the original design: https://www.figma.com/file/rK3YRbHlUNme7PGb3kFjS3/Meta-Game-(Copy)?node-id=8235%3A43441

Example:
![fixed footer Next btn](https://user-images.

[2022-03-20 13:24] vidvidvid commented on #1196
o/ i fixed the last couple of issues - made the role cards smaller, fixed the hover on make primary/secondary role, renamed membership step, renamed some stuff that still had to be renamed, removed shadows from player type icons. pls check if everything's fine @davort @peth-yursick once the branch gets deployed! (in 15 mins or so)

[2022-03-20 13:25] vidvidvid commented on #1196
will be available here: https://the-game-git-fix-ui-content-improvements-metafam.vercel.app/

[2022-03-20 19:03] vidvidvid commented on #1196
merged the PR - the changes should be reflected on https://test.metagame.wtf/ very soon. imo we can close this issue and have it as a reference when we open any new issues that might stem from this list & discussion.

[2022-03-20 19:03] #1196 closed

[2022-03-20 20:12] davort commented on #1196
Nice job @vidvidvid !
I just noticed these two details on the Role Selection step:
![CleanShot 2022-03-20 at 21 10 29](https://user-images.githubusercontent.com/1573304/159184096-a58bcd9f-c5cd-4f04-9a61-1765159d2229.png)

- legacy typeface
- image wouldn't load for me (Patrons)

Other than that, really nice!

[2022-03-21 06:19] vidvidvid commented on #1196
@davort that's really weird, since I wrote the migration which @peth-yursick suggested with new descriptions and Patron being renamed to Fundster. i will check it.

[2022-03-21 10:11] peth-yursick commented on #1196
Name seems to still only allow lowercase:
![image](https://user-images.githubusercontent.com/55857222/159239920-5002e735-4d05-44a6-82c8-55b715c74f6a.png)

Yeah, looks like all old descriptions.. Btw the reason I renamed Patron to Funder is because selecting these will be used to set your roles on discord as well, so it made more sense for people to be able to signal they're interested in being a F

[2022-03-21 11:05] vidvidvid commented on #1196
@peth-yursick you named it `Fundster` in the doc. So what do you want it to be called now - Funder of Fundster?

[2022-03-21 12:47] peth-yursick commented on #1196
Yes, Patron became Fundster for that reason

[2022-03-21 13:49] vidvidvid commented on #1196
@peth-yursick but you're naming him `Funder` in your previous comment. so i'd like a confirmation which one you want :) `FundSTer` or `Funder`

[2022-03-25 02:19] alalonde opened #1209 "Display current season label dynamically"
### What happened?

Currently, the current season is calculated on the backend, but the label is hardcoded on the frontend, such that it still displays "Season V" even though we're in Season 6.

### What did you expect to happen?

It says "Season 6"

### How can we reproduce the problem (as minimally as possible)?

https://metagame.wtf/community/players

### Is there anything else we need to know?

[2022-03-25 02:22] alalonde opened #1210 "Reset everybody's seasonal XP at the beginning of each season"
### What happened?

We currently dynamically calculate the current season's XP, but it seems that if a player has no XP in the current season, their previous season's XP still displays. We should clear out all players' seasonal XP at the beginning of a new season.

### What did you expect to happen?

Vid should not be at the top of the leaderboard

### How can we reproduce the problem (as minimall

[2022-03-28 20:21] dysbulic commented on #1209
There are unicode Roman numerals through 12 & I think we ought to keep using them.

Ⅰ, Ⅱ, Ⅲ, Ⅳ, Ⅴ, Ⅵ, Ⅶ, Ⅷ, Ⅸ, Ⅹ, Ⅺ, & Ⅻ.

[2022-03-29 01:20] dysbulic opened #1219 "Move the leaderboard back to `/players`"
### What would you like to be added?

A while back @vidvidvid put the leaderboard at `/community/players` to align with the categories of the megamenu.

There is no simple way (that I know of) to go straight from [metagame.wtf](//metagame.wtf) to the leaderboard, so I end up typing it in.

In general, you add to a path to disambiguate, but there's no other `players` collections on our site, so it

[2022-03-29 01:56] dysbulic commented on #1117
This has been done for a while.

[2022-03-29 01:56] #1117 closed

[2022-03-29 17:32] arsenijesavic commented on #1209
@dysbulic I picked this issue as the first contribution but I just saw that you already changed it, however, it still not calculating season on the backend. I am currently familiarizing myself with the repo, but I could not find a way to retrieve the season number from the backend?

[2022-03-29 17:57] dysbulic opened #1221 "Add CORS headers to the Ceramic daemon"
### What would you like to be added?

Currently our Ceramic node is open to the world and anyone who wants to can connect.

This opens the possibility of someone dumping bunches of trash on our server and wasting space.

The Ceramic daemon supports a `http-api.corsAllowedOrigins` option in the configuration that would aid in restricting who is able to add content.

We would need to whitelist `meta

[2022-03-30 12:43] #1219 closed

[2022-03-30 15:16] dan13ram opened #1223 "[MyMeta] Unwanted "Connect to Progress" in Player Hero in Profile page"
### What happened?

![Screenshot from 2022-03-30 20:44:24](https://user-images.githubusercontent.com/10012209/160869798-4b228c09-d3af-4abd-94a3-03861314e3a2.png)

### What did you expect to happen?

![Screenshot from 2022-03-30 20:45:10](https://user-images.githubusercontent.com/10012209/160869861-1066f31a-f265-4a47-932e-c16800315012.png)

### How can we reproduce the problem (as minimally as poss

[2022-03-30 15:49] dan13ram opened #1224 "[MyMeta] Fix dashboard issues"
- Watch tab shows nothing
![Screenshot from 2022-03-30 21:18:21](https://user-images.githubusercontent.com/10012209/160876943-6215640d-ef65-40e6-93e6-aa6b1ed1e32e.png)

- Don't show XP if there's nothing to display
![Screenshot from 2022-03-30 21:18:29](https://user-images.githubusercontent.com/10012209/160877018-908de5c9-68ac-41fa-9e07-1687edf803ae.png)

[2022-04-04 13:13] peth-yursick commented on #1141
closed in mymeta fixes

[2022-04-04 13:13] #1141 closed

[2022-04-04 19:31] pvblick-vniversal-friend commented on #1196
### Does changing "Page Background" do anything at all?

[2022-04-07 16:31] peth-yursick commented on #443
I have it in the interface to upload the background image & it shows it as saved when revisiting later but it never actually displays in the background.. Is it just me or the feature isn't finished yet?

[2022-04-08 10:34] peth-yursick opened #1228 "[MyMeta] Editing a profile doesn't appear to save changes but actually does"
### What happened?

I've edited the profile by going to the quick edit page on the profile, made changes & clicked save.
Things changed, but as soon as I've refreshed the page, it reverts to the old.
The weird part is that the changes are actually reflected on self.id...
So maybe has something to do with our caching?
Also probably related to #363

### What did you expect to happen?

I expected the

[2022-04-08 11:46] peth-yursick opened #1229 "[MyMeta] Custom colors, transparency & blur"
### What would you like to be added?

Primarily, the ability for people to change the color scheme on their profiles.

But also, as people are allowed to change the background image (#443) & the color scheme of the boxes, it would be good to also allow them to set custom transparency & blur levels for the boxes.
I have no idea how complicated that is, so maybe just completely ignore the idea & I'l

[2022-04-08 11:54] peth-yursick opened #1230 "[MyMeta] Profile photo as one of the steps in the creation flow"
### What would you like to be added?

I think adding the profile picture is important enough to have it in the main profile creation flow together with "name" & "description".

### Why is this needed?

Its a fairly basic piece of any profile.

[2022-04-08 11:58] peth-yursick opened #1231 "[MyMeta] Profile verification & connection"
### What would you like to be added?

Basic self.id profiles have the ability to verify other accounts such as Twitter & Github but we don't.
It would be great to have this "connect your other profiles" also in the creation flow, maybe as the final step?

### Why is this needed?

Its important for people to be able to connect their other profiles, firstly so that they can actually be contacted as

[2022-04-08 12:15] peth-yursick opened #1232 "[MyMeta] Moving stats to another card"
We started with having player cards in the aspect ratio of business cards or playing cards but adding more & more info to player cards is making them longer & longer.
An example:
![image](https://user-images.githubusercontent.com/55857222/162431576-4ef135aa-d009-44f7-b822-1fd1ca4c888f.png)

I'm not a designer so maybe I'm completely wrong here but imo this makes them look ugly & confusing as to wh

[2022-04-08 20:07] peth-yursick opened #1233 "[MyMeta] Upgrade the single page profile edit - design"
The single page edit was built without any design work & currently seems like the weakest part of the profiles in terms of the design:
![image](https://user-images.githubusercontent.com/55857222/162518428-94721d69-0880-4bff-978d-f83e3845f835.png)

I posted this in the designers guild but also opening an issue here to make sure we don't forget.
Correct me if I'm wrong but should be a good first iss

[2022-04-09 17:19] dysbulic commented on #1228
The way the system works is it makes the changes to Ceramic and to the local instance, and then signals Hasura to update the data.

If you refresh before Hasura get the new data, you'll see the old. If you refresh again after two or three minutes though, you should see the new data.

The only way to fix this is to load parts of the profile page directly from Ceramic. It means another refactor and

[2022-04-09 17:22] dysbulic commented on #1229
Currently most of the theming is on the components being inserted and explicitly refers to certain colors.

Switching to a more general expressions of colors, as described in #1157, would make themability easier.

[2022-04-09 17:28] dysbulic commented on #1231
When connecting an account. a user creates an artifact in the target system containing their DID (i.e. a gist on GitHub or a tweet on Twitter.)

[IdentityLink](//github.com/ceramicstudio/identitylink-services/) is a set of serverless functions that checks those artifacts and creates a signed attestation that it viewed them. These serve as the basis for verifying account ownership.

The copy of Ide

[2022-04-09 19:43] peth-yursick commented on #1228
Looks like it updated by now & looks like @pvblick-vniversal-friend profile updated as well..
Thanks for the clarification, closing this now. And should I close #363 as well?

[2022-04-09 19:43] #1228 closed

[2022-04-09 19:51] peth-yursick commented on #1231
Would be awesome to at least have github & twitter, don't really care about others that self.id doesn't support out of the box tho discord would be cool. But you're saying it only works for github & not for twitter?
Even just linking to self.id for that step temporarily would work, as long as there's *some* way to get to it as there is currently none..

[2022-04-12 05:18] dysbulic opened #1236 "[Landing Page]: Add links to our major properties to the front page"
### What would you like to be added?

Currently, [metagame.wtf](//metagame.wtf) is geared entirely to first time visitors. Returning users who have already seen the slideshow have to click three or four times at least to get to our staple services.

I would like to remove the text "Follow Us" from the right-hand side of the front page (you don't have to explain the Twitter icon, people know it), a

[2022-04-12 13:10] peth-yursick opened #1237 "[MyMeta] Weekly & monthly leaderboard filters"
### What would you like to be added?

An ability to filter players on weekly & monthly periods.

### Why is this needed?

Would allow us to highlight player of the week & player of the month.
Would make the leaderboard more dynamic in general & allow us to add "move" indicators to further gamify it as it would be easier for people to climb it.

With this one too, we have a lot more important thing

[2022-04-12 13:10] peth-eth opened #1238 "[MyMeta] Position number & move indicator?"
### What would you like to be added?

It would be cool if the player cards on the leaderboard also displayed position number # in the top left corner or something. Would be extra cool if it displayed how many spots up or down a player moved in a given time period (would be good to have #1237 first).

### Why is this needed?

I don't think its *needed*, would more so be good to have because it woul

[2022-04-12 17:43] alalonde opened #1239 "[Guilds] Guild member sync is broken"
### What happened?

I approved TEC's guild application, which should have triggered a sync where we associate their members from Discord with our players.  This did not happen.

### What did you expect to happen?

 A sync

### How can we reproduce the problem (as minimally as possible)?

Go to https://metagame.wtf/guild/TEC. You can also trigger a sync through the hasura console.

### Is there any

[2022-04-12 17:54] alalonde opened #1240 "Split up Discord bots into MetaOS and MyMeta"
### What would you like to be added?

We should split our bot up into two bots:
- One for our own usage (MetaOS). This will have write permissions to roles and channels.
- Another for usage by guilds (MyMeta). The MyMeta bot will have minimal, read-only permissions, like read-only access to channels and roles.

### Why is this needed?

- Some guilds have expressed concern about the discord permiss

[2022-04-12 18:40] peth-yursick opened #1242 "[MyMeta] Integrating Collab.Land's verifiable credentials into MyMeta"
### What would you like to be added?

I'd like for us to integrate Collab.Land's verifiable credentials into MyMeta as it would add more data points / kind of reputation about the people using the profiles.

Verifiable credentials are basically logs of how someone is using their tokens (not as in trading, but as in what token-gated communities or DAOs they're joining or leaving)

### Why is this n

[2022-04-12 18:49] alalonde commented on #1240
I looked into this a bit and I don't think we need to split up the bots. A bot can have different permissions per server. I think we can just maintain a set of permissions that we (MetaFam) need, and change the permissions / scopes in the guild onboarding flow directly.

However, any changes to permissions will need to be explicitly approved by each guild / server.

[2022-04-13 14:32] vidvidvid opened #1243 "vid's xp is stuck"
### What happened?

Both total and seasonal xp have been stuck for the past 3 weeks:
<img width="542" alt="Screenshot 2022-04-13 at 16 30 24" src="https://user-images.githubusercontent.com/35112939/163204081-3e3fb169-80e3-49cd-89d3-2ca5a982c5f1.png">

### What did you expect to happen?

xp should keep on changing as it does here: https://xp.metagame.wtf/

### How can we reproduce the problem (as m

[2022-04-15 05:22] tommycomma opened #1245 "xp explorer page design alignment mistake"
### What happened?

If you are at [https://xp.metagame.wtf/#/explorer](https://xp.metagame.wtf/#/explorer)
and you click All Time,
You will notice the number inside of the orange circle for “Seed” is aligned left outside of the circle.
![Uploading CE18E165-C6C5-4C96-93BE-42FA906CB9F5.jpeg…]()

### What did you expect to happen?

For the number to be centered like all other circled numbers under al

[2022-04-16 12:39] githubdoramon opened #1246 "Meet with wallet integration"
### What would you like to be added?

Easy integration with meetwithwallet.xyz so players can have their calendar on their profiles

### Why is this needed?

Improves coordination by allowing easy scheduling of meetings

[2022-04-17 16:24] tommycomma opened #1251 "Event link goes to nothing about events"
### What happened?

When you are on your mymeta profile, and click the expansion lines to bring up more links and click events...

it brings you to an old wiki page on the house of daos?

![image](https://user-images.githubusercontent.com/93880424/163723452-5d6c23cf-e1d7-422a-b97e-fe11884ae510.jpeg)

![image](https://user-images.githubusercontent.com/93880424/163723460-b9d11f9f-c5d3-4f76-b809-8a1a

[2022-04-19 19:36] alalonde commented on #1176
What if we just added a "Use ENS" checkbox as an alternative to username? Since we already have their ETH address at that point.  I'm not sure that we want to store ENS names in our DB (I believe they can expire, be re-assigned, etc).

We could support ENS out of the box already by just looking up ENS names from players that have no "username" (name in the profile table I believe)

[2022-04-20 05:28] dysbulic commented on #1176
I agree with not storing the names. Not only might they be transfered, but we'd also have to worry about people registering someone else's name with ill intent.

I like the idea of disallowing `.eth` as the terminal part of a username, resolving the ENS name of any profiles requested with a `.eth` extension, then serving up the profile of the associated address.

It's very similar to the situation

[2022-04-20 14:28] alalonde commented on #1224
@arsenijesavic Turns out that the Youtube API Key didn't have enough whitelisted HTTP Referers. I added entries for metagame.wtf and our a.run.app GCP PR deployments

[2022-04-20 23:55] tommycomma opened #1253 "Podcasts mention, add link to podcasts"
### What would you like to be added?

[https://metagame.wtf/#what-do](url)
On this page, where it mentions Podcasts.. I suggest we add a link direct to our podcasts.

for example,
[https://anchor.fm/metagame](url)

### Why is this needed?

Ease of access.  Marketing.  Added avenues to the rabbitholes.

[2022-04-22 01:23] alalonde commented on #1243
I don't think your new eth address was ever updated in the sourcecred ledger.  Have you received any mints at your new address?

[2022-04-25 20:27] dysbulic commented on #1221
Relatively without having something that actually the Ceramic protocol monitoring access because we get writes directly from the clients. I don't know how to get a list of the streams that have been created on a server, but maybe it exists. With that we could make sure everything's that been created is of a type we know of.

CORS is almost certainly the simplest effective stopgap.

[2022-04-26 03:14] #1038 closed

[2022-04-26 16:30] alalonde opened #1257 "Allow guild onboarding without linking a Discord server"
### What would you like to be added?

The guild onboarding flow was originally implemented primarily to let guilds define "membership" by certain roles in their Discord server. Currently we have a flag `membership_through_discord` on a guild which is always set to true for guilds going through this process.

However, guilds may want their memberships to be defined some other way; say, by those bel

[2022-04-26 16:35] alalonde opened #1258 "Tweak staging and production frontend deployments so there is less downtime"
### What would you like to be added?

Currently, when pushing to `develop` or `master`, there is this automated github actions flow:

- Undeploy frontend
- Delete frontend container
- Build frontend
- Deploy frontend

Building the frontend takes over 20m, which means at least 20m of downtime. Seems like we should build the new container before undeploying the old one.

### Why is this needed?

We

[2022-04-26 16:52] alalonde commented on #1239
This seems to still be an issue, at least with the TEC:

[code]

[2022-05-02 08:52] peth-yursick commented on #1201
Hey @arsenijesavic, any update on this?

[2022-05-02 12:26] arsenijesavic commented on #1201
@peth-yursick I will be working on this issue during this week, last week i was busy with hackathon and other projects!

[2022-05-07 21:20] #1246 closed

[2022-05-09 23:58] dysbulic commented on #1243
I'm seeing `0x81A8C4Dca0E33c8a46023cc017FFE5938541b0fF` & `0x89bf9BAaeE2d451477CF850fE4c0d89bb796B1aD` for "vid" in [the ledger](https://github.com/MetaFam/XP/blob/master/data/ledger.json) with `0x89…` being the later one.

I'm pretty sure the issue is [`getLatestEthAddress`](https://github.com/MetaFam/TheGame/blob/develop/packages/utils/src/sourceCredHelpers.ts#L5-L8) which uses `find` which retu

[2022-05-10 00:02] dysbulic commented on #1236
Another feature you might add while doing this is to add [`Tooltip`](https://chakra-ui.com/docs/components/overlay/tooltip)s to the icons. Something like: `<Tooltip label='Dashboard' hasArrow placement='left'>…`.

[2022-05-10 14:22] ChariotDigital commented on #1236
I'm going to take a crack at this as my first issue, ill keep you all updated!

[2022-05-11 14:24] #1243 closed

[2022-05-12 10:20] luxumbra commented on #1236
Thanks for picking this up @ChariotDigital. I like @dysbulic's suggestion of adding `Tooltip` 👍🏻

[2022-05-12 15:59] vance4243 opened #1267 "Metagame.wtf: Players - After I came back from a player's profile, my filter was gone."
### What happened?

On the https://metagame.wtf/players page: I sorted the players by Username (A-Z), scrolled down and clicked on a profile. When I went back to the list of players, my filter was gone and I was put to the beginning of the page.

### What did you expect to happen?

Continue scrolling through the sorted Players from where I stopped.

### How can we reproduce the problem (as minimal

[2022-05-12 16:33] vance4243 commented on #1236
I would like to add, that I could not find a way to get back to the Dashboard, once I went to any subpage, except writing /dashboard in the url. I would propose to link to https://metagame.wtf/dashboard on the Meta Symbol on the upper left hand side, as a start. (Instead of the landing page)

[2022-05-17 19:09] #1251 closed

[2022-05-18 05:45] dysbulic commented on #1236
The dashboard isn't really central enough to the application to be the destination of the home page link, in my opinion. Since you're linking to the dashboard from the landing page, users will be able to get to it with two clicks.

Currently when a user is authenticated there's a link to the dashboard under the menu you get by clicking on your profile icon. This was because several aspects of the

[2022-05-18 05:48] #1209 closed

[2022-05-18 05:48] #1223 closed

[2022-05-18 05:48] #1224 closed

[2022-05-24 16:38] dysbulic opened #1274 "Getting 500 errors when calling `ethers.utils.isAddress()`"
### What happened?

When connecting to [metagame.wtf](//metagame.wtf) with an account that hasn't been connected before, also in the `/api/opensea` endpoint, calls to `ethers.utils.isAddress()` are failing.

In the Cloud Run logs, the error is `TypeError: ethers__WEBPACK_IMPORTED_MODULE_5__.utils.isAddress is not a function`.

### What did you expect to happen?

The method to execute correctly.

#

[2022-05-25 17:27] dysbulic opened #1276 "Switch Ceramic from K8s to a VPS"
### What would you like to be added?

@Polimyl has suggested that it would be performance and cost advantageous to switch from hosting our Ceramic node in Kubernetes to a Virtual Private Server.

The VPS won't have the automatic scaling that K8s has, I don't know what the other trade-offs are.

@jb0gie suggested that [Oracle's free tier VPS](//oracle.com/cloud/free/) — 4 CPU / 24 GiB RAM / 200 GiB

[2022-05-26 02:32] peth-yursick commented on #1201
Hey, were you able to make any progress? Need some help or just gave up when the token shit itself? 😂

[2022-05-28 18:01] vance4243 opened #1277 "metagame.wtf/start: My Firefox doesnt render the "Back to top" mechanic properly"
### What happened?

On the metagame.wtf/#start page scrolling only works on the edges and there are some render issues as seen in the attached image
![startpage](https://user-images.githubusercontent.com/96993195/170837268-0757158e-ed1f-483c-b0ca-e45514a19058.png)
.

### What did you expect to happen?

No big pink Arrow, Button border only around a well aligned "Back to top" Button.
No scrolling i

[2022-05-28 19:17] vance4243 commented on #1267
When I open the Timezone filter and try to click on some Timezone in the lower part, the Player underneath the menu gets opened.

[2022-05-31 04:41] alalonde commented on #1277
This is a regression; I saw and fixed this at some point before: https://github.com/MetaFam/TheGame/commit/56e6c8a9e01f0fa39f93965543610d237058c366

[2022-05-31 16:08] arsenijesavic commented on #1201
@peth-yursick pushing this week :)

[2022-06-01 14:40] alalonde opened #1279 "[Guilds] Aggregate color wheel data for players into a psychmetric profile for guilds"
### What would you like to be added?

We have a rich set of psychometric data for most players. It would be interesting to build a visualization on guild pages aggregating the guild members' color data.   This could show a general "personality" for a given guild.

### Why is this needed?

Nobody else has this data and it would result in a very interesting insight into guilds.

**Context**

Current

[2022-06-01 14:45] alalonde opened #1280 "Show aggregated skill information in the guild profile page"
### What would you like to be added?

Much like for #1279, we have a bunch of data around player skills. We could aggregate these skills into a visualization that helps show what a guild/DAO is "all about". Likely there are trends for certain guilds, e.g. design / art skills for design-oriented DAOs, etc etc.

Even though these skills are self-identified and not verified externally, it is still a

[2022-06-03 05:42] #1277 closed

[2022-06-04 05:21] alalonde opened #1284 "XP discord command is broken"
### What happened?

<img width="498" alt="image" src="https://user-images.githubusercontent.com/1402582/171985430-55dbaf76-2388-43bf-98e3-122b5812c409.png">

### What did you expect to happen?

It should tell me my XP

### How can we reproduce the problem (as minimally as possible)?

`!mg xp` in the proper channel

[2022-06-04 06:53] HHH-GH commented on #1170
Ahoy,

1. Would a search and replace through all the files be enough to find all the places that need to be changed?
2. Are new logos/images/icons available, or would they need to be made?

I *think* I could do this work.

[2022-06-04 08:57] peth-yursick opened #1286 "[Quests] More info & formatting of quest completions via give-props"
### What would you like to be added?

Some ideas for improving on the quest completion bridging to give props...
- Adding "effort" field to the submissions
- Adding "impact" field for quest givers to add when accepting a quest submission
- Bridge both of those fields as well as the "attachment" field to discord
- Format like in didathing

### Why is this needed?

It would make the quests more legi

[2022-06-04 09:22] peth-yursick opened #1287 "[MyMeta] Guild profile images not queried & page format not aligned with player profiles"
Guild profiles don't seem to be pulling in guild avatars. Not sure if this is true only of discord-based guilds or affecting some others as well but seems that for discord-based ones it doesn't work for sure.

Other than that, it would be good if guild profiles were formatted in the same way as player profiles.
Right now, guild page boxes may be hardcoded like player ones were before.

Player prof

[2022-06-07 14:54] dysbulic commented on #1236
@ChariotDigital, I'd probably put them on everything for consistency sake. I was moreso meaning we don't need the "Follow Us" text. It won't hurt to give people some extraneous info about the links. It's possible someone won't recognize GitHub or Discord.

Also, if you use `Box`es rather than `span`s, does it render correctly? It's better to keep it all Chakra-based if that's possible.

[2022-06-09 03:40] #1284 closed

[2022-06-12 02:50] #1021 closed

[2022-06-12 03:21] #1023 closed

[2022-06-12 20:15] ChariotDigital commented on #1236
Thanks, @luxumbra @dysbulic This is my first time using Chakra so I wasnt aware of `<Box>`. I'll add those into the PR

[2022-06-24 08:46] peth-yursick opened #1296 "[Quests] Quest fixes in formatting"
Some UX/UI fixes to be made to make Quests work well:
- [ ] Headers formatting broken (in editor, the toolbar indicates that something is a header, but never appears so in editor nor display mode)
- [ ] Not all rich text pastes for some reason (underlines dont)
- [ ] White text & no underlines on hyperlinks (makes it hard to distinguish links)
- [ ] Can’t have empty lines, should be able to
- [ ]

[2022-06-27 14:04] dysbulic opened #1298 "Upgrade to Ceramic Graph"
### What would you like to be added?

This issue is just to get what will be a significant amount of work on the Builders' radar.

Ceramic is going to transition to a wholly new structure where, instead of the current key-value store, data will be stored according to graph relationships. Due to be released in September, this change will fundamentally change how Ceramic data is stored and retrieved

[2022-06-27 14:10] dysbulic commented on #1276
@polimyl decided to switch to a managed Kubernetes deployment that allows control over the UDP buffer size *(which was overflowing, and uneditable in the auto-scaling deployment)*. Things seem to be running stably now.

[2022-07-06 03:01] #894 closed

[2022-07-06 15:06] alalonde commented on #1258
This is fairly urgent, as a failed build now results in the previous instance being removed, and you have to fix the build to have ANYTHING deployed

[2022-07-06 15:09] dysbulic opened #1302 "Google Analytics doesn't seem to be loading"
### What happened?

There is [code](//github.com/MetaFam/TheGame/blob/e323a23b7051a3b0363753967e1b3c68b634d9b8/packages/web/pages/_app.tsx#L20-L38) to include [Google Analytics](//analytics.google.com) dependent on `NEXT_PUBLIC_GA4_ID` being defined in the environment.

It doesn't seem to be included, so maybe the variable isn't getting passed through.

### What did you expect to happen?

Analytic

[2022-07-06 16:06] alalonde commented on #1302
I pushed a potential fix straight to `develop` for this, as there isn't really any other way to test it

[2022-07-06 16:37] alalonde commented on #1302
I believe this is fixed.

[2022-07-10 04:27] smitgol commented on #1237
How we can filter player on weekly or monthly basis ? is there any data field in players data.

[2022-07-12 15:58] alalonde commented on #1287
I think the issue here is that we are just hot-linking to guilds' logo images, so we have no recourse if e.g. the filename changes, the URL changes, etc. The Discord ones mostly do work, e.g. Opolis, Bloom

[2022-07-12 16:16] alalonde commented on #1240
This is not needed.  The MetaGame guild has granted our bot additional permissions already.

[2022-07-12 16:16] #1240 closed

[2022-07-12 16:18] alalonde commented on #1236
This was taken care of with #1291

[2022-07-12 16:18] #1236 closed

[2022-07-12 16:26] alalonde commented on #1210
This still isn't fixed. We should be explicitly setting all players' `season_xp` to zero at the beginning of each season

[2022-07-12 19:31] alalonde commented on #1239
The issue here is permissions. If the "membership" role is greater than the bot's own role in the server, we don't have visibility into that role for any of the server's members.

[2022-07-13 09:01] peth-yursick opened #1309 "[MyMeta] "Custom block" leading to a quest"
### What would you like to be added?

When clicking "add new block", there should be an option called "custom block" or something,
which would take people to [this quest](https://metagame.wtf/quest/6524b99a-df7e-4c10-838d-c441a8417e77).

### Why is this needed?

It would make for a tighter feedback loop, where people who are editing their profile & want an integration or block type that doesnt exi

[2022-07-13 09:09] peth-yursick opened #1310 "[Dashboard] Quests appearing on the dashboard"
### What would you like to be added?

Right now, I have 15 quests live. If I want to check if anyone applied for quest completions, I need to go under quests & open each of them separately to see..
- If a user has posted a quest, there should be a block on the dashboard displaying applicants for quest completions.
- If a user has accepted or completed a quest, there should be a block on the dashbo

[2022-07-13 09:14] peth-yursick opened #1311 "[Dashboard] "add new block" to the dashboard"
### What would you like to be added?

Some block ideas
- My first suggestions is to do the same thing as in #1309 except linking to [this quest](https://metagame.wtf/quest/99047a66-533a-43a0-abc2-c9a9de85de46) instead.
- Other than that, I think the main one needed right now is "quests" #1310
- Quest Chains started get auto-pinned on the dashboard
- After that, it will probably be "your DAOhaus DA

[2022-07-13 09:48] peth-yursick opened #1312 "[Quests] Integrate miro raids board directly into MetaOS"
### What would you like to be added?

Right now, clicking "raids" takes people into the wiki page called "raids" which has a miro board integrated.
Instead of doing this, the miro board should be integrated to open directly under the megamenu in full size.
Also, there's [a new miro board](https://miro.com/welcomeonboard/WlF4cXNhMXFsRUJvNmE1a0ExZnYzRkc1NFBUUmhoS3pyWVA2bGlHM3pja0w2bWxSU2NWUzFzZ2l0d2

[2022-07-13 11:32] peth-yursick opened #1313 "[Landing] Small fixes & changes to the landing page"
Made some fixes & changes to the landing page design mostly based on feedback by designers & users.
If anyone is interested, you can [start going through the updated design](https://www.figma.com/file/n36ggiRBQEGzRUbGxWfkMX/Meta-Game-(Copy)?node-id=5237%3A2386) & implementing the changes as described below.
- [x] Removed the comma from "gold rushing cowboys, & snake oil salesmen"
- [x] Added heade

[2022-07-13 12:18] peth-yursick commented on #1201
You said you're down to do it, so I unassigned Arsenije (who had already given up 2 weeks earlier) & assigned you @alalonde.
If you changed your mind meanwhile, please unassign & I'll try to find somebody else :)

[2022-07-13 13:05] peth-yursick opened #1314 "[Bot] Upgrades & Fixes"
Not 100% sure the bot is in this repo but can't find it anywhere else either @alalonde..
Referring to "MetaGameBot" which is posting "congrats X for moving up the Y league".

Things I think should be fixed/changed/upgraded about the bot:
- [ ] As people move back down a league, they are unassigned that league role but not re-assigned the previous one
- [ ] It would be good if it also tagged the pe