[2020-04-18 06:47] hammadj opened #4 "Setup dev tooling"
- [x] Prettier
- [x] lint-staged
- [x] husky

Example setup here: https://github.com/raid-guild/gatsby-typescript-dapp-starter

[2020-04-18 06:49] hammadj opened #5 "Setup CI"
Setup GitHub actions to run type check, linting, etc on pull requests

[2020-07-12 02:17] hammadj opened #17 "Setup Remote Schema for Moloch DAOs"
Setup a remote schema for Moloch DAOs so we can look up what DAOs a user is a member of.

Subgraph link: https://thegraph.com/explorer/subgraph/odyssy-automaton/daohaus

Example query to fetch all the DAOs a user is a member of:

[code]

[2020-07-12 02:54] hammadj opened #18 "Setup Remote Schema / Joins for Aragon Subgraphs"
Setup a remote schema for Aragon DAOs so we can look up what DAOs a user is a member of

Subgraph for tokens: https://thegraph.com/explorer/subgraph/aragon/aragon-tokens-mainnet
Subgraph for DAO data: https://thegraph.com/explorer/subgraph/aragon/aragon-mainnet

Docs on remote schemas: https://hasura.io/docs/1.0/graphql/manual/remote-schemas/
Docs on remote joins: https://hasura.io/blog/remote-joi

[2020-07-12 02:56] hammadj opened #19 "Setup seed data migrations to populate database with initial sample data"
This will make development work a lot easier if we have existing sample data in the DB to work with

Docs: https://hasura.io/docs/1.0/graphql/manual/migrations/advanced/seed-data-migration.html#seed-data-migration

[2020-07-12 03:00] META-DREAMER opened #20 "Move discord bot logic into TheGame repo"
Old repo: https://github.com/MetaFam/bot

If we can move this into this repo it will let us easily build more features on top of it. We should probably re-write it in TypeScript as well since Discord.js has pretty good TS support.

Currently the bot updates files in TheSource repo for sourcecred to use, but once we implement generating the identities file from the database then we can update it to

[2020-07-12 03:31] hammadj opened #21 "Update the SourceCred instance to the new format"
Current instance: https://github.com/MetaFam/TheSource

New example instance: https://github.com/sourcecred/example-instance

Currently blocked until identities and initiatives are implemented for the new instance system

[2020-07-12 04:54] hammadj opened #22 "Push output data into DB after computing XP"
Blocked until #21 is closed

Every time the new output data is calculated on [our sourcecred instance](https://github.com/MetaFam/TheSource), we need to push that data into the appropriate table in our database so we can efficiently look up how much XP each user has and where they got it from, etc. Example of the new output format: https://github.com/sourcecred/example-instance/tree/master/output

[2020-07-12 05:22] hammadj opened #23 "Setup NextJS web app for frontend"
Setup the scaffolding for a NextJS app with ChakraUI. Can use static generation for now.

Potentially useful links:
- https://nextjs.org/docs/basic-features/typescript
- https://github.com/formik/tsdx
- https://github.com/rangle/radius
- https://github.com/relay-tools/relay-hooks/blob/master/examples/suspense/nextjs-ssr/relay/withData.tsx

[2020-07-12 05:41] hammadj opened #24 "Migrate data for all current users into DB"
Write a script to take all the user data we have in https://github.com/MetaFam/TheSource (project.json and addressBook.json) and put it into the appropriates tables in our Database

[2020-07-12 05:42] hammadj opened #25 "Update Database Schema for new profiles setup"
Simplify the DB schema to only the essentials we need for profiles

[2020-07-12 05:52] hammadj opened #26 "Setup Query Action + Remote Join for 3Box Data"
We want to be able to query the 3box API for a users profile information. Should set up a [query action](https://hasura.io/docs/1.0/graphql/manual/actions/create.html#query-type-action) that uses 3Box JS to load this data

[2020-07-12 05:54] META-DREAMER opened #27 "[MyMeta] Allow editing 3Box profiles on MG instead of redirecting to 3box"
https://docs.3box.io/build/plugins/profile-edit

[2020-07-12 07:07] hammadj opened #28 "Setup Remote Schema for Everest to populate Guilds"
https://everest.link/

Can use this as a data source for list of projects/guilds in the web3 space

[2020-07-12 11:44] pakokrew commented on #25
Proposed modifications in schema :

**Player**
- id
- username
- totalXp
- rank (remove, calculated from totalXP)
- links (remove, get it from linked accounts)
- sentences (remove)
- guilds_member > (?)
- quests_completed > (?)
- XPIntervals > (?)

From the wireframes, we should add:
- role
- timezone
- enneagram profile
- skills

I didn't add availability since I don't think we'll be able to ask

[2020-07-12 19:15] hammadj commented on #25
@pakokrew Link to proof comes from 3box as well, they have github/twitter in there, but yea dont need to have it in our DB, can just use remote join.

For guilds, I think we should still h

[2020-07-13 02:48] hammadj opened #29 "Setup ESLint with Prettier and TypeScript"

[2020-07-13 17:06] #4 closed

[2020-07-13 17:19] todo[bot] opened #35 "Apollo does not updates caches as it expects that the mutation returns an object..."
https://github.com/MetaFam/TheGame/blob/c54c3995cc409088f13925cfc989110424657d7e/packages/app-react/src/components/PlayerDetails.tsx#L45-L48

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in c54c3995cc409088f13925cfc989110424657d7e when #32 was merged. cc @MetaFam.

[2020-07-26 15:45] hammadj opened #39 "Setup Design System with NextJS"

[2020-07-26 16:52] #5 closed

[2020-07-26 17:47] hammadj commented on #29
Closed in #32

[2020-07-26 17:47] hammadj commented on #29
Closed in #32

[2020-07-26 17:47] #29 closed

[2020-07-27 01:56] #39 closed

[2020-07-28 08:09] pakokrew commented on #19
some data have been inserted in #33

[2020-07-28 08:09] #19 closed

[2020-07-28 08:10] #25 closed

[2020-07-29 20:39] hammadj commented on #23
Closed in #37 and #40

[2020-07-29 20:39] #23 closed

[2020-07-29 21:06] hammadj opened #46 "Setup Auth with Web3Modal on NextJS app"
https://www.figma.com/file/zDHqledo5H2aKR3KDvbur8/Meta-Game?node-id=1713%3A32

Here's the login screen. The design isn't up to date, but the two options we want here for signing in are web3Modal (metamask, walletconnect, etc) and https://magic.link with email for anyone that doesn't have an existing ETH account. For the scope of this issue, we will implement web3modal first.

You can see how the e

[2020-07-29 21:16] hammadj opened #47 "Create layouts / containers for profile setup screen (inc responsive layout"
https://www.figma.com/file/zDHqledo5H2aKR3KDvbur8/Meta-Game?node-id=1713%3A317

Setup some basic react components that handle the layout for the profile setup screens (e.g. title, next button, progress bars, etc + responsive layout for mobile). Don't have to setup each individual component, just the reusable page structure where we can drop in the specific components for each screen

[2020-07-29 21:19] hammadj opened #48 "Create "Add Skills" component"
https://www.figma.com/file/zDHqledo5H2aKR3KDvbur8/Meta-Game?node-id=1713%3A317

Create component to add / remove a list of skills, preferably with autocomplete. Can use downshift to handle the logic: https://github.com/downshift-js/downshift

Feel free to use mock data

[2020-07-29 21:24] hammadj opened #49 "Setup logic to handle Profile Setup form state"
Need to manage the state for the setup screens and decide how much stuff if actually a separate page vs just on the same page.

https://www.figma.com/file/zDHqledo5H2aKR3KDvbur8/Meta-Game?node-id=1713%3A317

Includes what step of the form the user is on, what screen / components to render, and managing the input states of each screen in a clean way. Once a user finishes adding skills for example,

[2020-08-03 03:01] hammadj opened #53 "Setup URQL with own backend"

[2020-08-03 12:13] brymut commented on #46
Will work on setting this up

[2020-08-04 23:31] hammadj opened #56 "[MetaMaps] MetaMaps Bugs"
- crashes without any error message when opened in a non web3 browser (TypeError: Cannot read property 'enable' of undefined). Should use web3 modal so people can connect with non metamask browsers (e.g. WalletConnect)
- images aren't persisted, when I reload a map the image is broken
- When I change ethereum accounts and refresh, I get infinite loading state
- Also get an infinite loading state w

[2020-08-04 23:34] hammadj opened #57 "[MetaMaps] Update MetaMaps to use VisJS"
The UX of MetaMaps isn't ideal right now:
- Lines are static and cannot be moved with the objects
- squares and circles don't have any text / labels, hard to know what they are for
- can't pan or zoom the graph
- Not mobile/touch friendly

It would be advantageous for us to leverage existing libraries instead of trying to implement all these complicated interactions on our own. Can have something

[2020-08-05 00:08] TheLoneRonin commented on #56
@hammadj, thanks for the testing Hammad!
I'll make sure to look into those now.

[2020-08-05 00:51] hammadj opened #58 "[MetaMaps] MetaMaps URL / Name Handling"
Should set the URL for the map so people can share the link and it will load that specific map. Probably need to have it scoped to the user that created it so there is no naming conflicts. In addition, the URL should be updated in the address bar when the user saves it.

Would also be good to show a dropdown list of the existing maps the user has already created instead of having to type it out an

[2020-08-15 05:08] #47 closed

[2020-08-16 21:11] youngkidwarrior commented on #46
@hammadj I can work on this and have it done by the end of the week.

[2020-08-17 01:37] dan13ram commented on #46
@youngkidwarrior please go ahead, I've not been able to get to this yet.

[2020-08-17 20:25] #53 closed

[2020-09-17 10:04] krzysu commented on #46
it was done in this commit https://github.com/MetaFam/TheGame/commit/2e4c3a6c6589bff030a472d2684a928b736435ef

[2020-09-17 10:04] #46 closed

[2020-10-06 17:04] hammadj opened #134 "Add enneagram type + player type table to backend"

[2020-10-06 17:05] hammadj opened #135 "Migrate to Vercel"

[2020-10-10 04:04] todo[bot] opened #139 "fetch data from backend instead"
https://github.com/MetaFam/TheGame/blob/68bba02bae73d53a440c3abc841caaaab8aa80a9/packages/web/graphql/getPersonalityTypes.ts#L69-L70

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 68bba02bae73d53a440c3abc841caaaab8aa80a9 when #138 was merged. cc @MetaFam.

[2020-10-10 04:04] todo[bot] opened #140 "fetch data from backend instead"
https://github.com/MetaFam/TheGame/blob/95834c9cb5b4602da2100b6624358d9b7d42a322/packages/web/graphql/getPersonalityTypes.ts#L69-L70

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 95834c9cb5b4602da2100b6624358d9b7d42a322. It&#x27;s been assigned to @dan13ram because they committed the code.

[2020-10-10 07:13] hammadj commented on #134
closed in #141

[2020-10-10 07:13] #134 closed

[2020-10-10 07:13] hammadj commented on #26
done

[2020-10-10 07:13] #26 closed

[2020-10-10 07:14] hammadj commented on #22
Done

[2020-10-10 07:14] #22 closed

[2020-10-10 07:14] hammadj commented on #21
Done

[2020-10-10 07:14] #21 closed

[2020-10-10 07:15] hammadj commented on #48
closed in #124

[2020-10-10 07:15] #48 closed

[2020-10-10 07:15] hammadj commented on #24
done

[2020-10-10 07:15] #24 closed

[2020-10-12 17:35] hammadj opened #153 "Skills Selector tweaks"
- [x] Color code each skill based on its category
- [x] Make sure that the select list stays open when you add a skill https://react-select.com/home#animated-components

[2020-10-12 17:44] hammadj opened #154 "BrightID Integration"
Allow people to scan QR Code to verify their profiles with BrightID

[2020-10-12 17:45] #135 closed

[2020-10-12 17:46] #49 closed

[2020-10-12 17:46] hammadj commented on #27
Putting on backburner until Identity Index is ready

[2020-10-12 18:01] hammadj opened #155 "[MyMeta] Add 3Box Profile Edit Component to Setup Flow"
Add the profile edit widget near the end of the "about you" section of profile setup flow:

https://3box.github.io/3box-profile-edit-react/examples/dist/
https://github.com/3box/3box-profile-edit-react

[2020-10-12 18:02] hammadj opened #156 "Switch progress indicator to metagame icon in Setup Flow"
![image](https://user-images.githubusercontent.com/7143583/95777131-d6906080-0c82-11eb-90f8-fc692aba4fe8.png)

[2020-10-31 10:24] pakokrew commented on #139
Double #140

[2020-10-31 10:24] #139 closed

[2020-10-31 13:50] peth-yursick opened #172 "Fix the player cards/list"
The cards on player profiles have good margins on the sides, so they look good:
![image](https://user-images.githubusercontent.com/55857222/97780929-14005380-1b88-11eb-873d-165bc93b2085.png)

The cards don't have that, so they stretch & look weird on widescreen:
![image](https://user-images.githubusercontent.com/55857222/97780938-2aa6aa80-1b88-11eb-9e34-a07d08f98963.png)

The cards should always b

[2020-11-06 12:37] #153 closed

[2020-11-06 16:58] #156 closed

[2020-11-06 16:58] #172 closed

[2020-11-07 13:01] peth-yursick opened #175 "Making MyMeta Moar Like Designed"
[MyMeta Design](https://www.figma.com/file/n36ggiRBQEGzRUbGxWfkMX/Meta-Game-(Copy)?node-id=58%3A2):
![image](https://user-images.githubusercontent.com/55857222/98441723-6e596100-2100-11eb-8b38-918bff827cce.png)

[MyMeta Currently](https://my.metagame.wtf/player/peth-yursick):
![image](https://user-images.githubusercontent.com/55857222/98441693-3f42ef80-2100-11eb-9ee5-b4bc02957ab4.png)

Let's disre

[2020-11-10 09:41] vanmoortel opened #176 "[Bug] My metagame with walletconnect and gnosis safe multisig"
Can't connect my Gnosis Safe Multisig with walletconnect.
![image](https://user-images.githubusercontent.com/54771141/98656698-3f7dfd80-2341-11eb-9a39-bc25a138a9e7.png)

[2020-11-13 13:49] vanmoortel commented on #175
Hello 😄,
I just finished implementing the following things, I don't know where to do the pull request so I pushed on my git.
I didn't update the backend because I didn't have time to do it properly, so I put TODO where some things are missing.

- Add/Remove section
- Player Hero, rework design to match Designed
- Player Collab, fake data because I don't find the "role" and "timezone"(used "locatio

[2020-11-14 02:03] luxumbra commented on #175
Nice work @vanmoortel. It looks amazing. :star_struck:

[2020-11-14 06:59] #176 closed

[2020-11-15 20:41] nicolas-law commented on #176
@vanmoortel did you fix this? And if you did, how? :)

[2020-11-16 06:39] vanmoortel commented on #176
Hello @nicolas-law  😃
I contacted the gnosis support and they told me that they don't support message signing :/

[2020-11-16 17:47] alalonde opened #182 "Can't cancel out of profile edit workflow"
Back button doesn't do anything when on the first step. I would assume it would cancel out of the flow and go back to the main view.

[2020-11-18 20:19] #28 closed

[2020-11-18 20:19] #35 closed

[2020-11-18 20:54] #18 closed

[2020-11-18 20:58] META-DREAMER opened #184 "[MEGA ISSUE] Discord as source of truth for guilds"
### Context

Currently we use Moloch / Aragon as a means for discovering DAOs and other external guilds.  There is a Daohaus API for exploring these DAOs, however, any given guild / DAO must use Moloch / Aragon for this API to know about them.  We have observed that almost every organization who has expressed interest in becoming a Metagame guild has their own discord server, however.  And that di

[2020-11-18 21:42] hammadj opened #185 "[Mega Issue] Player Profile"
- Allow users to update their role on frontend + add the role field to Player table in Hasura
-̶ ̶S̶k̶i̶l̶l̶s̶ ̶s̶h̶o̶u̶l̶d̶ ̶b̶e̶ ̶c̶o̶l̶o̶r̶ ̶c̶o̶d̶e̶d̶
- Allow people to specify their "top skills" (max 3) + other skills as a separate list
-̶ ̶C̶o̶n̶n̶e̶c̶t̶ ̶N̶F̶T̶ ̶g̶a̶l̶l̶e̶r̶y̶ ̶s̶e̶c̶t̶i̶o̶n̶ ̶t̶o̶ ̶3̶B̶o̶x̶ ̶d̶a̶t̶a̶
- ~~Allow players to set their Timezone~~
-̶ ̶H̶i̶d̶e̶ ̶s̶e̶c̶t̶i̶o̶n̶ ̶o

[2020-11-18 21:50] hammadj opened #186 "Integrate BrightId to MyMeta"
Allow users to link their BrightID to their player profiles
Show a "verified" checkmark beside the name if users are BrightID verified
Store info in our DB

[2020-11-18 21:53] hammadj opened #187 "MetaOS - Create a draggable / resizable window system for MetaGame "apps"

[2020-11-18 21:55] hammadj opened #188 "MetaSys - Create a draggable / resizable window system for MetaGame "apps""
Inspiration:
- https://poolside.fm
- https://live.ethonline.org/
- https://github.com/arturbien/React95

https://www.figma.com/file/n36ggiRBQEGzRUbGxWfkMX/Meta-Game-(Copy)?node-id=3003%3A37

[2020-11-18 21:55] #187 closed

[2020-11-19 23:32] alalonde opened #191 "Allow setting and reading of player timezones"
- [x] Add IANA timezone to player table + migration
- [x] Add new screen to profile setup flow (after "availability")
- [x] Read from new column on player page

[2020-11-22 04:29] alalonde commented on #188
I used [PhosporJS](https://github.com/phosphorjs/phosphor) for a previous project. It was great though we ended up forking it, and the original is no longer supported it seems.

[2020-11-23 06:01] #182 closed

[2020-12-03 05:35] alalonde commented on #191
Another thing I'd like to add is a link to update your timezone. This could just jump to the appropriate step in the setup flow. However it'd require a bit of refactoring for the setup flow navigation to support inner links (which should probably happen anyway)

[2020-12-08 11:32] #175 closed

[2020-12-08 12:32] peth-yursick opened #204 "[MetaOS] Mega Issue - Design / Roadmap"
Following Friday's product design raid, we're moving onto building the platform.

## [Platform Design](https://www.figma.com/file/n36ggiRBQEGzRUbGxWfkMX/Meta-Game-Copy?node-id=3198%3A3)

Not sure if we're building mobile-first from the get-go, but this is how I see it working on desktop vs. mobile.
![image](https://user-images.githubusercontent.com/55857222/101480653-4570f980-3954-11eb-9bac-302ec5

[2020-12-09 10:25] pakokrew commented on #204
Would like to discuss a little bit about that "windowing" idea. The possibility for users to open windows, move, resize them, pin them.

I personally don't like this, even if sometimes it's fun for things like poolside.fm, but I'll try to explain why I think it's not a good idea to start with that.

First, I believe that we should first focus on what we want to build: what's inside the windows, no

[2020-12-09 17:54] dan13ram commented on #185
- Show shares for DAOHaus Membership instead of XP
- Make profile sections editable only for user's own profile
- Disable `Collab` button until we have the feature ready

[2020-12-11 16:01] plasmacorral commented on #204
I emphatically agree with this sentiment, Pakokrew.  Build the platform out before adding customization and the technical debt that comes along with maintaining the Burger King "Have it your way" approach.  Having all the accouterments is hard to appreciate if the beef patty isn't fully cooked.

p.s. While I'm eager to learn, I personally don't yet have the dev skills to do any of the heavy liftin

[2020-12-12 17:56] peth-yursick commented on #204
There will definitely be a default dashboard, and it won't be customizable from day 1.
What you see on the wireframe is just a placeholder for what the default dashboard is supposed to be.
Those should be the very basic default info displayed, but there should also be things like "daily quests", "upcoming events" etc.

We actually do already have every single one of these blocks. All of these icon

[2020-12-13 19:31] skyminert opened #207 "Link not working"
On here: https://wiki.metagame.wtf/docs/enter-metagame/roles-in-metagame#the-fundster

The link to "list of reasons" goes to s broken page here:
https://wiki.metagame.wtf/docs/handbook/for-investors

[2020-12-13 19:32] skyminert opened #208 "Link not working"
On here: https://wiki.metagame.wtf/docs/enter-metagame/roles-in-metagame#the-fundster

The link to "Seeds" goes to a broken page here:
https://wiki.metagame.wtf/docs/handbook/xp

[2020-12-14 17:15] pakokrew commented on #207
https://github.com/MetaFam/metagame-wiki

[2020-12-15 10:57] pakokrew opened #220 "Rename database models"
Our model names in our database currently have different casings.

Would be better to have all of them written the same way.

Suggested casing for example Player Account: `player_account`

- [ ] Rename all the models

- [ ] Rename Account -> player_account

- [ ] Update all the frontend/backend graphql queries

[2020-12-16 02:28] dan13ram commented on #185
- Replace all occurrences of images with the https://nextjs.org/docs/basic-features/image-optimization
- Replace icons from `react-icons` with `chakra-icons`

[2020-12-16 18:45] META-DREAMER opened #227 "[MetaOS] Micro Front End Experiment MVP with Wiki"
To test out this micro frontend approach, we can start with trying to integrate the wiki into mymeta. Options:

https://single-spa.js.org/docs/module-types
- Seems better for route based micro-frontends (probably more applicable for something like the wiki), but might also work for the modular profile sections.

https://bit.dev
- Seems better for component based micro front ends (e.g. profile modu

[2020-12-16 19:02] hammadj opened #228 "Mobile Issues on MyMeta Profiles"
- [x] Main user info card should be more compact with image on left and name to the right
- [x] Need to get rid of the static "role" section and the collab/trust buttons which dont do anything right now
- [x] A bunch of "add a section" boxes show up, should make it so that it only shows up if you are logged in and looking at your own profile (same with the "X" / close button on the sections, only

[2020-12-17 22:59] hammadj opened #233 "Update README to include guide on running front end only"
Front end devs should be able to iterate without needing to deploy the entire environment locally

[2020-12-19 12:53] peth-yursick opened #235 "Small Background Issue on MyMeta"
A chunk of the bottom part of the screen is not the background image but this solid purple color.
It even expands as you close some of the containers...
![image](https://user-images.githubusercontent.com/55857222/102689820-71686680-4201-11eb-97c1-140de2833fea.png)

[2020-12-20 22:31] pakokrew opened #240 "404 after changing username"
When a user change its username, the dashboard isn't always refreshed and the card could point to the old username, and therefore a 404 page

[2020-12-20 22:37] peth-yursick opened #241 "Fix player card aspect ratio scaling"
The player cards still appear too wide on my screen & they get even shorter depending on info.
It shouldn't scale the way it does:
![image](https://user-images.githubusercontent.com/55857222/102726025-94873900-431b-11eb-9871-9f370762df2a.png)
It should retain an aspect ratio of something like 2:3, regardless of screen size & info contained.

[2020-12-21 02:55] duncan4123 opened #244 "Update readme with better info regarding lerna."
Following the install steps should work. I'll update this once I get it up and running.

[2020-12-21 05:02] todo[bot] opened #245 "use NextImage component once images are without text"
https://github.com/MetaFam/TheGame/blob/c78be6e3925baa6dc391df9cac590de5bcb210a5/packages/web/components/MobileFooter.tsx#L122-L125

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in c78be6e3925baa6dc391df9cac590de5bcb210a5 when #242 was merged. cc @MetaFam.

[2020-12-21 11:16] peth-yursick opened #248 "NFT Gallery UI Fixes"
### 1. Fix the blur
How it looks on Hammad's computer:
![image](https://user-images.githubusercontent.com/55857222/102770956-473fb180-4385-11eb-94ac-591936c2ab6b.png)
How it looks to other people (Windows?)
![image](https://user-images.githubusercontent.com/55857222/102771137-a9001b80-4385-11eb-88fb-e745fa682f78.png)
What we want to avoid:
![image](https://user-images.githubusercontent.com/5585722

[2020-12-21 14:57] TheLoneRonin opened #249 "Frontend Guide: Code Conventions"
### Problem

Currently, the frontend guide helps you get started and understand how to write `urql` queries. However, it does not outline conventions and best practices for implementing actual React code.

Improving the frontend guide to include these outlines will help ensure that going from prototyping to an actual merge will be as easy as possible and also cost reviewers less time to approve th

[2020-12-21 15:06] pakokrew commented on #249
Not meant to go in the guide, but some advices from the drawer PR:

- Avoid repeating the same code at multiple places. Create component and customize with props.
- Don't create images with logo + text. Use an image for the logo, and write the text with html. When using a list of items with a logo, all the images must have the same size (proportions!).
- Responsive layouts. Fixed size = break with

[2020-12-21 19:55] TheLoneRonin commented on #249
@pakokrew, agree that a lot of the app drawer issues were visual design related and that's not as related.
However, there are still things we could write up that helps reduce code review friction.

I'm definitely going to send in a PR for us to review of general code conventions we should be following.

[2020-12-23 19:04] dan13ram commented on #235
Looks like this is fixed. Please reopen if it shows up again.

[2020-12-23 19:04] #235 closed

[2020-12-23 19:12] dan13ram commented on #241
so do you want it to show large empty spaces for users without any updated information, for ex: burrrata  ?

[2020-12-27 21:44] alalonde commented on #191
Fixed with #230 and #231

[2020-12-27 21:44] #191 closed

[2020-12-28 19:00] alalonde commented on #220
I'll take a look at this since I almost tackled it in my timezone branch. I can see this causing great merge pain though for active contributors..

[2020-12-29 16:38] peth-yursick opened #254 "[App Drawer] Fixing The App Drawer"
As promised, time to expand on the issues mentioned for the app drawer!
![image](https://user-images.githubusercontent.com/55857222/103298590-f837f300-49fa-11eb-824c-693cd8cccb44.png)

Here's a few:
- The drawer itself should be at least 30% thinner. Looks too big now + shows the noise the parts that are pasted from figma.
- The apps in the bar itself should be centered, currently aligned top
![im

[2020-12-29 16:46] peth-yursick commented on #241
yes

[2020-12-29 16:47] #188 closed

[2020-12-31 06:46] TheLoneRonin commented on #254
Perfect! Thanks for providing all of this info @peth-yursick, there are actually refactors we need to do to the source too. So being able to resolve all this is important.

Please let me get the ball moving on metamaps first then we can move forward on the drawer.

Cheers!

[2020-12-31 15:42] peth-yursick commented on #254
Tbh I think the app drawer in its current state is still way more important than metamaps.
It was slapped together super swiftly for the launch, which I appreciate, but its kind of embarrassing to keep it in this state for more than a few weeks for newcomers to see.. 😂
+ It makes sense to have the fully working version first to be able to integrate metamaps properly into it.

If you want to keep w

[2020-12-31 17:19] TheLoneRonin commented on #254
@peth-yursick, no worries! Let me shift focus to that today.

Even though metamaps is functional, it's still a fair bit of work before an actual merge.

Don't get me wrong, totally feel you about the app drawer.
Let's ensure we are at a consensus about the quality and then move forward from there back to metamaps!

Cheers!

[2021-01-04 17:29] youngkidwarrior commented on #254
@peth-yursick I took a look at this for a hot minute. It's doable, but going to need a lot of reworking from what it is now, since it was done so quickly. I'd probably prioritize it getting done right. It's a bit of a hack job right now (no offense to the dev, knowing it was last minute)

[2021-01-04 17:31] TheLoneRonin commented on #254
@youngkidwarrior, no offense taken. What feedback do you have? Always open to criticism.

[2021-01-04 17:36] youngkidwarrior commented on #254
It's been a few days, but generally I think the biggest flaw was flexbox could have been used a lot more elegantly to solve spacing problems.

[2021-01-04 17:39] TheLoneRonin commented on #254
@youngkidwarrior, that makes a lot of sense.

Do you think there is a way to *not* use absolute positioning? Because, if there is an effective way to convert this to a grid, it would probably solve a lot of these issues.

[2021-01-04 17:47] youngkidwarrior commented on #254
css grid could work. Problem with grid is its bad at being animated. I'm not sure what the animation requirements are here. They don't seem too demanding, so could go that route. I'd also change nav menu to grid while your at it.

[2021-01-04 17:53] TheLoneRonin commented on #254
@youngkidwarrior, I'm certain the app drawer menu can and should be done in a grid.

Also, another big issue we need to tackle is effectively getting the `backdrop-filter` to work on cross browsers.
The actual app drawer background is super non-ideal as a `.png` right now and should be a `linear-gradient` with a `backdrop-filter` and `blur`.

Either way, don't fret to roast anything here. Always h

[2021-01-04 18:03] youngkidwarrior commented on #254
Yes I agree, the drawer can be made a grid.

I saw that. `backdrop-filter` is supported by edge and can be toggled on in Firefox.  I'd say it's safe to use. https://caniuse.com/css-backdrop-filter

Whenever using images your gonna have to use position absolute. If we can't get it to work in css, an svg would be better.

[2021-01-04 18:18] TheLoneRonin commented on #254
@youngkidwarrior, okay, let's confirm changes that we would want.

Ideally @hammadj and @pakokrew can sign off these changes for the next PR.

---

1. Remove `rem` where possible and use `%`.

  - The app drawer heading size should be % based. (needs discussion)

  - The app drawer heading items should be positioned with flex and `%`.

2. Improve formatting of `flexbox` for both the footer and hea

[2021-01-05 00:26] alalonde commented on #254
I would not call it "safe to use" as it doesn't "just work" in FF evergreen.  But I'm partial to FF as it is my default browser by choice, and also highly value consistency and universal support.

In my other PR I just added a transparent background as a fallback. So if we do use `backdrop-filter` I think we need to have a reasonably good-looking fallback.

[2021-01-05 05:11] derjogi opened #261 "Update homepage link `The Source` to point to this github repo"
The `The Source` link on https://metagame.wtf/ needs to be updated.

It should be changed from
Current: https://metafam.github.io/TheSource/timeline/@metagame/
to New: https://github.com/MetaFam

[2021-01-05 09:46] #261 closed

[2021-01-05 09:46] derjogi commented on #261
I created an issue for this in MetaGameWebsite instead where it actually belongs

[2021-01-05 13:11] peth-yursick commented on #254
One that wasn't mentioned was the size difference in icons:
![image](https://user-images.githubusercontent.com/55857222/103650018-aeea2500-4f5f-11eb-9a5a-817b756d6dc4.png)
And noticed you changed the app drawer font to be the same as on navigation bar..
If they can't be different, I think the sans one that's in the app drawer design would be better.

[2021-01-05 16:05] pakokrew commented on #233
done
https://github.com/MetaFam/TheGame/blob/master/guides/FRONTEND.md#connecting-to-remote-servers

[2021-01-05 16:05] #233 closed

[2021-01-05 16:15] pakokrew commented on #254
Lot of things here, maybe we could create a new issue or create a post here that we update with all the TODO for this task, instead of having everything lost in the discution.

@peth-yursick

We'll do that on a separate task. Please create an issue specially specing this.

I didn't put back my head in the code, but from I wrote before on #249 and #245 :

- Refactor the code so we don't write the s

[2021-01-06 20:41] alalonde commented on #220
Fixed by #255

[2021-01-06 20:41] #220 closed

[2021-01-06 23:46] alalonde commented on #207
The link has been removed.

[2021-01-06 23:46] #207 closed

[2021-01-06 23:46] alalonde commented on #208
This has been fixed.

[2021-01-06 23:46] #208 closed

[2021-01-07 00:12] alalonde opened #263 "Customized interface for Balancer pool"
To make interacting with the pool more accessible.

[2021-01-07 03:45] #248 closed

[2021-01-09 00:38] peth-yursick opened #264 "[MyMeta] Add new block – functionality & templates"
We need people to be able to embed more things into their MyMeta profiles.
Right now the only options are the default profile creation elements but we need to make it customizable.
The simplest "add new block" template to add will be an ability to embed links.

More "add new block" template options:
- Dework task completions
- Forum stats
- Verifiable Credentials (from any VC project or eg. course

[2021-01-12 03:16] dysbulic commented on #186
BrightID checks the uniqueness of a user relative to an application context. Applications [have to be added](https://dev.brightid.org/docs/guides/docs/basic-integration.md) by the BrightID team before they can be used.

[This form](https://www.brightid.org/#use-in-your-project) is for contacting the team, or there is [a Discord](https://discord.gg/K3y8rdfV).

I'm assuming this hasn't been done yet

[2021-01-12 10:43] peth-yursick commented on #263
Asked the PrimeDAO people if their frontend is open source, if yes we can just slightly modify the design & reuse.
Will report when I hear back from them.

[2021-01-12 10:46] peth-yursick opened #268 "[App Drawer] Mobile Issues"
There are currently 4 known issues on the mobile app drawer:
~~- When loading MyMeta, the appdrawer quickly flashes as if its open then closes. It should be closed by default & not appearing in a flash like that.~~
~~- The buttons have no titles~~
~~- The crystal still has the blue frame thing~~
- The light blue app drawer background appears over a part of the navigation bar
~~- There is a blue fr

[2021-01-12 10:49] peth-yursick opened #269 "[MetaOS] Make apps open below the navigation board"
The idea with the MetaOS is bringing all the disparate pieces of MetaGame into a unified interface, which is why its absolutely crucial that the apps are opening below the mega menu rather than in new tabs.

How it would look:
You open the menu & click the wiki
![image](https://user-images.githubusercontent.com/55857222/142192745-54573412-0c08-4045-a1af-70888467ca76.png)
The wiki just opens below,

[2021-01-13 17:47] alalonde commented on #241
Is this screen shot what you want it to look like? or what it currently looks like

[2021-01-13 17:52] peth-yursick opened #271 "Embed the calendar in the app drawer"
Probably ties directly into the make apps open in a window  issue

But I'm guessing this one should be really easy because it allows embedding by default?

The code:
<iframe src="https://calendar.google.com/calendar/embed?src=nih59ktgafmm64ed4qk6ue8vv4%40group.calendar.google.com" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

[2021-01-13 17:53] peth-yursick opened #272 "Embed Calendar in Window mode"
Probably ties directly into the "[make apps open in a window](https://github.com/MetaFam/TheGame/issues/269)" issue

But I'm guessing this one should be really easy because it allows embedding by default?

The code:
<iframe src="https://calendar.google.com/calendar/embed?src=nih59ktgafmm64ed4qk6ue8vv4%40group.calendar.google.com" style="border: 0" width="800" height="600" frameborder="0" scrolling

[2021-01-13 17:56] peth-yursick commented on #241
What it currently looks like.
The cards should all be the same size (something like 2"x3.5" - like business cards).
On the screenshot you can see that even the top cards are too wide.

[2021-01-13 17:59] #271 closed

[2021-01-13 23:16] alalonde commented on #254
This really requires a refactor, but I'll do this piecemeal and keep a branch up to date for other folks to work off of if I get pulled away. Starting on improving the images (pulling in @pakokrew's emoji PNGs from discord)

[2021-01-14 00:24] alalonde commented on #268
#276 addresses the second item.

I couldn't reproduce the third and fourth items; are those still an issue? If so, on which device?

[2021-01-14 20:46] plasmacorral opened #277 "Still landing on old page when navigating to metagame.wtf"
I saw Metadreamers post that the issue was resolved
https://discord.com/channels/629411177947987986/692892074198040647/798818730103930900

However,  I am still seeing the old website after a brief flash to the new one. Using Firefox Version 84.0.2 (64-bit) on windows 10 with no shortage of plugins.  I cleared browser data and rebooted my machine and then navigate to metagame.wtf and I see the new

[2021-01-15 02:44] hammadj commented on #277
@plasmacorral Yep that's expected. Needed to go to the old one first to purge the web worker before redirecting to the new one. Will leave it like this for another week or so for people to visit it and trigger the purge, after that can migrate it fully to the wiki

[2021-01-15 02:44] #277 closed

[2021-01-15 02:48] META-DREAMER opened #278 "[MyMeta] Profile Edit Page Design"
Currently editing a profile takes you through the whole onboarding flow. This isn't ideal since we want people to be able to edit individual parts of the profile. Also updating the username is the first thing in the flow and that's not something we want people to be doing often.

Would be nice to have a simpler "edit profile" page that let people update their profile info after creating it. It wou

[2021-01-15 03:19] #241 closed

[2021-01-15 23:56] dysbulic opened #279 "[MetaMap] Graceful handling of a backend failure"
Currently the version in `@metamaps/alpha` crashes when the backend cannot be contacted.

[2021-01-16 21:38] alalonde commented on #254
Issues remaining at this point are:
- drawer is way too big on tablets (probably should just switch to the footer drawer like on mobile)
- margins between buttons are still too large
- apps should be opening in a window like the NFT gallery, not in new pages
- icons should move from the toolbar to the drawer when opened

I actually don't agree with the latter two; neither are common UX in modern w

[2021-01-18 07:46] pakokrew commented on #244
Closing this because there's not enough information about the problem. Feel free to re-open with more details if there are still issues when bootstrapping the app.

[2021-01-18 07:46] #244 closed

[2021-01-18 07:47] pakokrew opened #289 "Integrate TokenLog"
Token log is an app which helps token holders signal which issues they think are the most important to solve by voting with their tokens.

https://tokenlog.xyz/

Super easy to setup. Still in early stages though

[2021-01-18 07:49] pakokrew commented on #154
What's the difference with #186 ?

[2021-01-18 07:49] pakokrew commented on #140
Do we still want this ?

[2021-01-18 08:53] pakokrew opened #290 "[Quests] First iteration"
This is the spec for the first iteration of the **Quests** app, which will be split in different PR and will require work from different people.

Trying to follow https://www.notion.so/Quests-57662b138f6240d386924b5c5f076312

## Objective

We first try to create a simple system for replacing the #quests channel in discord. This will implement the Phase 0 we describe in Notion.

- Only people holdi

[2021-01-18 12:10] pakokrew commented on #290
@peth-yursick @hammadj

[2021-01-18 23:11] peth-yursick commented on #290
I'd also add "*number of people that claimed the quest"
It can be just "click to claim" to begin with, but in the long term people would need to stake to claim.

Would be useful to have by-role or skill filtering too.

Moderation access should probably be determined by the amount of pSeeds held.
How much Seeds should you plant to get moderator access is an open question though. I'd say something l

[2021-01-19 13:11] dysbulic commented on #254
Chromium 87.0 on Ubuntu 20.04: ![Screenshot from 2021-01-19 08-02-15](https://user-images.githubusercontent.com/181523/105038666-9d0f8400-5a2d-11eb-82b7-e4a21d1f1d54.png)

[2021-01-19 14:59] dysbulic opened #293 "[MetaMaps] Update Hasura table structure"
In [the MetaMaps spec](https://gist.github.com/TheLoneRonin/93e1b6c01dd0977d55564492d692bdae) @TheLoneRonin lists the following desired updates to Hasura:

- [x] Reset all diffs in Hasura.
- [ ] Have maps associated with Player.id instead of an Ethereum address.
- [ ] Map data should be json instead of text.
- [ ] Migrate the Redux subsystem to `@reduxjs/toolkit`.

[Pull request #292](https://gith

[2021-01-19 16:42] alalonde commented on #254
Those look like the old icons. Do a few refreshes or force refresh and I think it will render fine.

[2021-01-19 18:53] dysbulic commented on #186
BrightID doesn't prevent multiple accounts from being created by a single individual. The application assigns an ID to each account, and when BrightID is checked it will return all the IDs that have been verified with that BrightID in the order they were added.

If someone registers multiple accounts, would you want to only show the first ID as being BrightID certified?

[2021-01-19 23:28] dysbulic commented on #254
I cleared all the application data in the developer toolbox then hit Ctrl+Shift+R to no avail.

I checked it out in Firefox and Chrome, and both look fine.

[2021-01-20 06:47] dysbulic commented on #293
Switching to use `Player.id` rather than `ethereum_address` requires that the current user has an entry in the `Players` table.

Currently entries in that table are generated using a multi-step form at: https://my.metagame.wtf/profile/setup.

Two options for how to handle a user that needs an account created:
- Forward the user to MyMeta and have them complete the form there
- Create a placeholder

[2021-01-20 07:43] dysbulic commented on #154
I think it's a duplicate. I've done a little BrightID research and left it in the [other ticket](https://github.com/MetaFam/TheGame/issues/186).

[2021-01-20 10:51] dysbulic commented on #249
I personally think we ought to not use semicolons. I'm almost always on the side of the solution that requires less typing.

Unless typescript requires it or something.

[2021-01-21 09:14] dysbulic commented on #293
I had a call with @IxaBrjnko and @TheLoneRonin to discuss our aspirations for MetaMaps. @IxaBrjnko has the most complex vision which is a tripartite system to (1) interface with a variety data sources, (2) allow specification of relationships between various sources, and (3) force-flow data through those networks to generate visualizations.

The existing company that comes closest to their vision

[2021-01-21 09:21] dysbulic opened #295 "[MetaMaps] Only authenticate when necessary"
Currently if a user has not connected their $ETH wallet they are not able to do anything other than look at a message asking them to authenticate.

The application should only ask the user to log in when they are performing an interaction, such as saving a map, that needs to be tied to their account.

If they are not logged in when they start, a new ephemeral map should instantiated that they can

[2021-01-22 22:52] dysbulic opened #297 "[MetaMaps] Update the UI to be consistent with other MetaGame sites"
From [@TheLoneRonin's spec](https://gist.github.com/TheLoneRonin/93e1b6c01dd0977d55564492d692bdae#updating-component-libraries):

- [ ] Update and migrate components to @metafam/ds.
- [ ] Copy theme elements from other MetaGame's designs. Can use Figma as a reference: https://www.figma.com/file/RWVfMGvXDAX74fQexze8uO/Meta-Game-Copy-Copy?node-id=58%3A2
- [ ] Improve overall code structure to jsx/ts

[2021-01-23 03:49] IxaBrjnko commented on #297
So, one goal might be to construct the My.Meta UI out of the MetaMaps... We would want a way to format the box containing the My.Meta profile so that it contained the schema elements currently displayed in the player cards loading in <PageContainer>...

[2021-01-24 21:40] alalonde commented on #278
Yes, I was thinking something similar. What I planned on implementing was just converting the onboarding flow such that each step had its own link (which it should regardless), and then linking to a step directly. Then you could just change the button to be "Save and Exit" or something of the like.

Seems a bit more lightweight implementation-wise, albeit probably not as good a UX.

[2021-01-24 22:22] alalonde commented on #254
I fixed the first issue in #300. Margins between rows are actually computed such that the rows fill the space evenly.

OK, looks like something in our CSS is not rendered the same in Chromium for some reason.  @dysbulic Would you be able to take a look at this? I imagine it's a pretty straightforward fix.

[2021-01-24 23:17] dysbulic commented on #254
@alalonde, @hammadj suggested in [another pull request](https://github.com/MetaFam/TheGame/pull/294#discussion_r562357561) that this is related to the use of absolute units.

I can look at it, but I'm currently trying to get MetaMaps to the point other's can easily contribute, and it may be a couple days.

[2021-01-25 13:22] dysbulic commented on #279
Addressed in #304.

[2021-01-25 13:22] #279 closed

[2021-01-25 17:03] alalonde commented on #254
OK, no worries. I only asked because you are likely the only Chromium user working on this.

[2021-01-26 22:38] peth-yursick commented on #268
Looks like the issue is only on mobile

[2021-01-26 22:39] peth-yursick commented on #227
I don't know much about micro front ends, but is this something that could fix the issue we were talking about @luxumbra?

[2021-01-26 22:43] peth-yursick commented on #254
Only because its not common?
It was criticized already, but its kind of crucial to building a unified UI because MetaGame is on many different places.
Not sure there is another way to make this real: https://www.notion.so/MetaOS-b2d2f40a81424cb38009d9872da6b920
Long term, it should be a native app

[2021-01-27 13:55] #289 closed

[2021-01-27 15:43] peth-yursick commented on #268
Didn't realize this whole issue is just about mobile issues.. I'm on Android, Samsung.
Its the same problem both on latest Chrome & Firefox.

[2021-01-27 18:20] #228 closed

[2021-01-27 18:31] #154 closed

[2021-01-28 07:25] META-DREAMER opened #309 "Integrate Ceramic Network"
Create a "hello world" integration of Ceramic / IDX into our repo (e.g. adding 3ID connect to login flow and setting / getting a field from the user profile)

https://twitter.com/ceramicnetwork/status/1354448316512284675?s=20

[2021-01-28 07:36] META-DREAMER opened #310 "Integrate ETH addresses into SourceCred"

[2021-01-28 13:57] peth-yursick opened #311 "[MyMeta] Add the role selection screen to the profile creation flow"
Currently, role selection is done through a Discord bot. We want to add it to the profile creation flow (Connect button [here]( https://my.metagame.wtf/players)).

We probably want new tables such as `guild_role` and `guild_player_role` to store these new roles. This should support guilds that have a discord integration as well as those that do not.

Ideally, choosing roles would also apply the ap

[2021-01-28 13:59] peth-yursick opened #312 "[MyMeta] Change the enneagram selection screen to the new color selection screen"
Just hastily opening before it slips my mind 😁
Please DM or comment here when you want more details 🙃

[2021-01-28 18:43] staked-smart-ace commented on #312
@peth-yursick Could I work on this issue?
I am looking for more details :)

[2021-01-28 18:48] ace-smart commented on #312
@peth-yursick this is @super-senior from Discord :)
Could I work on this issue?

[2021-01-28 22:51] hammadj commented on #290
@pakokrew Hard to comment on this since its not a PR where I can have specific line comments to give feedback, but I think overall it looks good. Might even be worth putting this in the repo as a design doc / "MIP" (metagame improvement proposal) to make it easy to track comments and changes etc.

We can also create a plugin for SourceCred to distribute XP based on the quests that were completed i

[2021-01-29 00:15] alalonde commented on #290
Is there a way to programmatically look this up?

@hammadj Aren't the concerns about gaming mostly remedied (at least in v1) by quests not explicitly being rewarded?

[2021-01-29 00:20] peth-yursick commented on #268
Maybe the latest version hasn't deployed yet or something, but on Android I'm still seeing all of the problems listed above except no.2
@hammadj

[2021-01-29 00:33] hammadj commented on #290
Yea, we can use Balancer's subgraph and remote join it into Hasura: https://thegraph.com/explorer/subgraph/balancer-labs/balancer

Quests still might be rewarded after the fact. I'm imagining that other guilds will be creating quests as well and might want to reward the people who complete it somehow. Its not something we have to worry about right away, but def should keep an eye out before we dis

[2021-01-29 01:23] luxumbra commented on #263
Did you hear anything back on this @peth-yursick ?

I'd like to have a crack at the styling if we are able to use the PrimeDAO frontend.

[2021-01-29 02:42] alalonde commented on #268
Yeah I don't think anybody has worked on those other fixes yet.

[2021-01-29 09:05] ace-smart commented on #295
I would like to work on this issue?

[2021-01-29 10:26] peth-yursick opened #317 "[MetaOS] Different upon login"
Heterotic and I talked about adding more "apps" to the app drawer, but concluded the ones we wanted to add are the ones that are supposed to be there only upon login.

We should probably figure out what to base the login on. It should happen after a person connects a wallet, but its an open question on whether the access should be based on Seeds, pSeeds or something else entirely (an access key NF

[2021-01-29 10:28] dysbulic commented on #309
For reference, there is [a profile record](https://developers.idx.xyz/guides/definitions/default/#basic-profile) associated with an IDX, but it is currently empty. So, the first time a user logs in with IDX, maybe the system should copy their 3Box profile into IDX?

You can experiment in the [web playground](https://ceramicstudio.github.io/web-playground/) which instantiates the `ceramic`, `idx`,

[2021-01-29 11:57] peth-yursick commented on #263
One of their people told me he thinks its all open source, but now I've been waiting again for him to come back with a link...
I dug this up: https://github.com/PrimeDAO/prime-pool-dapp
But not sure if that's it..

[2021-01-29 11:57] peth-yursick commented on #263
How it looks for them:
![image](https://user-images.githubusercontent.com/55857222/106272602-9654ee00-6231-11eb-8b6a-7ed1f405250e.png)

[2021-01-29 12:40] dysbulic commented on #317
So these are applications that only Players are supposed to have access to?

An alternative to a NFT is a [Verifiable Credential (VC)](https://www.w3.org/TR/vc-data-model/) denoting that a particular DID is a Player of MetaGame. VCs are part of the W3C's Self-Sovereign Identity (SSI) structure. It is a signed JSON object that describes the characteristics of a [Decentralized Identifier (DID)](http

[2021-01-29 13:04] dysbulic commented on #309
I checked with [3Box support](https://discord.gg/pYXBnKkt) and [3ID-Connect](https://github.com/ceramicstudio/3id-connect) will eventually handle migrating the user profile the first time a user uses IDX "closer to the mainnet release".

[2021-01-29 19:56] dysbulic commented on #57
Systems to examine for inspiration include:
- [eth.build)[//eth.build]
- [Tableau Prep](//www.tableau.com/products/prep#video) + [Tableau Desktop](//www.tableau.com/products/desktop#video)
- [GraphQL Voyager](https://apis.guru/graphql-voyager/)
- [Miro](https://miro.com/app/board/o9J_knhEt7w=/)

[2021-01-29 21:06] dysbulic commented on #254
![drawers 2021-01-29](https://user-images.githubusercontent.com/181523/106326462-8ac1f100-624a-11eb-82a7-71152bccd257.png)

What is the motivation for moving the buttons in the drawer handle? From a UX perspective, moving elements around increases how hard a user has to work to use an interface. I should only have to learn how to access the Raid Map once, not having to worry about whether the app

[2021-01-29 21:47] luxumbra commented on #263
I have just forked their repo and will have a look but anything beyond the styling is probably best left for others to do.

[2021-01-29 22:35] dysbulic commented on #309
The system which verifies accounts (Discord, Github, Twitter) and associates them with an IDX DID is [identitylink-services](https://github.com/ceramicstudio/identitylink-services). It is possible to run the services ourselves, but there will be a hosted version that is released closer to mainnet.

To support out current coverage, there would also need to be support for Discourse as well.

Github

[2021-01-30 04:15] dysbulic commented on #140
#312 switches from the Enneagram to a five color scheme, so this request is no longer relevant.

[2021-01-30 04:15] #140 closed

[2021-01-30 04:17] dysbulic commented on #268
This will be resolved with the merge of #294.

[2021-01-30 04:21] dysbulic commented on #290
It is my hope to eventually associate skills needed for a quest, and to have a feedback mechanism where the quester is rewarded with skill points proportional to the time they spent practicing the skill.

[2021-01-30 04:27] dysbulic commented on #185
Is there a design for how the roles are to be presented?

Would it be sufficient to allow users to sort their skills so they can put their top *x* first? Is there a specific place three skills are needed?

[2021-01-30 04:29] dysbulic commented on #185
The issue with this component is that it only allows for pixels in specifying the dimensions. Pretty much none of the images are specified in straight pixel values.

Is this component important enough that it is worth whatever hackery it will take to get it in place?

[2021-01-30 04:39] dysbulic commented on #312
Where are the designs for the color selection UI?

[2021-01-30 21:19] dysbulic commented on #309
I [forked identitylink-services](https://github.com/MetaFam/identitylink-services) to the MetaFam repo to look into adding Discourse support while still garnering my precious XP.

[2021-01-31 09:07] pakokrew commented on #254
Yes

[2021-01-31 16:06] peth-yursick commented on #254
You do. Then when you want to open raids, you click raids, you don't open the whole drawer when the raids button is already there. If you don't need raids, then it doesn't matter if it disappeared 🤷‍♂️

Its the same on mobile OSes, you open it and the buttons disappear, but I think the main reason I made it so back when I originally made the design is because there are few buttons. If the buttons

[2021-01-31 19:06] dysbulic commented on #254
That makes alot more sense. I agree that would be useful to display.

[2021-01-31 21:19] dysbulic opened #320 "Add support for Discourse to IDX's identity link"
On the roadmap is to transition to IDX's [identity link](https://github.com/ceramicstudio/identitylink-services) to verify a Player's identity on different services. Github, Discord, and Twitter are currently supported. To suit our setup, Discourse needs to be added.

[2021-01-31 22:22] dysbulic commented on #320
All the other verifiable accounts are backed by OAuth providers. It may well not be possible, so I [asked in their issues](https://github.com/ceramicstudio/identitylink-services/issues/10).

[2021-02-01 05:01] dysbulic commented on #320
More research revealed there is support in Discourse to [operate as a SSO provider](https://meta.discourse.org/t/using-discourse-as-a-sso-provider/32974). Before this could be tested, someone would need to turn that on.

[2021-02-01 15:13] pakokrew commented on #290
Good idea. We should create a template for this. For now I keep my first post updated with our discussions.

That'd be great !

We already have this problem now in discord. But we definitely need to solve sybil attacks. I don't know if BrightID is ready for production use. It is not even available in my App Store (France)

This is left for a future work indeed. It is a topic we are thinking about

[2021-02-01 17:32] peth-yursick opened #324 "[MyMeta] - Change ranking brackets on my.metagame.wtf the leaderboard"
MyMeta currently has a 10/10/10/10 system of ranking people into Diamond, Platinum, etc.
But we moved the system back to 7/7/7/14/21
![image](https://user-images.githubusercontent.com/55857222/106495276-c1527280-64bb-11eb-945e-36a1a5dcc194.png)

What needs to be done:
- Update the rankings to reflect the new numbers
- Remove bots from the list if possible

[2021-02-01 22:14] peth-yursick opened #325 "[MyMeta] - Add actual guild pages"
Right now guilds only have cards:
![image](https://user-images.githubusercontent.com/55857222/106524523-fb833a80-64e2-11eb-9fa4-d90b73f2f7ee.png)
They should have profiles similar to player profiles

[2021-02-01 22:16] peth-yursick opened #326 "[MyMeta] - Fix card aspect ratio"
Right now cards all get stretched horizontally on bigger screens:
![image](https://user-images.githubusercontent.com/55857222/106524843-66cd0c80-64e3-11eb-810c-beef74bd7368.png)
They should stay taller consistently, like player cards:
![image](https://user-images.githubusercontent.com/55857222/106524895-79dfdc80-64e3-11eb-9ec2-ecaf4c1b8d15.png)

[2021-02-01 22:27] peth-yursick opened #327 "[MetaOS] - Ticker line"
No, not what we have right now - which is just Seed price in the top right corner.
A moving line of text on the bottom of the screen, much like during the news broadcast on TV.

Displaying data such as:
- Asset prices & other stats
- Breaking news
- In-game tips
- Calls to action
- Whatever players of MetaGame want it to display

In our case it should be displaying the price of Seeds & the most re

[2021-02-02 09:27] ace-smart commented on #326
Could I fix this issue?

[2021-02-02 15:45] ace-smart commented on #295
@dysbulic @TheLoneRonin In the MetaMaps, the `Setup Profile` link is needed still?
I think `Setup Profile` feature should be available on only `MyMeta`.
What do you think about this?
![image](https://user-images.githubusercontent.com/76216456/106624306-f4196b00-658e-11eb-878e-8f1ca3382825.png)

[2021-02-02 22:26] peth-yursick commented on #326
Yes sir!

[2021-02-03 02:23] dysbulic commented on #295
I think we need the ability to insert content by the profile icon. I [suggested an 'options` parameter](https://github.com/MetaFam/TheGame/pull/328/files/0a9ac1532c5ef95dc37ea806d0d6b7e6d5ffbdd6#r568305756) in #328.

[2021-02-03 23:25] peth-yursick opened #330 "[MyMeta] - Make the Patron leaderboard"
Make the patrons leaderboard.
Same like the players leaderboard at https://my.metagame.wtf except ranked based on [pSeed](https://etherscan.io/token/0x34a01c0a95b0592cc818cd846c3cf285d6c85a31) holdings rather than XP score.

[2021-02-04 08:10] #326 closed

[2021-02-05 04:07] alalonde commented on #311
I assume the roles should be the same as those in discord? I'm refactoring the profile setup stuff currently for #278 so I'll tackle this once that is done.

[2021-02-05 06:19] dysbulic opened #331 "[MyMeta] Allow a Player to store their pronouns as part of their profile"
I would leave this until after the migration to IDX (#309), but I think it would be useful for Players to be able to save their preferred pronouns to their profile.

Operating in a space where neither sex nor gender is visually expressed, it's a question that comes up.

[2021-02-06 08:22] IxaBrjnko commented on #311
Let's see what the discussion brings tomorrow, it may be better to use a simplified set of roles for the onboarding process...

[2021-02-08 16:28] dysbulic commented on #278
Profile storage is migrating to IDX (3Box profiles are getting retired), so this information will need to go to IDX after #309.

[2021-02-08 16:31] dysbulic commented on #309
Another aspect of the IDX integration is using it as the basis for determining a Player's accounts for XP distribution.

I'm working on [IDX as a SourceCred source of truth](https://github.com/sourcecred/sourcecred/issues/2718) for ETHDenver.

[2021-02-08 17:27] alalonde commented on #311
Sounds good; I wasn't privy to the conversation so any links / details here would be appreciated.

[2021-02-09 14:01] peth-yursick opened #337 "[MetaOS] - Build The Dashboard"
MetaGame needs a dashboard!
With the creation of the new metamenu, it became obvious metagame needs a "home" page as well.
Not the landing page - though that is needed as well...
The home page aka the dashboard where people can see:
- Their Seeds & XP stats as well as other MetaGame stats
- Latest posts, podcasts & videos
- Upcoming events
- The leaderboard
- ???

[The design](https://www.figma.co

[2021-02-09 17:11] davort commented on #337
Hi, I am the designer behind these mockups. Feel free to ping me about anything regarding the Dashboard. Looking forward to talking and working with you!

[2021-02-09 17:22] dysbulic commented on #311
Since there's going to be a Discord bot that knows what everyone's roles are (#184), should we also have it mirror roles to a Player's profile.

Specifying information in two places is a recipe for things getting out of sync.

[2021-02-09 19:49] IxaBrjnko commented on #58
Closed, opened, not sure... I think it would be significantly easier to work on this issue once we have fully merged PRs to MetaMaps-Alpha to be able merge into those into the main TheGame repo so that we can work on this issue directly there <3

[2021-02-09 19:53] IxaBrjnko commented on #57
GraphQL Voyager came with a really easy to implement schema query, and may be a good source to excavate that portion of the model onboarding process needed in the full rendering of a integrated metamap with more than one datasource...

I think we could include in this scope the addition of multiple datasources: at a minimum I would like to see the hasura from our main TheGame repo and that of the

[2021-02-09 19:55] IxaBrjnko commented on #295
If we can pull the merge from MetaMaps Alpha, this would be a lot easier to work on in the main repo...

[2021-02-09 19:57] IxaBrjnko commented on #293
3 parts of this are addressed in the current PRs to Metamaps Alpha, and the other "Map data should be json instead of text." would be easier to work on as a single issue in the main repo once we merge in those changes...

[2021-02-09 19:59] IxaBrjnko commented on #297
I also think I saw that @dysbulic had already made some of these changes in PRs to the MetaMaps Alpha...

[2021-02-09 21:18] dysbulic opened #338 "[MyMeta] Error reconnecting with Metamask after an initial connection with WalletConnect"
It looks to me like Web3Modal has cached WalletConnect and is attempting to use it. Why the Metamask dialog is coming up, I don't know.

Adding `modal.clearCachedProvider()` to the `Disconnect` action should be done.

This doesn't fix Davor's issue since he can't connect.

[2021-02-09 22:12] dysbulic commented on #338
After a little testing, when a page loads with Metamask connected, `window.ethereum.isConnected()` is `true`. `modal.cachedProvider` is `injected`.

Ideally, we would check if the provider is connected on load and show the profile information if so.

I did a quick test of logging in with Wallet Connect on my.metamaps.wtf, and it shows my Metamask profile rather than an empty one, so more than like

[2021-02-10 01:39] dysbulic commented on #338
Ok, so it seems as though if `modal.cachedProvider` is `injected` then the call to `web3Modal.connect()` won't prompt the user, but will just return. The way I handled it in an app I'm working on:

[code]

[2021-02-10 14:56] pakokrew commented on #338
I walked around a lot of different issues while managing web3 wallet in my app Mooni, and that's the top of the iceberg.
There's a lot of bugs in the libraries (web3modal, walletconnect, ethersjs etc) and more in the implementation of the provider in every wallet.

The issue you mention is specifically when users use the app on a mobile web browser and login with a mobile app via walletconnect. Th

[2021-02-10 18:07] hammadj opened #341 "[Bot] Automate role assignments using discord bot"
- setup trigger in Hasura on the role field in the Player table so that whenever it changes a function is called that uses the discord bot client to update that Players role in discord (diamond, platinum, etc)

[2021-02-10 21:45] peth-yursick commented on #290
I literally just came back to this thread right now to write "maybe we should rename evergreen quests to challenges", but decided to ctrl+f "challenge" just in case somebody already wrote that 😂

[2021-02-11 07:16] pakokrew commented on #290
What are you thinking about this? What is a "challenge" for you ?
I've changed quest types to quest "repetition"
`repetition - enum [ONCE, ONCE_PER_PLAYER, RECURRING]`

Agree to say that it's too early for that.

Definitely. And we can add requirements to achieve some quests before doing some others. I'll spec that.

That's not what I was saying. What I was trying to explain is that when we create

[2021-02-11 11:25] peth-yursick commented on #290
Just something that is short & straightforward to complete. In this case I'd say "post one of MetaGame's articles to a community where it fits".
But if you're taking this other approach, maybe just call them "daily quests" in the frontend?

Ah ok ok! Sorry, misunderstood you there

Yeah, I think this would be useful not just for personal quests but also things like the [Builder path](https://www.n

[2021-02-11 23:07] alalonde commented on #341
[Started working](https://github.com/MetaFam/TheGame/tree/feature/auto-update-discord-roles) on this today. I created the hasura trigger, however, we will need to at least partially implement #184 as we need a mapping between our ranks and a discord Role ID. I'll jump over to that one then. Probably quite a bit of refactoring involved there.

[2021-02-12 16:14] markoprljic opened #343 "[MyMeta] Make the whole Player card clickable"
On My Meta homepage make the whole player card clickable so that it is easier to access the player profile page.
Current behavior: Player name is a link (clickable)
New behavior: Player Card is a link (clickable)

[2021-02-12 16:17] markoprljic opened #344 "When user is logged in change Setup profile to Edit profile"
Change Setup profile to Edit profile, if user is logged in and has already set up their profile.

<img width="320" alt="Image 2021-02-12 at 5 15 49 pm" src="https://user-images.githubusercontent.com/5704285/107793026-22990200-6d56-11eb-8889-3767fe6557e8.png">

[2021-02-12 17:32] davort opened #345 "[MyMeta] Profile page URLs are case-sensitive, should be case-agnostic"
Currently profile page URLs are case-sensitive, which is not accessible or user-friendly at the very least, and could perhaps lead to bigger issues (e.g. duplicate usernames, just using different combinations of upper and lower case).

As an example, my profile page can be accessed on https://my.metagame.wtf/player/Davor

![image](https://user-images.githubusercontent.com/1573304/107801333-38abc00

[2021-02-14 22:09] davort commented on #204
Hey everybody! Just wanted to post the first finalized batch of designs for the Dashboard, covering laptop/PC, tablet and phone layouts.
![CleanShot 2021-02-14 at 11 03 46](https://user-images.githubusercontent.com/1573304/107890438-6c7e1580-6f19-11eb-9c81-9787a382b765.png)
If anyone's is up for building this, I'd be delighted to work with you and support the implementation! There is a separate is

[2021-02-15 10:48] pakokrew commented on #204
This is good looking !
And also very interesting, however, there's not such things as Journal, Moral, carbon footprint, Claimed quests, personal goals, ...
What do we do with these?

[2021-02-16 03:55] alalonde commented on #344
Yup, I did just this in #333

[2021-02-16 07:20] todo[bot] opened #347 "switch to BoxedNextImage */}"
https://github.com/MetaFam/TheGame/blob/0e963814313c5351032010e9dd6f4a36401dabf9/packages/web/components/PageHeader.tsx#L284-L289

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `ToDo` comment in 0e963814313c5351032010e9dd6f4a36401dabf9 when #294 was merged. cc @MetaFam.

[2021-02-16 07:20] todo[bot] opened #348 "switch to BoxedNextImage */}"
https://github.com/MetaFam/TheGame/blob/6d6d75e6e4588a74e3678e0e0ac36111f41fa6e4/packages/web/components/PageHeader.tsx#L284-L289

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `ToDo` comment in 6d6d75e6e4588a74e3678e0e0ac36111f41fa6e4. It&#x27;s been assigned to @TheLoneRonin because they committed the code.

[2021-02-17 19:05] alalonde commented on #278
#333 gets us most of the way towards an implementation of this.

[2021-02-17 19:05] alalonde commented on #278
Once that's merged it's just a matter of adding links

[2021-02-18 16:05] alalonde commented on #325
Can you provide some sort of design / layout for what a guild profile might look like? I assume it would be its own page much like player profiles currently

[2021-02-18 19:25] dysbulic commented on #309
The ETHDenver work is complete. I [summarized the outstanding issues](https://github.com/sourcecred/sourcecred/issues/2718#issuecomment-778125602) on SourceCred's Github. I'll copy that here for ease of access:

Until the IDX support for linked accounts is a little better, I'm going to move this back to the Icebox.

[2021-02-18 20:50] peth-yursick commented on #204
I think its fine to have it hardcoded to begin with?
Though I should probably open issues for all of these things..
Think I should open a "Dashboard megaissue" or have a separate issue for each of these things?

- XP stuff kind of exists with basic stats through the bot, needs to be fed to the site
- Hammad is working on the first version of the Journal (an XP feed to begin with)
- Moral doesn't b

[2021-02-18 20:53] peth-yursick commented on #325
Yep! It will be pretty much the same as the player profiles except with different info.
Here's some of it: https://www.figma.com/file/n36ggiRBQEGzRUbGxWfkMX/Meta-Game-Copy?node-id=58%3A2

[2021-02-18 22:33] luxumbra commented on #263
@peth-yursick Did I see somewhere that there was some work being done on this by @Artists?

[2021-02-18 22:51] luxumbra commented on #268
there looks to be a z-index issue where the bottom 3 app drawer items sit above the MG crystal so the top half of the crystals active area links to the leaderboard.

[2021-02-18 22:53] dysbulic commented on #320
This is being handled by IDX which put [a 500 DAI bounty on it](https://github.com/ceramicstudio/identitylink-services/issues/10#issuecomment-780206599), and workers have expressed interest.

[2021-02-18 22:53] #320 closed

[2021-02-18 23:41] dysbulic commented on #312
The [winning entry](https://discord.com/channels/629411177947987986/779498127135735878/811331426015379457) for the updated personality profile is:

![Screenshot from 2021-02-18 18-26-34](https://user-images.githubusercontent.com/181523/108435168-e6aee280-7216-11eb-94c2-900c80bf3202.png)

I've tried [a few different five-color assignment tests](https://dhappy.org/.../MetaGame/five-color%20alignment

[2021-02-19 04:38] META-DREAMER opened #356 "Refactor Hasura Action handler in backend to use single entry point"
We can create some better abstractions for action handlers. Here's what I've done in the past to have stronger type safety and better dev experience: https://gist.github.com/hammadj/b4c9878b4fd2f9d2eaf98e1543f50ab6

This way we actually only need one top level route for all actions in Express, and there's more consistency / safety in the type annotations

[2021-02-19 04:44] dysbulic opened #357 "[MyMeta] Use text links for the profile setup and disconnect actions"
Once a Player connects their wallet, there are links next to their profile picture allowing them to configure their profile or disconnect. These links were switched to icons to save space, but the look is visually unappealing.

Switch back to the text links, and only go to icons when the screen is narrow enough that the profile picture is pushed behind the app drawer (~1100px–`lg` breakpoint).

![

[2021-02-19 08:42] ace-smart opened #358 "[MetaMaps] Doesn't save map name"
Currently, when change map name in the map view, it is updating the map name on the Title. however, it doesn't save this map name in the `graphql`

[2021-02-19 13:18] oed commented on #309
Thanks for the rundown @dysbulic!

This will be fixed within the next week or so.

We will have this up and running within the next week as well (at least for twitter + github)

What do you mean by this? Not sure I follow.

Interesting point. We will look into this. Tracking here: https://github.com/ceramicstudio/identitylink-services/issues/15

[2021-02-19 16:17] dysbulic commented on #309
This is a limitation of the software I wrote. I'm not calling `verifyJWS` and checking the attestation author. I'm just creating aliases for any account links that exist, and that's not secure.

[2021-02-19 18:38] oed commented on #309
Ok @dysbulic is there any limitation on the ceramic here, or is it just that you haven't implemented it in your system? Just want to understand if there is something we should fix :)

[2021-02-19 22:59] #324 closed

[2021-02-19 23:09] dysbulic commented on #309
Ceramic is good to go so far as providing authentication for an attestation. I just didn't get to the point of adding the checks to what I was working on.

[2021-02-23 13:07] luxumbra commented on #263
Having looked at this, it is beyond my knowledge & skillset. Sorry.

[2021-02-23 13:24] peth-yursick commented on #263
No worries dude, thank you for trying!
Maybe take care of that Playbooks section for the wiki?

[2021-02-25 20:39] alalonde opened #363 "[MyMeta] Editing skills doesn't appear to save changes, but actually does"
If you e.g. add a skill and click the next button, then go back, the skill you just added is not there. Nor will it appear on your player card on the home page. Refreshing the page re-fetches the data and the next skill does show up.

Thus, skill changes are persisted to the database but not to the app state.

[2021-02-25 22:28] alalonde opened #364 "[MyMeta] Can't update username"

[2021-02-26 11:50] dan13ram commented on #363
Data not appearing on the player card would just be a delay due to NextJS SSG. But the other issue does need fixing.

[2021-02-26 23:07] #364 closed

[2021-02-27 04:05] alexkyen commented on #312
hey @dysbulic, is the next step here to locate the figma?

[2021-02-27 05:52] dysbulic commented on #312
Yeah. I've got the call out & it should be located shortly. Why it's not in my history I don't understand…

[2021-02-27 11:37] peth-yursick commented on #312
There isn't a figma for this afaik, it was made in illustrator.
But the illustrator file can probably be imported in figma?

[2021-02-27 19:27] dysbulic commented on #312
@alexkyen, that was why I couldn't find the Figma, it was an [Illustrator file](https://discord.com/channels/629411177947987986/782054676546846752/812437464663851048).

[2021-03-01 07:41] dysbulic opened #377 "[MyMeta] SEED price and Connect button are hidden on mobile"
MyMeta uses two different app drawers depending on the screen width. On desktop it uses a header, and on mobile a footer.

The display of the SEED price and the Connect button are both in the header and don't display at all on mobile.

Both of these elements should be present on mobile.

[2021-03-01 07:52] dysbulic opened #378 "[MyMeta] Handle switch account in wallet"
In #360, @pakokrew reports the MyMeta site [doesn't allow a user to change their connected address](https://github.com/MetaFam/TheGame/pull/360#issuecomment-787722943).

If a user disconnects and tries to reconnect, they will [get the first profile connected](https://github.com/MetaFam/TheGame/pull/360#issuecomment-785379099).

Disconnecting should clear the profile from the page and add the Conne

[2021-03-02 12:20] #186 closed

[2021-03-02 15:17] #377 closed

[2021-03-04 14:09] pakokrew opened #381 "[Quests] Use pSEED subgraph for creating quests"
The backend handler for creating quests is currently reading on-chain for getting pSEED balances.

We should replace this and use the sub-graph from @dan13ram

Note: We have since moved on to using polygon pSeeds, DO NOT base this on mainnet pSeeds.

[2021-03-04 18:00] davort commented on #264
I'd like to take a stab at this, from the design POV. Where can I see the "add new section" button exactly? Couldn't find it in my profile page once logged in.

[2021-03-04 19:50] peth-yursick commented on #264
Weird, used to be right here below these other sections..
![image](https://user-images.githubusercontent.com/55857222/110021482-112a9080-7d2b-11eb-8108-13bf4092f50c.png)
Guessing it was removed because it was not functional, so here's how it was in the design
![image](https://user-images.githubusercontent.com/55857222/110021620-446d1f80-7d2b-11eb-8bc2-44044db616db.png)

[2021-03-04 20:52] peth-yursick commented on #184
Good job writing this out!

Maybe this one should be dao_address rather than Moloch specific.

Also this doesn't mention the review step anywhere, only "join as guild", but not every guild that tries that will be accepted.

[2021-03-04 21:19] davort commented on #264
Thanks @peth-yursick – this helps a lot to get some context around the problem at hand :)

[2021-03-04 21:49] #345 closed

[2021-03-04 23:13] alalonde commented on #184
OK, yeah, i'll rename that column. Not super familiar with the various DAO tooling out there.

Yes, thanks for clarifying that, I was wondering if we would just accept everybody.  What we can do is just add a `status` flag or something on a guild and set it to `pending` by default.

[2021-03-05 19:30] dysbulic opened #385 "[MyMeta] Allow profile images with transparency"
The current code for loading profile images puts a solid color behind the image:

<img src='https://user-images.githubusercontent.com/181523/110163807-8dba7f00-7dbe-11eb-9668-5bf63132bd45.png' width='275'/>

This is useful for the autogenerated images:

![Screenshot from 2021-03-05 14-26-55](https://user-images.githubusercontent.com/181523/110164085-e12ccd00-7dbe-11eb-8717-15bfc20724b3.png)

But u

[2021-03-05 21:55] dysbulic commented on #347
I've removed this ToDo. It isn't worth the time.

[2021-03-05 21:55] #347 closed

[2021-03-06 01:05] dysbulic opened #386 "[MyMeta] Improve the keyboard accessibility of the profile editing flow"
This is decidedly not a pressing issue, but I was working on allowing s/o to complete their profile without using the mouse as part of adding the color profiles.

It is pretty much done, but is based off of #384, so I will wait for that to go through before applying these changes.

[2021-03-06 02:37] dysbulic commented on #312
This task is completed by #384. Unfortunately the test servers only deploy the frontend, and this adds a table for colors and removes the Enneagram table.

I am working to bring up a test system so the pull request can be properly reviewed.

[2021-03-07 18:36] dysbulic opened #389 "Set up a testing environment for the backend"
I have a pull request, #384, that is blocked b/c no one can test it b/c it makes changes to Hasura's structure and there's no testing environment for Hasura.

There should be some workflow for testing changes that alter the backend structure.

[2021-03-07 18:39] dysbulic commented on #389
I tried setting up a test server using Hasura Cloud. Unfortunately, it is running v2.0.0-alpha and we are currently using 1.3.3.

I am not able to run `hasura metadata apply` b/c the configuration is v2 and it demads v3. I found a way to update the configuration, but it overwrites the metadata.

In general, I have not been able to find a way to migrate from v1 Hasura to v2.

[2021-03-09 03:43] dysbulic commented on #389
I have been trying to bring up a VPS to just demonstrate the profile editing page for the moment.

The problem has been with Linux's out-of-memory process killer. For whatever reason it is beneficial to overestimate the amount of available memory and over-allocate.

This means that sometimes a process will run out of memory, at which time it is killed.

I started with a VPS with 1GiB of memory and

[2021-03-09 03:44] dysbulic commented on #312
There is a test server partially up. You can view the input page at: http://31.220.51.54:3000/profile/setup/playerType

[2021-03-09 17:54] todo[bot] opened #396 "add jsonb field to guild and populate ranks, e.g. { ranks: [] }"
https://github.com/MetaFam/TheGame/blob/1050b6ef2547dd8fa470632904fc7cc41544c9af/packages/backend/src/handlers/triggers/updateDiscordRole.ts#L39-L44

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `todo` comment in 1050b6ef2547dd8fa470632904fc7cc41544c9af when #355 was merged. cc @MetaFam.

[2021-03-09 19:28] alalonde commented on #389
Can you specify a hasura version to run in Hasura Cloud? I would be surprised if they forced you to use an alpha version.

[2021-03-10 00:47] dysbulic commented on #389
I was too, but I've looked to the best of my ability and asked in Discord to no avail. I think part of it is that they're young enough in their cloud offering that v2 is all they want to support.

Maybe an automated migration of metadata will come later…

[2021-03-10 00:50] dysbulic commented on #389
I'm looking at different continuous deployment options. One of the prettiest (and seemingly most versatile) is [codefresh](http://codefresh.io). This is what I prepared to send to them, but I'm not 100% sure it's correct:

@hammadj, where is the Postgres instance backing Hasura located? Is everything on OnRender deployed using Docker?

[2021-03-10 06:04] alalonde commented on #389
We have two services and the DB hosted at render.com (https://render.com/pricing#)

All three on the starter plan, $21 / month total. Easiest solution would be to spin up adjacent services and DB in the same team, but that obviously doubles the cost.

Slightly off-topic, but it seems like we should move toward somehow reimbursing folks for these sorts of outlays. For hammad, for instance, we could

[2021-03-11 02:00] dysbulic commented on #343
It turns out this is more difficult than it appears at first glance. The issue is the links to Twitter, Github, & Etherscan that can appear in the footer of the player card.

Wrapping the entire card in a link will override the destination of those links. There is a [CSS-based solution](https://stackoverflow.com/questions/9882916/are-you-allowed-to-nest-a-link-inside-of-a-link/46707009#46707009) t

[2021-03-11 08:33] dysbulic commented on #312
There is [a legal issue with the distribution](https://company.wizards.com/en/legal/fancontentpolicy) of the Magic iconography. For one, parts of MetaGame aren't free, and for two, the iconography for the guilds of Ravnica are explicitly protected from use.

I have been considering my choices for what part of the mythos is chosen to represent a particular combination of colors. Specifically, I thi

[2021-03-11 22:52] dysbulic commented on #309
We're on the waitlist for [the rollout of Ceramic's main net](https://blog.ceramic.network/ceramic-mainnet-early-launch-program/). The wait of the list is 4‒6 weeks.

[2021-03-11 22:58] dysbulic commented on #155
3Box's profile editor is soon to be dead being replaced by IDX.

The closest thing to a profile editor as of writing is [self.id](https://github.com/ceramicstudio/self.id) which will copy the 3Box profile into IDX.

This is supposedly going to be done automatically closer to mainnet launch.

[2021-03-11 23:04] dysbulic commented on #254
#234 covered all the issues here, and if there's something unanswered buried in these myriad pages, it should be reentered as a new issue.

[2021-03-11 23:04] #254 closed

[2021-03-12 03:41] dysbulic opened #403 "[MyMeta] Next button in the profile editing flow doesn't stay disabled"
In the profile editing flow there is a consistent button at the bottom of the screen to accept the current input and switch to the next screen.

This button is disabled once it is pressed. The disabling though is only for the period of time that the app is talking to Hasura, so it becomes reenabled before the next page loads.

I went through the editing process, and you can see the issue repeatedl

[2021-03-12 07:16] dan13ram opened #404 "[MyMeta] Make ethereum_address lowercase in backend"
This will help us linking other graphql apis such as seed-graph
https://thegraph.com/explorer/subgraph/dan13ram/seed-graph

[2021-03-12 13:12] #404 closed

[2021-03-14 16:08] tobi110289 commented on #385
Did a version that works: https://github.com/MetaFam/TheGame/pull/409

[2021-03-15 12:54] pakokrew opened #412 "Fix auth mechanism in urql"
There's an ongoing issue with our URQL setup which doesn't handle logout/re-login with another account

https://formidable.com/open-source/urql/docs/advanced/authentication/

need to add an `authExchange` that gets token from our `Web3Context`

related to #360

[2021-03-15 15:40] pakokrew commented on #412
I found a workaround calling `resetUrqlClient` on connect/disconnect, which reset the client so that the cache get cleaned.

We may still need to implement auth exchanges in urql to get a cleaner auth management.

Not really a big priority until something really needs a better auth system.

[2021-03-15 15:42] pakokrew opened #413 "[MyMeta] Fix connection from smart wallets"
Our auth system use wallet signatures to generate tokens.

Unfortunatelly, smart contract wallet use a different system than a simple `eth_sign`, and we need to implement something different to support them.

Example of smart contract wallets:
- Argent
- Gnosis Safe
- Pillar

Links:
https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1271.md
https://github.com/WalletConnect/walletconnect-example

[2021-03-15 17:16] #338 closed

[2021-03-16 05:41] #330 closed

[2021-03-16 11:02] dan13ram commented on #344
Closing this as we no longer use text for setup/edit profile.

[2021-03-16 11:02] #344 closed

[2021-03-16 13:42] #413 closed

[2021-03-16 21:27] alalonde commented on #389
Working on leveraging github actions to just stand up a postgres / hasura instance at build-time.

[2021-03-18 19:31] dysbulic opened #419 "Set GraphQL client to retry failed requests"
The [current GraphQL client](https://github.com/MetaFam/TheGame/blob/master/packages/web/graphql/client.ts) is failing with a timeout error when Vercel is building the pages.

It is possible to set it up to [retry failed connections](https://formidable.com/open-source/urql/docs/advanced/retry-operations/) which should make the builds more consistent.

[2021-03-20 11:45] geleeroyale commented on #269
could not finish because I never got it to run in the metagame site structure - was always colliding with some internal thing.

However - someone more familiar with app architecture might have a go - its quite simple actually.

(and at some point I would love an intro or a mention in the docs on how to actually **add effin dependencies**

https://codesandbox.io/s/react-mosaic-2dloh?file=/src/App.t

[2021-03-20 18:56] #341 closed

[2021-03-20 20:41] dysbulic opened #424 "Prevent redirects when generating pages"
Intermittently when the site is being generated it is erroring out when a redirect is returned:

[code]
My assumption is it's [this section](https://github.com/MetaFam/TheGame/blob/master/packages/web/pages/player/%5Busername%5D.tsx#L183-L191) which I don't completely understand. It seems like it is being called from the list of usernames, so `username` should be set.

The other option is [here](h

[2021-03-21 01:20] #389 closed

[2021-03-25 22:12] dysbulic commented on #309
I got a message that we're in the first cohort to be onboarded for the mainnet launch.

Their desire is that we be able to go to production at the end of April.

[2021-03-26 16:24] sunguru98 commented on #343
I'll take this one and see if this is possible. @dysbulic @markoprljic

[2021-03-26 23:01] sunguru98 commented on #269
@geleeroyale, may I take this a look please?

[2021-03-27 03:17] #396 closed

[2021-03-27 05:25] pakokrew commented on #269
While working on the questing system, I had to dive deeper into server-side rendering, nextjs, urql and how these three interacts, and makes me think this window will not be trivial to integrate.

### Why we have SSR/NextJS
Server-side rendering makes web pages load all-at-once super quickly, as opposed to client-side SPA which takes a while to render on users screens, with renders cascades, loade

[2021-03-27 06:18] pakokrew commented on #269
Thinking out loud here but maybe we could:

Keep our system as it is now

Create one special page which implements windows system, that opens our own pages in iframes (`mymeta.wtf/player/peth`) with a query (`?embed=true`) which disable headers, menu etc to be embed.

So we keep both of two worlds. App navigable normally as before, and for geekys persons that wants multiple pages on one, they go o

[2021-03-27 21:24] #185 closed

[2021-03-27 21:32] peth-yursick commented on #27
Does this depend on #309?

[2021-03-27 21:38] peth-yursick opened #440 "MetaFest Hackathon"
Quests in this category are good candidates for what you might want to do at the hackathon.
Note: these are just a suggestion, you will also get rewarded for closing any issues outside here

[2021-03-27 21:39] dysbulic commented on #27
Yes. This component is specific to 3Box which will no longer be used post transition to IDX.

I do not know of any plans to develop a component like this for IDX, so if you would like profile editing on a single page, it would need to be designed.

[2021-03-27 21:53] peth-yursick opened #441 "[MyMeta] Add "top 3 skills""
Have people first specify their "top 3 skills" then display those in a separate line on their profiles.

In the edit / setup profile flow, duplicate the skill picker on the same page, where the first picker is limited to three choices, and the second filters out the three chosen skills.

Will probably need to add a `featured` column to the `player_skill` table.

[2021-03-27 21:57] #440 closed

[2021-03-27 22:09] peth-yursick commented on #27
I think that step was actually a part of Marko's original design of the profile creation flow.
But the "single-page edit design" is still an open issue #278 right?

I just added Gabi from 1Hive to the dprofiles call we're having with 3box & the rest of the bunch, he should be on the next one.

[2021-03-27 22:33] peth-yursick opened #442 "❓❓❓[READ-ME]❓❓❓"
If this is your first time playing MetaGame, here are some things you should know:
- If you want a general intro to MetaGame, best start [here](https://metagame.wtf/).
- If you want to jump straight into building, you can proceed through here for down the [Builder's Path](https://metagame.wtf/play/paths/builders-path) or straight through here for the [back-end](https://github.com/MetaFam/TheGame/b

[2021-03-27 22:46] peth-yursick opened #443 "[MyMeta] Custom Backgrounds"
Allow people to set custom backgrounds on their MyMeta profile.
Bonus points if hosted on IPFS or other decentralized storage.

[2021-03-27 22:59] peth-yursick commented on #443
Allow people to set custom backgrounds on their MyMeta profile.
Bonus points if hosted on IPFS or other decentralized storage.

[2021-03-27 23:00] peth-yursick commented on #278
Is this still missing the design @alalonde?

[2021-03-27 23:46] #268 closed

[2021-03-27 23:51] peth-yursick opened #444 "[MetaOS] Add "install new app" button"
Add the ability for people to "install new apps" inside the app drawer.

- Add a "+" emoji with "Install" description tile to the app drawer
- Check if a user has at least 300 pSeeds in the same way it was done for Quests #437
- Have the user input a link & an emoji or icon they want for the button
- Add the button to the app drawer, but separate from the default apps

[2021-03-27 23:54] peth-yursick opened #445 "[MetaOS] Completing Patrons"
- Add the "league rankings" (diamond, platinum, gold, etc.) to the patron pages, like on the [players leaderboard](https://my.metagame.wtf/)
- Make the patron "player cards" include skills & be the same height as the player cards on the [players leaderboard](https://my.metagame.wtf/)
- Add the link to https://my.metagame.wtf/patrons to the app launcher

[2021-03-29 03:02] alalonde commented on #278
No, I don't think so. Perhaps you were referring to another issue?

[2021-03-29 03:03] alalonde commented on #445
Not to mention a link to that page!

[2021-03-29 04:08] #312 closed

[2021-03-29 06:19] pakokrew opened #455 "[Raids] Raids definition (Draft)"
Once first iteration of quests completed, we need to add a layer on top of it: Raids

Raids are groups of quest. Think of an Epic, splitting the work in different tasks.

## Objective

We first try to create a simple system for replacing the #quests channel in discord. This will implement the Phase 0 we describe in Notion.

- Only people holding at least 100 pSEED (seeds in liquidity pool) will be

[2021-03-29 06:23] pakokrew opened #456 "[MyMeta] Multiplayer quests (draft)"
Right now the quests can be done : once (Unique), once per player (Personal), or multiple times (Recurring)

Could be great if quest could be achieved by a groud of people, i.e multiplayer quests.

## Tech Specs (draft)

Add a  `MULTIPLAYER` repetition type in `quest` model

Add a `group_id` prop in `quest_completion` model. When claiming a quest, add an input to add other players to the submissio

[2021-03-29 06:29] pakokrew commented on #424
https://github.com/MetaFam/TheGame/issues/456
`desination`
fixed in #439

[2021-03-29 13:27] mquellhorst commented on #325
I've set up the guild pages but as far as I see there ain't much info in the database to fill the page with yet.
Is there anymore to find about a single guild except what's in the guild table?

[2021-03-29 20:36] peth-yursick commented on #455
🔥🔥🔥
The only thing I'd do differently is make it so that a player needs to hold 200 or even 300 pSeeds?

The quest creation requires 100, so I think it would make sense that raid creation requires more.
Also, with 100 pSeeds at the current rate, a malicious actor only needs to plant ~$3k worth of Seeds to troll MetaGame 😬
I'd argue it should require even more. The main thing would be to make it so

[2021-03-29 20:39] peth-yursick commented on #456
I love the idea but still makes me think that multiplayer quests are pretty much raids?
It could be smaller quests, but as soon as it requires multiple people , its kind of a raid & could be split into quests like "design this thing" & "build this thing".
Then again, you could do even the "same quest" with multiple people if you want to coop, so idk 🤷‍♂️
Either way, I think the key insight here is

[2021-03-30 01:49] dysbulic commented on #456
When I read this, I was thinking specifically of pair programming as a necessarily multiplayer quest.

[2021-03-30 18:36] peth-yursick commented on #456
Right, makes sense. That's what I meant by:

Are these specific kinds of quests that should be done in pairs or can any programming quest turn into a pair programming quest?

[2021-03-30 21:16] peth-yursick commented on #445
Oh damn, right!
I asked Lux to add it to the wiki app launcher, but forgot about the main one 😱

[2021-04-02 13:36] mquellhorst opened #461 "typecheck of github push differs from local commit"
When I commit the pre-hook runs typecheck and succeeds.
However, when I push the commit to github a different typecheck seems to run which throws errors (so this one is more strict)

Could we use the same (the strict one) for commits?

[2021-04-02 18:16] mquellhorst commented on #325
#460

[2021-04-02 18:16] #325 closed

[2021-04-08 11:32] todo[bot] opened #464 "factorize this with backend"
https://github.com/MetaFam/TheGame/blob/f1f40635f9f0157105b445a54d6cc00e83c7acba/packages/web/utils/questHelpers.ts#L38-L43

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in f1f40635f9f0157105b445a54d6cc00e83c7acba when #437 was merged. cc @MetaFam.

[2021-04-08 11:32] todo[bot] opened #465 "factorize this with backend"
https://github.com/MetaFam/TheGame/blob/dfff04ebaaa21b82403df9c5f4f1cc9361073eca/packages/web/utils/questHelpers.ts#L38-L43

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in dfff04ebaaa21b82403df9c5f4f1cc9361073eca. It&#x27;s been assigned to @pakokrew because they committed the code.

[2021-04-08 22:30] alalonde commented on #327
Let's focus this down a bit to the minimum amount of data such that a scrolling marquee-style UI would still make sense. Then we can build this without all the other data feeds which are more complex.

- It would be reasonably easy to display other asset prices. But which ones?
- Which stats would be interesting? And do we have that information?

[2021-04-10 08:57] #403 closed

[2021-04-16 15:20] dan13ram commented on #311
I believe this should be worked on once we have discord oAuth implemented.
Ref: https://github.com/MetaFam/TheGame/pull/446

[2021-04-20 20:23] alalonde opened #468 "XP no longer updating on MyMeta"
The XP bot is also down, so the only way for players to see their XP is by checking the [https://metafam.github.io/XP/#/accounts](Sourcecred instance) directly.

[2021-04-20 23:06] alalonde opened #470 "Discord bot XP command is broken"
Due to the same root cause as for #468. To resolve:

- Branch off of hammad's stale `feature/discord-bot-address` branch. He did some legwork to start moving the bot functionality into this repo.
- Can probably use some of the logic from the existing `bot` repo, but with the new sc API as used in #469

Potential new features:
- Support the `!xp` command with no parameters. This will return _your_

[2021-04-21 14:25] geleeroyale opened #471 "Set up staging environment"
We need a staging environment to move more quickly with PRs

[2021-04-21 14:33] #290 closed

[2021-04-21 14:39] geleeroyale opened #472 "Bump dependencies"

[2021-04-21 14:44] dan13ram commented on #445
@peth-yursick do we have the logo for this?

[2021-04-21 15:33] #468 closed

[2021-04-21 16:07] todo[bot] opened #473 "get design input, change content and make responsive */ }"
https://github.com/MetaFam/TheGame/blob/92a58a6c5c80cb4f90a7f1df97f759692db70acf/packages/web/components/Guild/GuildJoin.tsx#L28-L33

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 92a58a6c5c80cb4f90a7f1df97f759692db70acf when #446 was merged. cc @MetaFam.

[2021-04-26 22:12] peth-yursick commented on #445
Not really closed. There are league rankings now but it seems like its only displaying their player ranking rather than patron ranking. Patron ranking should be based on pSeeds rather than XP, just on the same 7, 7, 7, 14, 21 scheme

[2021-04-27 00:42] dan13ram commented on #445
Ah. Cool

[2021-04-27 03:42] alalonde commented on #445
Yeah, makes sense. Let's just compute this in React rather than storing it in the DB as there's really no concept of "patron rank" outside of this board.

[2021-04-27 04:06] alalonde opened #482 "Fix intermittent build failures in Github Actions"
I made a change to our build a few weeks ago to stand up a docker container with our backend code for the web build to point to.  This seems to be failing now.  This may not be a best practice but it needs some investigation to see what's going on.

[2021-04-27 04:10] dan13ram commented on #445
Yes @alalonde, I had the same thoughts. Will raise a PR with these changes by tomorrow

[2021-04-28 14:13] geleeroyale commented on #269
unassigned myself - @dan13ram will probably pick it up

[2021-04-28 14:41] peth-yursick opened #487 "[Quests] Add formatting to the Quests"
We have the quests now but its not possible to format their descriptions, not even put things in a new row
![image.png](https://images.zenhubusercontent.com/6012e742cf90c0930a4aa829/abd006b5-8531-4ecb-a56f-41455eb295d6)
We need to be able to format the text in the description.
Integrate the [Quill component](https://github.com/zenoamaro/react-quill) to allow for quest formatting.

[2021-04-28 14:48] geleeroyale opened #488 "Rework how we use .env"
- put in right fo1der
- expand with missing vars
- high1ight specia1 permission vars (for p1ayers)

[2021-04-28 14:56] alalonde commented on #488
Also add a comment / readme about generating a github token for local use

[2021-04-28 21:08] peth-yursick opened #489 "[MyMeta] Add Internal Guilds to the guilds page"
On the https://my.metagame.wtf/guilds page, there should also be internal guild pages.
The guild profiles should feature information from [this page ](https://www.figma.com/file/l9qXlzJFaNGvWTdxgJCPjf/MetaGame-Onepagers?node-id=0%3A1)
One of the containers should be like this:
Title: How to join
Body: Do one of these things (list evergreen quests from the above figma in bullet points), then get on

[2021-04-29 14:27] geleeroyale commented on #269
Saving my work in progress here. Made this little component that needs typescript cleanup to be pushed - made as `/pages` component:

[code]

This is the component used for the window manager:
https://github.com/nomcopter/react-mosaic

And ... salvaged from chat (thanks Peth!) - the mock-ups for the actual window manager:
https://www.figma.com/file/yFjwnlldaEhPOEls3rz18t/OS-Window?node-id=86%3A107

[2021-04-29 22:31] luxumbra commented on #487
I'd like to take this if no-one else is on it. @alalonde

[2021-04-29 23:31] peth-yursick commented on #487
We've been enforcing "assign it to yourself if you're working on it", and this one was only added yesterday anyway, so I don't think anybody is working on it yet

[2021-04-29 23:52] luxumbra commented on #487
Happy days. I am just updating my local repo

[2021-05-01 07:16] #472 closed

[2021-05-01 07:21] #445 closed

[2021-05-03 10:56] peth-yursick opened #498 "[MyMeta] Increase player listing"
Increase the number of players listed on https://my.metagame.wtf from 50 to 150

[2021-05-04 04:11] alalonde commented on #489
These are essentially Metafam guilds, right? I would highly recommend renaming internal guilds (or external guilds) so that they're both not called "guilds"...

[2021-05-04 04:13] alalonde opened #500 "Guild detail page issues"
- Currently the links from guilds > guild are broken
- Listing quests should be able to be implemented now

[2021-05-04 12:59] geleeroyale opened #501 "[Roadmap] MyMeta"
Checklist:
- [ ] [**Move to Ceramic**](https://github.com/MetaFam/TheGame/issues/309) - Migrate from 3Box to IDX/Ceramic
- [ ] [**Role select**](https://github.com/MetaFam/TheGame/issues/311) - Allow players to choose basic roles when setting up their profiles so we can move the role select out of discord & change the onboarding flow to start with profile creation.
- [ ] [**New sections**](https:/

[2021-05-04 13:00] geleeroyale opened #502 "mymeta"

[2021-05-04 13:03] #502 closed

[2021-05-04 13:04] dan13ram opened #503 "[MyMeta] Add filters to /players page"
Right now, there is only a list of players.
If we want to make the player explorer more useful, we should allow people to search & filter it.

A player should be able to search the player list, filter it skills & availability at the very least.

The design:
![image](https://user-images.githubusercontent.com/55857222/117818045-7f7a5a80-b268-11eb-8bde-6a02595ff6aa.png)
[Figma file](https://www.figma

[2021-05-04 13:11] geleeroyale opened #504 "ROADMAP"

[2021-05-04 13:21] geleeroyale opened #505 "[Roadmap] Quests"
- [ ] **Quest completions via props channel** - Some quests are completed simply by doing them but others need to be accounted for through #did-a-thing or by adding initiatives. We need to figure out what this looks like. For smaller quests, the player could click "complete quest" & there could be a bot @player who completed the quest in a hidden #give-props channel where XP Fairies then verify &

[2021-05-04 13:29] geleeroyale opened #506 "[Roadmap] MetaOS"
- [ ] **[MetaMenu](https://github.com/MetaFam/TheGame/issues/641)** - The main thing will be to build the navigation bar that Davor is designing & making things open below it rather than in a new tab. Going from there, we should try to get all the other pieces under the same interface.
  - [ ] **Move the newsletter from substack** - Eg. the newsletter itself should be moved from substack into the

[2021-05-04 13:38] geleeroyale opened #507 "[Roadmap] Products"
- [ ] Whitelabel "Products"
  - [ ] MetaAPI?
  - [ ] MyMeta
  - [ ] MetaSys
- [ ] Product pages
- [ ] API Documentation

[2021-05-04 13:49] geleeroyale commented on #204
Closing this because its super outdated according to @peth-yursick

[2021-05-04 13:49] #204 closed

[2021-05-04 21:05] alalonde opened #508 "Fix periodic vercel build errors"
e.g.

[code]

[2021-05-04 21:20] alalonde commented on #508
This may be [quite easy](https://nextjs.org/docs/messages/gsp-redirect-during-prerender) but difficult to test...

[2021-05-05 14:20] geleeroyale opened #509 "roadmap"

[2021-05-05 14:23] #509 closed

[2021-05-05 14:37] #488 closed

[2021-05-05 14:47] geleeroyale opened #510 "Whitelabel our most useful discord bots - so other communities can use them!"
Which bots are easy to port and helpful?

@alalonde @dysbulic

[2021-05-05 14:50] geleeroyale commented on #245
I am almost 88% sure this has been done already.

[2021-05-05 14:50] #245 closed

[2021-05-05 14:57] geleeroyale commented on #348
not you again! (I mean the issue)

[2021-05-06 02:58] dysbulic commented on #508
My understanding is the redirect is being returned thanks to [this code](https://github.com/MetaFam/TheGame/blob/dfff04ebaaa21b82403df9c5f4f1cc9361073eca/packages/web/pages/player/%5Busername%5D.tsx#L197-L208) which attempts to look up a user, and, if it isn't found, attempts to look up the lowercased version of the name. When that is found, it redirects to the lowercase url.

The username in ques

[2021-05-06 14:54] mquellhorst opened #512 "[MyMeta] Bots show up in MyMeta"
Vercel is listed in the player list on MyMeta.
Only players should show up all others should be filtered out.

[2021-05-06 17:47] alalonde commented on #508
Just curious, have you verified this in the logs?

[2021-05-06 18:10] mquellhorst commented on #512
Could it be that the dev environment is ahead of the production env?
Vercel doesn't seem to be in Hasura in the dev env :)

[2021-05-06 19:07] todo[bot] opened #513 "rename to xp once previous bot is disabled"
https://github.com/MetaFam/TheGame/blob/bdc9b3448439f9a3f5e3f1e2489043f39d40dba5/packages/discord-bot/src/discord/commands/getXp.ts#L10-L15

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `todo` comment in bdc9b3448439f9a3f5e3f1e2489043f39d40dba5 when #484 was merged. cc @MetaFam.

[2021-05-06 19:32] #513 closed

[2021-05-06 19:33] alalonde commented on #512
See the Sourcecred instance for this, especially https://github.com/MetaFam/XP/commit/919c83e9202abca48c1ed37c5dba2f679884f000

[2021-05-06 19:38] alalonde commented on #510
Only bot I know of is our aracred bot which is in the process of migrating to this repo. Not sure how other communities would configure the styling / labels. Through the bot interface itself?

[2021-05-06 19:39] alalonde commented on #471
@geleeroyale you should have access to do this now

[2021-05-06 19:40] alalonde commented on #20
This is underway; groundwork was laid in #484

[2021-05-07 22:47] alalonde commented on #470
Fixed in #484

[2021-05-07 22:47] #470 closed

[2021-05-07 23:35] dysbulic commented on #508
There's not really anything in the logs other than the failure. I have seen timeouts when accessing Hasura.

It would explain the intermittent nature of the errors.

[2021-05-08 02:15] dan13ram opened #514 "Integrate slash commands to our discord bot"
Ref:
https://discord.com/developers/docs/interactions/slash-commands

[2021-05-09 02:02] alalonde opened #516 "Fix identity collisions in sourcecred account migrator"
e.g.

[code]

This is happening for dozens of players currently, causing their XP not to update in mymeta.

[2021-05-10 09:39] mquellhorst commented on #489
So far there aren't any external guilds right?
I'm wondering whether there will be external guilds, I suggest we discuss this during the builder meet

[2021-05-10 09:58] peth-yursick commented on #489
No, so far they are all external guilds.
The internal guilds will be "builders guild", "designers guild" etc. they will be added when we have pages for current (external) guilds.

[2021-05-10 10:34] mquellhorst commented on #489
Ah I see.
I agree with Alec on renaming external guilds.
I'ld say guilds contribute to MetaGame and you earn seeds
External guilds are more like alliences

[2021-05-10 10:50] peth-yursick commented on #489
They won't both be called guilds. There will be "Guilds" & "Internal Guilds" with the internal guilds scrolled sideways or something pinned on top of the guilds page so they're more obviously separate.
Alliances are a third thing which already exists (though not in prod yet): groups of guilds (eg. Bloom Network & MetaCartel)

[2021-05-11 10:57] mquellhorst commented on #500
#529

[2021-05-11 12:53] peth-yursick opened #542 "[MyMeta] Add filtering capability"
Right now, there is only a list of players.
If we want to make the player explorer more useful, we should allow people to search & filter it.

A player should be able to search the player list, filter it skills & availability at the very least.

The design:
![image](https://user-images.githubusercontent.com/55857222/117818045-7f7a5a80-b268-11eb-8bde-6a02595ff6aa.png)
[Figma file](https://www.figma

[2021-05-11 14:32] peth-yursick opened #547 "[MyMeta] Add contracting capability to the profiles"
Make it possible for people to contract each other

[2021-05-12 02:33] #498 closed

[2021-05-12 06:37] dan13ram commented on #542
@peth-yursick duplicate of #503 ?

[2021-05-12 06:53] dan13ram commented on #547
This will require some designing before implementation.
I'm looking to leverage the smart-contracts behind smartinvoice.xyz for this.
Ref: https://github.com/raid-guild/smart-invoice/tree/main/packages/contracts/contracts

The following are important inputs that we would require when two members enter into a "contract", aka smart-invoice:
1. Client Address - easily available as the first player's

[2021-05-12 10:07] peth-yursick opened #549 "[MyMeta] Add support for xDAI & Polygon DAOs"
Right now, the profile pages are displaying DAOHaus DAOs & NFTs on Ethereum mainnet.
With the increasing fees on mainnet, both DAOs & NFTs are rapidly moving to xDAI & Polygon.
We should add support for xDAI & Polygon.

[2021-05-12 10:50] peth-yursick opened #550 "[MyMeta] Finish the personality type transition (styling & removing)"
@dysbulic has done a great job building the Magic colors system, now we just need somebody to put in the finishing touches.

First, style the colors & the bars as it was originally designed.
Currently:
![image](https://user-images.githubusercontent.com/55857222/117956479-5e257700-b319-11eb-81de-29d0fed88134.png)
Should be more like this (disregard percentages, it should be 33/33/33):
![image](http

[2021-05-12 12:47] dan13ram commented on #508
I've verified that Timeout is indeed the issue. Added retries in #548
But it still fails sometimes.

Looks like even 2 retries are not enough sometimes.

Perhaps worth thinking about doing some load balancing on hasura.
https://hasura.io/learn/graphql/hasura-advanced/performance/2-horizontal-scaling/

[2021-05-12 13:02] dan13ram commented on #424
Redirects are returned at build time only because hasura times out.
Closing this in favor of #508

[2021-05-12 13:02] #424 closed

[2021-05-12 13:21] dan13ram commented on #461
@mquellhorst

pre-commit hook runs `yarn lint-staged` which runs `eslint` and `prettier` only for staged files.
pre-push hook runs `yarn typecheck`

and there is no difference between the local typecheck and workflows typecheck commands as can be seen (here)[https://github.com/MetaFam/TheGame/blob/master/.github/workflows/PR-CI.yml#L37] and (here)[https://github.com/MetaFam/TheGame/blob/efe0e8bde3

[2021-05-12 13:21] #461 closed

[2021-05-12 13:46] hammadj commented on #508
It might just be best to migrate to Hasura Cloud

[2021-05-12 13:51] dan13ram commented on #508
You are correct Hammad. The Github Actions errors shouldn't be a problem anymore thought.
This issue is regarding the builds failing on Vercel.

I think moving to Hasura Cloud is the best option too.

[2021-05-12 14:21] alalonde commented on #471
Also, update the render.yml file, look into if we can maintain separate versions for development vs master branches?

[2021-05-12 14:29] dysbulic opened #551 "Migrate to Hasura Cloud"
We are having intermittent timeouts connecting to Hasura and one solid solution is to migrate to a [cloud instance](https://hasura.io/cloud/).

The cloud is running version 2 & we're on 1.3. So, in addition to reconfiguring the backend, it needs to be updated.

[2021-05-12 15:01] dan13ram commented on #500
Closed by https://github.com/MetaFam/TheGame/pull/529

[2021-05-12 15:01] #500 closed

[2021-05-12 15:05] alalonde commented on #508
#482 is the ticket regarding the Github Actions build.  Should be fixed now.  Do we know what the resource constraints are with Hasura? Migrating it to Cloud could be a big lift as it entails upgrading to 2.0 which I believe is not even in prerelease yet. I would be more comfortable throwing more resources at our instance to address the issue, at least in the short-term.

[2021-05-12 15:12] dan13ram commented on #482
@alalonde
Builds are still failing.. actually its just stuck at `yarn wait-on` for
https://github.com/MetaFam/TheGame/pull/515
But it passed another PR https://github.com/MetaFam/TheGame/pull/529

[2021-05-12 15:37] mquellhorst commented on #512
So the latest version of XP needs to be pushed which will probably fix this, no further action needed
Keep it open to track if this will fix it

[2021-05-12 16:41] alalonde commented on #508
Right. So migrating to Cloud may or may not fix the issue as we don't actually know what's causing it! I will be deploying a staging instance soon which we can point Vercel to rather than production. During static page generation (players and patrons now) it's probably hitting Hasura pretty hard so I would add some logging to those endpoints as a starter.

[2021-05-12 16:44] alalonde commented on #482
Does `/healthz` even exist on hasura? May need to use a different health check endpoint.

[2021-05-12 16:54] dan13ram commented on #482
@alalonde It does exist. https://hasura.io/docs/latest/graphql/core/api-reference/health.html
This code works locally for me as well as has worked for other PRs (ref #529 and #548)

I just don't why it works sometimes and then fails at other times!

[2021-05-12 16:57] dan13ram commented on #508
Something else worth a try
https://hasura.io/docs/latest/graphql/cloud/response-caching.html

[2021-05-13 15:42] Mettodo opened #553 "[MyMeta] Cannot update profile"
I am trying to update my profile.
When I click to go to the next step, I just go back to the main page.
https://user-images.githubusercontent.com/24914615/118150228-fce5cc80-b41a-11eb-9530-f5e4713e1b9d.mp4

[2021-05-13 15:58] dan13ram commented on #553
Can confirm the same thing is happening to me as well.

[2021-05-13 16:17] verhovn commented on #553
yeah, i completed only after i start using >> in the up right
still cannot upload my image (

[2021-05-13 20:45] mquellhorst opened #554 "[MyMeta] Current time for players on guild page"
Give an overview of the current time for all players in a guild

[2021-05-13 22:12] alalonde opened #555 "Support multiple eth addresses"
I've seen a whole bunch of issues around people switching eth addresses. It seems that we should support a one-to-many relationship between players and eth addresses.

Is this even supported with sourcecred? Isn't one's eth address just an alias? in that case what is your primary source of identity?

[2021-05-13 22:18] dysbulic commented on #555
I'm pretty sure you can have multiple aliases of the same type, and that ETH addresses are aliases, so it should be possible.

The question is when doing disbursements, where do you send it?

[2021-05-13 22:21] alalonde commented on #516
Also see https://github.com/MetaFam/TheGame/issues/555

[2021-05-13 22:23] alalonde commented on #482
Yeah, #515 error is due to a separate issue I believe. I think we're good here.

[2021-05-13 22:23] #482 closed

[2021-05-15 12:27] mquellhorst commented on #553
It seems this behavior only occurs in production
When running locally it works fine

[2021-05-17 13:04] #542 closed

[2021-05-17 20:42] mquellhorst commented on #487
@luxumbra are you still working on this else I'ld like to pick it up?

[2021-05-17 21:19] mquellhorst commented on #441
The bounty has expired. Is this still planned?

[2021-05-17 21:29] davort commented on #503
**Early feedback**
Solid implementation, however not following Figma in its entirety.
I have also updated the Figma file slightly, so as to make UI clearer: [Figma link](https://www.figma.com/file/zDHqledo5H2aKR3KDvbur8/Meta-Game?node-id=3110%3A7234)

I'd appreciate if you could do the following:
1. Add background color to dropdowns, as defined in Figma (#1B0D2A)
2. Use those down-pointed arrows f

[2021-05-18 01:39] luxumbra commented on #487
@mquellhorst I have been off for a few days and was going to go at it this week but am aware it's been with me for nearly 3 weeks and hasn't gone anywhere, so go ahead.

[2021-05-18 10:45] peth-yursick commented on #503
Just pasting over from Discord:

We should probably add more times between 0 & >10h. Maybe 1h & 5h? But that's probably a separate issue.
Also, we dropped "pioneers, settlers & town planners" meanwhile for the MTG colors, so that would be more important to put on.
What is the difference between "dev" & "engineering"? Would it make more sense to merge along with "technologies" since it doesn't allo

[2021-05-18 11:09] dan13ram commented on #503
@peth-yursick

These categories are subcategories of skills in https://my.metagame.wtf/profile/setup/skills
So technologies/dev/engineering are all different.

I totally get that it can be confusing. I can change this to show all skills if you that would be better.

[2021-05-18 12:27] dan13ram commented on #503
@peth-yursick Regarding the ColorAspects, these are the different options available as per the database
[code]

We can create a filter based on these. But imo these are not easy to understand.
But this can be done. Let me know :)

[2021-05-18 12:28] dan13ram commented on #503
@davort I've updated the PR with yours as well as @peth-yursick 's suggestions.
Please take a look and let me know what you think :)
https://the-game-git-feat-filters-metafam.vercel.app/players

[2021-05-18 14:28] davort commented on #503
@dan13ram – you're welcome! Thank you for doing a great job taking care of that first round of feedback. I have another few questions and comments:

**1. The first dropdown—number of results to display—isn't in the design mockup.** What is the use case where _anyone_ would be interested in fiddling with this? Why not just show the maximum that is technically feasible, and if it doesn't fit onto a

[2021-05-19 02:26] alalonde opened #568 "XP command weekly change is sometimes awkward"
![image](https://user-images.githubusercontent.com/1402582/118747484-55500c00-b817-11eb-8ffd-8a858d3ff817.png)

[2021-05-19 02:43] alalonde commented on #553
Just tried to reproduce in production but now I can't. Can others repro still?

[2021-05-19 09:37] dan13ram commented on #503
Thanks @davort .

1 & 2. I consciously moved away from the design and added the "first dropdown" as well as moved the "number of results" to the top right. This was in order to keep the same design across different pages. Please see below the current screenshot of `/quests` page
![Screenshot from 2021-05-19 15:04:29](https://user-images.githubusercontent.com/10012209/118790584-89790a80-b8b3-11eb-8

[2021-05-19 14:45] geleeroyale commented on #553
Got fixed automagically - possibly by fixing broken Discord bot the day before today.

[2021-05-19 14:45] #553 closed

[2021-05-19 15:16] dan13ram commented on #503
Sharing some suggestions from Hammad here:

[2021-05-20 08:19] davort commented on #503
Thanks for bringing more clarity around 1 & 2 @dan13ram 👍
I appreciate your caring about keeping things consistent. You have goods instinct, so props for that. The problem is at the design level, so thanks for letting me know about this. Not a big issue, but also very easy to fix, so we'll do that!

3. XP "descending" (default) and "ascending" sounds like a good starting point.
4. I will make some

[2021-05-20 08:22] davort commented on #503
Also @dan13ram thanks for passing forward Hammad's suggestions!

If I'm interpreting his thinking correctly, and try to express it as a "job story", it might look something like this

or

This way, we can focus on desired outcomes, instead of solutions—_WHY?_  instead of  _WHAT?_—and proceed to find an optimal solution, considering the larger context, which this particular UI is a small part of.

[2021-05-20 09:39] davort commented on #503
Lastly, my 2 cents on the "Time zone" option for filtering. What's there currently ended up being one super-long list of options. Not very usable in terms of design, but perhaps neither as a concept.

When talking time zones, rather being able to find people in one select zone, it's much more likely we are thinking of **overlap**, which ends up being a range, instead of one exact value. The idea b

[2021-05-20 23:01] alalonde commented on #471
Staging database, hasura / backend instances have been stood up. Also copied all prod data to staging.

Just need @hammadj's help getting an associated vercel frontend staging instance and this should be GTG.

[2021-05-21 20:52] mattcan commented on #240
I wasn't able to reproduce this. Is there another way to change the username besides `/profile/setup/username`?

[2021-05-21 21:18] mattcan commented on #443
I have some questions about this:

* are we looking to facilitate the upload of an image or only request a link to the image?
* this is a separate feature from the current headers provided by 3box or a replacement of that feature as the app moves to ceramic/idx?

Thanks!

[2021-05-21 21:33] peth-yursick commented on #443
- A link might be better as we wouldn't need to worry about hosting, though that only offloads the worry to the player. Facilitating an upload would be much better UX.
- Separate feature I think yeah, these would be full backgrounds so they would require different dimensions & higher res.
- Hmm... I wasn't worried until you asked 😂. Good question. As they are supposed to be "decentralized linkedin

[2021-05-21 21:56] mattcan commented on #443
Thanks for fleshing out the requirements, will be good for later!

We could go the hands off route and only let people link to the image. I'm not a lawyer but that seems like a way to avoid problems. But its only a matter of time before someone says "Hmm, so I can post child porn. Lets do it." and that isn't a fun thing to show anywhere.

Content moderation is a pain and we probably have the same

[2021-05-22 02:19] alalonde commented on #512
I believe this has been fixed. Vercel isn't there anymore

[2021-05-22 02:19] #512 closed

[2021-05-22 02:20] #471 closed

[2021-05-22 14:00] mattcan commented on #549
![metafam-thegame-549_01](https://user-images.githubusercontent.com/621541/119229021-bd7a4880-baca-11eb-95c0-57e2f0420d97.png)

This is a list of DAOs across mainnet, xDai, and Polygon on a users profile page. A large number of these DAOs have no title or logo. There is also no marker to identify network. Going to pitch this in the design channel but possible solutions:

* if title is missing, use

[2021-05-22 16:00] mattcan commented on #549
Some notes for myself:

* Opensea API (what is being used for NFT data) doesn't seem to report network information though it may support Polygon
* looked at a couple Moloch contracts with no title on the xDai chain, they don't seem to have the `Register` event in history but need to dig more
  * should also check with DaoHaus subgraph team for insights

[2021-05-23 01:43] alalonde opened #582 "[MyMeta] Fix updating of ranks in Discord"
Also run a one-off script to update all ranked players as they're quite off at this point.

[2021-05-24 20:43] peth-yursick commented on #443
Yeah, probably good enough to begin with 🤷‍♂️
We can write a warning saying something like "If you upload inappropriate images, you risk your profile being delisted & yourself being banished from MetaGame."

[2021-05-26 23:55] Vyvy-vi opened #600 "[MyMeta]: Custom OpenGraph Meta tags"
## Description
Currently, the metagame site makes a terrible embed on discord(and most probably in other social platforms as well).
We could add some Meta tags for some form of SEO, and esp. for having neatly embedded links that can actually attract people.

The current embeds-
![current link embed only has a title](https://media.discordapp.net/attachments/782054676546846752/846841123280125952/Scr

[2021-05-31 20:09] vrortvedt opened #614 "Create MetaCartel Ventures Guild"
Certain Blood Mages of MetaCartel Ventures have expressed interest in creating an MCV MetaGame funding guild to be able to interact with the wider crypto community beyond our Moloch contract.

Our DAO is here: https://app.daohaus.club/dao/0x1/0x4570b4faf71e23942b8b9f934b47ccedf7540162/

We'd like to request the creation of an MG guild.

[2021-06-02 14:29] luxumbra commented on #264
@davort have you made progress on this? If there's no frontend builder effort here, i'd be up for building out these templates based off your designs/wireframes.

[2021-06-02 19:54] davort commented on #264
Hey @luxumbra - no progress to speak of yet, but there might be in near future, now that you're kindly offering to help! 😊

[2021-06-02 21:22] peth-yursick commented on #614
@hammadj @alalonde @mquellhorst

[2021-06-03 16:39] alalonde commented on #443
Seems that having control of the image would be preferable.

I wouldn't count on this migration happening anytime soon. Do you have any experience hosting images in IPFS?

This sort of thing is only a problem at a certain scale, I think we have a solid enough community right now to police itself. At some point we can add a flag button or something

[2021-06-04 12:07] peth-yursick commented on #503
Is there no such thing as just "colors" & only "color aspects"?
The actual colors are supposed to be just White, Red, Green, Blue & Black..

[2021-06-04 12:08] dan13ram commented on #503
Sorry for the delay in response @davort. But yes, definitely a better timezone filter would be very useful.
I see on the figma that you're already working on creating one, looking forward to seeing the result of that :)

[2021-06-04 12:13] dan13ram commented on #503
@peth-yursick  this is how its stored in the db, and there is some frontend logic to convert these labels to visualise as colors.
We could build a filter that shows the colors, and recreate those labels from the filter. But I will need to dig deeper into how the colors and labels are linked for that.
Thats as much as I understand it, maybe @dysbulic can share some more light on this.

[2021-06-04 12:52] dysbulic commented on #503
The color names came from three places: the base color names were part of the [original design](https://discord.com/channels/629411177947987986/782054676546846752/812437464663851048), the three color combinations are pulled from [the long color article](https://humanparts.medium.com/the-mtg-color-wheel-c9700a7cf36d), & the rest I made up based on the descriptions to avoid any potential legal issue

[2021-06-04 19:41] peth-yursick opened #627 "[Quests] Intro & Evergreen quests"
Currently, intro & evergreen quests are all in Notion but we should move them all to the actual questing interface.
The difference between onboarding or evergreen quests & "normal" quests is that the players will need to complete a few of the former to be able to take "normal" quests.

Exact numbers as well as the design to-be-discussed
Interested? Comment here.

[2021-06-05 14:22] luxumbra commented on #550
I have made a new PR which is ready for review.  [preview here](https://the-game-epam9hk4u-metafam.vercel.app/players)

[2021-06-05 20:10] davort commented on #311
Will this need any design contribution?

[2021-06-05 20:45] davort commented on #264
@peth-yursick
Could you please write a sentence to describe each of the section templates you suggested in the opening comment? (https://github.com/MetaFam/TheGame/issues/264#issue-782473256)
Thanks!

[2021-06-05 20:46] peth-yursick commented on #311
Just a little bit! 😇
The page for selecting the role can be either pretty much the same as the color selection or player type selection screens, just different icons & text

[2021-06-05 21:02] peth-yursick commented on #264
Let's just start with two?
Ok, one it is!

That one is probably both simplest & most important to implement: allow people to embed anything they want.
This should function pretty much as posting anything anywhere. It would be used for pinning any link to your profile.
You end up with something like this:
![image](https://user-images.githubusercontent.com/55857222/120905297-74410180-c651-11eb-8b77-

[2021-06-06 06:06] davort commented on #264
Thanks @peth-yursick, sounds good! We'll start with those two templates then.

@luxumbra – seems like we have a 2-part challenge here:

1. Figure out the general flow of adding/editing new sections
2. Configuration/design of sections, respectively

I'll get down to making a quick wireframe and run it by you ASAP.

[2021-06-06 06:10] davort commented on #311
In that case, please feel free to ping me about this issue whenever you feel is a good time for a designer to give their 2 cents 😉

[2021-06-06 08:13] Baconaetor commented on #627
What do you mean by "actual questing interface"? The Wiki?

[2021-06-06 13:54] luxumbra commented on #357
I'll pick this up if it's available and still on the roadmap.

[2021-06-07 00:45] luxumbra commented on #343
How did you get on with this @sunguru98?

[2021-06-07 00:54] dan13ram commented on #343
Hey guys, I wonder if a simpler solution would be to change the href links to a button onClick and prevent event propogation for those links alone. But either works

[2021-06-07 11:01] #357 closed

[2021-06-07 15:11] luxumbra commented on #264
Maybe for adding, clicking the 'New Block' button loads a list of block types that are available, the user selects the type and the relevant form is loaded into the 'new block' container and displayed on save. Similar flow for editing but with an edit/settings icon, top right of the section, that when clicked, loads the edit form in the container.

I look forward to having a look! 😄

[2021-06-07 16:15] luxumbra commented on #343
A simple abs pos link, like @dysbulic suggested, to fill the card behind the social links would be a pretty quick fix for this and I prefer it over using Buttons for navigational elements.

[2021-06-07 19:54] luxumbra commented on #278
Is anything needing doing on this to get it pushed out the door?

[2021-06-07 20:00] peth-yursick commented on #311
Whenever! How about tomorrow? Could do it pretty much any time before the designers call or at the call

[2021-06-07 20:03] peth-yursick opened #635 "[Quests] Upvoting"
A propose a simple upvoting system where any player or patron can upvote or downvote a quest.
For this, the app would need to check whether the person has a player role on our discord or 8 polygon pSeeds.

A better version of this issue would be using Seeds to upvote.
Each upvote would cost 1 Seeds which would go towards additional bounty for quest completion & make the quest float up in the quest

[2021-06-07 21:02] alalonde commented on #278
No, I don't think there are any blockers at this point.

[2021-06-08 13:57] luxumbra commented on #278
If it needs finishing off, perhaps is a good first issue for someone? Where should the the links go?

The 'design needed' tag & 'Design' in the title suggests there's some design input required here?

[2021-06-08 15:26] luxumbra commented on #385
Seems this has gone stale due to unfortunate issues with timing and the old PR/Review workflow. @tobi110289, honestly, things have improved greatly with regards to workflow in recent weeks. We'd love to get more contributions from you. Did you ever join the MetaGame Discord?

[2021-06-08 15:42] luxumbra commented on #441
@mquellhorst Looks like it's still in the roadmap. @peth-yursick is this still needing doing?

[2021-06-08 16:48] jonathanprozzi commented on #627
I'm interested in this peth and would like to learn more.

[2021-06-09 00:45] Baconaetor opened #636 "Have Patrons Pool Eth Instead of Buying Seeds"
Per Discord conversation here:
https://discord.com/channels/629411177947987986/783432928804732928/851925062801162290
We've decided to have Patrons add Eth directly to the pSeed Balancer pool, instead of buying seeds first. So we need to:
1. Calcuate a recommended Eth amount
2. Update all documentation

[2021-06-09 02:47] Baconaetor commented on #636
Just realized it's WETH not ETH. . .

[2021-06-09 05:00] davort commented on #278
Happy to help from the design side of things! Feel free to assign me to this issue. @luxumbra - will you be taking care of the code?

[2021-06-09 11:11] peth-yursick commented on #627
No no, up on the website: https://my.metagame.wtf/quests

Nice! This one requires #487 to be completed first, which is currently assigned to @mquellhorst but I'm guessing he'd be willing to pass it on to you as he has a bunch of other issues assigned to him (for which he's also not submitting any PRs 😝 @mquellhorst)

[2021-06-09 14:27] luxumbra commented on #264
Link to initial wireframe from @davort https://www.figma.com/file/zDHqledo5H2aKR3KDvbur8/Meta-Game?node-id=6818%3A33

[2021-06-09 14:41] peth-yursick commented on #636
Hey man, thank you for being so quick to act but this is the wrong repo
The right one: https://github.com/MetaFam/metagame-wiki/issues

[2021-06-09 14:41] #636 closed

[2021-06-09 19:55] peth-yursick opened #641 "[MetaOS] MetaMenu mega menu"
We need to get rid of that horrible app drawer that I've "designed" & move on with building the freshly designed menu.
Can't find the link to it though @davort https://www.notion.so/Mega-menu-c9af02b75c504a26aea92fecb13288a9

The menu is the first step towards a unified MetaGame experience 😱

[2021-06-09 20:13] peth-yursick opened #642 "[Quests] Raids"
So, we got Quests, but before we move on with moving all the Quests from Notion to the website & making a huge mess, we should first have Raids.

What are raids? Simply, groups of quests.
Raids can be displayed in the same way as quests:
![image](https://user-images.githubusercontent.com/55857222/121421757-cabe8080-c96e-11eb-9eee-38bcea0c4236.png)
A raid should look pretty much like a quest:
![ima

[2021-06-09 20:15] peth-yursick commented on #627
Realized there's another blocker to moving the quests to the website 😬 @jonathanprozzi
Its building the Raids #642

[2021-06-09 23:19] Baconaetor commented on #636
Opps, sorry about that. The worst part is I legit debated this for like ten minutes before I created it, and still got it wrong! 🤦

[2021-06-09 23:30] mattcan commented on #549
PR for backend change which adds xDai and Polygon DAOs: #643

[2021-06-10 02:52] jonathanprozzi commented on #343
I was checking this out after seeing it on the call this morning and I'm playing around with it a bit. I'm going to try the abs pos link suggestion but I also have been looking into this with Chakra: https://chakra-ui.com/docs/navigation/link-overlay

Haven't used that component before but it looks like it preserves keyboard navigation. Trying this out as well.

[2021-06-10 12:34] mquellhorst commented on #441
Yeah this is still open.
Dunno whether the bounty is still available since it seems to be expired. You'll get XP anyway

[2021-06-10 13:24] davort commented on #264
I updated the wireframe, and made a quick prototype: https://www.figma.com/proto/zDHqledo5H2aKR3KDvbur8/Meta-Game?page-id=6814%3A1840&node-id=6892%3A58&viewport=600%2C322%2C0.47077539563179016&scaling=scale-down

@luxumbra – please take a look and check the questions I listed at the bottom right corner of the last screen. Are any of the questions unnecessary? Are there any missing? Which ones woul

[2021-06-10 17:26] luxumbra commented on #264
Thanks for the update @davort 👍🏻 I'll take a closer look this afternoon. One thing I did think on first look was that it would be nice to have the preview like you had in the modal version. So it loads the preview below the input when the user inserts the embed URL?

@peth-yursick any thoughts on this, ser?

[2021-06-10 17:38] luxumbra commented on #441
@mquellhorst yeah, I was more asking as it's a good one for one of the cohorts to take on. If it's still wanted, I'll let the engaged octo-builders know it is available.

[2021-06-10 20:00] davort commented on #264
Yeah, sure it would be a nice reassuring moment in the flow. It's not a "must-have" IMHO, but definitely a "nice-to-have" feature 👍 How about feasibility?

[2021-06-10 20:05] davort commented on #503
@dan13ram – An idea, **re: sorting the list.**

Sort by:
1. Most XP (default)
2. Nearest to me / time-zone difference
3. Most Availability
4. Name (A – Z)
5. Name (Z – A)

Let me know your thoughts!

[2021-06-10 22:38] mattcan opened #646 "[MyMeta] Metadata from daohaus.club for DAO images and names"
Some DAOs listed in the HausDAO subgraph do not have titles. This is a "bug" (as highlighted in this comment: https://github.com/HausDAO/daohaus-supergraph/issues/44#issuecomment-858844186). In reality, new DAOs spun up on a Moloch contract do not have titles. The recommendation is to move to the DaoHaus Metadata API.

Using the metadata API, the following fields would be immediately useful:

* `n

[2021-06-11 02:04] dan13ram commented on #646
This is really great and seems the way forward. I didn't know they had a metadata api.

My only concern is I don't want all this to be wasted efforts.

Currently Alec is working on a discord bot to onboard guilds directly from discord, which once up and running will deprecate these dao memberships in favor of guild membership data obtained from our bot.

Please correct me if I'm wrong @peth-yursic

[2021-06-11 02:14] dan13ram commented on #503
@davort these are my thoughts:
4. and 5. Sorting by name is not possible. But if we can tweak that to sort by username then it should be possible.
1. and 3. Can be done in a straightforward manner.
2. This also seems impossible to me right now because of the way the timezone is stored in our database. But I think we might be able to accomplish it with a bunch of effort on the backend and the front

[2021-06-11 05:36] jonathanprozzi commented on #514
I'm interested in this. I'm doing some discord bot work in another project (still learning the api) but would like to work on this if no one else is.

[2021-06-11 05:46] dan13ram commented on #514
Yes please go ahead.

[2021-06-11 06:40] davort commented on #503
@dan13ram
1) 3) - great!
2) I understand. Might it be easier once the database is restructured - or remapped - to show countries and continents? Please give it a thought and let me know.
4) 5) - that's what I was thinking, username! ☺️

Cool, so it's 4 out of 5, from the start!

[2021-06-11 18:55] luxumbra commented on #264
Sorry for the delay @davort. We are going to want to render what the preview would display as the embed anyway when the user saves their link. This would just be making it more async.
Due to CORS issues, we can't just fetch the html of another site and pull the relevant tags within React. It needs a little node.js to handle it. There's a few node packages that will do it but I'd like to ask for in

[2021-06-12 05:05] mattcan opened #647 "[MyMeta] Add support for xDAI & Polygon NFTs"
Split from #549 due to size.

---

## What

Load and display NFTs from xDai and Polygon chains.

## Why

Due to transaction costs, NFTs are moving to alternative chains. For example, many POAPs are deployed on xDai. We want to be where our users are.

## How

Currently, NFTs are being pulled from the OpenSea API. OpenSea allows users to post NFTs on Ethereum, Matic (Polygon), and Klatyn. There doe

[2021-06-12 05:07] mattcan commented on #549
I split the NFT work into another issue so I don't block progress while working on DAOs and because it seemed unrelated, at least from a data source perspective. See #647 for NFTs

[2021-06-12 08:16] davort commented on #264
Good thinking. Users are probably more willing to wait for the preview to render during the process of adding the block than after they hit the "Save" button, anyways. This way, when they save it, it will be instantaneous.
I'll expand the prototype with that bit.

[2021-06-12 08:21] davort commented on #264
Good thinking. Users are probably more willing to wait for the preview to render during the process of adding the block than after they hit the "Save" button, anyways. This way, when they save it, it will be instantaneous.
I'll expand the prototype with that bit.

[2021-06-12 08:24] davort commented on #264
Hey, @peth-yursick !
1) How did you come up with this particular screenshot/mockup?
2) Is it us who will decide what the preview will actually look like, or will it be predefined in some way? (cc @luxumbra)

[2021-06-12 12:47] davort commented on #278
FYI - started designing the "Edit Profile" page: https://www.figma.com/file/zDHqledo5H2aKR3KDvbur8/Meta-Game?node-id=6952%3A68

[2021-06-12 13:49] dysbulic commented on #278
I notice that you've got an input for setting the profile image. Currently our profiles are segmented with some information coming from 3Box and some coming from the database.

3Box is in the process of retiring their profiles functionality & replacing it with [IDX](//idx.xyz). The current plan is to use [self.id](//self.id) to edit the IDX components of the profile (including the profile image).

[2021-06-12 14:34] davort commented on #278
Thanks for weighing in @dysbulic

I'll be blunt - this sounds surprisingly complicated.

I don't know the benefits of doing it this way, but I know it doesn't match my expectations to _easily_ edit my profile.

Why such complication? How does it make it simpler and easier for the user?

[2021-06-12 15:58] luxumbra commented on #278
Agreed, it is an issue in terms of UX but that aside, once your self.id is set up it can be your profile for that wallet, across many Web3 dApps. So you only need to edit your generic info in one place for many applications and there's definitely a bunch of benefits to using IDX/self.id as @dysbulic mentions WRT verification of associated user accounts which would be a ball ache for MG to build.

[2021-06-12 17:14] davort commented on #278
Thanks @luxumbra
There are many things here that I don't understand, and pretty much all you wrote, I am now learning about for the first time. I feel like I am missing tons of context, and have wasted hours of time working on something that doesn't—or won't—make any sense whatsoever, moving forward. Very sad nobody reacted 4 days ago, when I posted I'd be helping with the design side of this.

Wh

[2021-06-12 17:21] davort commented on #278
Also, just signed into self.id and this is what my profile page looks like there. Doesn't quite instill trust. From the UX side of things, this is terrible.

![CleanShot 2021-06-12 at 19 15 49](https://user-images.githubusercontent.com/1573304/121784167-bff42d80-cbb2-11eb-80ba-bd844371346f.png)

[2021-06-12 19:47] alalonde commented on #646
Not necessarily; we plan on keeping the daohaus functionality such that guilds still have the option to signify membership through the DAO rather than through Discord. So I think this will be still be useful.

[2021-06-12 20:59] luxumbra commented on #278
@davort Apologies if i what I wrote was not clear.

On the 8th I was asking *if* it needed design input because it is tagged as "design needed", I was not asking *for* design input *yet*. I wanted to find out what was left to do to get this ticket closed. I did not assign it to you because I was seeking clarification on requirements and if it actually needed design input at all.

I agree that the

[2021-06-12 22:27] davort commented on #278
All good @luxumbra, no need to apologize. I'm mostly mad at myself for being too eager, instead of waiting to collect more context beforehand.

And concerned that if with all this in mind, design isn't considered to be needed here, we might be risking to flop the UX for signup, which would be horrible.

But I digress. Lemme know if I can be of any help here. Happy to assist, but will be waiting fo

[2021-06-13 02:12] dysbulic commented on #278
@davort, I didn't mean to rain on your parade. Reimplementing the functionality of [self.id](//self.id) to allow tighter integration into our editing flow would give a more seamless onboarding experience.

The issue that I raised with [IdentityLink](https://github.com/ceramicstudio/identitylink-services) is that it's not possible to replicate 100% of the functionality without an unreasonable amoun

[2021-06-13 02:43] #600 closed

[2021-06-13 02:45] dan13ram commented on #646
Sounds good! Thanks for the clarity

[2021-06-13 04:33] davort commented on #278
All good, @dysbulic 👍

May I suggest that the "design needed" label is removed, so that we can keep an accurate account of issues that are in need of design? cc @luxumbra @hammadj

[2021-06-13 08:17] davort commented on #503
@dan13ram please find the first stab at the mobile version of the Filters UI, here: https://www.figma.com/proto/zDHqledo5H2aKR3KDvbur8/Meta-Game?page-id=5763%3A9&node-id=6974%3A14&viewport=1831%2C-2241%2C0.7867474555969238&scaling=min-zoom

Let me know what you think. Is anything missing? Will anything be hard to implement? Feel free to ignore the "push" effect when moving through the filter panel

[2021-06-13 10:28] peth-yursick commented on #278
Invited you to github org so you can make changes as well :)

[2021-06-13 12:36] luxumbra commented on #343
@jonathanprozzi if you are working on this, could you assign yourself (if you have the relevant permissions) and move into the 'in progress' pipeline? 🙏🏻

[2021-06-13 12:55] luxumbra commented on #264
@davort  - We will be grabbing the content of the relevant Open Graph data from the Meta tags (`og:image` `og:title` `og:description`) from the page being linked to by the user, so will have control over how the preview is displayed.

[2021-06-14 04:01] sunguru98 commented on #343
Made some changes thats now supporting the whole player card as well as the name being clickable :)

[2021-06-14 05:36] markoprljic commented on #343
Woohoo!

[2021-06-14 08:27] dan13ram opened #655 "[MyMeta] Fix collectibleFavorites logic in backend remote schema"
This is failing for username `dekan` with ethereumAddress `0xced608aa29bb92185d9b6340adcbfa263dae075b`

Query to reproduce bug
[code]

But the following doesn't throw up any error:
[code]

[2021-06-14 17:08] davort commented on #311
Hey everybody! I'd like to start designing a solution. Before I begin, I want to make sure I am completely aware of all technical aspects. Is there anyone here who would be so kind as to bring me up to speed regarding the current state, possibilities and limitations?
That said, do we already know who will be the builder assigned to this quest?

[2021-06-14 22:37] davort commented on #264
Thanks @luxumbra!

I've updated the mockups: https://www.figma.com/file/zDHqledo5H2aKR3KDvbur8/?node-id=6814%3A1840

And here's a quick prototype for the happy path: https://www.figma.com/proto/zDHqledo5H2aKR3KDvbur8/Meta-Game?page-id=6814%3A1840&node-id=6818%3A33&viewport=600%2C322%2C0.47077539563179016&scaling=min-zoom

**Notes and questions**
1) You'll notice I added `og:url` at the very bottom

[2021-06-15 15:09] luxumbra commented on #264
Looking good.

Nice. I guess i thought we'd just add the url they pasted as it might be a link to a referral or something but we could display the `og:url` value and have the pasted URL as the destination of the link?

Sweet!! With regards to errors:
- Invalid URL which shows the correct format to use, ie: ensure http/https is included
- Failed request - please try again. In the case of a 404 not

[2021-06-17 02:00] alalonde commented on #311
We will be dynamically fetching the roles directly from Discord.  So you can assume that they are the same as in the role-select channel. Other than that, I'm not sure what else you would need to know. Maybe just come up with a lo-fi design and get feedback before spending too much time on it?

[2021-06-17 05:15] davort commented on #311
Thanks @alalonde

1. Will it work the other way around, too? When a player selects a role during profile creation, or when editing their profile on MyMeta, will that info be automatically pushed to Discord?

2. I will make a couple of quick lo-fi mockups and get back here for feedback/validation.

[2021-06-17 06:18] davort opened #657 "[Quests] Playbooks UI"
_This quest was discussed as part of the call around the Wiki revamp, which took place on June 11, 2021. Complete notes from the call can be found [here](https://www.notion.so/S2W11-MetaGame-Wiki-Migration-Rebuild-Discussion-11-June-2021-6521656b2b7e470eb6c7afb11460e6f6)._

Playbooks are meant to serve as guides for people who have just joined MetaGame. They can be found in a dedicated subspace in

[2021-06-17 06:32] davort commented on #657
Before we get down to sketching out ideas, it would be good to learn more about the technical possibilities and limitations of [Docusaurus](https://docusaurus.io/). This is currently being investigated, so hopefully we will soon be able to discuss the feasibility of the following ideas for the Playbooks UI.

**Basic features**

- Search, Filter, Sort → parameters TBD. Recycle existing filtering UI

[2021-06-18 01:59] alalonde commented on #311
I believe the intent is that the role selection channel / interface in discord will go away. It would be easier to implement that way, anyway.  We will still pull the roles from there since it’s useful to be able to tag the guild e.g. @innkeeper

[2021-06-18 18:40] davort commented on #311
Hey @alalonde & @peth-yursick (and others). Let's start with the end in mind, the desired outcome!

-----

**Note:** Please absolutely ignore the styling of these "role pills" for now. Consider them placeholders, until we have sorted out some more important questions. For now, the question to think about is "_WHAT exactly are we showing here?_"

-----

Currently, players can have many roles in Dis

[2021-06-18 19:15] davort commented on #264
@luxumbra – please check out the Edit/Delete flow in the prototype 👉  ["Add Block" on Figma](https://www.figma.com/proto/zDHqledo5H2aKR3KDvbur8/Meta-Game?page-id=6814%3A1840&node-id=6818%3A33&viewport=600%2C322%2C0.47077539563179016&scaling=min-zoom)

Let me know your thoughts! cc @peth-yursick

[2021-06-18 21:11] peth-yursick commented on #311
I think definitely no. Even at MetaGame people can have that many roles, and this will be querying their roles from all the discord servers they are members of that are guilds as well..
I think both the roles & skills should be limited.
For roles, I'd say where the "ARTIST" is, there should be "primary" & "secondary" roles with an arrow below or something for an "all roles" expansion, dropdown, po

[2021-06-19 00:02] luxumbra commented on #264
I like this @davort 👍🏻 Maybe it would be good to add a "success/error" notice once delete is pressed, before the section is removed or if it fails? 🤔

[2021-06-19 07:09] davort commented on #641
Here's the "dirty" Figma file, that @blake-hunsicker is using as a reference for his work: [MegaMenu on Figma](https://www.figma.com/file/A6Nh2tyBbRCpglAnm7JQDm/Mega-Menu?node-id=86%3A107)

What's still to come:
1. Mobile version of the MegaMenu
2. Icons (from Trolleo, as soon as they are finalised)

[2021-06-19 11:04] peth-yursick commented on #264
This reminds me, at some points I'd like to go through & put in more thinking around all the text on MyMeta, on each step, prompts, error messages etc. to align it with MetaGame's voice.. Is it easier if I do that now or do a full run-through later?

[2021-06-19 14:56] davort commented on #264
Whatever we can start now, so that there's less to do later, is better started now. Would it make sense to keep track of all these prompts, error messages, and other pieces of micro copy. In some database, even if only a plain excel sheet?

Do we have principles and personality, "tone of voice", defined and described somewhere already? Would be a great guideline for designers and builders to use,

[2021-06-19 18:02] davort commented on #264
Hey @luxumbra – please check out the updated prototype: ["Add Block" on Figma](https://www.figma.com/proto/zDHqledo5H2aKR3KDvbur8/Meta-Game?page-id=6814%3A1840&node-id=6818%3A33&viewport=600%2C322%2C0.47077539563179016&scaling=min-zoom)

Alternatively, here is a quick take on the error messaging design: [Error message (Delete block) on Figma](https://www.figma.com/proto/zDHqledo5H2aKR3KDvbur8/Meta

[2021-06-19 18:25] peth-yursick commented on #264
I think it would definitely help if we kept track of it or make easy queryble or something.
Depends on how difficult it is to do, if its a lot of work, we can just update the copy in figma & have devs do another run through after the whole UI is facelifted.
But I also don't mind digging through code & suggesting edits in github if they're not all over the place & insanely hard to navigate for a no

[2021-06-19 21:53] davort commented on #264
@peth-yursick – thanks for the added context.

My 2 cents:

1. Let's shift focus to writing the guidelines for MetaGame's _Tone of voice_. I love the idea for basing them on Mailchimp's Content Style Guide ([Voice and Tone](https://styleguide.mailchimp.com/voice-and-tone/)). If possible, it would be awesome to also put _Goals and Principles_ in writing (pun intended), too. Mailchimp offers [a grea

[2021-06-21 18:19] alalonde commented on #311
I think we should scope this discussion to the original goal: To move the role selection interface from discord to mymeta. Let's create a separate ticket for how to show role information once a role has been selected.

Currently, for new players: They go to the "role-select" channel and respond to the original post with an emoji representing a role.
After this ticket is finished:  The aforemention

[2021-06-21 18:25] blake-hunsicker commented on #641
The branch for this feature is [feature/mega-menu](https://github.com/MetaFam/TheGame/tree/feature/mega-menu). I just pushed the desktop version (minus a few pieces of visual design) and am waiting on a preview link. (I will update this post with the preview link once I get it.)

Visual design topics to discuss:
1. The Exo font used in the nav bar  — is it an official Metagame font or a new one? I

[2021-06-22 09:15] davort commented on #311
@alalonde I fully agree that these are two different issues. And to that point, this was my attempt to scope the discussion to the original goal. I was hoping to save us all some time with that.

The idea with "starting from the end", and thus showing this mockup, was to determine _what exactly_ will the user be selecting during the setup process? Will it be just one role? Or will they be offered

[2021-06-22 11:08] peth-yursick commented on #311
Yep!

When we were originally talking about this, we were thinking about filtering it down to way less.
I think this is a good idea. The role select channel itself needs a big cleanup as it was mainly supposed to be giving people an overview of what they could be doing & picking roles doesn't mean they are actually doing them..
I'd start with these basic:
Artist, designer, builder, innkeeper, writ

[2021-06-22 11:45] davort commented on #311
Thanks @peth-yursick - I believe I have enough now to move forward with this!

[2021-06-22 11:57] dysbulic commented on #551
To work with the Cloud version, the configuration needs to be in version 3 format rather than the current version 2.

First the server is migrated the the configuration. This allows us to run migrations against a cloud instance.

1. In `hasura/Dockerfile`, change `FROM hasura/graphql-engine:v1.3.3.cli-migrations-v2` to `FROM hasura/graphql-engine:v2.0.0-beta.2.cli-migrations-v2`
2. In `./`, run `d

[2021-06-22 11:58] peth-yursick commented on #641
I think it would be cool if the menu was opening on hover rather than click
Would also like to see buttons have some sort of a highlighted square or whatever effect other than underline, but I'm guessing that's just due to design not being finished yet.

[2021-06-22 12:07] dysbulic commented on #551
This is being considered in large part b/c @dan13ram is of the opinion it will help with the timeout errors we're seeing when generating MyMeta.

I have tried from the Hasura console to load the 3Box profiles, and I was seeing the intermittent timeout failures. If it is the loading of 3Box profiles that is causing the problem, switching to a Cloud instance won't mitigate the issue.

The best solut

[2021-06-22 12:27] davort commented on #641
Sure. What should happen when you click a top-level link in the menu, in that case? E.g. when the user clicks on "Community"?

Why?

[2021-06-23 01:18] alalonde commented on #311
Some of these Discord "roles" are unique to discord, so it probably doesn't make sense to show all of them. E.g. Server booster and Moderator. Maybe it doesn't matter for this first version though.

[2021-06-23 06:38] davort commented on #311
Hi guys. Thank you again for your input.

I summarised it all in a "brief", which you can find here: [Role selection (Notion)](https://www.notion.so/Role-selection-9b9cec5c0a5c466181463f918e0de2da) → I would appreciate it if you could take a look, and let me know if it all makes sense, or if something needs changing. Thanks in advance.

[2021-06-23 14:35] chair28980 commented on #441
Looking to pick this one up when design is ready.

[2021-06-23 14:44] dysbulic commented on #309
This is getting revived as an attempt to address the timeout issues for which #551 was investigating migrating to Hasura Cloud.

When running a query for the 3Box profiles in the GraphQL explorer in the Hasura Console, it will intermittently timeout.

So, the plan is to cache the 3Box & IDX information in Hasura and periodically check for updates. Also, a mechanism to trigger a refresh would likel

[2021-06-23 16:25] davort commented on #343
Hi @sunguru98 – I just took [the current implementation](https://the-game-git-fork-sunguru98-feature-player-card-c3cbf1-metafam.vercel.app/players) for a spin. Unfortunately, there are still issues, as seen in the video capture, that can be seen in a video capture below:

1. The card isn't clickable in parts where some kind of text exists. It should all just be clickable, anywhere in the card, and

[2021-06-23 22:54] sunguru98 commented on #343
Hey @davort, thanks for taking the time to review it.
Regarding 1, if that needs to be solved, then the underlying links of Twitter and any redirecting URLs would also be affected by this click. Any suggestions you could provide to overcome this issue? I guess the reason why it can't be clickable in most of the regions is because the smaller badges/components present inside.

Regarding 2, that can

[2021-06-24 01:52] chair28980 commented on #385
I am mere inches from merging this to develop, @dysbulic showed me the way today and I crossed up some origin/fork branches and ended up blowing the whole thing up. This should be merged tomorrow.

[2021-06-24 04:27] davort commented on #343
@sunguru98 - you bring up a valid point with the underlying links issue 👍
1. Can we hide/remove the whole "Contact" section from the card? That would effectively remove the issue, and I bet nobody would even notice the section is gone from the card 😉 The section would, of course, stay there in the profile page, once it's opened.
2. Excellent! 👌

[2021-06-24 14:56] mattcan commented on #549
Unfortunately life is getting in the way and I can't put any more time into MetaFam. I know I don't have a lot done but I do have the one open PR left. There is a build failure that I am unable to replicate, hopefully someone is able to find my mistake.

[2021-06-24 17:11] #549 closed

[2021-06-25 01:52] luxumbra commented on #264
@davort, a little update for you - I have made a start building out this component and have got the embedded view styled and displaying metadata from a given URL.  I'll be looking at the rest of the flow over the next couple of days.
![image](https://user-images.githubusercontent.com/780350/123354619-f2f7d300-d55b-11eb-9a36-623f5c2726be.png)

[2021-06-25 05:58] davort commented on #264
Thanks for the update @luxumbra. You seem to be doing alright with that 👍 Please let me know when you feel like you're done, and I can check it out to do a tad bit of UX QA 😉

[2021-06-25 10:08] chair28980 commented on #311
@davort thank you for the thorough brief, makes sense to me!

[2021-06-25 10:18] chair28980 commented on #311
@alalonde I would love to halp with the discord bot stuff to get more familiar with whats happening I have bit of war wounds with discord bots.

[2021-06-25 17:38] davort commented on #441
@peth-yursick
**"Captain obvious" alert! 😄**

For the sake of absolute clarity, can you confirm that the "skills" we are talking about in this issue are what's  currently called "superpowers" (in the profile setup)? Screenshot 👇
![CleanShot 2021-06-12 at 13 05 24](https://user-images.githubusercontent.com/1573304/123463803-474a9380-d5ec-11eb-85f5-ba57205fe94e.png)

If that's true, might we simply

[2021-06-25 18:46] plasmacorral opened #666 "XP updates to Player page"
I know this has been raised in the past.  I looked but did not find any open or closed issues in our XP or Sourcecred repos.

Page here: https://my.metagame.wtf/players does not reflect XP changes shown here: https://xp.metagame.wtf/#/explorer.

Is that something easy to fix and is there a longer term change to help keep the XP shown in sync?

[2021-06-26 08:40] davort commented on #441
Hey all, here's an "abbreviated" prototype, which shows the basic idea:

- two separate skills select menus
- the first one is for "top skills" (minimum of one, maximum of three)
- as soon as one skill is selected, the "NEXT" button changes state from disabled to enabled
- when three skills are selected, the secondary select menu changes state from disabled to enabled (but remains optional, with t

[2021-06-26 13:25] luxumbra commented on #264
![image](https://user-images.githubusercontent.com/780350/123514151-503d7280-d689-11eb-9617-fe1023516878.png)
I noticed that there's already some work done on adding of new sections. Looks like @hammadj added this last year. I will dig further and probably have to ping hammad or one of the other more senior devs for assistance.

[2021-06-27 07:39] chair28980 commented on #441
@davort lgtm! I can get this going now if thats cool!

[2021-06-28 09:08] mquellhorst commented on #385
Moved to Done but seems to reopen after move

[2021-06-28 09:08] #385 closed

[2021-06-28 12:41] peth-yursick opened #752 "Playbooks"
Playbooks are short onboarding & skill-building guides.
Right now they are hosted [on the wiki](https://wiki.metagame.wtf/docs/playbooks/browse) but we need to build them a proper interface to make it easier for people to submit them as well as upvote/downvote them, filter them, etc.

The design should be based on the [existing MetaGame branding](https://skinny-estimate-0fd.notion.site/Design-Meta

[2021-06-28 21:32] peth-yursick commented on #441
Please do!

[2021-06-28 22:41] Baconaetor commented on #642
Ah, yeah, thanks for linking me this @peth-yursick! This is def the kinda thing we need to make progress on. Specifically that State of Raids map so it's easier for people to tell what's going on. Do we have any designers working on this?

[2021-06-29 06:21] dysbulic commented on #441
Maintaining two independent lists of skills is going to require some structure in the backend to maintain the separate lists and accompanying logic to make sure a skill is only included in one list.

The lists are unsorted, right? So your "#1" skill isn't necessarily your #1 skill, only that it will be one of your top three skills.

An alternative is to have a single list of skills and save a sort

[2021-06-29 07:29] davort commented on #441
Thanks for chiming in @dysbulic.
Design-wise it shouldn't be a problem, with the main challenge being making it usable in a small viewport (smartphone).

It might be more difficult on the front-end side of things, since it would be awesome if the "drag-and-drop" UI could be built so that it is:

1. Accessible → at least usable with _keyboard only_, and ideally readable by screen-readers,
2. Touchs

[2021-06-29 07:39] dysbulic commented on #441
I hadn't thought about mobile accessibility. The traditional drag and drop APIs aren't supported, but a quick web search turned up [this React implementation](https://baseweb.design/components/dnd-list) that both works on mobile and with a keyboard.

[2021-06-29 07:53] davort commented on #311
@alalonde I would like to hear your opinion re: feasibility of the following two design approaches.
Also, @peth-yursick re: look & feel, overall vibe, etc.

**1. Two separate lists**
I found these laying somewhere in the middle of an old Figma file. My guess is that **markop** had designed it, back in the day. Basically, two separate lists, and a bit of modal action.
![Roles-2lists](https://user-i

[2021-06-29 12:05] luxumbra commented on #264
@dysbulic would you be able to take a look at this with me when you have some time? I am trying to figure out how to add in the next piece of the functionality for this component.

[2021-06-30 11:39] luxumbra commented on #264
@dysbulic,  thanks for getting in touch. 🙏🏻
@davort, I've made a little more progress on the flow but there needs to be further discussion & work done on the back-end before any of this can be hooked up. Perhaps it can be brought up in Builders Align later.

https://user-images.githubusercontent.com/780350/123953813-8fc4d100-d99f-11eb-9a86-32e011d015d7.mp4

[2021-06-30 15:47] alalonde commented on #311
I don't see either being much more difficult than the other, either one is a custom component.

[2021-06-30 20:43] peth-yursick commented on #311
1. might be better from the ux perspective if we're allowing people to pick for their secondary role any role they have on any guild discord server as there might be a lot of them

[2021-07-02 12:16] davort commented on #311
Thanks @peth-yursick - funny thing, the grid approach was something I'd explored as the very first idea 😊
Here's a finished prototype of what I hope will be an intuitive role selection UI:
[Role Selection - Figma prototype](https://www.figma.com/proto/zDHqledo5H2aKR3KDvbur8/Meta-Game?page-id=7109%3A1&node-id=7340%3A2269&viewport=505%2C1251%2C0.20215539634227753&scaling=min-zoom)

And here's a reco

[2021-07-04 10:54] #655 closed

[2021-07-06 17:10] alalonde opened #687 "Gracefully handle DAOhaus API availability problems"
Currently in the test environment we're seeing lots of these:

[code]

I assume that the URL is correct, but the endpoint is down? If so we should anticipate outages and handle them gracefully.

@mattcan

[2021-07-06 17:39] mattcan commented on #687
I think what you are seeing is this: https://github.com/MetaFam/TheGame/blob/develop/packages/backend/src/handlers/remote-schemas/resolvers/daohaus/resolver.ts#L32-L39

I should have made that a `console.warn`

[2021-07-06 17:51] mattcan commented on #687
Work in progress branch that I started a few weeks ago. Quickly added this test now, and it is passing: https://github.com/MetaFam/TheGame/commit/c836130dc135982a5c87be72e2b2fb1ac7a98b82

(I'm getting tslint errors during commit that I don't understand, which is why I haven't pushed it previously)

[2021-07-06 19:36] mquellhorst commented on #503
During the latest DAO call a discussion came up about viewing the players by the XP earned during the current season.
I proposed building an extra filter which sorts the player list by the XP earned in the current season.

So this would add an extra option in the filters to sort the players by:
- Total XP
- Seasonal XP

Since you're (@dan13ram) are working on this issue, could you implement this a

[2021-07-06 20:12] dysbulic commented on #550
This is apparently done.

[2021-07-06 20:12] #550 closed

[2021-07-06 20:38] davort commented on #503
@mquellhorst — I thought that was a great idea!
I'd suggest to have the "Most XP this season" selected as the default sorting parameter, so that the page shows who are currently the most engaged players already on the initial load. Then have "Most XP all time" added as a nice additional sorting option.

@dan13ram — if you agree, let's please have the "Sort by" dropdown have the following options:

[2021-07-06 22:11] dysbulic opened #689 "Set up an instance of IdentityLink server"
Account links verify that a user controls an account on a particular site. The successor to 3Box's profiles is [IdentityLink](https://github.com/ceramicstudio/identitylink-services/) which is a set of serverless functions that do a challenge response to verify account ownership.

Users create a post within the software system being verified – a gist on GitHub, a tweet on Twitter, a post on Discors

[2021-07-07 02:31] dysbulic commented on #689
Apparently dns.xyz is going to be establishing a publicly accessible instance of IdentityLink, so we don't have to do one ourselves.

One thing I'm uncertain of is how it handles different Discord or Discourse servers. Whether the IdentityLink server is set to only verify one particular server or if it's possible to specify the server to verify against dynamically.

[2021-07-07 05:35] dan13ram commented on #503
Thanks @davort  and @mquellhorst. We can definitely do this, how do we define a season currently.
Can someone help me with the correct time periods for each season ?

[2021-07-07 08:43] davort commented on #503
Yes @dan13ram – according to [Seasons & Phases (MetaGame Wiki)](https://wiki.metagame.wtf/docs/resources/glossary#season--phases)

When it comes to the actual dates, this might be a good reference: https://www.timeanddate.com/calendar/seasons.html → what do you say, @peth-yursick ?

[2021-07-07 13:59] peth-yursick opened #691 "[MetaOS] Building The Dashboard"
MetaGame needs a dashboard!
With the creation of the new metamenu, it became obvious metagame needs a "home" page as well.
Not the landing page - though that is needed as well...
The home page aka the dashboard where people can see:
- Their Seeds & XP stats as well as other MetaGame stats
- Latest posts, podcasts & videos
- Upcoming events
- The leaderboard
- ???

[The design](https://www.figma.co

[2021-07-07 15:17] #614 closed

[2021-07-07 17:10] alalonde commented on #666
Yes, I am aware of this. I am hoping the latest deployment fixes this

[2021-07-08 18:39] #666 closed

[2021-07-08 20:27] alalonde opened #695 "Gitcoin and Metacartel showing up as players"
Which is throwing off the rank calculation as they show up as GOLD..

[2021-07-09 16:55] hammadj commented on #695
Fixed in this PR: https://github.com/MetaFam/XP/pull/68

You might have to delete the users from the DB, but it will prevent them from being added next time

[2021-07-09 19:21] davort commented on #503
**Time zone filter update**
@dan13ram managed to implement a script which allows for searching by city/state/country/continent directly in the time zone dropdown.
![CleanShot 2021-07-09 at 21 13 58-1](https://user-images.githubusercontent.com/1573304/125126185-ff9f2e00-e0fa-11eb-96cd-15a65c72e892.gif)

We discussed ways of making it even more user-friendly, and I suggested that we go along with lo

[2021-07-10 21:23] luxumbra commented on #443
Forgive me if I have missed the discussion somewhere but has there been any progress on this? I have looked through the last few weeks meeting notes and not found it in searches in Discord. @alalonde

[2021-07-10 21:31] luxumbra commented on #343
Hey folks. @sunguru98 how is this progressing? Do you help with anything? I hope all is well. 🙏🏻

[2021-07-11 09:55] dysbulic commented on #343
@davort, I for one look at people's GitHub and Twitter accounts. I've also mass copied ETH addresses from that index when testing NFTs. I think 86ing the Contacts section is a pretty big change & not something we should do without dicussion.

@sunguru98, you should be using [Chakra UI's `LinkOverlay`](https://chakra-ui.com/docs/navigation/link-overlay). It is designed for exactly this problem.

[2021-07-11 11:46] luxumbra commented on #343
I would say that the contact info is pretty important as it is one of the main things a profile is for, so people can check out your cred, your code and see what your twitter is like before considering working with you.

[2021-07-11 12:38] davort commented on #343
Hey @dysbulic and @luxumbra, thank you for your input! 👍

Sure thing, let's leave it where it is, as long as we can find a way for the items in there not to interfere with the whole card being "clickable", and upon being clicked anywhere in the card area, opening the player's profile page.

It seems @dysbulic has a solution on mind. Hope we can try it out soon.

[2021-07-11 13:41] dysbulic opened #698 "lerna isn't updating discord bot & other packages"
I was just helping @luxumbra and part of the fix was going into `discord-bot`, removing `dist/`, running `yarn`, and then `yarn build`. `yarn build` would not run until `yarn` was run despite being run from the root.

After that the same basic issue occurred with `packages/web/` where it is necessary to manually run `yarn` in the directory.

So, `lerna` isn't updating all the packages node modules

[2021-07-11 14:30] mattcan commented on #443
Not sure about others but I was keeping the discussion here to try and flesh out the requirements when I was looking for a first issue to participate in. I haven't done any work on this since.

Sorry, I totally missed this question! I do have some experience but using the CLI, not programming the interaction.

[2021-07-11 18:58] luxumbra commented on #343
I used `LinkOverlay` quite recently for the embedded url work i am doing for #264 and it works lovely. 👍🏻

[2021-07-12 21:20] #582 closed

[2021-07-12 21:22] alalonde opened #705 "Can't set up a profile due to wallet connect failing"
Related: #378

[2021-07-13 07:48] davort commented on #441
Hey @chair28980 – you still up for working on this when designs are ready? I could use some dev input while I'm sketching them out 😊

[2021-07-13 07:54] davort commented on #311
We have successfully validated the prototype, and here's [the report](https://app.maze.co/report/20wslwokqn9tddg).
This is now ready for implementation. Who might be able and willing to help build this?

[2021-07-13 14:13] chair28980 commented on #441
@davort yas! I can pick this up this week. Alternatively I discussed with Manu recently that this might be a good issue for them to pickup as they are looking for work and I am a bit overloaded. One way or another we'll get this going.

[2021-07-13 23:49] chair28980 commented on #441
Update: it was not Manu who I discussed picking this up with, Manu is an artist. I cant remember now who it was, but its ok, im gonna knock thisnone out.

[2021-07-14 14:53] peth-yursick commented on #311
Maybe @alalonde after he's done with the guild onboarding bot as its a pre-requisite anyway afaik

[2021-07-14 15:14] dysbulic commented on #657
There is a related [issue within the wiki repository](https://github.com/MetaFam/metagame-wiki/issues/257).

[2021-07-14 17:27] blake-hunsicker commented on #641
Hi all, here is the latest build: https://the-game-fmaxi8fty-metafam.vercel.app/players

If anyone has a moment to help me with the items below, I'd really appreciate it:

I am having a little trouble with two small UI issues:

- **Images:** I can't seem to import two .png files to use as icons. I put them both in [/assets](https://github.com/MetaFam/TheGame/tree/feature/mega-menu/packages/web/ass

[2021-07-14 17:56] dan13ram commented on #641
@blake-hunsicker

- **Images:** You gotta import them as 'import XPStar from '/assets/xp-star.png';`
But I'd suggest to import them as SVG if available :)

- **Fonts:** The <link /> tag that Google Fonts provides can be added here.
https://github.com/MetaFam/TheGame/blob/feature/mega-menu/packages/web/pages/_document.tsx
You can combine the existing fonts with the new `Exo` with the weights you ne

[2021-07-15 02:52] dysbulic opened #707 "Change the timezone display to IDX's residence city and country"
Currently the cities associated with the timezone selections are often far from the actual location of the user. IDX's `basicProfile` includes `residenceCity` and `country` properties. These will be present in the IDX cache (#686) when it goes live and can be utilized for the location for the timezone.

[2021-07-15 20:59] jaburx commented on #331
I'm doing this

[2021-07-16 15:06] ngerald51 opened #708 "Include localhost URL link in the Frontend API Guide"
Please include http://localhost:3000 URL link, this will enable a visual confirmation for the dev/user end that he/she is able to connect to the backend and service is running

[2021-07-16 15:41] pandaCure opened #709 "how get graphql services"
I don't use docker to server, i only run `npm run web:dev ` and `npm run backend:dev`. so have this problem, i need help!!!

[code]

[2021-07-17 08:30] davort commented on #441
Design update (FYI @chair28980): I've spent a lot of time sketching an optimal solution for selecting and sorting top three skills for mobile. More info and preliminary sketches can be found at [Add "top 3 skills" (Ongoing design work, Notion)](https://www.notion.so/Add-top-3-skills-b3ba13a082a844ca9b8f8415ba5b23b2)

The next step will be turning these into wireframes, adding in all necessary scre

[2021-07-17 14:52] mquellhorst commented on #709
See this if you wanna work on the frontend: https://github.com/MetaFam/TheGame/blob/develop/guides/FRONTEND.md
If you wanna run hasura locally use docker.

Please posts these questions in the discord builders channel instead of opening an issue.

[2021-07-17 14:52] #709 closed

[2021-07-17 14:53] mquellhorst commented on #708
Sounds like a nice first PR :)
Care to put it in?

[2021-07-17 22:34] chair28980 commented on #441
@davort sounds good!

[2021-07-21 07:48] #657 closed

[2021-07-21 19:05] dysbulic opened #715 "Allow the creation of user-defined skills"
The user skill specification process currently draws from a static list of skills. It would be nice if users could add additional skills to their list. These skills would only show up in the selection UI for users that have added them.

Doing this is going to be impacted both by making skills a sortable list (#441) and mirroring the skill information to Ceramic's IDX (#309). In the interest of mai

[2021-07-21 19:22] dysbulic commented on #441
@chair28980, we haven't managed to catch up on the implementation details, so I thought I'd make a note of how I would go about doing this.

It's relatively straightforward. The skills and players are currently joined using the `player_skill` table which has foreign keys referencing the `player` and `skill` tables. To that table I would add a `rank` integer column. In @davort's design they select

[2021-07-22 06:34] dysbulic commented on #689
I checked the code, and the IdentityLink service receives the Discourse server to check for the user attestation as a request parameter, so if dns.xyz runs an accessible instance we should be able to use it…

[2021-07-22 08:05] dysbulic opened #716 "The color display on a player's profile is broken"
Some recent change altered the display of the color chart on the players' profile pages. It now looks like:

![Screenshot from 2021-07-22 04-01-05](https://user-images.githubusercontent.com/181523/126607512-c575d1be-8ef5-4bda-8415-816e2e8a5e99.png)

[2021-07-24 22:37] davort opened #718 "Add "office hours" section to Player Profile and Player Card"
Currently timezone is used to determine a player's whereabouts, which may or may not correlate with that same player's preferred working hours.

There may be reasons for players to prefer working outside the "9 to 5" window, and it may vary wildly.

"Office hours" section would allow for finding players who are accessible during a specified time window.

[2021-07-26 22:59] tommymaher15 commented on #716
Quick question on this.

What did it look like before?

[2021-07-26 23:14] tommymaher15 commented on #716
Is the issue above on a specific profile?

it doesn't seem to be be active currently

[2021-07-26 23:20] dysbulic commented on #716
¿Are you able to view [this Figma](https://www.figma.com/file/n36ggiRBQEGzRUbGxWfkMX/Meta-Game-Copy?node-id=58%3A2)? There is an example of the color chart on the profile on the upper right-hand side.

It is only present for players who have updated their profile since it was added, which isn't many. [@luxumbra has it.](https://my.metagame.wtf/player/luxumbra)

[2021-07-26 23:25] tommymaher15 commented on #716
I just checked some profiles that have it active and the bug doesn't seem to be showing at least for me.

[2021-07-26 23:28] dysbulic commented on #716
Good point. It isn't present in Firefox and Opera apparently, but it is in Chrome and Brave.

[2021-07-26 23:29] tommymaher15 commented on #716
Weird. I'm actually on Chrome right now

[2021-07-26 23:33] dysbulic commented on #716
Huh… ¿What OS? I'm in Ubuntu. Let me go check a Windows box…

[2021-07-26 23:34] tommymaher15 commented on #716
I'm on a windows 10 machine right now. thats a strange one

[2021-07-26 23:40] dysbulic commented on #716
I see the bug in Windows 10 on Chrome 92.0.4515.107. I also see it in Chrome on Android.

Do you have an Android device?

[2021-07-26 23:41] tommymaher15 commented on #716
Yeah I do I'll test it out and see what happens

[2021-07-26 23:41] dysbulic commented on #716
Edge on Windows is also broken for me.

[2021-07-26 23:42] tommymaher15 commented on #716
Yep I can see it now!

I'll start testing some stuff out now to get it back.

Good catch thanks for the help.

[2021-07-26 23:56] tommymaher15 commented on #716
I think I've fixed it.

There was a flex container wrapping the  ColorBar within PlayerHero.tsx

I removed this and it's seemed to do the trick initially. Will test on other devices and see if that was the right thing to do

[2021-07-27 01:36] #716 closed

[2021-07-27 08:54] davort opened #725 "Responsive "Sort & Filter" UI"
The "Sort & Filter" UI was first introduced for browsing the list of players.
In #503 @dan13ram and I made it work nicely for the largest and smallest viewports, but the "middle ground" is not so great.

Seeing how the UI is still fully functional, even if visually suboptimal, in certain medium-sized viewports, we agreed that this should be addressed in a separate issue.

[2021-07-27 13:37] tommymaher15 commented on #343
This issue still active? I could take a look

[2021-07-27 16:47] luxumbra commented on #343
Go for it @tommymaher15! Just make sure to assign to yourself and move to 'in progress' when you start. 👍🏻

[2021-07-28 10:33] peth-yursick commented on #641
Any update on this @blake-hunsicker?

[2021-07-28 13:02] davort commented on #641
From design's side there have been some changes, namely with adding "search" functionality into the menu, with the idea of users being able to search "for anything from anywhere". Hence having it in the header/menu, at the top level of the website, made perfect sense. Not sure how much it complicates things for @blake-hunsicker — please let me know if it does, and we'll find a way to make it work.

[2021-07-28 21:37] mquellhorst commented on #646
So this issue can be closed?

[2021-07-29 01:01] tommymaher15 commented on #343
This is an interesting one!

Just took a look at the `LinkOverlay` as @luxumbra  mentioned above!

[2021-07-29 18:50] tommymaher15 commented on #698
I feel this one is potentially blocking me from solving  [this issue](https://github.com/MetaFam/TheGame/issues/343l).

Just tried to add a LInkOverlay for this issue and getting some lerna errors  in the console I could add in here if thats useful. Quite new to a lot of things here right now but would be curious about this one has I've not used lerna before.

[2021-07-29 23:02] tommymaher15 commented on #343
It appears that this approach isn't as simple as I thought. Will keep digging into this. Would love to jump on a call sometime with someone and get a feel for how things are structured so I could get upto speed on things!

[2021-08-01 03:14] #343 closed

[2021-08-01 04:23] dysbulic opened #730 "Remove packages/web/.env.local from the repository"
A couple months ago I lost three days trying to figure out why I couldn't get my changes in Hasura to display locally. It took @dan13ram to help me figure out it was because the file `packages/web/.env.local` was sending my requests to the production backend.

I just blew another few hours doing the same thing again with @chair28980.

The [contributing guide](https://github.com/MetaFam/TheGame/blo

[2021-08-01 04:28] dan13ram commented on #730
It's in the repo?
If yes, we should definitely remove it.

[2021-08-01 06:25] dysbulic commented on #730
Well, hmm, I had no memory of creating it & @chair28980 didn't either, but it isn't in the repo. I guess we both followed the frontend guide & forgot about it. 😬

Nevermind.

[2021-08-01 06:25] #730 closed

[2021-08-01 16:08] #708 closed

[2021-08-01 17:09] mquellhorst commented on #698
Just ran a fresh install and there were no problems.
On my other system where this issue occurring I was able to fix it by clearing docker containers and images by running:

[code]

I've added this to the documentation.
I'll close the issue for now.

Let @mquellhorst  or @dysbulic know if you keep experiencing this behaviour

[2021-08-01 17:09] #698 closed

[2021-08-02 05:04] dysbulic opened #732 "Linked player tile causes a nested anchor error in Brave"
I did the creation of the player tile link in Chrome and it works, but @chair28980 is getting a nested anchor error in development.

I'm uncertain if things aren't deployed completely or what, but this is a placeholder for more research.

[2021-08-03 22:22] #732 closed

[2021-08-04 02:10] dysbulic opened #738 "Better target the player information query used for non-profile pages"
Currently, the [`LoginButton`](https://github.com/MetaFam/TheGame/blob/develop/packages/web/components/LoginButton.tsx) is using the [`useUser` hook](https://github.com/MetaFam/TheGame/blob/develop/packages/web/lib/hooks/index.ts#L14) which pulls in all the information in the [`PlayerFragment`](https://github.com/MetaFam/TheGame/blob/develop/packages/web/graphql/fragments.ts#L3-L59) which is ~40 v

[2021-08-04 03:16] alalonde commented on #707
Yeah, agreed that that data is more useful than an explicit timezone. I was going to suggest changing the current setup profile from timezone to city / country, but it's probably not worth the effort.

[2021-08-04 13:06] dysbulic opened #739 "Dynamically build the filter & display users without a profile"
Currently, if a player hasn't configured a profile they won't appear on [MyMeta](//my.metagame.wtf). This is because the [`GetPlayers` query](//github.com/MetaFam/TheGame/blob/354dc2222855d7150e6718474424b07fad73d281/packages/web/graphql/getPlayers.ts#L20-L64) includes the line `Player_Skills: { Skill: { id: { _in: $skillIds } } }`.

The other query parameters would [match all entries if `null` (i

[2021-08-04 13:53] mquellhorst opened #740 "Upgrade bcrypto to v5.4"
Current version is 5.2.
v5.4 seems to be needed on [M1 architecture](https://github.com/bcoin-org/bcoin/pull/1009).

Needs testing on other architecture / OS

- [x] OSX M1
- [ ] OSX x86_64
- [ ] Windows x86_64 (x86_32)
- [ ] Linux x86_64

[2021-08-10 21:12] #489 closed

[2021-08-11 18:49] mquellhorst opened #751 "Autoclose the filter dropdowns after selecting an option"
Currently the filter dropdowns stay open after selecting an option.
Preferable they would automatically close after selecting an option.

[2021-08-14 21:55] DuBleH commented on #751
Is this not intended functionality? The filters (aside from availability) allow you to select multiple values. It would be quite frustrating to have to open the filter for each additional selection. Maybe a close button would be a better option?

[2021-08-15 21:52] tommymaher15 commented on #751
it does close on click outside of the dropdown I noticed

[2021-08-16 14:28] peth-yursick opened #756 "[MyMeta] DAOHaus DAOs not being displayed in memberships"
DAOhaus DAO memberships are no longer being displayed on player profiles, likely due to changes in the DAOhaus graph?
Needs to be fixed.

[2021-08-16 17:01] alalonde commented on #740
Are people seeing build issues with 5.2?  `3box` depends on this package which is now deprecated. We could force the version to 5.4 but would have to test that 3box works with it

[2021-08-16 17:09] peth-yursick opened #757 "Moar Data! - Add more data to MyMeta player & guild profiles"
Merged into #264

[2021-08-17 02:53] alalonde commented on #756
This _may_ have been fixed with #729, created a PR to get it into master

[2021-08-17 02:54] alalonde commented on #739
Do we want to display users without a profile? This was a known caveat with @dan13ram's filtering PR

[2021-08-17 09:55] mquellhorst commented on #740
Yeah at least someone with a mac on M1 architecture needed to update to v5.4 to make it work.
I updated on a linux system and had no problems but it didn't ran the caching profiles action. I guess that's the part which uses 3box.

[2021-08-17 09:57] mquellhorst commented on #757
I propose to first make an overview of all the data points we like to be added so the builder picking up this issue knows exactly what to do. Anyone up for that?

[2021-08-18 07:27] dysbulic opened #761 "Profile cache information is missing"
Currently [my.metagame.wtf](http://my.metagame.wtf) looks like:

![Screenshot from 2021-08-18 03-23-32](https://user-images.githubusercontent.com/181523/129855865-f89af8ca-907d-4f00-8227-018ce6d9e445.png)

None of the information from 3Box seems to be loaded and a query:
[code]
On [api.metagame.wtf](http://api.metagame.wtf) confirms it.

[2021-08-18 07:40] dysbulic commented on #761
I manually triggered a call to `{{ACTION_BASE_ENDPOINT}}/idxCache/checkExpired` which will check anyone without a cache entry. That seems to have sorted it.

[2021-08-18 07:40] #761 closed

[2021-08-18 09:38] peth-yursick commented on #756
Indeed! Thank you

[2021-08-18 09:38] #756 closed

[2021-08-18 10:41] dysbulic opened #762 "Events"

[2021-08-18 10:44] dysbulic opened #763 "Events"

[2021-08-18 10:48] dysbulic opened #764 "[Events] Ceramic Gitcoin Hackathon"

[2021-08-18 10:48] dysbulic opened #765 "[Events] Ceramic Gitcoin Hackathon"

[2021-08-18 10:53] dysbulic opened #766 "[Events] Ceramic Gitcoin Hackathon"

[2021-08-18 10:54] dysbulic opened #767 "[Events] Ceramic Gitcoin Hackathon"
This is a placeholder for the [Ceramic Gitcoin Hackathon](https://gitcoin.co/hackathon/ceramic-identity/) Sept. 16 ‒ Aug. 6, 2021 in the Zenhub Roadmap.

[2021-08-18 10:59] #762 closed

[2021-08-18 10:59] #764 closed

[2021-08-18 10:59] #765 closed

[2021-08-18 10:59] #766 closed

[2021-08-18 11:09] dysbulic opened #768 "[Events] ETHOnline Hackathon"
This is a placeholder for the [ETHOnline Hackathon](//online.ethglobal.com) Sept. 17 ‒ Oct. 15, 2021 in the Zenhub Roadmap.

There will be a team from MetaGame, more than likely, their [brainstorming is in Notion](https://www.notion.so/ETHOnline-Hackathon-1eeae8a57b0e4211a2128894e43479bc).

[2021-08-18 11:16] #763 closed

[2021-08-18 12:06] dysbulic commented on #757
So, HackFS is over and the next thing in my sights (unless MetaFactory makes loud noises about their as-of-yet incomplete NFTs) is adding an interface for editing [IDX's base profile](https://github.com/ceramicnetwork/CIP/blob/main/CIPs/CIP-19/CIP-19.md#record-schema) as well as create a new schema to hold additional fields MetaGame wants to define.

The information we currently save from IDX is:

[2021-08-18 12:16] dysbulic commented on #331
@jaburx [pretty much did this](https://github.com/MetaFam/TheGame/pull/711), but abandoned the code when changes were requested.

The storage of profile fields is [moving to IDX](https://github.com/MetaFam/TheGame/issues/309), so adding it to Hasura is probably not warranted at this point.

[2021-08-18 13:46] dysbulic commented on #293
MetaMaps has been removed from active development.

[2021-08-18 13:46] #293 closed

[2021-08-18 13:48] dysbulic commented on #297
MetaMaps has been removed from active development.

[2021-08-18 13:48] #297 closed

[2021-08-18 13:49] dysbulic commented on #295
MetaMaps has been removed from active development.

[2021-08-18 13:49] #295 closed

[2021-08-18 13:49] dysbulic commented on #358
MetaMaps has been removed from active development.

[2021-08-18 13:49] #358 closed

[2021-08-18 13:52] dysbulic commented on #58
MetaMaps has been removed from active development.

[2021-08-18 13:52] #58 closed

[2021-08-18 13:53] dysbulic commented on #20
@alalonde, this has been done, yes?

[2021-08-18 13:54] dysbulic commented on #56
MetaMaps has been removed from active development.

[2021-08-18 13:54] #56 closed

[2021-08-18 13:55] dysbulic commented on #57
MetaMaps has been removed from active development.

[2021-08-18 13:55] #57 closed

[2021-08-18 13:55] dysbulic opened #769 "[MyMeta] Use the Ceramic Network as Source of Truth"
I am gearing up to begin a two part process to give users ownership of their profile data by creating a frontend to manage the basicProfile and a new IDX definition for MetaGame-specific profile elements.

This work will touch a bunch of issues:

* [x] #309
* [ ] #757
* [ ] #718
* [ ] #715
* [ ] #707
* [ ] #547 (possibly)
* [ ] #443
* [x] #386
* [ ] #363
* [x] #331
* [ ] #311 (possibly)
* [x] #278

[2021-08-18 13:56] dysbulic commented on #155
This is replaced by #769.

[2021-08-18 13:56] #155 closed

[2021-08-18 14:34] dysbulic commented on #769
@alalonde @dan13ram @hammadj @mquellhorst Hey team! Can you please add your [planning poker estimates with ZenHub](https://app.zenhub.com/workspaces/MetaOS-6012e782d1bec10015d7f4e5/issues/MetaFam/TheGame/769?planning-poker)

[2021-08-18 15:04] CastilloLuis commented on #443
I'm working on this using ipfs. Everything is working fine, but I need to do some changes in the Smart Contract so I can save the hash returned by the ipfs and link that hash with the wallet address so we can have a relation. (simple smart contract mapping). Is it ok?

[2021-08-18 15:14] alalonde commented on #725
@davort Has this been completed on my.metagame.wtf ?

[2021-08-18 15:35] davort commented on #725
Hey @alalonde - I am not 100% sure what you mean exactly with "completed".
There are some final additions that need to find their way to the live site. More info here: https://github.com/MetaFam/TheGame/pull/724

[2021-08-18 18:53] dysbulic commented on #443
We are in the process of creating an IDX MetaGame profile where this data will be stored. (Like in the next two weeks.)

¿Are you talking about creating a smart contract to store the user's background? The data will be living in Ceramic with a cached reference stored in Hasura.

¿Where are you pinning the IPFS hash? I'm pretty sure we want to use [web3.storage](//web3.storage) for this.

[2021-08-18 21:11] tommymaher15 commented on #769
If I can help out on any of these issues I'd be happy to. Got everything fixed and running on my end at last.

[2021-08-18 22:26] CastilloLuis commented on #443
@dysbulic hey man, okay. I was working with infura and getting the hash returned by it. So, another members are going to use work on this one?

[2021-08-19 03:24] dysbulic commented on #443
@CastilloLuis, we're in the process of switching from storing profile information in a database to having that data in the [Ceramic Network](//ceramic.network) as the source of truth.

Before we get to that though, we are going to build a frontend for storing the [IDX](//idx.xyz) [basic profile](https://github.com/ceramicnetwork/CIP/blob/main/CIPs/CIP-19/CIP-19.md#record-schema). It has two images

[2021-08-19 17:22] alalonde opened #771 "Pull in player's guild memberships data from Discord"
I am finishing up #184 which allows us to pull just about any data from a guild's discord server.  This allows us to improve at least two sections of MyMeta, the first of which this issue will cover:

### A player's list of guilds in their profile
(For reference, see the Memberships section here: https://my.metagame.wtf/player/metadreamer)

Currently we show some hardcoded information for Metagame

[2021-08-19 20:14] peth-yursick commented on #771
Great to see this coming together! Thank you 🙏

What do you mean by reorganizing it? Might not be necessary to separate DAO memberships from guild memberships as guilds can have a DAO or not have it, I'd say prioritize data from daohaus if it exists, otherwise discord.

Yeah, I think that makes sense. And for the ones that only have daohaus, we could just have it say "member"?

Nice! Yeah, would b

[2021-08-21 07:07] Baconaetor opened #775 "[Events] Liminal Village"
Place holder for the Liminal Village/Italy gathering on the ZenHub roadmap.

[2021-08-21 07:08] Baconaetor opened #776 "[Event] MCON Denver"
Placeholder for the [MCON Denver](https://www.mcon.fun/) event for the ZenHub Board.

[2021-08-21 07:25] Baconaetor commented on #504
Is this issue needed? Is this some type of placeholder for formatting?

[2021-08-21 07:40] Baconaetor commented on #507
Is there a way to archive issues, or should we just remove this for now? We are so far away from this as to be irrelevant. @peth-yursick do you want to weigh in here?

[2021-08-21 07:44] Baconaetor commented on #504
Guess I learned that the hard way.

[2021-08-21 08:06] Baconaetor opened #777 "Seed Pool Upgrades"

[2021-08-21 08:10] Baconaetor opened #778 "Deploy Treasury to support Seed Market and Add Liquidity"

[2021-08-21 11:45] peth-yursick commented on #507
Its probably far away but I don't think we should remove it. If anything, it should be here to remind us that's what we want long term 🤷‍♂️

[2021-08-25 14:53] alalonde commented on #751
@davort Thoughts? Personally I think it is best to have all the filtering dropdowns behave the same, and multi-select dropdowns cannot close after a selection.

[2021-08-25 14:55] alalonde opened #786 "Selecting an already-selected sort-by option in player filter causes 500"
On the players page, sort by seasonal XP is preselected. If you click it again, you end up with a white screen and "an unexpected error occurred"

[2021-08-25 14:56] #503 closed

[2021-08-25 16:24] davort commented on #751
Hi everyone. This is one of those topics where there's roughly a 50-50 split between people who like one behaviour over the other. Current design keeps it clean and consistent, at the cost of the "extra click" which is indeed required to close an open dropdown.

In the big scheme of things, I'm inclined to leave it as is for now, since it doesn't impede the functionality of the whole page. Making